<!-- <div class="content-section implementation GridDemo">
    <div class="ui-g" >
        <div class="ui-g-12">
        <p-panel header="Employees" [(collapsed)]="collapsed" [toggleable]="true">
            <div class="ui-g-2">
            </div>
            <div class="ui-g-8" style="text-align: center">   
                <h1 style="padding-top: 70px" class="star">This page is under construction!!!</h1>
            </div>
            <div class="ui-g-2">
            </div>
         
        </p-panel>
      </div>
  </div>
</div> -->

<div class="content-section implementation GridDemo" >
  
    <div class="ui-g">
      <div class="ui-g-12">
          <p-panel header="Employees" [toggleable]="true">
                <p-header>
                </p-header>
             <div class="ui-g" style="height: 530px">
                <div class="ui-g-12" style="text-align: center">   
                    <h1 style="padding-top: 70px;">This page is under development</h1>
                </div>
             </div>
          </p-panel>
       </div>
      
      </div>
