
<div class="content-section implementation GridDemo">
  <div class="ui-g">      
    <div class="ui-g-12">
      <p-panel header="{{ assignTaskResources.pageheading }}"  [toggleable]="true" [style]="{'margin-bottom':'20px'}">
        <form [formGroup]="assignTaskForm" (ngSubmit)="onSubmit(assignTaskForm.value)">
          <div class="ui-g ">    

              <div class="ui-g-12" *ngIf="prodDBRouteParams" >
                  <button 
                    pButton 
                    routerLink="../jointsproductiondashboard"
                    type="button" 
                    icon="fa fa-chevron-left" 
                    label="Back To Production Dashboard" 
                    style="float:right;"
                  >
                  </button>
              </div>
              <div class="ui-g-12" *ngIf="prodDBRouteParams" >
                    <!-- Grinding Details -->
                    <div class="ui-message ui-messages-info .ui-corner-all" *ngIf="prodDBRouteParams?.TaskTypeKey === 'GRINDING'">
                      <h5 class="first">Strain Details</h5>
                      <p-table [value]="prodDBRouteParamsArray">
                          <ng-template pTemplate="header">
                              <tr>
                                  <th>{{globalResource.strain}}</th>
                                  <th>{{assignTaskResources.requiredwt}}{{ globalResource.listgramunit }}</th>
                                  <th>{{assignTaskResources.unassignedavailwt}}{{ globalResource.listgramunit }}</th>
                                  <th>{{assignTaskResources.assignedweight}}{{ globalResource.listgramunit }}</th>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-rowData>
                              <tr>
                                  <td>{{rowData?.StrainName}}</td>                                  
                                  <td>{{rowData?.RequiredGrindWt}}</td>
                                  <td>{{rowData?.AvlRawWt}}</td>
                                  <td>{{rowData?.GrindAssignedWt}}</td>
                              </tr>
                          </ng-template>
                      </p-table>
                    </div>
                    <!--End Grinding Details -->

                    <!-- Joints Creation Details -->
                    <div class="ui-message ui-messages-info .ui-corner-all" *ngIf="prodDBRouteParams?.TaskTypeKey === 'JOINTSCREATION'">
                      <h5 class="first">Strain Details</h5>
                      <p-table [value]="prodDBRouteParamsArray">
                          <ng-template pTemplate="header">
                              <tr>
                                  <th>{{globalResource.strain}}</th>
                                  <th>{{globalResource.pkgsize}}{{ globalResource.listgramunit }}</th>
                                  <th>{{assignTaskResources.requiredqty}}</th>
                                  <th>{{assignTaskResources.unassignedavailwt}}{{ globalResource.listgramunit }}</th>
                                  <th>{{assignTaskResources.assignedweight}}{{ globalResource.listgramunit }}</th>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-rowData>
                              <tr>
                                  <td>{{rowData?.StrainName}}</td>
                                  <td>{{rowData?.UnitValue}}</td>
                                  <td>{{rowData?.RequiredJointsQty}}</td>
                                  <td>{{rowData?.AvlGrindWt}}</td>
                                  <td>{{rowData?.JointAssignedWt}}</td>
                              </tr>
                          </ng-template>
                      </p-table>
                    </div>
                    <!--End Joints Creation Details -->

                    <!-- Tamping Details -->
                    <div class="ui-message ui-messages-info .ui-corner-all" *ngIf="prodDBRouteParams?.TaskTypeKey === 'TAMPING'">
                      <h5 class="first">Strain Details</h5>
                      <p-table [value]="prodDBRouteParamsArray">
                          <ng-template pTemplate="header">
                              <tr>
                                  <th>{{globalResource.strain}}</th>
                                  <th>{{globalResource.pkgsize}}{{ globalResource.listgramunit }}</th>
                                  <th>{{assignTaskResources.requiredjoints}}</th>
                                  <th>{{assignTaskResources.unassignedjoints}}</th>
                                  <th>{{assignTaskResources.assignedjoints}}</th>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-rowData>
                              <tr>
                                  <td>{{rowData?.StrainName}}</td>
                                  <td>{{rowData?.UnitValue}}</td>
                                  <td>{{rowData?.RequiredTampJointQty}}</td>
                                  <td>{{rowData?.AvlJointsQty}}</td>
                                  <td>{{rowData?.AssignedJointsQty}}</td>
                              </tr>
                          </ng-template>
                      </p-table>
                    </div>
                    <!--End Tamping Details -->

                    <!-- Tubing Details -->
                    <div class="ui-message ui-messages-info .ui-corner-all" *ngIf="prodDBRouteParams?.TaskTypeKey === 'TUBING'">
                      <h5 class="first">Strain Details</h5>
                      <p-table [value]="prodDBRouteParamsArray">
                          <ng-template pTemplate="header">
                              <tr>
                                  <th>{{globalResource.strain}}</th>
                                  <th>{{globalResource.pkgtype}}</th>
                                  <th>{{globalResource.pkgsize}}{{ globalResource.listgramunit }}</th>
                                  <th>{{globalResource.itemqty}}</th>                                  
                                  <th>{{assignTaskResources.requiredtubes}}</th>
                                  <th>{{assignTaskResources.reqjoints}}</th>
                                  <th>{{assignTaskResources.unassignedtampedjoints}}</th>
                                  <th>{{assignTaskResources.assignedtampedjoints}}</th>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-rowData>
                              <tr>
                                  <td>{{rowData?.StrainName}}</td>
                                  <td>{{rowData?.PkgTypeName}}</td>
                                  <td>{{rowData?.UnitValue}}</td>
                                  <td>{{rowData?.ItemQty}}</td>                                  
                                  <td>{{rowData?.RequiredTubeQty}}</td>
                                  <td>{{rowData?.RequiredJointQty}}</td>
                                  <td>{{rowData?.AvlTampJointQty}}</td>
                                  <td>{{rowData?.AssignedTampJointQty}}</td>
                              </tr>
                          </ng-template>
                      </p-table>
                    </div>
                    <!--End Tubing Details -->
              </div>

            <!--Task Name -->
            <div class="ui-g-12 ui-md-6">
              <div class="paddingRL">
                <label for="taskname">
                  {{ globalResource.taskname }}<span class="star">*</span>:
                </label>
 
                <p-dropdown          
                  [filter] ="true"        
                  [options]="tasknames"                            
                  placeholder="-- Select --"
                  [(ngModel)]="assignTask.task"
                  [autoWidth]="true"
                  formControlName="taskname"
                  (onChange)="taskTypeChange()"
                  [readonly]="readonlyFlag"
                  class="clsControl" 
                  id="taskname"
                  name="taskname">
                </p-dropdown>
                <!-- (onChange)="ChangeComponent()" -->
                <div
                  class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                  *ngIf="!assignTaskForm.controls['taskname'].valid&&assignTaskForm.controls['taskname'].dirty">
                   
                    {{ globalResource.tasknamerequired }}
                </div>
              </div>
            </div>
            <!--End Task Name -->            

              <!-- Dynamic Component Contents Depends on whatever the task is selected -->
              <!-- <ng-template load-component style="width:100%;"></ng-template> -->
              <!-- <app-quarantine 
                *ngIf="assignTask.task=='1'" 
                style="width:100%;"                
                [TaskModel]="assignTask"
                [PageFlag]="page"
                [ParentFormGroup] = "assignTaskForm"
              >
              </app-quarantine> -->

              <app-trimming
                *ngIf="selectedTaskTypeName=='TRIMMING'&&this.isServiceCallComplete" 
                style="width:100%;"                 
                [TaskModel]="assignTask"       
                [PageFlag]="page"     
                [ParentFormGroup] = "assignTaskForm"   
              >
              </app-trimming>

              <app-sifting
                *ngIf="selectedTaskTypeName=='SIFTING'&&this.isServiceCallComplete" 
                style="width:100%;"               
                [TaskModel]="assignTask"
                [PageFlag]="page"
                [ParentFormGroup] = "assignTaskForm"
               
              ></app-sifting>

              <!-- <app-bud-unlabelled-packaging
                *ngIf="assignTask.task=='4'" 
                style="width:100%;"                 
                [TaskModel]="assignTask"       
                [PageFlag]="page"     
                [ParentFormGroup] = "assignTaskForm"
              >
              </app-bud-unlabelled-packaging> -->

              <app-bud-packaging
                *ngIf="selectedTaskTypeName=='BUDPACKAGING'&&this.isServiceCallComplete" 
                style="width:100%;"                 
                [TaskModel]="assignTask"       
                [PageFlag]="page"     
                [ParentFormGroup] = "assignTaskForm"
              >
              </app-bud-packaging>

              <app-grinding
                *ngIf="selectedTaskTypeName=='GRINDING'&&this.isServiceCallComplete" 
                style="width:100%;"                 
                [TaskModel]="assignTask"       
                [PageFlag]="page"     
                [ParentFormGroup] = "assignTaskForm"
              ></app-grinding>

              <app-joints-creation
                *ngIf="selectedTaskTypeName=='JOINTSCREATION'&&this.isServiceCallComplete" 
                style="width:100%;"                 
                [TaskModel]="assignTask"       
                [PageFlag]="page"     
                [ParentFormGroup] = "assignTaskForm"
              >
                LOADER
              </app-joints-creation>
                          
              <app-tamping
                *ngIf="selectedTaskTypeName=='TAMPING'&&this.isServiceCallComplete" 
                style="width:100%;"                 
                [TaskModel]="assignTask"       
                [PageFlag]="page"     
                [ParentFormGroup] = "assignTaskForm"
              ></app-tamping>
              
              <app-tubing
                *ngIf="selectedTaskTypeName=='TUBING'&&this.isServiceCallComplete" 
                style="width:100%;"                 
                [TaskModel]="assignTask"       
                [PageFlag]="page"     
                [ParentFormGroup] = "assignTaskForm"
              ></app-tubing>

              <app-oil-packaging
                *ngIf="selectedTaskTypeName=='OILPACKAGING'&&this.isServiceCallComplete" 
                style="width:100%;"                 
                [TaskModel]="assignTask"       
                [PageFlag]="page"     
                [ParentFormGroup] = "assignTaskForm"
              ></app-oil-packaging>

              <app-custom-task
                *ngIf="selectedTaskTypeName=='CUSTOMTASK'&&this.isServiceCallComplete" 
                style="width:100%;"                 
                [TaskModel]="assignTask"       
                [PageFlag]="page"     
                [ParentFormGroup] = "assignTaskForm"
              ></app-custom-task>

              <app-qa-check
                *ngIf="selectedTaskTypeName=='QACHECK'&&this.isServiceCallComplete" 
                style="width:100%;"                 
                [TaskModel]="assignTask"       
                [PageFlag]="page"     
                [ParentFormGroup] = "assignTaskForm"
              ></app-qa-check>

              <app-package-replacement
                *ngIf="selectedTaskTypeName=='REPACK'&&this.isServiceCallComplete" 
                style="width:100%;"                 
                [TaskModel]="assignTask"       
                [PageFlag]="page"     
                [ParentFormGroup] = "assignTaskForm"
              ></app-package-replacement>

              <app-brand-label-replacement
                *ngIf="selectedTaskTypeName=='REBRAND'&&this.isServiceCallComplete" 
                style="width:100%;"                 
                [TaskModel]="assignTask"       
                [PageFlag]="page"     
                [ParentFormGroup] = "assignTaskForm"
              ></app-brand-label-replacement>

              <app-tube-brand-label
                *ngIf="selectedTaskTypeName=='TUBELABELING'&&this.isServiceCallComplete" 
                style="width:100%;"                 
                [TaskModel]="assignTask"       
                [PageFlag]="page"     
                [ParentFormGroup] = "assignTaskForm"
              ></app-tube-brand-label>

              <!--End Dynamic Component Contents Depends on whatever the task is selected -->
              <div class="ui-g-12 ui-md-12 marginTop-15" style="text-align:right;">
                <button pButton type="submit" label="Assign Task" ></button>
                <!-- [disabled]="!assignTaskForm.valid" -->
                <button pButton 
                  type="button"  
                  label="Clear" 
                  class="ui-button-secondary" 
                  (click)="resetForm()" 
                ></button>
            </div>
          </div>
          <!-- <div style="text-align:center;margin-top:20px">
            Form Submitted
            <br> {{ diagnostic}}
          </div>          -->
        </form>
        <p-growl [(value)]="msgs" life='5000' ></p-growl>
      </p-panel>
    </div>
    <div class="ui-g-1">
    </div>
  </div>
</div>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" class="clsConfirmBox" ></p-confirmDialog> 
