<div class="content-section implementation GridDemo orderRequest">
  <div class="ui-g">
    <div class="ui-g-12">
      <p-panel [header]="pageheading"  [toggleable]="true" [style]="{'margin-bottom':'20px'}" >
        <form [formGroup]="chemicalPurchaseForm" (ngSubmit)="onSubmit(chemicalPurchaseForm.value)">
          <div class="ui-g">
            <div class="ui-g-6 ui-md-3">
              <div class="paddingRL">
                <label for="chemicalname">Chemical Type<span class="star">*</span></label>:
                <p-dropdown
                   [options]="chemicaltypes"
                   [autoWidth]="true"
                   formControlName="chemicalname"
                   id="chemicalname"
                   class="clsControl"
                   name="chemicalname">
                </p-dropdown> 
                <p-button  class="links" type="button" icon="fa fa-plus" label="Add Chemical Type" id="btn_straintype" (click)="navigateToChemicalTypePage()" name="btnstraintype" ></p-button>
              </div>
              <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
              *ngIf="!chemicalPurchaseForm.controls['chemicalname'].valid&&chemicalPurchaseForm.controls['chemicalname'].dirty">
                  select Chemical
            </div>
            </div>
            <div class="ui-g-6 ui-md-3">
              <div class="paddingRL">
                <label for="quantity">Quantity<span class="star">*</span></label>:
                <input pInputText
                name="quantity"
                autocomplete="off"
                id="quantity"
                type="text"
                class="clsControl"
                formControlName="quantity"                                      
                placeholder="Enter Quantity"
                />
              </div>
              <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
              *ngIf="!chemicalPurchaseForm.controls['quantity'].valid&&chemicalPurchaseForm.controls['quantity'].dirty">
                 Enter Quantity
            </div>
            </div>
            <div class="ui-g-6 ui-md-3">
              <div class="paddingRL">
                <label for="uom">UOM<span class="star">*</span></label>:
                <p-dropdown
                   [options]="uom"
                   [autoWidth]="true"
                   formControlName="uom"
                   id="uom"
                   class="clsControl"
                   name="uom">
                </p-dropdown> 
              </div>
              <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
              *ngIf="!chemicalPurchaseForm.controls['quantity'].valid&&chemicalPurchaseForm.controls['quantity'].dirty">
                 Enter Quantity
            </div>
            </div>
            <div class="ui-g-6 ui-md-3">
              <div class="paddingRL">
                <label for="cost">Cost ($)<span class="star">*</span></label>:
                <input pInputText
                name="cost"
                autocomplete="off"
                id="cost"
                type="text"
                class="clsControl"
                formControlName="cost"                                      
                placeholder="Enter Cost"
                />
              </div>
            </div>
            <div class="ui-g-12 ui-md-12">
              <div class="paddingRL">
                <p-checkbox value="true" 
                [(ngModel)]="IsActive" 
                label="{{globalResource.IsActiveFlag}}" 
                formControlName="chkIsActive" 
                binary="true"></p-checkbox>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12" style="text-align:right;">
              <div class="paddingRL">
                <p-button  type="submit" id="btnetailerSave" 
                label="{{ SaveButtonText}}"  name="btnRetailerSave" ></p-button>
                <button pButton (click)="ResetForm()" type="button" label="{{ Clear }}"
                  class="ui-button-secondary"></button>
            </div>
          </div>
          </div>
        </form>
      </p-panel>
    </div>
  </div>

  <p-panel header="Chemical Purchase List" [toggleable]="true" [style]="{'margin-bottom':'20px'}" >
    <p-table #dtChemicalPurchaseList [value]="allchemicalpurchaseList" 
    sortMode="single"                      
          [responsive]="true" 
          [paginator]="true" 
          [rows]="10"          
          sortOrder="-1"
          [globalFilterFields]="['ChemicalTypeName','Qty','UOMName','TotalChemicalCost']"
          selectionMode="single"
          (onPage)="onPageChange($event)"
          [rowsPerPageOptions]="PaginationValues"
          dataKey="ChemicalTypeID"
          class="clsTableSelection"
          >

          <ng-template pTemplate="caption">
            <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" autocomplete="off" pInputText size="50" placeholder="Global Filter" 
                  (input)="dtChemicalPurchaseList.filterGlobal($event.target.value, 'contains')" style="width:auto;">
            </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th [pSortableColumn]="'ChemicalTypeName'">Chemical Type Name  <p-sortIcon [field]="'ChemicalTypeName'"></p-sortIcon></th>   
            <th [pSortableColumn]="'Qty'"> Quantity <p-sortIcon [field]="'Qty'"></p-sortIcon></th>   
            <th [pSortableColumn]="'UOMName'"> UOM <p-sortIcon [field]="'UOMName'"></p-sortIcon></th>    
            <th [pSortableColumn]="'TotalChemicalCost'"> Cost ($) <p-sortIcon [field]="'TotalChemicalCost'"></p-sortIcon></th>     
            <th style="width:100px;">Action</th>
          </tr>
          <tr>
            <th>
              <input pInputText type="text" autocomplete="off" (input)="dtChemicalPurchaseList.filter($event.target.value, 'ChemicalTypeName', 'contains')" class="clsControl">
            </th>
            <th>
              <input pInputText type="text" autocomplete="off"  (input)="dtChemicalPurchaseList.filter($event.target.value, 'Qty', 'contains')" class="clsControl">
          </th> 
          <th>
            <input pInputText type="text" autocomplete="off"  (input)="dtChemicalPurchaseList.filter($event.target.value, 'UOMName', 'contains')" class="clsControl">
        </th> 
        <th>
          <input pInputText type="text" autocomplete="off"  (input)="dtChemicalPurchaseList.filter($event.target.value, 'TotalChemicalCost', 'contains')" class="clsControl">
      </th> 
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-chemicaltype let-rowData let-columns="columns" let-rowIndex="rowIndex">
          <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
            <td> <span class="ui-column-title">Chemical Type Name</span>{{chemicaltype?.ChemicalTypeName }}</td>
            <td> <span class="ui-column-title">Quantity</span>{{chemicaltype?.Qty }}</td> 
            <td> <span class="ui-column-title">UOM</span>{{chemicaltype?.UOMName }}</td> 
            <td> <span class="ui-column-title">Cost ($)</span>{{chemicaltype?.TotalChemicalCost }}</td>   

            <td style="width:65px;" (click)="$event.stopPropagation();"> 
              <span class="ui-column-title">Action</span>
              <a href="#" [routerLink]="" (click)="GetCPOnEdit(chemicaltype?.ChemicalPurchaseId)" >                             
                <span class="fa fa-edit"></span>
              </a>
              <a href="#" [routerLink]="" 
                (click)="ShowConformationMessaegForDelete(chemicaltype?.ChemicalPurchaseId,chemicaltype,1,0)" >
                <span class="fa fa-trash"></span>
              </a>
              <div class="clsToggleButtonDiv">
                <p-toggleButton 
                  [(ngModel)]="chemicaltype.IsActive" 
                  onLabel="Active" offLabel="InActive"  
                  [style]="{'width':'90px'}"
                  id
                  (onChange)="ShowConformationMessaegForDeactive(chemicaltype?.ChemicalPurchaseId,chemicaltype,
                    rowIndex,0,1)">                    
                </p-toggleButton>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft" let-state>
          <pagination-counts
            *ngIf="allchemicalpurchaseList?.length"
            [inputData]="allchemicalpurchaseList"
            [inputEvent]="event"
          ></pagination-counts>
        </ng-template>
    </p-table>
  </p-panel>
  <p-growl [(value)]="msgs" life='5000'></p-growl>
  <p-confirmDialog 
  header="Confirmation" 
  icon="fa fa-question-circle" 
  width="425" 
  *ngIf="true"
  class="clsConfirmBox" >
</p-confirmDialog>
</div>
