<div class="content-section implementation GridDemo">
  <div class="ui-g">
    <div class="ui-g-12">
      <p-panel header="{{pageheading }}" [(collapsed)]="collapsed" [toggleable]="true">
        <p-header>
          
        </p-header>
        <form  [formGroup]="newLabelsEntryForm" (ngSubmit)="onSubmit(newLabelsEntryForm.value)">
          <div class="ui-g">
            <div *ngIf = "visible === true"  style="float:left;">
              <p-button  style="float: right;" class="toplinks" type="button" icon="fa fa-list-ul" label="Back"  id="btn_binshow" (click)="backtotaskpage()"  name="btnviewbins"></p-button>
            </div>
          </div>
          <div class="ui-g ">
            <div class="ui-g-12 ui-md-4" style="padding-left:0px;">
              <div class="paddingRL">
                <label for="TaskType" class="towlable">Category<span class="star">*</span></label>
                  <p-dropdown
                  [filter] ="true"
                    id="TaskType"
                    [options]="tasktypes"
                    formControlName="TaskType"
                    placeholder="-- Select --"
                    class="clsControl"
                    (onChange) = "TaskType_InChange($event)"
                    name="TaskType">
                  </p-dropdown>

                  <!-- <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                  *ngIf="!newLabelsEntryForm.controls['TaskType'].valid&&newLabelsEntryForm.controls['TaskType'].dirty">
                  <span *ngIf="newLabelsEntryForm.controls['TaskType'].errors['required']">
                      Category required
                </span>
          
                </div> -->
                <!-- <div *ngIf="newLabelsEntryForm.controls['TaskType'].valid &&(newLabelsEntryForm.controls['TaskType'].dirty || newLabelsEntryForm.controls['TaskType'].touched)">
                  <span>Category required</span>
                </div> -->

              </div>
            </div>
            <div class="ui-g-12 ui-md-4" style="padding-left:0px;">
              <div class="paddingRL">
                <label for="strain" class="towlable">Strain<span class="star">*</span></label>
                <p-dropdown
                id="strain"
                formControlName="strain"
                placeholder="-- Select --"
                [autoWidth]="false"
                class="clsControl"
                (onChange) = "onStrainSelect($event)"
                [options]="strains"
                name="strain"
                [readonly]="enableFieldSection">
              </p-dropdown> 

              </div>
            </div>
            <div class="ui-g-12 ui-md-4" style="padding-left:0px;">
              <div class="paddingRL">
                <label for="lightdept" class="towlable">Light Dept<span class="star">*</span></label>
                <p-dropdown
                [filter] ="true"
                id="lightdept"
                formControlName="lightdept"
                [options]="LD"
                placeholder="-- Select --"
                [autoWidth]="false"
                (onChange) = "onLDSelect($event)"
                class="clsControl"
                name="lightdept"
                [readonly]="enableFieldSection">
              </p-dropdown>
              </div>
            </div>
          
            <div class="ui-g-12 ui-md-4" style="padding-left:0px;">
              <div class="paddingRL">
                <label for="field" class="towlable">Fields<span class="star">*</span></label>
                  <p-multiSelect #checkedItems
                  *ngIf ="multiselector"
                    id="field"
                    [options]="Fields"
                    [(ngModel)]="selectedValues"
                    formControlName="field"
                    placeholder="-- Select --"
                    (onChange) = "onFieldSelect($event)"
                    class="clsControl"
                    name="field"
                    [disabled]="enableFieldSection"
                    >
                  </p-multiSelect>

                  <p-dropdown
                  *ngIf ="!multiselector"
                  id="field"
                  [options]="Fields"
                  [(ngModel)]="selectedValues"
                  formControlName="field"
                  placeholder="-- Select --"
                  (onChange) = "onFieldSelect($event)"
                  class="clsControl"
                  name="field"
                  [disabled]="enableFieldSection">
                </p-dropdown>
              </div>
            </div>
            <div class="ui-g-12 ui-md-4" style="padding-left:0px;">
              <div class="paddingRL">
                <label for="Section" class="towlable">Sections<span class="star">*</span></label>
                <p-multiSelect #checkedItems
                *ngIf ="multiselector"
                    id="Section"
                    [options]="Sections"
                    [(ngModel)]="selectedSections"
                    (onChange) = "onSectionSelect($event)"
                    formControlName="Section"
                    placeholder="-- Select --"
                    class="clsControl"
                    name="Section"
                    [disabled]="enableFieldSection"
                    >
                </p-multiSelect>

                <p-dropdown
                *ngIf ="!multiselector"
                id="Section"
                    [options]="Sections"
                    [(ngModel)]="selectedSections"
                    (onChange) = "onSectionSelect($event)"
                    formControlName="Section"
                    placeholder="-- Select --"
                    class="clsControl"
                    name="Section"
                    [disabled]="enableFieldSection">
              </p-dropdown>
              </div>
            </div>
          </div>
          <div formArrayName="items" style="position: relative">
            <div style="width:calc(100% - 20px);float:left;">
              <p-table [value]="labelDetailsArr?.controls" id="labelDetails" name="labelDetails">
                <ng-template pTemplate="header">
                  <tr>
                    <th>{{ newLabelResources.binNo }}
                      <span class="star">*</span>
                    </th>
                    <!-- <th>{{ newLabelResources.strain }}
                      <span class="star">*</span>
                    </th> -->
                    <th>{{ newLabelResources.skewType }}
                       <span class="star">*</span>
                    </th>
                    <!-- <th style="width: 80px;">{{ newLabelResources.lightDept }}
                    </th> -->
                    <th>{{ newLabelResources.trimmingMethod }}
                      <span class="star">*</span>
                   </th>
                   <th *ngIf="viewNoOfBins">No Of Bins
                 </th>
                    <th style="width: 80px;">Is Active</th>
                    <th style="width: 100px;">Action</th>
                    
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex" >
                  <tr [formGroupName]="i">
                    
                    <td>
                      <input pInputText
                        name="binNo"
                        id="binNo"
                        type="text"
                        autocomplete="off"
                        class="clsControl"       
                        formControlName="binNo"
                        placeholder="Enter Bin Number "
                        min="0.1">
                    </td>
                    <!-- <td> -->
                      <!-- <p-dropdown
                      id="strain"
                      formControlName="strain"
                      placeholder="-- Select --"
                      [autoWidth]="false"
                      class="clsControl"
                      [options]="strains"
                      name="strain">
                    </p-dropdown> -->
                    <!-- <input pInputText
                      
                    name="strain"
                    [ngModel]="strainName"
                    id="strain"
                    type="string"
                    autocomplete="off"
                    class="clsControl"       
                    formControlName="strain"
                    readonly ="true"
                  >
                  </td> -->
                    <td>
                      <p-dropdown
                      id="skewType"
                      [options]="skewtypes"
                      formControlName="skewType"
                      placeholder="-- Select --"
                      [disabled]="enableDropDown"
                      class="clsControl"
                      name="skewType">
                      </p-dropdown>
                      
                    </td>
                    <!-- <td>
                      <p-checkbox  [ngModel]="strainName"
                       formControlName="lightDept" checked="true"
                      binary="true"></p-checkbox>                                      
                    </td> -->
                     <td Style="text-align:center">
                     
                      <div class="radio" *ngFor="let TrimmingMethod of TrimmingMethods;" >
                        <p-radioButton [name]=i
                         [value]="TrimmingMethod" 
                         label={{TrimmingMethod}} 
                         [disabled]="enableDropDown"
                         formControlName="TrimmingMethod"
                         
                         ></p-radioButton >
                         <div *ngIf="TrimmingMethod.errors?.required">selection is required</div>
                       </div>  
                     
                                 
                    </td>
                    <td *ngIf="viewNoOfBins">
                      <input pInputText
                      
                        name="bincount"
                        [value]="defaultValue"
                        id="bincount"
                        type="number"
                        autocomplete="off"
                        class="clsControl"       
                        formControlName="bincount"
                        min="1"
                        onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                      >
                    </td>
                    <td>
                      <p-checkbox value="true"
                       formControlName="chkSelectAll" checked="true"
                      binary="true"></p-checkbox>                                      
                    </td>
                    <td>
                      <a (click)="deleteItem(i)" >                                                    
                          <span style="font-size: 1.4rem;" class="fa fa-minus-circle">
                          </span>
                      </a> 
                        <a (click)="addItem()" *ngIf="newLabelsEntryForm.get('items').valid&&plusOnEdit === true">
                            <span class="fa fa-plus-circle" style="font-size: 1.4rem;">
                            </span>
                        </a>
                        <!-- <a (click)="createBulkBins(i)" *ngIf="newLabelsEntryForm.get('items').valid">
                          <span class="fa fa-th-list" style="font-size: 1.4rem;">
                          </span>
                          
                      </a> -->
                      
                    
                  </td>
                  <div class="ui-message ui-messages-error  ui-corner-all" appErrorTooltip *ngIf="item.hasError('prototypenotpresent')">
                    This Bin already exists.
                  </div>  

                  </tr>
                </ng-template>  
              </p-table>
            </div>
           
            <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip *ngIf="labelDetailsArr.hasError('duplicate')">
              duplicate entries
            </div>  
            <div class="ui-g" style="width:100%;text-align:right;">
              <div class="ui-g-12">
                <button pButton type="submit" label="{{saveButtonText}}" ></button>
                <button 
                    pButton 
                    (click)="resetForm()" 
                    type="button" 
                    label="Cancel" 
                    class="ui-button-secondary">
                </button>
              </div>
            </div>
          </div>
         
            <!-- <div formArrayName="items1">
              <p-dialog header="Multiple Bins" [(visible)]="displayPopUp" modal="modal" [resizable]="true" [responsive]="true" [width]="500" [minWidth]="200">
              
                <div class="ui-g-12">
            <div class="ui-g-12" >
               
              <div class="ui-g-3">
                <b> Bin Number:-</b>
             
              </div>
              <div class="ui-g-3">
                {{popupbinNo}}
              </div>
              <div class="ui-g-3">
                <b> Skew Type:-</b>
             
              </div>
              <div class="ui-g-3">
                {{popupSkew}}
              </div>
            </div>

            <div class="ui-g-12">
              <div class="ui-g-3">
                <b>TM:-</b>
             
              </div>
              <div class="ui-g-3">
                {{popupTm}}
              </div>
              <div class="ui-g-3">
                <b>LD:-</b>
               </div>
               <div class="ui-g-3">
                 {{popupld}}
               </div>
            </div>

            <div class="ui-g-12">
              <div class="ui-g-6">
               <b>Total Bins To Be Created:-</b>
              </div>
              <div class="ui-g-2">
               <input pInputText
                                   name="bincount"
                                   id="bincount"
                                   type="text"
                                   autocomplete="off"
                                   class="clsControl"       
                                   formControlName="bincount"
                                   min="0.1">
              </div>
             </div>

             <div class="ui-g" style="width:100%;text-align:right;">
              <div class="ui-g-12">
                <button pButton type="submit" label="{{saveButtonText}}" ></button>
                <button 
                    pButton 
                    (click)="closepopup()" 
                    type="button" 
                    label="Clear" 
                    class="ui-button-secondary">
                </button>
              </div>
            </div>
          </div>
 
        </p-dialog>
          </div> -->
         
        </form>
      </p-panel>
    </div>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-12">
    <p-panel header="{{ newLabelResources.header }}" [toggleable]="true" [style]="{'margin-bottom':'20px'}" >
      <p-table #dtLabelList [value]="allLabelslist" sortMode="single" [responsive]="true" [paginator]="true"
    [rows]="10" sortField="sectionId" sortOrder="-1" [rowsPerPageOptions]="paginationValues"
    (onPage)="onPageChange($event)"
    [globalFilterFields]="['TaskTypeName','BinNo','TotalWt','AvilableWt','StrainName','SkewType','IsLightDeprevation','TrimmingMethod']">
        <ng-template pTemplate="caption">
          <div style="text-align: right; float: left;">
<!--         
              <span>Fields :</span>
              <p-dropdown
            [options]="fieldsFilter"
            placeholder="-- Select --"
            class="clsControl"
            style="width:auto;"
          >
            </p-dropdown> -->
            
          
          </div>
          
          <div style="text-align: right">
            
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" autocomplete="off" pInputText size="50" placeholder="Global Filter"
              (input)="dtLabelList.filterGlobal($event.target.value, 'contains')" style="width:auto;">
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <!-- <th [pSortableColumn]="'FieldName'">Field Name <p-sortIcon [field]="'FieldName'"></p-sortIcon>
            </th> -->
            <th [pSortableColumn]="'TaskTypeName'">Category<p-sortIcon [field]="'TaskTypeName'"></p-sortIcon>
            </th>
            <!-- <th [pSortableColumn]="'Fields'">Field <p-sortIcon [field]="'Fields'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'Sections'">Section <p-sortIcon [field]="'Sections'"></p-sortIcon>
            </th> -->
            <th [pSortableColumn]="'BinNo'">Bin Number <p-sortIcon [field]="'BinNo'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'StrainName'">Strain<p-sortIcon [field]="'StrainName'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'SkewType'">Skew Type <p-sortIcon [field]="'SkewType'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'IsLightDeprevation'">Light Dept <p-sortIcon [field]="'IsLightDeprevation'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'TrimmingMethod'"> Trimming Method <p-sortIcon [field]="'TrimmingMethod'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'TotalWt'">Total Bin Wt <p-sortIcon [field]="'TotalWt'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'AvilableWt'">Available Bin Wt <p-sortIcon [field]="'AvilableWt'"></p-sortIcon>
            </th>
            <th style="width:120px;">Action </th>
          </tr>
          <tr>
            <!-- <th>
              <input pInputText type="text" autocomplete="off"
                (input)="dtFieldList.filter($event.target.value, 'FieldName', 'contains')" class="clsControl">
            </th> -->
            <th>
              <input pInputText type="text" autocomplete="off"
                (input)="dtLabelList.filter($event.target.value, 'TaskTypeName', 'contains')" class="clsControl">
            </th>
            <!-- <th>
              <input pInputText type="text" autocomplete="off"
                (input)="dtLabelList.filter($event.target.value, 'Fields', 'contains')" class="clsControl">
            </th>
            <th>
              <input pInputText type="text" autocomplete="off"
                (input)="dtLabelList.filter($event.target.value, 'Sections', 'contains')" class="clsControl">
            </th> -->
            <th>
              <input pInputText type="text" autocomplete="off"
                (input)="dtLabelList.filter($event.target.value, 'BinNo', 'contains')" class="clsControl">
            </th>
            <th>
              <input pInputText type="text" autocomplete="off"
                (input)="dtLabelList.filter($event.target.value, 'StrainName', 'contains')" class="clsControl">
            </th>
            <th>
              <input pInputText type="text" autocomplete="off"
                (input)="dtLabelList.filter($event.target.value, 'SkewType', 'contains')" class="clsControl">
            </th>
           
            <th>
              <input pInputText type="text" autocomplete="off"
                (input)="dtLabelList.filter($event.target.value, 'IsLightDeprevation', 'contains')" class="clsControl">
            </th>
            <th>
              <input pInputText type="text" autocomplete="off"
                (input)="dtLabelList.filter($event.target.value, 'TrimmingMethod', 'contains')" class="clsControl">
            </th>
            <th>
              <input pInputText type="text" autocomplete="off"
                (input)="dtLabelList.filter($event.target.value, 'TotalWt', 'contains')" class="clsControl">
            </th>
            <th>
              <input pInputText type="text" autocomplete="off"
                (input)="dtLabelList.filter($event.target.value, 'AvilableWt', 'contains')" class="clsControl">
            </th>
          
            <th rowspan="2"></th>
    
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-label let-rowData let-columns="columns" let-rowIndex="rowIndex">
          <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
            <td>{{label?.TaskTypeName}}</td>
            <!-- <td>{{label?.Fields}}</td>
            <td>{{label?.Sections}}</td> -->
            <td>{{label?.BinNo}}</td>
            <td>{{label?.StrainName}}</td>
            <td>{{label?.SkewType }}</td>
            <td>{{label?.IsLightDeprevation }}</td>
            <td>{{label?.TrimmingMethod }}</td>
            <td>{{label?.TotalWt}}</td>
            <td>{{label?.AvilableWt}}</td>
            <td style="width:65px;">
              <span class="ui-column-title">edit</span>
              <a href="#" [routerLink]="" (click)="getLabelsOnEdit(label?.LabelId)">
                <span class="fa fa-edit"></span>
              </a>
              <a href="#" [routerLink]="" (click)="showConformationMessaegForDelete(label?.LabelId,label,1,0)">
                <span class="fa fa-trash"></span>
              </a>
              <a href="#" [routerLink]="" (click)="showLabelDetails(label)">
                <span class="fa fa-info-circle"></span>
              </a>
              <div class="clsToggleButtonDiv">
                <p-toggleButton [(ngModel)]="label.IsActive" onLabel="Active" offLabel="InActive"
                  [style]="{'width':'90px'}"
                  (onChange)="showConformationMessaegForDeactive(label?.LabelId,label, rowIndex,0,1)">
                </p-toggleButton>
              </div>
            </td>
          </tr>
        </ng-template>
        
        <ng-template pTemplate="paginatorleft" let-state>
          <pagination-counts *ngIf="allLabelslist?.length" [inputData]="allLabelslist" [inputEvent]="event">
          </pagination-counts>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>

<p-growl [(value)]="msgs" life='5000'></p-growl>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" *ngIf="true" class="clsConfirmBox">
</p-confirmDialog>