<div [formGroup]="form">
    <div class="paddingRL" [ngSwitch]="question.controlType">

      <label 
        [attr.for]="question.key"
        *ngIf="showLable"
        >{{question.label}} 

        <span class="star">*</span> 
      </label>

      <div >
        <input pInputText 
          *ngSwitchCase="'textbox'" 
          [formControlName]="question.key"
          maxlength="10"
          autocomplete="off"
          OnlyNumber="true" 
          pKeyFilter="num"         
          [id]="question.key"
          [type]="question.type" 
          class="clsControl"
          >
          <div
            class="ui-message ui-messages-error ui-corner-all" appErrorTooltip *ngIf="isValid">
            {{question.label}} is required.
        </div>
        
        <!-- <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
          <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
        </select> -->

      </div>
    </div>
</div>