<p-dialog 
    header="Lot Details" 
    [(visible)]="Lot.showLotNoteModal" 
    modal="modal" 
    [resizable]="true" 
    [responsive]="true" 
    [width]="620" 
    [minWidth]="200" 
    class="notecontrol"
    (onHide)="cancelLotNoteModal()"
  >
  
  <form #lotNoteForm="ngForm" (ngSubmit)="saveLotNote(lotNoteForm)" novalidate formSubmit >
        <div class="ui-g">

          <div class="ui-g-12 ui-md-6">
              <div class="paddingRL">
                  <label>
                    <strong>{{  globalResource.grower }}: </strong>
                  </label>
        
                  <label>
                    {{ Lot['GrowerName'] }}
                  </label>
                </div>
          </div>

          <div class="ui-g-12 ui-md-6">
              <div class="paddingRL">
                  <label>
                    <strong>{{ lotNoteResource.growerlotno }}: </strong>
                  </label>
        
                  <label>
                    {{ Lot['GrowerLotNo'] }}
                  </label>
                </div>
          </div>

          <div class="ui-g-12 ui-md-6">
              <div class="paddingRL">
                  <label>
                    <strong>{{ lotNoteResource.strain }}: </strong>
                  </label>
        
                  <label>
                    {{Lot['StrainName']}}
                  </label>
                </div>
          </div>

          <div class="ui-g-12 ui-md-6">
            <div class="paddingRL">
                <label>
                  <strong>{{ globalResource.genetics }}: </strong>
                </label>
      
                <label>
                  {{Lot?.GeneticsName}}
                </label>
              </div>
        </div>

          <div class="ui-g-12 ui-md-6">
              <div class="paddingRL">
                  <label>
                    <strong>{{ globalResource.lottype }}: </strong>
                  </label>
        
                  <label>
                    {{Lot?.LotType}}
                  </label>
                </div>
          </div>

          <div class="ui-g-12 ui-md-6">
            <div class="paddingRL">
                <label>
                  <strong>{{ globalResource.thc }}: </strong>
                </label>
      
                <label>
                  {{Lot?.THC}}
                </label>
              </div>
        </div>

        <div class="ui-g-12 ui-md-6">
          <div class="paddingRL">
              <label>
                <strong>{{ globalResource.cbd }}: </strong>
              </label>
    
              <label>
                {{Lot?.CBD}}
              </label>
            </div>
      </div>

      <div class="ui-g-12 ui-md-6">
        <div class="paddingRL">
            <label>
              <strong>{{ globalResource.thca }}: </strong>
            </label>
  
            <label>
              {{Lot?.THCA}}
            </label>
          </div>
    </div>

    <div class="ui-g-12 ui-md-6">
      <div class="paddingRL">
          <label>
            <strong>{{ globalResource.cbda }}: </strong>
          </label>

          <label>
            {{Lot?.CBDA}}
          </label>
        </div>
    </div>

    <div class="ui-g-12 ui-md-6">
        <div class="paddingRL">
            <label>
              <strong>{{ globalResource.totalthc }}: </strong>
            </label>
  
            <label>
              {{Lot?.TotalTHC}}
            </label>
          </div>
      </div>
         
        </div>
        <div *ngIf="_cookieService.UserRole === userRoles.Manager" >

            <div class="ui-g">
                <div class="ui-g-12 ui-md-6">
                    <div class="paddingRL">
                        <label>
                          <strong>{{ lotNoteResource.startwt }}: </strong>
                        </label>
              
                        <label>
                          {{Lot?.StartWeight}} {{ globalResource.measure }}
                        </label>
                      </div>
                </div>

                <div class="ui-g-12 ui-md-6">
                    <div class="paddingRL">
                        <label>
                          <strong>{{ lotNoteResource.biotfweight }}: </strong>
                        </label>
              
                        <label>
                          {{Lot?.TransferWeight}} {{ globalResource.measure }}
                        </label>
                      </div>
                </div>

                <div class="ui-g-12 ui-md-6">
                  <div class="paddingRL">
                      <label>
                        <strong>{{ lotNoteResource.costpergram }}: </strong>
                      </label>
                      <label>
                        {{Lot?.CostPerGram | currency}}
                      </label>
                    </div>
              </div>

                <div class="ui-g-12 ui-md-6">
                    <div class="paddingRL">
                        <label>
                          <strong>{{ lotNoteResource.lotcost }}: </strong>
                        </label>
              
                        <label>
                          {{Lot?.LotCost | currency}}
                        </label>
                      </div>
                </div>

                <div class="ui-g-12 ui-md-6">
                    <div class="paddingRL">
                        <label>
                          <strong>{{ lotNoteResource.shortageoverage }}: </strong>
                        </label>
              
                        <label>
                          {{Lot?.ShortageOverage}} {{ globalResource.measure }}
                        </label>
                      </div>
                </div>

                <div class="ui-g-12 ui-md-6" *ngIf="Lot?.LotType == 'Bud Material'">
                    <div class="paddingRL">
                        <label>
                          <strong>{{ globalResource.lotentrytrimmed }}: </strong>
                        </label>
              
                        <label>
                          {{Lot?.IsTrimmed}}
                        </label>
                      </div>
                </div>

                <div class="ui-g-12 ui-md-6">
                  <div class="paddingRL">
                      <label>
                        <strong>{{ globalResource.createddate }}: </strong>
                      </label>
            
                      <label>
                        {{Lot?.LotEntryDate | date: 'MM/dd/yyyy hh:mm a'}}
                      </label>
                    </div>
              </div>

                <div class="ui-g-12 ui-md-6" *ngIf="Lot?.IsTrimmed == 'Yes'&&Lot?.LotType== 'Bud Material'">
                    <div class="paddingRL">
                        <label>
                          <strong>{{ lotNoteResource.budmaterialwt }}: </strong>
                        </label>
              
                        <label>
                          {{Lot?.BudMaterialWt}} {{ globalResource.measure }}
                        </label>
                      </div>
                </div>

                <div class="ui-g-12 ui-md-6" *ngIf="Lot?.IsTrimmed == 'Yes'&&Lot?.LotType== 'Bud Material'">
                    <div class="paddingRL">
                        <label>
                          <strong>{{ lotNoteResource.jointsmaterialwt }}: </strong>
                        </label>
              
                        <label>
                          {{Lot?.JointsMaterialWt}} {{ globalResource.measure }}
                        </label>
                      </div>
                </div>

                <div class="ui-g-12 ui-md-6" *ngIf="Lot?.IsTrimmed == 'No'&&Lot?.LotType== 'Other Material'">
                    <div class="paddingRL">
                        <label>
                          <strong>{{ lotNoteResource.oilmaterialwt }}: </strong>
                        </label>
              
                        <label>
                          {{Lot?.OilMaterilaWt}} {{ globalResource.measure }}
                        </label>
                      </div>
                </div>

               

                <div class="ui-g-12 ui-md-12">
                  <div class="paddingRL">
                <a class="btn-link" [routerLink]="" (click)="openLotInventoryDetails()" >Lot Inventory Details</a>
                </div>
                </div>
                <div class="ui-g-12 ui-md-12">
              
              </div>
            </div>

        <textarea 
          pInputTextarea           
          [(ngModel)]="lotNote"
          placeholder="{{lotNoteResource.lotnoteplaceholder}}"
          maxLength="500"
          name="lotnote"
          required
          class="clsControl"
          #Note="ngModel"
        ></textarea>

        <!-- <input type="text" pInputText 
        [(ngModel)]="lotNote"
          placeholder="Add Lot Note..."
          maxLength="500"
          name="lotnote"
          required
          class="clsControl"
          #Note="ngModel"
        /> -->
    
        <!-- <p-message severity="error" 
          text="Lot Note is required." 
          [@errorState]="!Note.valid&&Note.dirty ? 'visible' : 'hidden'">
        </p-message> -->

        <div appErrorTooltip
          class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
          *ngIf="!Note.valid&&(Note.dirty)">
          
            <span *ngIf="Note.errors.required">
              {{lotNoteResource.lotnoterequired}}
            </span>
            
            <span *ngIf="Note.hasError('whitespace')">
              {{lotNoteResource.lotnotewhitespace}}
              </span>
        </div>
    
        <p-footer>
            <button type="submit" pButton icon="fa-check"  label="{{lotNoteResource.savenote}}" ></button>
            <!-- [disabled]="!lotNoteForm.valid" -->
            <button type="button" class="ui-button-secondary" pButton icon="fa-close" (click)="lotNoteForm.reset();" label="Clear"></button>
        </p-footer>
      </div>

    <p-panel [toggleable]="true" [style]="{'margin-top':'20px'}"
      *ngIf="selectedLotComments?.length > 0; else noCommentPanel"
    >
    <p-header>
        {{lotNoteResource.lotcomments}} ({{selectedLotComments?.length}})
    </p-header>
      <div>
        <p-card styleClass="ui-card-shadow marginBottom" *ngFor="let comment of selectedLotComments" >
            <p-header>
              <div class="clsNoteHeader">
                <span><i class="fa fa-user"></i> {{ comment?.NoteCreatedBy }}</span>
                <span><i class="fa fa-clock-o"></i> {{ comment?.NoteCreatedDate }} </span>
              </div>
            </p-header>
            {{ comment?.Notes }}       
        </p-card>
      </div>
    </p-panel>

    <ng-template #noCommentPanel>
      <p-panel [toggleable]="true" [style]="{'margin-top':'20px'}"
        *ngIf="selectedLotComments?.length == 0"
      >
      <p-header>
        {{lotNoteResource.lotcomments}} ({{selectedLotComments?.length}})
      </p-header>
        <div>
          <p-card styleClass="ui-card-shadow marginBottom" >
              <!-- <p-header>
                <div class="clsNoteHeader">
                  <span><i class="fa fa-user"></i> {{ comment?.NoteCreatedBy }}</span>
                  <span><i class="fa fa-clock-o"></i> {{ comment?.NoteCreatedDate }} </span>
                </div>
              </p-header> -->
               {{ lotNoteResource.nocommentpresent }}      
          </p-card>
        </div>
      </p-panel>

    </ng-template>
  

    <p-growl [(value)]="msgs" life='5000'></p-growl>
</form>
</p-dialog>

<app-lot-inventory-details 
*ngIf="LotInfo?.GetLotDetails.length&&LotInfo?.GetInventoryList.length&&LotInfo.showLotInventoryModal" 
[LotInfo]="LotInfo">
</app-lot-inventory-details>

