<div class="ui-g " [formGroup]="PLANTING" *ngIf="PageFlag.page =='AssignTask'">
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label for="field">Field<span class="star">*</span></label>:
      <div class="clear"></div>
        <p-dropdown
        [filter] ="true"
        
        placeholder="-- Select --"
        [options]="fields"
        [autoWidth]="true"
        (onChange)="getSectionListByFieldName($event)"
        formControlName="field"
        class="clsControl"
        id="field"
        name="field">
        </p-dropdown>

        <!-- <div
          class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
          *ngIf="!TRIMMING.controls['strain'].valid&&TRIMMING.controls['strain'].dirty">
           
            <span *ngIf="TRIMMING.controls['strain'].errors['required']">
              {{ globalResource.strainrequired }}
            </span>                      
        </div> -->
    </div>
  </div>

  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label for="section">Section<span class="star">*</span></label>:
      <div class="clear"></div>
      <p-dropdown
          [filter] ="true"
          [options]="sectionList"
          (onChange)=" getStrainAndPlantCount($event)"
         
          placeholder="-- Select --"
          
          [autoWidth]="true"
         
          formControlName="section"
          class="clsControl"
          id="section"
          name="section">
      </p-dropdown>
      <!-- <div
      class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
      *ngIf="!TRIMMING.controls['lotno'].valid&&TRIMMING.controls['lotno'].dirty">
       
        <span *ngIf="TRIMMING.controls['lotno'].errors['required']">
          {{ globalResource.lotnorequired }}
        </span>                      
    </div> -->
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label for="strain">Strain<span class="star">*</span></label>:
      
      <input type="text" 
      pInputText 
      autocomplete="off"
      id="strain" 
      name="strain" 
      [ngModel]="strainName"
      formControlName="strain"         
          
      class="clsControl"  
      readonly
    />
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label for="plantCount">Total Plants Count<span class="star">*</span></label>:
      <input type="number" 
      pInputText 
      readonly
      autocomplete="off"
      [value]="plantCount"
      id="plantCount" 
      name="plantCount" 
      formControlName="plantCount"              
      class="clsControl"  
    />
    </div>
  </div>
  
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label for="employeeList">Assigned To<span class="star">*</span></label>:
      <p-multiSelect #checkedItems
      [filter] ="true"
      [options]="employees"
      placeholder="-- Select --"
      (onChange)="OnSelectingEmployees($event, checkedItems)"
      formControlName="employeeList"
      class="clsControl"
      id="employeeList"
      name="employeeList">
      </p-multiSelect>
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label for="assignedPC">Assigned Plants Count<span class="star">*</span></label>:
      <input type="number" 
      pInputText 
      autocomplete="off"
     
    
      id="assignedPC" 
      name="assignedPC" 
     
      formControlName="assignedPC"         
          
      class="clsControl" 
      styleClass="multiselect-mobileregulation-width" 
    />
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label for="EmployeeListBox">Employee List</label>
      <div  class="EmployeeListBox">
        <ul class="emp-list" style='padding: 0px;'>
          <li  *ngFor="let i of employeeArray; let id=index" class="EmployeeListItem" >
            <span class="badge badge-pill badge-light emplisttext">{{i}}&nbsp;</span>
            
          </li>
        </ul>
      </div>  
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label for="estimatedstartdate">
        Est. Start Date<span class="star">*</span>:
      </label>
      <small class="smallTextRed"
          *ngIf="showPastDateLabel"
          >Task will be get created for past date
        </small>
        <p-calendar                        
        [(ngModel)]="TaskModel.PLANTING.startdate"
           [showIcon]="true"
           [defaultDate]="defaultDate"      
           (onSelect)="estStartDate_Select()"
           (onInput)="estStartDate_Select()"  
           formControlName="estimatedstartdate"          
           class="clsControl"
           id="estimatedstartdate"
           name="estimatedstartdate"
           >
         </p-calendar>
         <!-- <div
           class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
           *ngIf="!SIFTING.controls['estimatedstartdate'].valid&&SIFTING.controls['estimatedstartdate'].dirty">
            
             <span *ngIf="SIFTING.controls['estimatedstartdate'].errors['required']">
               {{ globalResource.startdaterequired }}
             </span>                                                                                                                                                                            
         </div>
         <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip 
           *ngIf="SIFTING.hasError('invalidDate')" >
             {{ globalResource.datecomparevalidation }}
         </div>  -->
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label for="employee">Priority</label>:
                       
      <p-dropdown
        [options]="priorities"
      
        [autoWidth]="true"
        formControlName="priority"
        id="priority"
        class="clsControl"
        name="priority">
      </p-dropdown>                                  
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
        <label for="comment">Comment</label>:
                           
          <textarea                        
            pInputTextarea                        
            
            formControlName="comment"
            id="comment"
            name="comment"
            maxlength="500"
            class="clsControl"
            binary="true"
          ></textarea>
  
          <!-- <div
            class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
            *ngIf="!SIFTING.controls['comment'].valid&&SIFTING.controls['comment'].dirty">
             
              <span *ngIf="SIFTING.controls['comment'].errors['maxLength']">
                {{ assignTaskResources.commentMaxLength }}
              </span>                      
        </div> -->
      </div>
  </div>
  <div class="ui-g-12 ui-md-6 " >
    <div class="paddingRL">                              
          <p-checkbox          
            label="Notify Manager"
           
            formControlName="notifymanager"
            binary="true"
          ></p-checkbox>
  
          <p-checkbox 
            value="true"
            label="Notify Employee"
           
            formControlName="notifyemployee"
            binary="true"
          ></p-checkbox>                                                              
      </div>
  </div>
</div>



<div *ngIf="PageFlag.page =='TaskAction'">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-6">
      <div class="paddingRL">
          <label>
            <strong>Employee: </strong>
          </label>
          <label>
            {{TaskModel?.EmpName}}
        </label>
      </div>
    </div>
  <div class="ui-g-12 ui-md-6">
  <div class="paddingRL">
    <label>
      <strong>{{ globalResource.strain }}: </strong>
    </label>
        {{TaskModel?.StrainName}}
  </div>
</div>
<div class="ui-g-12 ui-md-6">
  <div class="paddingRL">
    <label>
      <strong>Field: </strong>
    </label>
        {{TaskModel?.FieldName}}
  </div>
</div>
<div class="ui-g-12 ui-md-6">
  <div class="paddingRL">
    <label>
      <strong>Section: </strong>
    </label>
        {{TaskModel?.SectionName}}
  </div>
</div>
<div class="ui-g-12 ui-md-6">
  <div class="paddingRL">
    <label>
      <strong>{{ globalResource.eststartdate }}: </strong>
    </label>
        {{TaskModel?.EstStartDate}}
  </div>
</div>
<div class="ui-g-12 ui-md-6">
  <div class="paddingRL">
    <label>
      <strong>{{ globalResource.priority }}: </strong>
    </label>
        {{TaskModel?.TaskPriority}}
  </div>
</div>
<div class="ui-g-12 ui-md-6">
  <div class="paddingRL">
    <label>
      <strong>Assigned Plant Count: </strong>
    </label>
        {{TaskModel?.AssignedPlantCnt}}
  </div>
</div>
<div class="ui-g-12 ui-md-6" *ngIf="TaskModel?.TaskStatus !== taskStatus.Assigned&&TaskModel?.TaskStatus !== ''" >
  <div class="paddingRL">
      <label>
        <strong>{{ globalResource.completedpc }}: </strong>
      </label>
    
        {{TaskModel?.CompletedPlantCnt }}
    </div>
  </div>
  <div class="ui-g-12 ui-md-6" *ngIf="TaskModel?.TaskStatus !== taskStatus.Assigned&&TaskModel?.TaskStatus !== ''" >
    <div class="paddingRL">
        <label>
          <strong>{{ globalResource.terminatedpc }}: </strong>
        </label>
      
          {{TaskModel?.TerminatedPlantCnt }}
      </div>
    </div>
    <div class="ui-g-12 ui-md-6" *ngIf="TaskModel?.TaskStatus !== taskStatus.Assigned&&TaskModel?.TaskStatus !== ''" >
      <div class="paddingRL">
          <label>
            <strong>{{ globalResource.terminatedreason }}: </strong>
          </label>
        
            {{TaskModel?.TerminationReason }}
        </div>
      </div>
<div class="ui-g-12 ui-md-6" *ngIf="TaskModel?.TaskStatus !== taskStatus.Assigned&&TaskModel?.TaskStatus !== ''" >
  <div class="paddingRL">
      <label>
        <strong>{{ globalResource.actualstartdate }}: </strong>
      </label>
    
        {{TaskModel?.ActStartDate }}
    </div>
  </div>

<div class="ui-g-12 ui-md-6" *ngIf="TaskModel?.TaskStatus !== taskStatus.Assigned&&TaskModel?.TaskStatus !== ''">
  <div class="paddingRL">
    <label>
      <strong>{{ globalResource.actualenddate }}: </strong>
    </label>
  
      {{TaskModel?.ActEndDate}}
  </div>
</div>
<div class="ui-g-12 ui-md-6" *ngIf="TaskModel?.TaskStatus !== taskStatus.Assigned&&TaskModel?.TaskStatus !== ''">
  <div class="paddingRL">
    <label>
      <strong>{{ globalResource.actualhrs }}: </strong>
    </label>
  
      {{TaskModel?.ActHrs}}
  </div>
</div>
<div class="ui-g-12 ui-md-6" *ngIf="TaskModel?.TaskStatus !== taskStatus.Assigned&&TaskModel?.TaskStatus !== ''">
  <div class="paddingRL">
    <label>
      <strong>{{ globalResource.misccost }}: </strong>
    </label>
  
      {{TaskModel?.MiscCost}}
  </div>
</div>
<div class="ui-g-12 ui-md-6" *ngIf="TaskModel?.TaskStatus !== taskStatus.Assigned&&TaskModel?.TaskStatus !== ''">
  <div class="paddingRL">
    <label>
      <strong>{{ assignTaskResources.actualcost }}:: </strong>
    </label>
  
    {{TaskModel?.EmpFinalCost | currency}}
  </div>
</div>
<div class="ui-g-12 ui-md-6" *ngIf="TaskModel?.TaskStatus !== taskStatus.Assigned&&TaskModel?.TaskStatus !== ''">
  <div class="paddingRL">
    <label>
      <strong>{{ globalResource.revHrs }}: </strong>
    </label>
  
    {{TaskModel?.RevHrs}}
  </div>
</div>
<p-dialog header="Task Completion" [(visible)]="PageFlag.showmodal" modal="modal" [resizable]="true" [responsive]="true" [width]="500" [minWidth]="200" >
  <form [formGroup]="completionForm" (ngSubmit)="submitCompleteParameter(completionForm.value)">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <div class="ui-grid-row"> 
        <div class="ui-grid-col-7">
          
         </div>
         
      </div>
      <div class="ui-g-12 ui-md-6">
        <div class="paddingRL">
          <label for="completedPC">Completed Plant Count</label>:
        </div>
      </div>
      <div class="ui-g-12 ui-md-6">
        <div>
          <input type="number" 
          pInputText 
          [(ngModel)]="defaultValueCompletePc"
          autocomplete="off"
          id="completedPC" 
          name="completedPC" 
          formControlName="completedPC"              
          class="clsControl"   
        />
        </div>
      </div>
      <div class="ui-g-12 ui-md-6">
        <div class="paddingRL">
          <label for="terminatedtedPC">Terminated Plant Count</label>:
        </div>
      </div>
      <div class="ui-g-12 ui-md-6">
        <div>
          <input type="number" 
          pInputText 
          [(ngModel)]="defaultValueTerminatedPc"
          autocomplete="off"
          id="terminatedtedPC" 
          name="terminatedtedPC" 
          formControlName="terminatedtedPC"              
          class="clsControl"   
        />
        </div>
      </div>
      <div class="ui-g-12 ui-md-6">
        <div class="paddingRL">
          <label for="terminationReason">Termination Reason</label>:
        </div>
      </div>
      <div class="ui-g-12 ui-md-6">
        <div>
          <input type="text" 
          pInputText 
          autocomplete="off"
          id="terminationReason" 
          name="terminationReason" 
          formControlName="terminationReason"              
          class="clsControl"   
        />
        </div>
      </div>
      <div class="ui-g-12 ui-md-6">
        <div class="paddingRL">
          <label for="comment">Comment</label>:
        </div>
      </div>
      <div class="ui-g-12 ui-md-6">
        <div>
          <input type="text" 
          pInputText 
          autocomplete="off"
          id="comment" 
          name="comment" 
          [(ngModel)]="taskCompletionModel.miscComment"
          formControlName="comment"              
          class="clsControl"   
        />
        </div>
      </div>
    </div>
    <p-footer>
      <button type="submit" pButton icon="fa-check"  label="Confirm"  ></button>
      <!-- [disabled]="!completionForm.valid" -->
      <button type="button" class="ui-button-secondary" pButton icon="fa-close" (click)="PageFlag.showmodal=false" label="Cancel"></button>
    </p-footer>
  </form>
</p-dialog>

<p-dialog header="Submit Review" [(visible)]="PageFlag.showReviewmodal" modal="modal" [resizable]="true" [responsive]="true" [width]="750" [minWidth]="200" >
  <form [formGroup]="reviewForm" (ngSubmit)="submitReviewParameter(reviewForm.value)">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <div class="ui-grid-row">
        <div class="ui-grid-col-6">
          <label for="completedPC">Completed Plant Count:</label>
        </div> 
         
        <div class="ui-g-12 ui-md-6">
          <div>
            <input type="number" 
            pInputText 
            autocomplete="off"
            id="completedPC" 
            name="completedPC" 
            [(ngModel)]="taskReviewModel.CompletedPlantCnt"
            formControlName="completedPC"              
            class="clsControl"   
          />
          </div>
        </div> 
        </div>
        <div class="ui-g-12 ui-md-6">
          <div>
            <label for="terminatedtedPC">Terminated Plant Count</label>:
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div>
            <input type="number" 
            pInputText 
            autocomplete="off"
            id="terminatedtedPC" 
            name="terminatedtedPC" 
            [(ngModel)]="taskReviewModel.TerminatedPlantCount"
            formControlName="terminatedtedPC"              
            class="clsControl"   
          />
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div>
            <label for="terminationReason">Termination Reason</label>:
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div>
            <input type="text" 
            pInputText 
            autocomplete="off"
            id="terminationReason" 
            name="terminationReason" 
            formControlName="terminationReason"              
            class="clsControl"   
          />
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            {{ assignTaskResources.actualhrs }}:
          </div>
          <div class="ui-grid-col-4">
            {{ TaskModel?.ActHrs | minutesToTime}}
          </div>
          <div class="ui-grid-col-4">
            <div class="ui-inputgroup ui-inputgroup-border" >
            <input type="number"                   
                  pInputText 
                  autocomplete="off"
                  pKeyFilter="int"
                  [(ngModel)]="taskReviewModel.racthrs"                         
                  formControlName="ActHrs"
                  id="acthrs"
                  name="acthrs"                      
                /> 
                <span>:</span>
                <input type="number"                  
                  pInputText     
                  autocomplete="off"   
                  pKeyFilter="int"           
                  [(ngModel)]="taskReviewModel.ractmins"                         
                  formControlName="ActMins"
                  id="actmins"
                  name="actmins"                      
                />
          <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                *ngIf="!reviewForm.controls['ActMins'].valid&&reviewForm.controls['ActMins'].dirty">
                  <span *ngIf="reviewForm.controls['ActMins'].errors['max']">
                    {{ globalResource.maxMinSecValue }}
                  </span>
          </div>
              <span>:</span>
              <input type="number"                  
                pInputText         
                autocomplete="off"      
                pKeyFilter="int"    
                [(ngModel)]="taskReviewModel.ractsecs"                         
                formControlName="ActSecs"
                id="actsecs"
                name="actsecs"                  
              />
          <div class="ui-message ui-messages-error-Sec ui-corner-all" appErrorTooltip
                  *ngIf="!reviewForm.controls['ActSecs'].valid&&reviewForm.controls['ActSecs'].dirty">
                    <span *ngIf="reviewForm.controls['ActSecs'].errors['max']">
                      {{ globalResource.maxMinSecValue }}
                    </span>
          </div>
        </div>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            {{ assignTaskResources.misccost }}:
          </div>
          <div class="ui-grid-col-4">
              {{ taskReviewModel.misccost | currency }}
          </div>
          <div class="ui-grid-col-4">
              <input type="text"
                OnlyNumber="true" 
                pInputText 
                pKeyFilter="num"
                autocomplete="off"
                [(ngModel)]="taskReviewModel.rmisccost"                         
                formControlName="rmisccost"
                id="misccost"
                name="misccost"      
              />                   
              
          </div>             
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          {{ assignTaskResources.comment }}:
        </div>
        <div class="ui-grid-col-4">               
            {{ taskReviewModel.comment }}
        </div>
        <div class="ui-grid-col-4">
            <textarea                        
              pInputTextarea                        
              [(ngModel)]="taskCompletionModel.rmisccomment"
              formControlName="rmisccomment"
              id="rmisccomment"
              name="rmisccomment"
              maxlength="500"
              class="clsControl"
              binary="true"
            ></textarea>                 
            
        </div> 
        
    </div>
      </div>
  
    <p-footer>
      <button type="submit" pButton icon="fa-check"  label="Confirm"  ></button>
      <!-- [disabled]="!reviewForm.valid" -->
      <button type="button" class="ui-button-secondary" pButton icon="fa-close" (click)="PageFlag.showReviewmodal=false" label="Cancel"></button>
    </p-footer>
  </form>
</p-dialog>

<p-growl [(value)]="msgs" life='5000'></p-growl>


</div>
</div>