<div class="content-section implementation GridDemo orderRequest">
  <div class="ui-g">
      <div class="ui-g-12">
          <!-- New Product Type Listing -->
    <p-panel header="{{ newProductTypeResources.headingproducttypelist}}" [toggleable]="true" [style]="{'margin-bottom':'20px'}" >      
      <p-table #dtNewProductTypeListing [value]="allProductTypeList"
          sortMode="single"                      
          [responsive]="true" 
          [paginator]="true" 
          [rows]="10"           
          sortField="CreatedDate"
          sortOrder="-1"
          [rowsPerPageOptions]="PaginationValues"
          (onPage)="onPageChange($event)"
          [globalFilterFields]="['BrandName','SubBrandName','StrainName','SkewKeyName','TrimmingMethod','IsLD','PkgTypeName','UnitPrice','UnitValue','ItemQty','CreatedDate','IsActiveFlag']"
          >                    
          <ng-template pTemplate="caption">
              <div style="text-align: right">
                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  <input type="text" pInputText autocomplete="off" size="50" placeholder="Global Filter" (input)="dtNewProductTypeListing.filterGlobal($event.target.value, 'contains')" style="width:auto;">
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th *ngIf="taskCategoryType != 'GROWING'" [pSortableColumn]="'BrandName'">{{ newProductTypeResources.brand}} <p-sortIcon [field]="'BrandName'"></p-sortIcon></th>
                  <th *ngIf="taskCategoryType != 'GROWING'" [pSortableColumn]="'SubBrandName'">{{ newProductTypeResources.subbrand}} <p-sortIcon [field]="'SubBrandName'"></p-sortIcon></th>                  
                  <th [pSortableColumn]="'StrainName'">{{ newProductTypeResources.strain}} <p-sortIcon [field]="'StrainName'"></p-sortIcon></th>              
                  <th [pSortableColumn]="'SkewKeyName'">{{ newProductTypeResources.skewtype}} <p-sortIcon [field]="'SkewKeyName'"></p-sortIcon></th> 
                  <th *ngIf="taskCategoryType === 'GROWING'" [pSortableColumn]="'TrimmingMethod'">Trimming Method<p-sortIcon [field]="'TrimmingMethod'"></p-sortIcon></th>
                  <th *ngIf="taskCategoryType === 'GROWING'" [pSortableColumn]="'IsLD'">Light Dept<p-sortIcon [field]="'IsLD'"></p-sortIcon></th>  
                  <th [pSortableColumn]="'PkgTypeName'">{{ newProductTypeResources.packagetype}} <p-sortIcon [field]="'PkgTypeName'"></p-sortIcon></th>
                  <th [pSortableColumn]="'UnitPrice'">Package Unit Price($) <p-sortIcon [field]="'UnitPrice'"></p-sortIcon></th>
                  <th class="wtg" [pSortableColumn]="'UnitValue'">{{ newProductTypeResources.packageunit}} <p-sortIcon [field]="'UnitValue'"></p-sortIcon></th>
                  <th class="wtg" [pSortableColumn]="'ItemQty'">{{ newProductTypeResources.packageitemqty}} <p-sortIcon [field]="'ItemQty'"></p-sortIcon></th>           
                  <th class="datewidth" [pSortableColumn]="'CreatedDate'">{{ newProductTypeResources.createddate}} <p-sortIcon [field]="'CreatedDate'"></p-sortIcon></th>
                  <!-- <th class="datewidth" [pSortableColumn]="'IsActiveFlag'">{{ globalResource.IsActiveFlag}} <p-sortIcon [field]="'IsActiveFlag'"></p-sortIcon></th> -->
                  <th style="width: 77px;">Action</th>
              </tr>
    
              <tr>
                  <th *ngIf="taskCategoryType != 'GROWING'">
                      <input pInputText autocomplete="off" type="text" (input)="dtNewProductTypeListing.filter($event.target.value, 'BrandName', 'contains')" class="clsControl">
                  </th>
                  <th *ngIf="taskCategoryType != 'GROWING'">
                      <input pInputText autocomplete="off" type="text" (input)="dtNewProductTypeListing.filter($event.target.value, 'SubBrandName', 'contains')" class="clsControl">
                  </th>
                  <th>
                    <input pInputText autocomplete="off" type="text" (input)="dtNewProductTypeListing.filter($event.target.value, 'StrainName', 'contains')" class="clsControl">
                  </th>
                  <th>
                      <input pInputText autocomplete="off" type="text" (input)="dtNewProductTypeListing.filter($event.target.value, 'SkewKeyName', 'contains')" class="clsControl">
                  </th>  
                  <th *ngIf="taskCategoryType === 'GROWING'">
                    <input pInputText autocomplete="off" type="text" (input)="dtNewProductTypeListing.filter($event.target.value, 'TrimmingMethod', 'contains')" class="clsControl">
                </th>    
                <th *ngIf="taskCategoryType === 'GROWING'">
                  <input pInputText autocomplete="off" type="text" (input)="dtNewProductTypeListing.filter($event.target.value, 'IsLD', 'contains')" class="clsControl">
              </th>             
                  <th>
                      <input pInputText autocomplete="off" type="text" (input)="dtNewProductTypeListing.filter($event.target.value, 'PkgTypeName', 'contains')" class="clsControl">
                  </th>
                  <th>
                    <input pInputText autocomplete="off" type="text" (input)="dtNewProductTypeListing.filter($event.target.value, 'UnitPrice', 'contains')" class="clsControl">
                </th>
                  <th>
                    <input pInputText autocomplete="off" type="text" (input)="dtNewProductTypeListing.filter($event.target.value, 'UnitValue', 'contains')" class="clsControl">
                </th>
                <th>
                  <input pInputText autocomplete="off" type="text" (input)="dtNewProductTypeListing.filter($event.target.value, 'ItemQty', 'contains')" class="clsControl">
                </th>
                <th>
                  <input pInputText autocomplete="off" type="text" (input)="dtNewProductTypeListing.filter($event.target.value, 'CreatedDate', 'contains')" class="clsControl">
                </th>
                <!-- <th>
                    <input pInputText autocomplete="off" type="text" (input)="dtNewProductTypeListing.filter($event.target.value, 'IsActiveFlag', 'contains')" class="clsControl">
                  </th> -->
                <th rowspan="2"></th>
          </ng-template>
          <ng-template pTemplate="body" let-newproducttype let-rowData let-columns="columns" let-rowIndex="rowIndex">
              <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                  <td *ngIf="taskCategoryType != 'GROWING'">{{newproducttype?.BrandName}}</td>
                  <td *ngIf="taskCategoryType != 'GROWING'">{{newproducttype?.SubBrandName}}</td>
                  <td><span class="ui-column-title">{{ newProductTypeResources.strain}}</span>{{newproducttype?.StrainName }}</td>
                  <td><span class="ui-column-title">{{ newProductTypeResources.skewtype}} </span>{{newproducttype?.SkewKeyName }}</td>  
                  <td *ngIf="taskCategoryType === 'GROWING'"><span class="ui-column-title">Trimming Method</span>{{newproducttype?.TrimmingMethod }}</td>   
                  <td *ngIf="taskCategoryType === 'GROWING'"><span class="ui-column-title">Light Dept</span>{{newproducttype?.IsLD }}</td>                
                  <td><span class="ui-column-title">{{ newProductTypeResources.packagetype}} </span>{{newproducttype?.PkgTypeName }}</td>
                  <td><span class="ui-column-title">Package Unit Price($)</span>{{newproducttype?.UnitPrice }}</td>
                  <td class="wtg"><span class="ui-column-title">{{ newProductTypeResources.packageunit}} </span>{{newproducttype?.UnitValue}}</td>
                  <td class="wtg"><span class="ui-column-title">{{ newProductTypeResources.packageitemqty}} </span>{{newproducttype?.ItemQty}}</td>
                  <td class="datewidth"><span class="ui-column-title">{{ newProductTypeResources.createddate}}</span>{{newproducttype?.CreatedDate | date: 'MM/dd/yyyy'}}</td>
                  <!-- <td class="wtg">{{newproducttype?.IsActiveFlag}}</td> -->
                  <td style="width:50px;">
                    <span class="ui-column-title">Action</span>
                    <!-- <a href="#" [routerLink]="" (click)="editEmployee(newproducttype?.ProductTypeId)" >                             
                        <span class="fa fa-edit"></span>
                    </a> -->
                    <!-- <a href="#" [routerLink]="" (click)="deleteEmployee(newemployee?.EmpId)" >
                        <span class="fa fa-trash"></span>
                    </a> -->
                    <a href="#" [routerLink]="" (click)="showConformationMessaegForDelete(newproducttype?.ProductTypeId)" >
                      <span class="fa fa-trash"></span>

                  </a>
                  <!-- <p-button class="links"  type="button" label="{{ newemployee?.IsActive }}" id="btn_starinshow" 
                  (click)="showConformationMessaegForDeactive(newemployee?.EmpId)" name="btnshow" ></p-button> -->
                  <!-- <p-inputSwitch 
                  (onChange)="showConformationMessaegForDeactive(newproducttype?.ProductTypeId,newproducttype?.IsActive,$event, rowIndex)" 
                  [(ngModel)]="newproducttype.IsActive">
                </p-inputSwitch> -->
                <div class="clsToggleButtonDiv">
                <p-toggleButton 
                      [(ngModel)]="newproducttype.IsActive" 
                      onLabel="Active" offLabel="InActive"  
                      [style]="{'width':'90px'}"
                      (onChange)="showConformationMessaegForDeactive(newproducttype?.ProductTypeId,newproducttype?.IsActive,$event, rowIndex)" 
                    >
                </p-toggleButton>
            </div>
              </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft" let-state>
            <pagination-counts
              *ngIf="allProductTypeList?.length"
              [inputData]="allProductTypeList"
              [inputEvent]="event"
            ></pagination-counts>
          </ng-template>
      </p-table>
    </p-panel>
      <!--End New Product Type Listing  -->
    </div>
  </div>
</div>

<p-confirmDialog 
    class="clsConfirmBox" 
    header="Confirmation" 
    icon="fa fa-question-circle" 
    *ngIf="true"
    width="425">
</p-confirmDialog>