<div class="content-section implementation GridDemo orderRequest">
  <div class="ui-g">
    <div class="ui-g-12">
      <p-panel header="{{pageHeader}}" [toggleable]="true">
        <p-header>

        </p-header>
        <form [formGroup]="ZonetypeMasterform" (ngSubmit)="SaveZones(ZonetypeMasterform)">
          <div class="ui-g">
            <!--Room-->
            <div class="ui-g-12 ui-md-6">
              <div class="PaddingRL">
                <div class="le-se-12">
                <label for="RoomName">  {{newzonetypeResource.RoomName}}<span class="star">*</span></label>
               <p-dropdown [filter]="true" id="Roomlist" [options]="Roomlist"  formControlName="Roomlist"
                plceholder="--Select--" [autoWidth]="false" class="clsControl" name="roomlist" >
                </p-dropdown>
                <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                *ngIf="!ZonetypeMasterform.controls['Roomlist'].valid && ZonetypeMasterform.controls['Roomlist'].dirty">
                <span *ngIf="ZonetypeMasterform.controls['Roomlist'].errors['required']">
                  {{newzonetypeResource.RoomRequired}}
                </span>
               </div> 
            </div>
            </div></div>
            <!--End of Room-->

            <!---Zone Name-->
            <div class="ui-g-12 ui-md-6">
              <!-- <div class="ui-g-8 ui-md-8"> -->
                <div class="PaddingRL">
                  <div class="le-se-8">
                    <label for="enterzone">
                      {{newzonetypeResource.enterzone}}<span class="star">*</span>
                    </label>
                    <div class="input-group"style="padding: 0px">
                    <input pInputText name="Zone" id="zone" autocomplete="off"  placeholder="Enter Zone" formControlName="Zone"
                      style="width:87%; display:block;" #myzone>&nbsp;
                      <button class="btn btn-primary add" type="button"  [ngStyle]= "ZoneTypeforupdate!=0? {'display':'none'}: {'display':''}"  (click)="addzoneslist(myzone)"><i class="fa fa-plus"></i></button>
                      
                    </div>
                    <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                      *ngIf="!ZonetypeMasterform.controls['Zone'].valid && ZonetypeMasterform.controls['Zone'].dirty">
                      <span *ngIf="ZonetypeMasterform.controls['Zone'].errors['required']">
                        {{newzonetypeResource.ZoneRequired}}
                      </span>
                      <span *ngIf="ZonetypeMasterform.controls['Zone'].errors['maxlength']">
                        {{newzonetypeResource.ZoneLength}}
                      </span>
                      <span *ngIf="ZonetypeMasterform.controls['Zone'].errors['whitespace']">
                        {{newzonetypeResource.ZoneRequired}}
                      </span>
                      
                    </div>
                    <div *ngIf="!dataExist && !(!ZonetypeMasterform.controls['Zone'].valid && ZonetypeMasterform.controls['Zone'].dirty)" class="ui-message ui-messages-error ui-corner-all" appErrorTooltip>
                      {{zonelisterror}}
                    </div>
                    
                  </div>
                </div>
              <!-- </div> -->
            </div>
            <!--end of ZoneName-->
            <!--Description-->
            <div class="ui-g-12 ui-md-6">
              <div class="PaddingRL">
                <div class="le-se-12">
                  <label for="enterdescription">
                    {{newzonetypeResource.enterdescription}}
                  </label>
                  <input pInputText name="description" id="description" autocomplete="off" class="clsControl"
                    placeholder="enter description" formControlName="description">
                  <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                    *ngIf="!ZonetypeMasterform.controls['description'].valid && ZonetypeMasterform.controls['description'].dirty">
                    <span *ngIf="ZonetypeMasterform.controls['description'].errors['required']">
                      {{newzonetypeResource.descriptionrequired}}
                    </span>
                    <span *ngIf="ZonetypeMasterform.controls['description'].errors['maxlength']">
                      {{newzonetypeResource.descriptionLength}}
                    </span>
                    <span *ngIf="ZonetypeMasterform.controls['description'].errors['whitespace']">
                      {{newzonetypeResource.descriptionrequired}}
                    </span>
                  </div>
                </div>
              </div>
              <!--IsActive-->
              <div class="ui-g-12 ui-md-6" style="padding-top: 0px;">
                <div class="paddingRL">
                  <label></label>
                  <div class="clear"></div>
                  <p-checkbox value="true" [(ngModel)]="chkIsActive" label="{{globalResource.IsActiveFlag}}"
                    formControlName="chkIsActive" binary="true"></p-checkbox>
                </div>
              </div>
              <!--End IsActive-->
            </div>
            <!--End of Desccription-->
            <div class="ui-g-12 ui-md-6">
              <div class="PaddingRL" *ngIf="ZoneTypeforupdate!=0? false: true">
                <div class="le-se-12">
                  <label for="zoneslist">Zones List</label>
                  <div  class="zonelistbox">
                    <ul class="zones-list" style='padding: 0px;'>
                      <li  *ngFor="let i of zonearray; let id=index" class="zonelistitems" >
                        <span class="badge badge-pill badge-light zonelisttext">{{i}}&nbsp;<i class="fa fa-times" (click)="removeitem(id)"></i></span>
                        
                      </li>
                    </ul>
                  </div>   
                    
                  
                
               
                </div>
              </div>
            </div>
            <!--IsActive-->
            <!-- <div class="ui-g-12 ui-md-6" style="padding-top: 0px;">
              <div class="paddingRL">
                <label></label>
                <div class="clear"></div>
                <p-checkbox value="true" [(ngModel)]="chkIsActive" label="{{globalResource.IsActiveFlag}}"
                  formControlName="chkIsActive" binary="true"></p-checkbox>
              </div>
            </div> -->
            <!--End IsActive-->
            <div class="ui-g-12 ui-md-12" style="text-align: right;">
              <div class="paddingRL">
              <p-button type="submit" label="{{ saveButtontext}}" id="btnRoomTypeSave" name="btnRoomTypeSave">
              </p-button>

              <button pButton (click)="resetAll()" type="button" label="{{clear}}" class="ui-button-secondary">
              </button>
            </div>
</div>
          </div>
        </form>
      </p-panel>
    </div>
  </div>














  <div class="ui-g">
    <div class="ui-g-12">
      <p-panel header="Zone List" [toggleable]="true" [style]="{'margin-bottom':'20px'}" >
<p-table #dtZoneList [value]="allZonestypelist"
   sortMode="single" [responsive]="true" [paginator]="true" [rows]="10"           
   sortField="ZoneId"
   sortOrder="-1"
   [rowsPerPageOptions]="paginationValues"
   (onPage)="onPageChange($event)"
   [globalFilterFields]="['ZoneName','Description' ]">

   <ng-template pTemplate="caption">
    <div style="text-align: right;">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" autocomplete="off" pInputText size="50" placeholder="Global Filter" (input)="allZonestypelist.filterGlobal($event.target.value,'contains')"
      style="width: auto;">
    </div>
  </ng-template>
  <ng-template pTemplate="header" >
    <tr>
      <th [pSortableColumn]="'ZoneName'">Zone  <p-sortIcon [field]="'ZoneName'"></p-sortIcon></th>
      <th [pSortableColumn]="'Description'"> Description <p-sortIcon [field]="'Description'"></p-sortIcon></th>
      <th [pSortableColumn]="'RoomName'">RoomName<p-sortIcon [field]="'RoomName'"  ></p-sortIcon>  </th>           
                  <th style="width:100px;"> </th>
    </tr>
    <tr>
      <th>
          <input pInputText type="text" autocomplete="off" (input)="dtZoneList.filter($event.target.value, 'ZoneName', 'contains')" class="clsControl">
      </th>
      <th>
          <input pInputText type="text" autocomplete="off" (input)="dtZoneList.filter($event.target.value, 'Description', 'contains')" class="clsControl">
      </th>
      <th>
        <input pInputText type="text" autocomplete="off" (input)="dtZoneList.filter($event.target.value,'RoomName','contains')" class="clsControl">
      </th>
    <th rowspan="2"></th>
                            
    </tr>
      </ng-template>

      <ng-template pTemplate="body" let-Zone let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
           <td>{{Zone?.ZoneName}}</td>
             <td>{{Zone?.Description}}</td>
             <td>{{Zone?.RoomName}}</td>
            <td style="width:65px;"> 
               <span class="ui-column-title">edit</span>
              <a href="#" [routerLink]="" (click)="GetZoneonEdit(Zone?.ZoneId)" >                             
                  <span class="fa fa-edit"></span>
              </a>
              <a href="#" [routerLink]="" (click)="showConformationMessaegForDelete(Zone?.ZoneId,Zone,1,0)" >
                <span class="fa fa-trash"></span>
              </a>
            <div class="clsToggleButtonDiv">
                  <p-toggleButton 
                    [(ngModel)]="Zone.IsActive" 
                    onLabel="Active" offLabel="InActive"  
                    [style]="{'width':'90px'}"
                    (onChange)="showConformationMessaegForDeactive(Zone?.ZoneId,Zone, rowIndex,0,1)"
                    >
                   </p-toggleButton>
            </div>
        </td>  
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft" let-state>
      <pagination-counts
        *ngIf="allZonestypelist?.length"
        [inputData]="allZonestypelist"
        [inputEvent]="event"
      ></pagination-counts>
    </ng-template>
</p-table>
      </p-panel>
    </div>
  </div>
</div>
<p-growl [(value)]="msg" life='5000'></p-growl>
<p-confirmDialog 
  header="Confirmation" 
  icon="fa fa-question-circle" 
  width="425" 
  *ngIf="true"
  class="clsConfirmBox" >
</p-confirmDialog>