/* label {
    display: block;
  }
   */
   /* a span {
    cursor: pointer;
} */
   .inputtextbox1{
    border: none;
    background-color: white;
    width:auto
    } 
    p-dropdown{
    float: left;
    }
  