<div class="content-section implementation GridDemo orderRequest">
  <div class="ui-g">
    <div class="ui-g-12">
      <p-panel header="{{ pageheading }}" [(collapsed)]="collapsed" [toggleable]="true">
        <div>
        <form [formGroup]="updateTerminationReason" (ngSubmit)="onSubmit(updateTerminationReason.value)">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-12" style="padding: 0">
              <a [routerLink]=""  class="btn-link" (click)="backToSectionsPge()" style="float: right;padding-right: 21px;text-decoration: underline" ><< Back</a>
             </div>
          </div>
          <div class="ui-g" *ngIf="showPhses">
            <div class="ui-g-12 ui-md-4">
              <div class="paddingRL">
                <div class="le-su-12">
                  <label for="phase">Phase :</label><span class="star">*</span>
                  <!-- <p-dropdown
                  [options]="Phases"
                  [autoWidth]="true"
                  formControlName="phase"
                  (onChange)="GetAllDetails()"
                  id="phase"
                  class="clsControl"
                  name="phase">
                </p-dropdown> -->
                <input
                pInputText 
                name="phase"
                id="phase"
                type="text"
                class="clsControl"
                autocomplete="off"    
                formControlName="phase"
                min="0.1" [ngModel]="topTaskTypeName"
                readonly="true">
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="ui-g" *ngIf="viewdata">
            <div class="ui-g-12 ui-md-6">
              <div class="paddingRL">
                <label for="field" class="towlable"><b>Field Name:</b> {{AllSectionData.FieldName}} </label>
              </div>
              </div>
             
              <div class="ui-g-12 ui-md-6">
                <div class="paddingRL">
                  <label for="section" class="towlable"><b>Section Name:</b>
                    
                    <a  *ngIf="selectedForNoEditSection" href="#" [routerLink]="" (click)="editSectionInfo()">
                      <span class="fa fa-pencil" ></span>
                    </a>
                    <a *ngIf='selectedForEditSection' href="#" [routerLink]="" (click)="closeEditSection()">
                      <span style="color: red;" class="fa fa-close" ></span>
                    </a>
                    <input
                    [ngClass]="inputtextbox1"
                    name="section"
                    id="section"
                    type="text"
                    autocomplete="off"    
                    formControlName="section"
                    placeholder="Enter Section "
                    min="0.1" [ngModel]="AllSectionData.SectionName"
                    [readonly]="editSection"></label>
                </div>
                <div class="ui-message ui-messages-error  ui-corner-all" appErrorTooltip *ngIf="errormsg">
                  Section Name Required
                </div>
              </div>
               
                <div class="ui-g-12 ui-md-6">
                  <div class="paddingRL">
                    <label for="strain" class="towlable"><b>Strain Name:</b>
                      <a *ngIf="selectedForNoEditStrain" href="#" [routerLink]="" (click)="editStrainInfo()">
                        <span class="fa fa-pencil" ></span>
                      </a>
                      <a  *ngIf="selectedForEditStrain"  href="#" [routerLink]="" (click)="closeEditStrain()">
                        <span style="color: red;" class="fa fa-close" ></span>
                      </a>
                      <span *ngIf="showStrainText" >{{AllSectionData.StrainName}}</span>
                  
                        <p-dropdown
                        *ngIf="showStrainDropdown"
                        [options]="strains"
                        [autoWidth]="true"
                        formControlName="strain"
                        id="strain"
                        class="clsControl"
                        name="strain"
                        [disabled]="disableStrainDropdown"
                       >
                      </p-dropdown>
                  
                     </label>
                  </div>
                </div>
                 
                  <div class="ui-g-12 ui-md-6">
                    <div class="paddingRL">
                      <label for="TPC" class="towlable"><b>Initial Plant Count:</b> 
                        <a *ngIf="selectedForNoEditTPC && (topTaskTypeName === 'Planting') " href="#" [routerLink]="" (click)="editTPCInfo()">
                          <span class="fa fa-pencil" ></span>
                        </a>
                        <a  *ngIf="selectedForEditTPC && (topTaskTypeName === 'Planting')"  href="#" [routerLink]="" (click)="closeEditTPC()">
                          <span style="color: red;" class="fa fa-close" ></span>
                        </a>
                        <input
                        [ngClass]="inputtextbox2"
                        name="TPC"
                        id="TPC"
                        type="text"
                        autocomplete="off"    
                        formControlName="TPC"
                        placeholder="Enter Total Plant Count "
                        min="0.1" [ngModel]="AllSectionData.TotalPlantCount"
                        [readonly]="editTPC"></label>
                    </div>
                    <div class="ui-message ui-messages-error  ui-corner-all" appErrorTooltip *ngIf="errormsg1">
                     Plant Count Required
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-6">
                    <div class="paddingRL">
                      <label for="availpc" class="towlable"><b>Available Plant Count:</b> {{AllSectionData.AvailablePlantCnt}}</label>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-6">
                    <div class="paddingRL">
                      <label for="termpc" class="towlable"><b>Terminated Plant Count:</b> {{AllSectionData.TerminatedPlantCnt}}</label>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-6">
                    <div class="paddingRL">
                      <label for="compc" class="towlable"><b>Completed Plant Count:</b> {{AllSectionData.CompletedPlantCnt}}</label>
                    </div>
                  </div>
                    
                    <div class="ui-g-12 ui-md-6">
                      <div class="paddingRL">
                        <label for="year" class="towlable"><b>Year:</b>
                          <a *ngIf="selectedForNoEditYEAR" href="#" [routerLink]="" (click)="editYearInfo()">
                            <span class="fa fa-pencil" ></span>
                          </a>
                          <a  *ngIf="selectedForEditYEAR"  href="#" [routerLink]="" (click)="closeEditYEAR()">
                            <span style="color: red;" class="fa fa-close" ></span>
                          </a>
                          <input
                          [ngClass]="inputtextbox3"
                          name="year"
                          id="year"
                          type="text"
                          autocomplete="off"    
                          formControlName="year"
                          placeholder="Enter Year"
                          min="0.1" [ngModel]="AllSectionData.Year"
                          [readonly]="editYear"></label>
                      </div>
                      <div class="ui-message ui-messages-error  ui-corner-all" appErrorTooltip *ngIf="errormsg2">
                       Year Required
                       </div>
                    </div>
                     
                      <div class="ui-g-12 ui-md-6">
                        <div class="paddingRL">
                          <label for="isld" class="towlable"><b>Light Deprevation:</b>
                            <a *ngIf="selectedForNoEditLD" href="#" [routerLink]="" (click)="editLD()">
                              <span class="fa fa-pencil" ></span>
                            </a>
                            <a  *ngIf="selectedForEditLD"  href="#" [routerLink]="" (click)="closeEditLD()">
                              <span style="color: red;" class="fa fa-close" ></span>
                            </a>
                            <span *ngIf="showLDText" >{{AllSectionData.IsLightDeprevation}}</span>
                          
                            <p-dropdown
                            *ngIf="showLDDropdown"
                            [options]="ld"
                            [autoWidth]="true"
                            formControlName="ld"
                            id="ld"
                            class="clsControl"
                            name="ld"
                            [disabled]="disableLDDropdown"
                           >
                          </p-dropdown> </label>
                        </div>
                        </div>
                      
          </div> -->
          <div class="ui-g" >
            <div class="ui-g-12 ui-md-6">
              <div class="paddingRL">
                <label for="field" class="towlable"><b>Field Name:</b> {{AllSectionData.FieldName}} </label>
              </div>
              </div>
             
              <div class="ui-g-12 ui-md-6">
                <div class="paddingRL">
                  <label for="section" class="towlable"><b>Section Name:</b>
                    
                    <a  *ngIf="selectedForNoEditSection" href="#" [routerLink]="" (click)="editSectionInfo()">
                      <span class="fa fa-pencil" ></span>
                    </a>
                    <a *ngIf='selectedForEditSection' href="#" [routerLink]="" (click)="closeEditSection()">
                      <span style="color: red;" class="fa fa-close" ></span>
                    </a>
                    <input
                    *ngIf="shoesectionCompleteNameInput"
                    [ngClass]="inputtextbox1"
                    name="section"
                    id="section"
                    type="text"
                    autocomplete="off"    
                    formControlName="section"
                    placeholder="Enter Section "
                    min="0.1" [ngModel]="AllSectionData.SectionName"
                    [readonly]="editSection">
                    <span *ngIf="shoesectionCompleteName" >{{completeSectionName}}</span></label>
                </div>
                <div class="ui-message ui-messages-error  ui-corner-all" appErrorTooltip *ngIf="errormsg">
                  Section Name Required
                </div>
              </div>
               
                <div class="ui-g-12 ui-md-6">
                  <div class="paddingRL">
                    <label for="strain" class="towlable"><b>Strain Name:</b>
                      <a *ngIf="selectedForNoEditStrain" href="#" [routerLink]="" (click)="editStrainInfo()">
                        <span class="fa fa-pencil" ></span>
                      </a>
                      <a  *ngIf="selectedForEditStrain"  href="#" [routerLink]="" (click)="closeEditStrain()">
                        <span style="color: red;" class="fa fa-close" ></span>
                      </a>
                      <span *ngIf="showStrainText" >{{AllSectionData.StrainName}}</span>
                  
                        <p-dropdown
                        *ngIf="showStrainDropdown"
                        [options]="strains"
                        [autoWidth]="true"
                        formControlName="strain"
                        id="strain"
                        class="clsControl"
                        name="strain"
                        [disabled]="disableStrainDropdown"
                       >
                      </p-dropdown>
                  
                     </label>
                  </div>
                </div>
                 
                  <div class="ui-g-12 ui-md-6" >
                    <div class="paddingRL">
                      <label for="TPC" class="towlable"><b>Initial Plant Count:</b> 
                        <a *ngIf="selectedForNoEditTPC && (topTaskTypeName === 'Planting') " href="#" [routerLink]="" (click)="editTPCInfo()">
                          <span class="fa fa-pencil" ></span>
                        </a>
                        <a  *ngIf="selectedForEditTPC && (topTaskTypeName === 'Planting')"  href="#" [routerLink]="" (click)="closeEditTPC()">
                          <span style="color: red;" class="fa fa-close" ></span>
                        </a>
                        <input
                        [ngClass]="inputtextbox2"
                        name="TPC"
                        id="TPC"
                        type="text"
                        autocomplete="off"    
                        formControlName="TPC"
                        placeholder="Enter Total Plant Count "
                        min="0.1" [ngModel]="AllSectionData.PlantsCount"
                        [readonly]="editTPC"></label>
                    </div>
                    <div class="ui-message ui-messages-error  ui-corner-all" appErrorTooltip *ngIf="errormsg1">
                     Plant Count Required
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-6" *ngIf="viewdata">
                    <div class="paddingRL">
                      <label for="availpc" class="towlable"><b>Available Plant Count:</b> {{AllSectionData.AvailablePlantCnt}}</label>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-6" *ngIf="viewdata">
                    <div class="paddingRL">
                      <label for="termpc" class="towlable"><b>Terminated Plant Count:</b> {{AllSectionData.TerminatedPlantCnt}}</label>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-6" *ngIf="viewdata">
                    <div class="paddingRL">
                      <label for="compc" class="towlable"><b>Completed Plant Count:</b> {{AllSectionData.CompletedPlantCnt}}</label>
                    </div>
                  </div>
                    
                    <div class="ui-g-12 ui-md-6">
                      <div class="paddingRL">
                        <label for="year" class="towlable"><b>Year:</b>
                          <a *ngIf="selectedForNoEditYEAR" href="#" [routerLink]="" (click)="editYearInfo()">
                            <span class="fa fa-pencil" ></span>
                          </a>
                          <a  *ngIf="selectedForEditYEAR"  href="#" [routerLink]="" (click)="closeEditYEAR()">
                            <span style="color: red;" class="fa fa-close" ></span>
                          </a>
                          <input
                          [ngClass]="inputtextbox3"
                          name="year"
                          id="year"
                          type="text"
                          autocomplete="off"    
                          formControlName="year"
                          placeholder="Enter Year"
                          min="0.1" [ngModel]="AllSectionData.Year"
                          [readonly]="editYear"></label>
                      </div>
                      <div class="ui-message ui-messages-error  ui-corner-all" appErrorTooltip *ngIf="errormsg2">
                       Year Required
                       </div>
                    </div>
                     
                      <div class="ui-g-12 ui-md-6">
                        <div class="paddingRL">
                          <label for="isld" class="towlable"><b>Light Deprevation:</b>
                            <a *ngIf="selectedForNoEditLD" href="#" [routerLink]="" (click)="editLD()">
                              <span class="fa fa-pencil" ></span>
                            </a>
                            <a  *ngIf="selectedForEditLD"  href="#" [routerLink]="" (click)="closeEditLD()">
                              <span style="color: red;" class="fa fa-close" ></span>
                            </a>
                            <span *ngIf="showLDText" >{{AllSectionData.IsLightDeprevation}}</span>
                          
                            <p-dropdown
                            *ngIf="showLDDropdown"
                            [options]="ld"
                            [autoWidth]="true"
                            formControlName="ld"
                            id="ld"
                            class="clsControl"
                            name="ld"
                            [disabled]="disableLDDropdown"
                           >
                          </p-dropdown> </label>
                        </div>
                        </div>
                      
          </div>
         
          <div class="ui-g"  *ngIf="viewdata">
            <div class="ui-g-12 ui-md-4">
              <div class="paddingRL">
                <div class="le-su-12">
                  <label for="completed">Completed :</label>
                  <p-checkbox          
                  formControlName="completed"
                  binary="true"
                  (onChange)="enableAndDisableFields($event)"
                ></p-checkbox>
                </div>
              </div>
            </div>
            <div class="ui-g-12 ui-md-4" style="visibility: hidden;">
              <div class="paddingRL">
                <div class="le-su-12">
                  <label for="cpc">Completed Plant Count :</label>
                  <input type="text" 
                  pInputText 
                  autocomplete="off"
                  id="cpc" 
                  name="cpc" 
                  formControlName="cpc"         
                  class="clsControl"  
                  [readonly]="enabledisablefields"
                />
                </div>
              </div>
            </div>
            <div class="ui-g-12 ui-md-4" style="visibility: hidden;" >
              <div class="paddingRL">
                <div class="le-su-12">
                  <label for="phase">Phase :</label><span class="star">*</span>
                  <p-dropdown
                  [options]="Phases"
                  [autoWidth]="true"
                  formControlName="phase"
                  id="phase"
                  class="clsControl"
                  name="phase">
                </p-dropdown>
                </div>
              </div>
            </div>
          </div>
  <!-- <div class="ui-g-12 ui-md-4">
                <div class="paddingRL">
                  <div class="le-su-12">
                    <label for="tpc">Terminated Plant Count :</label>
                    <input 
                    type="text" 
                    pInputText 
                    autocomplete="off"
                    id="tpc" 
                    name="tpc" 
                    formControlName="tpc"         
                    class="clsControl"  
                    [readonly]="enabledisableTerminationFields"
                  />
                  </div>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4">
                <div class="paddingRL">
                  <div class="le-su-12">
                    <label for="Terminationreason">Termination Reason :</label>
                    <p-dropdown
                    [options]="TerminatioReasons"
                    [autoWidth]="true"
                    formControlName="Terminationreason"
                    id="Terminationreason"
                    class="clsControl"
                    name="Terminationreason"
                    [disabled]="enabledisableTerminationFields">
                  </p-dropdown>
                  </div>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4">
                <div class="paddingRL">
                  <div class="paddingRL">
                    <div class="le-su-12">
                      <a (click)="deleteItem(i)" *ngIf="!updateTerminationReason.get('items').valid || sysmbol == 0">                                                    
                        <span style="font-size: 1.4rem;" class="fa fa-minus-circle">
                        </span>
                    </a>
                    <a (click)="addItem()" *ngIf="updateTerminationReason.get('items').valid&&plusOnEdit === true">
                      <span class="fa fa-plus-circle" style="font-size: 1.4rem;">
                      </span>
                     </a>
                    </div>
                  </div>
                 
                </div>
              </div> -->
            
              <div formArrayName="items" style="position: relative"  *ngIf="viewdata">
                <div style="width:calc(100% - 20px);float:left;">
                  <p-table [value]="SectionDetailsArr?.controls" id="sectionDetails" name="sectionDetails">
                    <ng-template pTemplate="header">
                      <tr>
                        
                        <th>Terminated Plant Count
                        </th>
                        <th>Termination Reason
                        </th>
                        <th style="width:80px;">Action</th> 
                        
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-i="rowIndex" >
                      <tr [formGroupName]="i">
                        <td>
                          <input 
                          type="text" 
                          pInputText 
                          autocomplete="off"
                          id="tpc" 
                          name="tpc" 
                          formControlName="tpc"    
                          (keyup)="onKeypressEvent($event)"     
                          class="clsControl"  
                          [readonly]="enabledisableTerminationFields"
                        />
                        </td>
                        <!-- (keyup)="onKeypressEvent($event)" -->
                        <td>
                          <p-dropdown
                          [options]="TerminatioReasons"
                          [autoWidth]="true"
                          formControlName="Terminationreason"
                          id="Terminationreason"
                          class="clsControl"
                          name="Terminationreason"
                          [disabled]="enabledisableTerminationFields">
                        </p-dropdown>
                      </td>
                      <td style="width: 80px;">
                        <a (click)="deleteItem(i)" *ngIf="!updateTerminationReason.get('items').valid || sysmbol == 0">                                                    
                            <span style="font-size: 1.4rem;" class="fa fa-minus-circle">
                            </span>
                        </a> 
                        
                          <a (click)="addItem()" *ngIf="updateTerminationReason.get('items').valid&&plusOnEdit === true">
                              <span class="fa fa-plus-circle" style="font-size: 1.4rem;">
                              </span>
                          </a>
                          <div class="ui-message ui-messages-error  ui-corner-all" appErrorTooltip *ngIf="item.hasError('prototypenotpresent')">
                            This Termination Reason already exists.
                          </div>  
                          <!-- <div class="ui-message ui-messages-error  ui-corner-all" appErrorTooltip *ngIf="item.tpc.dirty || tpc.touched">
                           Termination Reason Required
                          </div>  -->
                    </td>
                   
                      </tr>
                      
                    </ng-template>
                  </p-table>
                </div>
                <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip *ngIf="SectionDetailsArr.hasError('duplicate')">
                  duplicate entries
                </div> 
              </div>

            <div class="ui-g" style="width:100%;text-align:right;">
              <div class="ui-g-12">
                <button pButton type="submit" label="Save" ></button>
              </div>
            </div>
        </form>
      </div>
      <div class="ui-g" >
        <div class="paddingRL">
          <div class="le-su-12">
            <h6 *ngIf="viewTable"><b>History</b></h6>
          </div>
        </div>
      </div>
      <p-table *ngIf="viewTable" [value]="allUpdatedTerminationlist">
        <ng-template pTemplate="header">
          <tr>
              
              <th>Termination Date</th>
              <th>Terminated Plant Count</th>
              <th>Termination Reason</th>
              <th>Phase</th>
              <th>Action</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-taskstatus>
        <tr>
          <!-- <td *ngIf="taskstatus.length === 0" >No Data Available</td> -->
            <td>{{taskstatus.TerminationDate}}</td>
            <td>{{taskstatus.TerminatedPlantCount}}</td>
            <td>{{taskstatus.TerminationReason}}</td>
            <td>{{taskstatus.TaskName}}</td>
            <td><a href="#" [routerLink]="" (click)="editTerminationdata(taskstatus.TerminationReasonId)">
              <span class="fa fa-edit"></span>
            </a></td>
        </tr>
    </ng-template>
    <!-- <ng-template pTemplate="paginatorleft" let-state>
      <pagination-counts *ngIf="allUpdatedTerminationlist?.length" [inputData]="allUpdatedTerminationlist" [inputEvent]="event">
      </pagination-counts>
    </ng-template> -->
      </p-table>
      </p-panel>
    </div>
  </div>
</div>
<p-growl [(value)]="msgs" life='5000'></p-growl>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" *ngIf="true" class="clsConfirmBox">
</p-confirmDialog>