
<p-dialog 
    header="Add New Cultivar Type"
    [(visible)]="StrainType.showStrainTypeModal"
    modal="modal" 
    [resizable]="true" 
    [responsive]="true" 
    [width]="600" 
    [minWidth]="200" 
    class="notecontrol"
    (onHide)="hideStrainTypePopup()"
  >
  <form #StrainTypeForm="ngForm" [formGroup]="newStrainTypeEntryForm"  (ngSubmit)="saveStrainTypeNames(StrainTypeForm)" novalidate >
      <div class="ui-g">
        <!-- StrainType Name -->
                <div class="ui-g-12 ui-md-12">
                  <div class="paddingRL">
                      <div class="le-su-12">
                        <label for="enterstrain">
                          Cultivar Type}}  <span class="star">*</span>
                        </label>

                        <input pInputText
                          name="straintype"
                          id="straintype"
                          autocomplete="off"
                          type="text"
                          class="clsControl"
                          placeholder="Enter Value"
                          formControlName="straintype"
                        />

                        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                          *ngIf="!newStrainTypeEntryForm.controls['straintype'].valid&&newStrainTypeEntryForm.controls['straintype'].dirty">

                            <span *ngIf="newStrainTypeEntryForm.controls['straintype'].errors['required']">
                              Cultivar type required}}
                            </span>
                            <span *ngIf="newStrainTypeEntryForm.controls['straintype'].errors['maxlength']">{{newStrainTypeResources.straintypeLength}}</span>
                            <span *ngIf="newStrainTypeEntryForm.controls['straintype'].errors['whitespace']">{{newStrainTypeResources.straintyperequired}}</span>
                          </div>
                      </div>
                  </div>
                </div>
                <!-- End StrainType Name -->
                <!-- Description -->
                <div class="ui-g-12 ui-md-12">
                    <div class="paddingRL">
                        <div class="le-su-12">
                          <label for="description">
                            Cultivar Description}}  <span class="star"></span>
                          </label>
  
                          <input pInputText
                            name="description"
                            id="description"
                            class="clsControl"
                            autocomplete="off"
                            placeholder="Enter Value"
                            formControlName="description"
                          />
<!--   
                          <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                            *ngIf="!newStrainTypeEntryForm.controls['description'].valid&&newStrainTypeEntryForm.controls['description'].dirty">
  
                              <span *ngIf="newStrainTypeEntryForm.controls['description'].errors['required']">
                                {{newStrainTypeResources.descriptionrequired}}
                              </span>
                              <span *ngIf="newStrainTypeEntryForm.controls['description'].errors['maxlength']">{{newStrainTypeResources.descriptionLength}}</span>
                            </div> -->
                        </div>
                    </div>
                  </div>
                  <!-- End Description -->

                  <!-- IsActive -->
                <div class="ui-g-12 ui-md-12">
                    <div class="paddingRL">
                      <label></label>
                      <div class="clear"></div>
                
                      <p-checkbox value="true" [(ngModel)]="chkIsActive" label="{{globalResource.IsActiveFlag}}" formControlName="chkIsActive" 
                      binary="true"></p-checkbox>
                    </div>
                  </div>
                  <!--End IsActive -->

                <div class="ui-g-12 ui-md-6" style="text-align:left;">
                    <div class="paddingRL">
                      <p-button  type="submit" label="Save" id="btnStrainTypeSave" name="btnStrainTypeSave" ></p-button>

                      <button pButton
                          (click)="resetForm()"
                          type="button"
                          label="Clear"
                          class="ui-button-secondary"
                      >
                      </button>
                  </div>
                </div>
              </div>

</form>
</p-dialog>
<p-growl [(value)]="msgs" life='5000'></p-growl>