<p-dialog 
    header="Add New State/Province"
    [(visible)]="State.showStateModal"
    modal="modal" 
    [resizable]="true" 
    [responsive]="true" 
    [width]="600" 
    [minWidth]="200" 
    class="notecontrol"
    (onHide)="hideStatePopup()"
  >
  <form #StateForm="ngForm" [formGroup]="newStateEntryForm"  (ngSubmit)="saveStateNames(newStateEntryForm)" novalidate >
      <div class="ui-g">
        <!--State -->
          <div class="ui-g-12 ui-md-12">
              <div class="paddingRL">
                  <div class="le-su-12">
                <label for="country" class="towlable">{{ newStateResources.country}}<span class="star">*</span></label>:

                <p-dropdown
                    [filter] ="true"
                    id="country"
                    [options]="State.allCountries"
                    formControlName="country"
                    placeholder="-- Select --"
                    [autoWidth]="false"
                    class="clsControl"
                    name="country">
                </p-dropdown>
            
                <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                  *ngIf="!newStateEntryForm.controls['country'].valid&&newStateEntryForm.controls['country'].dirty">
                  <span *ngIf="newStateEntryForm.controls['country'].errors['required']">
                  {{ newStateResources.countryrequired }}
                </span>
                </div>
              </div>
            </div>
           </div>
        <!--End Brand -->
        <!-- state Name -->
                <div class="ui-g-12 ui-md-12">
                  <div class="paddingRL">
                      <div class="le-su-12">
                        <label for="state">{{ newStateResources.state}}<span class="star">*</span></label>:

                        <input pInputText
                          name="state"
                          id="state"
                          autocomplete="off"
                          placeholder="Enter Value"
                          type="text"
                          class="clsControl"
                          formControlName="state"
                        />

                        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                          *ngIf="!newStateEntryForm.controls['state'].valid&&newStateEntryForm.controls['state'].dirty">

                            <span *ngIf="newStateEntryForm.controls['state'].errors['required']">
                              {{newStateResources.staterequired}}
                            </span>
                           </div>
                      </div>
                  </div>
                </div>
          <!-- End state Name -->

                <div class="ui-g-12 ui-md-6" style="text-align:left;">
                    <div class="paddingRL">
                      <p-button  type="submit" label="Save" id="btnStateSave" name="btnStateSave" ></p-button>

                      <button pButton
                          (click)="resetForm()"
                          type="button"
                          label="Clear"
                          class="ui-button-secondary"
                      >
                      </button>
                  </div>
                </div>
              </div>
</form>
</p-dialog>

<p-growl [(value)]="msgs" life='5000'></p-growl>