
<div class="content-section implementation GridDemo orderRequest">
  <div class="ui-g">
      <div class="ui-g-12">
          <!-- Employee Listing -->
    <p-panel header="{{ newEmployeeResources.headingemployeelist}}" [toggleable]="true" [style]="{'margin-bottom':'20px'}" >      
      <p-table #dtEmployeeListing [value]="allEmployeeList" [resizableColumns]="true"
          sortMode="single"                      
          [responsive]="true" 
          [paginator]="true" 
          [rows]="10"           
          sortField="EmpId"
          sortOrder="-1"
          [rowsPerPageOptions]="PaginationValues"
          (onPage)="onPageChange($event)"
          [globalFilterFields]="['FirstName','LastName','Username','Gender','Role','FLCName','CityName','CellPhone','Skills']"
          >                    
          <ng-template pTemplate="caption">
              <div style="text-align: right">
                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  <input type="text" pInputText autocomplete="off" size="50" placeholder="Global Filter" (input)="dtEmployeeListing.filterGlobal($event.target.value, 'contains')" style="width:auto;">
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <!-- <th [pSortableColumn]="'ClientName'">{{ newEmployeeResources.clientname}} <p-sortIcon [field]="'ClientName'"></p-sortIcon></th> -->
                  <th pResizableColumn [pSortableColumn]="'FirstName'">{{ newEmployeeResources.firstnameshort}} <p-sortIcon [field]="'FirstName'"></p-sortIcon></th>                  
                  <th pResizableColumn [pSortableColumn]="'LastName'">{{ newEmployeeResources.lastnameshort}} <p-sortIcon [field]="'LastName'"></p-sortIcon></th>    
                  <th pResizableColumn [pSortableColumn]="'Username'">UserName<p-sortIcon [field]="'Username'"></p-sortIcon></th>          
                  <th pResizableColumn [pSortableColumn]="'Gender'">{{ newEmployeeResources.gender}} <p-sortIcon [field]="'Gender'"></p-sortIcon></th>  
                  <!-- <th pResizableColumn [pSortableColumn]="'DOB'">{{ newEmployeeResources.dob}} <p-sortIcon [field]="'DOB'"></p-sortIcon></th> -->
                  <th pResizableColumn [pSortableColumn]="'Role'">{{ newEmployeeResources.userrole}} <p-sortIcon [field]="'Role'"></p-sortIcon></th>
                  <th pResizableColumn [pSortableColumn]="'FLCName'">FLC Name <p-sortIcon [field]="'Role'"></p-sortIcon></th>
                  <th pResizableColumn [pSortableColumn]="'CityName'">{{ newEmployeeResources.city}} <p-sortIcon [field]="'CityName'"></p-sortIcon></th>           
                  <th pResizableColumn [pSortableColumn]="'CellPhone'">{{ newEmployeeResources.cellphone}} <p-sortIcon [field]="'CellPhone'"></p-sortIcon></th>
                  <!-- <th [pSortableColumn]="'PrimaryEmail'">{{ newEmployeeResources.primaryemail}} <p-sortIcon [field]="'PrimaryEmail'"></p-sortIcon></th> -->
                  <th>Skills</th>
                  <th style="width:100px;"> </th>
              </tr>
    
              <tr>
                  <!-- <th>
                      <input pInputText autocomplete="off" type="text" (input)="dtEmployeeListing.filter($event.target.value, 'ClientName', 'contains')" class="clsControl">
                  </th> -->
                  <th>
                      <input pInputText autocomplete="off" type="text" (input)="dtEmployeeListing.filter($event.target.value, 'FirstName', 'contains')" class="clsControl">
                  </th>
                  <th>
                    <input pInputText autocomplete="off" type="text" (input)="dtEmployeeListing.filter($event.target.value, 'LastName', 'contains')" class="clsControl">
                  </th>
                  <th>
                    <input pInputText autocomplete="off" type="text" (input)="dtEmployeeListing.filter($event.target.value, 'Username', 'contains')" class="clsControl">
                  </th>
                  <th>
                      <input pInputText autocomplete="off" type="text" (input)="dtEmployeeListing.filter($event.target.value, 'Gender', 'contains')" class="clsControl">
                  </th>                 
                  <!-- <th>
                      <input pInputText autocomplete="off" type="text" (input)="dtEmployeeListing.filter($event.target.value, 'DOB', 'contains')" class="clsControl">
                  </th> -->
                  <th>
                    <input pInputText autocomplete="off" type="text" (input)="dtEmployeeListing.filter($event.target.value, 'Role', 'contains')" class="clsControl">
                </th>
                <th>
                  <input pInputText autocomplete="off" type="text" (input)="dtEmployeeListing.filter($event.target.value, 'FLCName', 'contains')" class="clsControl">
              </th>
                <th>
                  <input pInputText autocomplete="off" type="text" (input)="dtEmployeeListing.filter($event.target.value, 'CityName', 'contains')" class="clsControl">
                </th>
                <th>
                  <input pInputText autocomplete="off" type="text" (input)="dtEmployeeListing.filter($event.target.value, 'CellPhone', 'contains')" class="clsControl">
                </th>
                <!-- <th>
                  <input pInputText autocomplete="off" type="text" (input)="dtEmployeeListing.filter($event.target.value, 'PrimaryEmail', 'contains')" class="clsControl">
                </th> -->
                <th></th>
                <th rowspan="2"></th>  
          </ng-template>
          <ng-template pTemplate="body" let-newemployee let-rowData let-columns="columns" let-rowIndex="rowIndex">
              <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                  <!-- <td>{{newemployee?.ClientName}}</td> -->
                  <td><span class="ui-column-title">{{ newEmployeeResources.firstnameshort}}</span>{{newemployee?.FirstName}}</td>
                  <td><span class="ui-column-title">{{ newEmployeeResources.lastnameshort}}</span>{{newemployee?.LastName }}</td>
                  <td><span class="ui-column-title">UserName</span>{{newemployee?.Username }}</td>
                  <td><span class="ui-column-title">{{ newEmployeeResources.gender}}</span>{{newemployee?.GenderName }}</td>                  
                  <!-- <td>{{newemployee?.DOB | date: 'MM/dd/yyyy' }}</td> -->
                  <td><span class="ui-column-title">{{ newEmployeeResources.userrole}} </span>{{newemployee?.Role}}</td>
                  <td><span class="ui-column-title">FLC Name</span>{{newemployee?.FLCName}}</td>
                  <td><span class="ui-column-title">{{ newEmployeeResources.city}}</span>{{newemployee?.CityName}}</td>
                  <td><span class="ui-column-title">{{ newEmployeeResources.cellphone}}</span>{{newemployee?.CellPhone}}</td>
                  <td style="text-align: center;"><span><a class="btn-link" (click)="openSkillsPopUp(newemployee?.EmpId)"  ><i style="font-size: 16px" class="fa fa-info-circle" aria-hidden="true"></i></a></span></td>
                  <!-- <td>{{newemployee?.PrimaryEmail}}</td>    -->
                  <td style="width:65px;"> 
                      <span class="ui-column-title">Action</span>
                      <a href="#" [routerLink]="" (click)="editEmployee(newemployee?.EmpId)" >                             
                          <span class="fa fa-edit"></span>
                      </a>
                      <!-- <a href="#" [routerLink]="" (click)="deleteEmployee(newemployee?.EmpId)" >
                          <span class="fa fa-trash"></span>
                      </a> -->
                      <a href="#" [routerLink]="" 
                      (click)="showConformationMessaegForDelete(newemployee?.EmpId,newemployee,1,0)" >
                        <span class="fa fa-trash"></span>
                    </a>
                    <!-- <p-button class="links"  type="button" label="{{ newemployee?.IsActive }}" id="btn_starinshow"  
                    (click)="showConformationMessaegForDeactive(newemployee?.EmpId)" name="btnshow" ></p-button>-->
                    <!-- <p-inputSwitch 
                    (onChange)="showConformationMessaegForDeactive(newemployee?.EmpId,newemployee?.IsActive,$event, rowIndex)" 
                    [(ngModel)]="newemployee.IsActive">
                    </p-inputSwitch> -->

                    <div class="clsToggleButtonDiv">
                        <p-toggleButton 
                          [(ngModel)]="newemployee.IsActive" 
                          onLabel="Active" offLabel="InActive"  
                          [style]="{'width':'90px'}"
                          id
                          (onChange)="showConformationMessaegForDeactive(newemployee?.EmpId,newemployee, rowIndex,0,1)" 
                        >
                        </p-toggleButton>
                      </div>
                </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft" let-state>
            <pagination-counts
              *ngIf="allEmployeeList?.length"
              [inputData]="allEmployeeList"
              [inputEvent]="event"
            ></pagination-counts>
          </ng-template>
      </p-table>
    </p-panel>
      <!--End Employee Listing  -->
    </div>
  </div>
</div>

<p-dialog header="Skill Details" [(visible)]="openSkillPopUp" modal="modal" [resizable]="true" [responsive]="true" [width]="750" [minWidth]="200" >
  <div class="ui-g-12 ui-md-6">
    <label for="skill" class="towlable"><b>Employee Name:-</b>{{EmpName}}</label>
    </div>
  <p-table [value]="skillOnPopUP">
    <ng-template pTemplate="header">
      <tr>
        <th>Task Name</th>
        <th>Skill</th>
    </tr>
    </ng-template>
    <ng-template pTemplate="body" let-taskstatus>
      <tr>
        <td>{{taskstatus.TaskTypeValue}}</td>
        <td>{{taskstatus.SkillName}}</td>
    </tr>
    </ng-template>
  </p-table>
</p-dialog>
<p-confirmDialog 
    class="clsConfirmBox" 
    header="Confirmation" 
    icon="fa fa-question-circle" 
    *ngIf="true"
    width="425"></p-confirmDialog>