<div class="content-section implementation GridDemo">
  <div class="ui-g">
    <div class="ui-g-12">
      <p-panel header="{{ pageheading }}" [(collapsed)]="collapsed" [toggleable]="true">
        <p-header>
          
        </p-header>
        <form  [formGroup]="newSectionEntryForm" (ngSubmit)="onSubmit(newSectionEntryForm.value)">
          <div class="ui-g ">
            <div class="ui-g-12 ui-md-6">
              <div class="paddingRL">
                <label for="Field" class="towlable">Field List<span class="star">*</span></label>
                  <p-dropdown
                  [filter] ="true"
                  id="Field"
                  [options]="Fields"
                  formControlName="Field"
                  placeholder="-- Select --"
                  [autoWidth]="false"
                  class="clsControl"                                    
                  name="Field"
                  >
                  </p-dropdown>
              </div>
            </div>
          </div>
          <div formArrayName="items" style="position: relative">
            <div style="width:calc(100% - 20px);float:left;">
              <p-table [value]="SectionDetailsArr?.controls" id="sectionDetails" name="sectionDetails">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Section
                      <span class="star">*</span>
                    </th>
                    <th>Strain
                      <span class="star">*</span>
                    </th>
                    <th>Plant Count
                       <span class="star">*</span>
                    </th>
                    <th>Year
                        <span class="star">*</span>
                    </th>
                    <th style="width: 80px;">Light Dept
                    </th>
                    <th style="width: 80px;">Is Active</th>
                    <th style="width: 60px;">Action</th>  
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex" >
                  <tr [formGroupName]="i">
                    <td>
                      <input pInputText
                        name="section"
                        id="section"
                        type="text"
                        autocomplete="off"
                        class="clsControl"       
                        formControlName="section"
                        placeholder="Enter section "
                        min="0.1">
                    </td>
                    <td>
                      <p-dropdown
                      id="strain"
                      formControlName="strain"
                      placeholder="-- Select --"
                      [autoWidth]="false"
                      class="clsControl"
                      [options]="strains"
                      name="strain">
                    </p-dropdown>
                  </td>
                    <td>
                      <input pInputText
                        name="PlantCount"
                        id="PlantCount"
                        type="number"
                        autocomplete="off"
                        class="clsControl"       
                        formControlName="plantcount"
                        placeholder="Enter Plant Count "
                        >
                    </td>
                    <td>
                      <input pInputText
                        name="year"
                        [value]="Year"
                        id="year"
                        type="number"
                        autocomplete="off"
                        class="clsControl"       
                        formControlName="year"
                        placeholder="Enter year"
                        min="0.1">
                    </td>
                    <td>
                      <p-checkbox value="true"
                       formControlName="lightDept" checked="true"
                      binary="true"></p-checkbox>                                      
                    </td>
                    <td>
                      <p-checkbox value="true"
                       formControlName="chkSelectAll" checked="true"
                      binary="true"></p-checkbox>                                      
                    </td>
                    <td>
                      <a (click)="deleteItem(i)" *ngIf="!newSectionEntryForm.get('items').valid || sysmbol == 0">                                                    
                          <span style="font-size: 1.4rem;" class="fa fa-minus-circle">
                          </span>
                      </a> 
                      <!-- <div style="position: absolute;right: 0px;bottom: 42px;"> -->
                        <a (click)="addItem()" *ngIf="newSectionEntryForm.get('items').valid&&plusOnEdit === true">
                            <span class="fa fa-plus-circle" style="font-size: 1.4rem;">
                            </span>
                        </a>
                      <!-- </div>   -->
                  </td>
                  <div class="ui-message ui-messages-error  ui-corner-all" appErrorTooltip *ngIf="item.hasError('prototypenotpresent')">
                    This section already exists.
                  </div>  
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip *ngIf="SectionDetailsArr.hasError('duplicate')">
              duplicate entries
            </div>  
            <!-- <div style="position: absolute;right: 0px;bottom: 42px;">
              <a (click)="addItem()" *ngIf="newSectionEntryForm.get('items').valid">
                  <span class="fa fa-plus-circle" style="font-size: 1.4rem;">
                  </span>
              </a>
            </div> -->
            <div class="ui-g" style="width:100%;text-align:right;">
              <div class="ui-g-12">
                <button pButton type="submit" label="{{saveButtonText}}" ></button>
                <button 
                    pButton 
                    (click)="resetForm()" 
                    type="button" 
                    label="Clear" 
                    class="ui-button-secondary">
                </button>
              </div>
            </div>
          </div>
        </form>
      </p-panel>
    </div>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-12">
    <p-panel header="{{ newSectionResources.tableheading }}" [toggleable]="true" [style]="{'margin-bottom':'20px'}" >
      <p-table #dtSecList [value]="allsectionslist" sortMode="single" [responsive]="true" [paginator]="true"
    [rows]="10" sortField="sectionId" sortOrder="-1" [rowsPerPageOptions]="paginationValues"
    (onPage)="onPageChange($event)"
    [globalFilterFields]="['FieldName','SectionName','StrainName','PlantsCount','Year','IsLightDeprevation']">
        <ng-template pTemplate="caption">
          <div style="text-align: right">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" autocomplete="off" pInputText size="50" placeholder="Global Filter"
              (input)="dtSecList.filterGlobal($event.target.value, 'contains')" style="width:auto;">
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <!-- <th [pSortableColumn]="'FieldName'">Field Name <p-sortIcon [field]="'FieldName'"></p-sortIcon>
            </th> -->
            <th [pSortableColumn]="'FieldName'">Field Name <p-sortIcon [field]="'FieldName'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'SectionName'">Section Name <p-sortIcon [field]="'SectionName'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'StrainName'">Strain<p-sortIcon [field]="'StrainName'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'PlantsCount'"> Plant Count <p-sortIcon [field]="'PlantsCount'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'Year'"> Year <p-sortIcon [field]="'Year'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'IsLightDeprevation'">Light Dept <p-sortIcon [field]="'IsLightDeprevation'"></p-sortIcon>
            </th>
            <th style="width:120px;">Action </th>
          </tr>
          <tr>
            <!-- <th>
              <input pInputText type="text" autocomplete="off"
                (input)="dtFieldList.filter($event.target.value, 'FieldName', 'contains')" class="clsControl">
            </th> -->
            <th>
              <input pInputText type="text" autocomplete="off"
                (input)="dtSecList.filter($event.target.value, 'FieldName', 'contains')" class="clsControl">
            </th>
            <th>
              <input pInputText type="text" autocomplete="off"
                (input)="dtSecList.filter($event.target.value, 'SectionName', 'contains')" class="clsControl">
            </th>
            <th>
              <input pInputText type="text" autocomplete="off"
                (input)="dtSecList.filter($event.target.value, 'StrainName', 'contains')" class="clsControl">
            </th>
            <th>
              <input pInputText type="text" autocomplete="off"
                (input)="dtSecList.filter($event.target.value, 'PlantsCount', 'contains')" class="clsControl">
            </th>
           
            <th>
              <input pInputText type="text" autocomplete="off"
                (input)="dtSecList.filter($event.target.value, 'Year', 'contains')" class="clsControl">
            </th>
            <th>
              <input pInputText type="text" autocomplete="off"
                (input)="dtSecList.filter($event.target.value, 'IsLightDeprevation', 'contains')" class="clsControl">
            </th>
          
            <th rowspan="2"></th>
    
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-section let-rowData let-columns="columns" let-rowIndex="rowIndex">
          <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
            <td>{{section?.FieldName}}</td>
            <td>{{section?.SectionName}}</td>
            <td>{{section?.StrainName}}</td>
            <td>{{section?.PlantsCount }}</td>
            <td>{{section?.Year }}</td>
            <td>{{section?.IsLightDeprevation }}</td>
            <td style="width:65px;">
              <span class="ui-column-title">edit</span>
              <!-- <a href="#" [routerLink]="" (click)="getSectionOnEdit(section?.SectionId)"> -->
                <a href="#" [routerLink]="" (click)="showTerminationReasonPopup(section)">
                <span class="fa fa-edit"></span>
              </a>
              <a href="#" [routerLink]="" (click)="showConformationMessaegForDelete(section?.SectionId,section,1,0)">
                <span class="fa fa-trash"></span>
              </a>
              <a href="#" [routerLink]="" (click)="showSectionDetails(section)">
                <span class="fa fa-info-circle"></span>
              </a>
              <div class="clsToggleButtonDiv">
                <p-toggleButton [(ngModel)]="section.IsActive" onLabel="Active" offLabel="InActive"
                  [style]="{'width':'90px'}"
                  (onChange)="showConformationMessaegForDeactive(section?.SectionId,section, rowIndex,0,1)">
                </p-toggleButton>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft" let-state>
          <pagination-counts *ngIf="allsectionslist?.length" [inputData]="allsectionslist" [inputEvent]="event">
          </pagination-counts>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>
<p-growl [(value)]="msgs" life='5000'></p-growl>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" *ngIf="true" class="clsConfirmBox">
</p-confirmDialog>