@media (min-width: 767px) {
    .assignby{width: 90px;}
}
@media (min-width: 1025px) {
    .assignby{width: 170px;}
}
td.assignby, td.assignby > span{
    word-break: break-all !important;
    white-space: unset !important;
}

tr.clsTableRow.ui-state-highlight{
    background: #ffffff !important;
    color: #222222 !important;
}

tr.clsTableRow:nth-child(even).ui-state-highlight{
    background: #fafafb !important;
    color: #222222 !important;
}

.clsElpTime {
    width: 125px;
}

.clsTabViewMgr{
    width:100%!important;
    border-bottom: 0px !important;
    
  }
  .clsTabViewMgr > div > ul {
    padding-left: 0px !important;
  }

  .clsIconPrint{
    float: right;
    margin-right: 30px!important;
    margin-top: 10px!important;
    color: #222 !important;
  }

  :host::ng-deep .mainDiv .clsTabViewMgr {
    border: 1px solid #d9d9d9 !important;
  }

  .mainDiv {
    width:100%;
    position: relative;
  }

  .ui-table-caption {
    border-top: 0 none !important;
}

tr.rowBorder>td {
  border-left: 0px;
  border-right: 0px;
}
tr.rowBorder>th {
  border-left: 0px;
  border-right: 0px;
  border-top: none;
}
.ui-tabview.ui-tabview-top>.ui-tabview-nav {
  border-bottom: 0px solid #d6d6d6!important; 
}

@media only screen and (min-width: 769px) {
  :host::ng-deep div.clsTabViewMgr  ul.ui-tabview-nav  li {
   width: 17%;
   text-align: center;
  }
  :host::ng-deep div.clsTabViewMgr  ul.ui-tabview-nav  li a{
      width: 100%;
     }
}

.ui-tabview.ui-tabview-top>.ui-tabview-nav {
  border-bottom: 1px solid #d6d6d6!important;
}
