
    <div class="overlay"></div>

    <nav class="navbar fixed-top">
        <div class="container-fluid">
            <div class="navbar-header ">
               
               
                <a class="navbar-brand" (click)="logoClick()" routerLink="" >
                <img [src]=headerimagtail alt="ThingBlu" style="height:40px;">
               
                </a>
                <!-- <a href="javascript:void(0);" class="bars"></a> -->
            </div>
              <form class="form-inline my-2 my-lg-0">
                  <!-- <label>{{ "Hello "+ userModel?.EmpName }}</label> -->
                  <!-- <button pButton class="btn btn-outline-success my-2 my-sm-0" label="Logout" icon="fa-sign-out" (click)="logOut()" ></button>   -->

                  <ul class="rightMenu">
                    <!--   <li>
                        <input type="text" class="mr-sm-2" pInputText placeholder="Search" style="height: 28px;"> -->
                        <!-- <form action="search_results.html" class="" method="get">
                           
                            <div class="">
                                <input class="form-control" placeholder="Search..." autocomplete="off" id="q_header" name="q" type="text">
                            </div>
                            <button class="btn btn-link fa fa-search" name="button" type="submit"></button>
                        </form> 
                      </li>-->
                      <!-- <li class="lione">
                        <p-slideMenu #cog [model]="setting" [popup]="true"></p-slideMenu>
                        <button #btn2 type="button" pButton icon="fa fa-cog" label=" " (click)="cog.toggle($event)" style="width:35px;"> </button>
                      </li>
                      <li class="litwo">
                        <p-slideMenu #notification [model]="note" [popup]="true" item-width="200px"></p-slideMenu>
                        <button #btn1 type="button" pButton icon="fa fa-bell" label=" " (click)="notification.toggle($event)"> 
                             <div id="nbrAlerts" class="label noti" >3</div>
                        </button>
                      </li> -->
                      <li>
                            <img class="img-responsive" style="width: 35px;" [src]=headerimagesmall alt="ThingBlu">
                      </li>
                      <li class="lithree">
                        <p-slideMenu #menu [model]="item1" [popup]="true" styleClass="clsLogOutMenu" ></p-slideMenu>
                        <!-- <button #btn type="button" pButton icon="fa fa-info-circle" (click)="navinfo()"></button> -->
                        <button #btn type="button" pButton icon="fa fa-user" label="{{userModel?.EmpName}} " (click)="menu.toggle($event)"> <b class="caret"></b></button>
                      </li>
                  </ul>
               
                
              </form>     
        </div>
        
    </nav> 
  
    <p-dialog 
    header="Confirmation"
    [(visible)]="showLogoutModal"
    modal="false"
    [resizable]="true" 
    [responsive]="true" 
    [width]="600" 
    [minWidth]="200" 
    class="notecontrol"
    [closable]="false"
    >
    <!-- <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425" #cd> -->
        <form  [formGroup]="newReloginForm" (ngSubmit)="onSubmit(newReloginForm.value)" novalidate>
                <div class="ui-g-12 ui-md-12">
                    <div class="paddingRL">
                            <div class="le-su-12">
                                    <label for="heading">{{heading}}  <span class="star"></span></label>
                                </div>
                        <div class="le-su-12">
                                <input pPassword
                                    name="password"
                                    autofocus="true"
                                    id="password"
                                    autocomplete="off"
                                    placeholder="Enter password"
                                    type="text"
                                    class="clsControl"
                                    formControlName="password"
                                />

                                <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip 
                                *ngIf="!newReloginForm.controls['password'].valid&&newReloginForm.controls['password'].dirty">
                                    {{loginResources.passwordRequired}}
                                    <span *ngIf="newReloginForm.controls['password'].errors['required']"></span>
                                </div>  
                            </div>
                            <div class="ui-g">
                                <div class="ui-g-12">
                                        <div class="paddingRL text-center">
                                        <!-- <button pButton type="submit" name="btnLogin" label="Sign In" ></button> -->
                                        <!-- [disabled]="!loginForm.valid" -->
                                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="isAuthenticated==false" appErrorTooltip>
                                            <span>{{loginResources.badusernamepassword}}</span>                         
                                        </div> 
                                    </div>  
                                </div>
                            </div>
                            <div class="le-su-12" align="end">
                                <!-- <button type="button" pButton icon="pi pi-check" label="Yes" (click)="showPTextBox()"></button> -->
                                <button type="submit" pButton icon="pi pi-check" label="Yes"></button>
                                <button type="button" pButton icon="pi pi-times" label="No"  (click)="doLogOut()"></button>
                            </div>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-12">
                    <div class="paddingRL">
                        <!-- <div class="le-su-12">
                            <label for="password">Please enter password to login.<span class="star"></span></label>
                        </div> -->
                       
                        <!-- <br>
                        <div class="le-su-12">
                            <button type="submit" pButton icon="pi pi-times" label="Login"></button>
                        </div> -->
                    </div>
                </div>
        </form>
    <!-- </p-confirmDialog> -->
</p-dialog>
<p-growl [(value)]="msgs" life='5000'></p-growl>

<p-dialog 
    header="Reset Password"
    [(visible)]="showResetPasswordModal"
    modal="modal" 
    [resizable]="true" 
    [responsive]="true" 
    [width]="600" 
    [minWidth]="200" 
    class="notecontrol"
    (onHide)="hideResetPasswordPopup()"
  >
  <form
  [formGroup]="resetPasswordForm"   autocomplete="off"
  (ngSubmit)="submitResetPassword()" novalidate >
      <div class="ui-g">
        <!-- currentPassword -->
                <div class="ui-g-12 ui-md-12">
                  <div class="paddingRL">
                      <div class="le-su-12">
                        <label for="enterbrand">
                        {{ loginResources.CurrentPassword }}
                        <span class="star">*</span>:
                        </label>
                        <!-- <input pPassword
                          class="clsControl"
                            [feedback]="false"
                          autocomplete="off"
                          placeholder="Enter old password"
                          type="password"
                          formControlName="currentPassword"
                        /> -->
                        <input type="text" pPassword 
                        ID="currentPassword" 
                        autocomplete="off"
                        class="clsControl"
                        formControlName="currentPassword" 
                        placeholder="Enter current password"
                        autocomplete="off"
                        [feedback]="false" />  

                        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                          *ngIf="!resetPasswordForm.controls['currentPassword'].valid&&resetPasswordForm.controls['currentPassword'].dirty">
                            <span *ngIf="resetPasswordForm.controls['currentPassword'].errors['required']">
                                {{loginResources.oldPasswordRequired}}
                            </span>
                            <span *ngIf="resetPasswordForm.controls['currentPassword'].errors['maxlength']">
                                {{ loginResources.oldPasswordmaxLength }}
                            </span>
                          </div>
                          
                      </div>
                  </div>
                </div>
                <!-- End currentPassword -->

                <!-- newPassword -->
                <div class="ui-g-12 ui-md-12">
                    <div class="paddingRL">
                        <div class="le-su-12">
                            <label for="enterbrand">
                            
                            {{ loginResources.EnterNewPassword }}
                            <span class="star">*</span>:
                            </label>
    
                            <input pPassword
                            name="newPassword"
                            autocomplete="new-password"
                            id="newPassword"
                            placeholder="Enter new password"
                            type="text"
                            class="clsControl"
                            formControlName="newPassword"
                            />
    
                            <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                            *ngIf="!resetPasswordForm.controls['newPassword'].valid&&resetPasswordForm.controls['newPassword'].dirty">
                                <span *ngIf="resetPasswordForm.controls['newPassword'].errors['required']">
                                    {{loginResources.newPassword}}
                                </span>
                                <span *ngIf="resetPasswordForm.controls['newPassword'].errors['minlength']">
                                    {{loginResources.passwordMinLength}}
                                </span>
                                <span *ngIf="resetPasswordForm.controls['newPassword'].errors['maxlength']">
                                    {{ loginResources.oldPasswordmaxLength }}
                                </span>
                                <span *ngIf="resetPasswordForm.controls['newPassword'].errors['passwordmatched']">
                                        {{loginResources.oldNewPasswordIsSame}}
                                </span>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- End newPassword -->

                <!-- confirmPassword -->
                <div class="ui-g-12 ui-md-12">
                    <div class="paddingRL">
                        <div class="le-su-12">
                          <label for="enterbrand">
                                {{ loginResources.ConfirmPassword }}
                                <span class="star">*</span>:
                          </label>
  
                          <input pInputText
                            name="confirmPassword"
                            autocomplete="off"
                            id="confirmPassword"
                            placeholder="Confirm password"
                            type="text"
                            class="clsControl"
                            formControlName="confirmPassword"
                          />
  
                          <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                            *ngIf="!resetPasswordForm.controls['confirmPassword'].valid&&resetPasswordForm.controls['confirmPassword'].dirty">
                              <span *ngIf="resetPasswordForm.controls['confirmPassword'].errors['required']">
                                    {{loginResources.confirmPasswordRequired}}
                            </span>
                            <span *ngIf="resetPasswordForm.controls['confirmPassword'].errors['passwordnotmatched']">
                                    {{loginResources.passwordnotmatched}}
                            </span>
                            </div>
                            
                        </div>
                    </div>
                  </div>
                  <!-- End confirmPassword -->

                <div class="ui-g-12 ui-md-12" style="text-align:left;">
                    <div class="paddingRL">
                      <p-button  
                      type="submit" 
                      label="Reset password" 
                      id="btnGetPassword" 
                      name="btnGetPassword" >
                    </p-button>

                      <button pButton
                          (click)="clearResetPasswordForm()"
                          type="button"
                          label="Clear"
                          class="ui-button-secondary"
                      >
                      </button>
                  </div>
                </div>
              </div>
</form>
</p-dialog>