<div class="content-section implementation GridDemo orderRequest">
    <div class="ui-g">
        <div class="ui-g-12">

            <p-panel header="{{ orderRequestResource.pageheading }}" [toggleable]="true" [style]="{'margin-bottom':'20px'}">

                <form [formGroup]="orderRequestForm" (ngSubmit)="onSubmit(orderRequestForm.value)">
                    <!-- A Bud -->
                    <div class="ui-g" style="margin: 10px 0px">

                            <div class="ui-g-12 ui-md-12">
                                <a [routerLink]="" *ngIf="DraftOrderId > 0" (click)="BackOrderList()" style="text-decoration: underline;float: right;color: #337ab7">Back</a>
                            </div>
                      
                            <div class="ui-g-12 ui-md-3">
                                <div class="paddingRL">
                               <label> {{ globalResource.retailer }} <span class="star">*</span> :</label>
                           
                                <p-dropdown 
                                    [filter] ="true"
                                    [options]="retailers"  
                                    (onChange)="getUBICode()"
                                    class="clsControl" 
                                    [autoWidth]="true" 
                                    formControlName="retailers" 
                                    id="retailers" 
                                    name="retailers">
                                </p-dropdown>
                                <div class="clear"></div>
                                <div
                                    class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                    *ngIf="!orderRequestForm.controls['retailers'].valid&&orderRequestForm.controls['retailers'].dirty">
                                    <i class="fa fa-close"></i>
                                    <span *ngIf="orderRequestForm.controls['retailers'].errors['required']">
                                        {{ orderRequestResource.retailerisrequired }}
                                    </span>                      
                                </div>
                            </div>
                            </div>

                            <div class="ui-g-12 ui-md-3">
                                <div class="paddingRL twocnt">                                       
                                        <label> {{ orderRequestResource.ubicode }} <span class="star"></span> :</label>                                          
                                        <div class="clear"></div>                                       
                                        <div class="lblText">
                                            <span *ngIf="UBICode" id="ubicode">{{ UBICode }} {{ UBIEmpty }}</span>
                                        </div>
                                </div>  
                            </div>

                            <div class="ui-g-12 ui-md-3">
                                    <div class="paddingRL">
                                   <label> {{ globalResource.deliverydate }} <span class="star">*</span> :</label>
                                
                           
                                <p-calendar                                                            
                                    [showIcon]="true"                                     
                                    formControlName="deliverydate" 
                                    [ngModel]="defaultDate"
                                    class="clsControl"
                                    id="deliverydate"
                                    name="deliverydate" 
                                >
                              </p-calendar>  
                              <div class="clear"></div>
                              <div
                                    class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                    *ngIf="!orderRequestForm.controls['deliverydate'].valid&&orderRequestForm.controls['deliverydate'].dirty">
                                    <i class="fa fa-close"></i>
                                    <span *ngIf="orderRequestForm.controls['deliverydate'].errors['required']">
                                        {{ orderRequestResource.deliverydateisrequired }}
                                    </span>                      
                                </div>
                            </div>
                            </div>
                            <div class="ui-g-12 ui-md-3">
                                    <div class="paddingRL">
                                   <label> {{ orderRequestResource.s2systemid }} <span class="star">*</span> :</label>
                                   <div class="clear"></div>
                               
                                        <input type="text"
                                            pInputText
                                            autocomplete="off"
                                            formControlName="orderrefid"
                                            [pKeyFilter]="blockSpace"
                                            id="orderrefid"
                                            name="orderrefid"
                                            class="clsControl"
                                      />
                                      <div class="clear"></div>
                                  <div
                                        class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                        *ngIf="!orderRequestForm.controls['orderrefid'].valid&&orderRequestForm.controls['orderrefid'].dirty">
                                        <i class="fa fa-close"></i>
                                        <span *ngIf="orderRequestForm.controls['orderrefid'].errors['required']">
                                            {{ draftMsg }}
                                        </span> 
                                        <span *ngIf="orderRequestForm.controls['orderrefid'].errors['maxlength']">
                                                Max length of s2 order number should be {{ orderRequestForm.controls['orderrefid'].errors['maxlength'].requiredLength  }} characters.
                                        </span>                      
                                    </div>
                                </div>
                                </div>
                       
                    </div>                    

                    <p-fieldset legend="Flower Order Details">
                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid childpadding" style="margin: 10px 0px;" formArrayName="aBudItems">
                            <!-- <div class="ui-grid-row">
                          <div class="ui-grid-col-12">
                              A Bud Order Details :
                          </div>
                      </div>                        -->
                      
                        <div style="width: calc(100% - 10px);">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                   Brand <span class="star">*</span>
                                </div>
                                <div class="ui-grid-col-2">
                                    Sub-Brand
                                </div>
                                <div class="ui-grid-col-2">
                                    Strain <span class="star">*</span>
                                </div>
                                <div class="ui-grid-col-2">
                                    Package Type <span class="star">*</span>
                                </div>
                                <div class="ui-grid-col-2">
                                    Package Size {{ globalResource.measure }} <span class="star">*</span>
                                </div>                              
                                <!-- <div class="ui-grid-col-1">
                                        Item Qty <span class="star">*</span>
                                </div> -->
                                <div class="ui-grid-col-1">
                                        Order Qty <span class="star">*</span>
                                </div>
                                <div class="ui-grid-col-1">
                                    Action
                                </div>                            
                            </div>
                            <div *ngFor="let item of getABudItems.controls; let i = index;">
                                <div [formGroupName]="i" class="ui-grid-row">
                                    <div class="ui-grid-col-2">
                                        <p-dropdown 
                                            [filter] ="true"
                                            [options]="ABrands" 
                                            [autoWidth]="false" 
                                            placeholder="Select Brand" 
                                            (onChange)="dropdownOnChange('Brand', item)"
                                            formControlName="brand" 
                                            id="abrand" 
                                            name="abrand">
                                        </p-dropdown>

                                        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                            *ngIf="!item.controls['brand'].valid&&item.controls['brand'].dirty">
                                            <i class="fa fa-close"></i>
    
                                            <span *ngIf="item.controls['brand'].errors['required']">
                                                {{ globalResource.brandrequired }}
                                            </span>
    
                                        </div>
                                    </div>
                                    <div class="ui-grid-col-2">
                                            <p-dropdown   
                                                [filter] ="true"
                                                (onChange)="dropdownOnChange('SubBrand', item)"
                                                [options]="AData | dynamicValueFilter : 'SubBrand':item.get('brand').value " 
                                                [autoWidth]="false" 
                                                placeholder="Select Sub-Brand" 
                                                formControlName="subbrand" 
                                                id="asubbrand" 
                                                name="asubbrand">
                                            </p-dropdown>
                                    </div>
                                    <div class="ui-grid-col-2">
                                        <p-dropdown 
                                            [filter] ="true"
                                            (onChange)="dropdownOnChange('Strain', item)"
                                            [options]="AData | dynamicValueFilter : 'Strain':item.get('brand').value:item.get('subbrand').value "
                                            [autoWidth]="false" 
                                            placeholder="Select Strain" 
                                            formControlName="strain" 
                                            id="astrain" 
                                            name="astrain">
                                        </p-dropdown>

                                        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                            *ngIf="!item.controls['strain'].valid&&item.controls['strain'].dirty">
                                            <i class="fa fa-close"></i>
    
                                            <span *ngIf="item.controls['strain'].errors['required']">
                                                {{ globalResource.strainrequired }}
                                            </span>
    
                                        </div>
                                    </div>

                                    <div class="ui-grid-col-2">
                                        <p-dropdown 
                                            (onChange)="dropdownOnChange('PkgType', item)"
                                            [options]="AData | dynamicValueFilter : 'PackageType':item.get('brand').value:item.get('subbrand').value: item.get('strain').value  "
                                            [autoWidth]="false" 
                                            placeholder="Select Package Type" 
                                            formControlName="packageType"
                                            (onChange)="packageTypeChange('Bud',item)"
                                            id="apkgtype" 
                                            name="apkgtype">
                                        </p-dropdown>

                                        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                            *ngIf="!item.controls['packageType'].valid&&item.controls['packageType'].dirty">
                                            <i class="fa fa-close"></i>
    
                                            <span *ngIf="item.controls['packageType'].errors['required']">
                                                {{ orderRequestResource.pkgtyperequired }}
                                            </span>
    
                                        </div>
                                    </div>

                                    <div class="ui-grid-col-2">
                                        <p-dropdown                                     
                                            [options]="AData | dynamicValueFilter : 'PackageSize':item.get('brand').value:item.get('subbrand').value: item.get('strain').value:item.get('packageType').value "
                                            [autoWidth]="false" 
                                            placeholder="Select Package Size" 
                                            formControlName="packageSize"
                                            id="apkgsize" 
                                            name="apkgsize">
                                        </p-dropdown>
                                        
                                        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                            *ngIf="!item.controls['packageSize'].valid&&item.controls['packageSize'].dirty">
                                            <i class="fa fa-close"></i>
    
                                            <span *ngIf="item.controls['packageSize'].errors['required']">
                                                {{ orderRequestResource.pkgsizerequired }}
                                            </span>
    
                                        </div>
                                    </div>

                                    <!-- <div class="ui-grid-col-1">
                                        <p-dropdown                                             
                                        [options]="AData | dynamicValueFilter : 'ItemQty':item.get('brand').value:item.get('subbrand').value: item.get('strain').value:item.get('packageType').value:item.get('packageSize').value "
                                            [autoWidth]="false" 
                                            placeholder="Item Qty" 
                                            formControlName="itemQty"
                                            id="aitemqty" 
                                            name="aitemqty">
                                        </p-dropdown>

                                        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                            *ngIf="!item.controls['itemQty'].valid&&item.controls['itemQty'].dirty">
                                            <i class="fa fa-close"></i>

                                            <span *ngIf="item.controls['itemQty'].errors['required']">
                                                {{ orderRequestResource.itemqtyrequired }}
                                            </span>

                                        </div>
                                    </div> -->
                                    <!-- [options]="globalData.brandStrainDetails.Table3 | packageSizeOptions:item.get('packageType').value"  -->
                                    <div class="ui-grid-col-1">

                                        <input pInputText
                                            autocomplete="off"
                                            type="number"
                                            min="1" max="1000" 
                                            formControlName="orderQty" 
                                            placeholder="Order Qty"
                                            PositiveIntegers
                                            id="aorderqty"
                                            name="aorderqty"
                                            OnlyNumberWithoutZero="true" 
                                            pKeyFilter="pint"
                                        />

                                        
                                        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                            *ngIf="!item.controls['orderQty'].valid&&item.controls['orderQty'].dirty">
                                            <i class="fa fa-close"></i>
    
                                            <span *ngIf="item.controls['orderQty'].errors['required']">
                                                {{ orderRequestResource.orderqtyrequired }}
                                            </span>
                                            <span *ngIf="item.controls['orderQty'].errors.allowOnlyPositiveInteger">
                                                {{ orderRequestResource.orderqty + ' ' + globalResource.positiveintegersallowed }}
                                            </span>
                                        </div>
                                    </div>

                                   <div class="ui-grid-col-1">
                                      
                                        <a class="copybtn" (click)="copyCurrentItem('aBudItems', item)" *ngIf="item.get('brand').value != ''&&item.get('strain').value != ''">
                                            <span class="fa fa-copy">
                                            </span>
                                        </a>
                                        <!-- <a *ngIf="item.touched && !item.valid" (mouseenter)="op1.show($event)">                                            
                                            <span class="fa fa-info-circle">
                                            </span>
                                        </a> -->
                                       
                                        <a (click)="deleteItem(i,'aBudItems')" id="deleteItem">
                                            <!-- *ngIf="orderRequestForm.get('aBudItems').controls.length > 1"" -->
                                            <span class="fa fa-minus-circle">
                                            </span>
                                        </a>                                       
                                  </div>
                                  <div class="ui-message ui-messages-error  ui-corner-all" appErrorTooltip *ngIf="item.hasError('prototypenotpresent')">
                                        {{ orderRequestResource.prodtypenotpresent }}
                                    <!-- product type is deleted or in active. -->
                                </div>

                                </div>                               
                            </div>
                        </div>
                           <!-- <a class="addbtn" [routerLink]="" (click)="addItem('aBudItems')" *ngIf="orderRequestForm.get('aBudItems').valid">
                                <span class="fa fa-plus-circle">
                                </span>
                            </a>-->  
                             <a class="addLink" [routerLink]="" (click)="addItem('aBudItems')" *ngIf="orderRequestForm.get('aBudItems').valid || this.aBudItems.controls.length == 1">
                                 <span>{{ orderRequestResource.flowerproduct }}</span>
                            </a>                      
                        </div>

                        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip *ngIf="getABudItems.hasError('duplicate')" style="position: sticky;">
                                duplicate entries
                        </div>
                        
                    </p-fieldset>
                    <!-- End A Bud -->

                    <!-- B Joints --> <!-- Joints Order Details -->
                    <p-fieldset legend="Pre-roll Order Details">
                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid childpadding" style="margin: 10px 0px;" formArrayName="bJointsItems">
                            <!-- <div class="ui-grid-row">
                          <div class="ui-grid-col-12">
                             B Joints Order Details :
                          </div>
                      </div>       
                                     -->
                                     <div style="width: calc(100% - 10px);">
                                     <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">
                                           Brand <span class="star">*</span>
                                        </div>
                                        <div class="ui-grid-col-2">
                                            Sub-Brand
                                        </div>
                                        <div class="ui-grid-col-2">
                                            Strain <span class="star">*</span>
                                        </div>
                                        <div class="ui-grid-col-2">
                                            Package Type <span class="star">*</span>
                                        </div>
                                        <div class="ui-grid-col-1 colforres" >
                                            Package Size {{ globalResource.measure }} <span class="star">*</span>
                                        </div>
                                        <div class="ui-grid-col-1">
                                                Item Qty <span class="star">*</span>
                                        </div>
                                        <div class="ui-grid-col-1">
                                            Order Qty <span class="star">*</span>
                                        </div>
                                        <div class="ui-grid-col-1">
                                            Action
                                        </div>
                                       
                                    </div>
                                  
                            <div  *ngFor="let item of getBJointsItems.controls; let i = index;">
                                <div [formGroupName]="i" class="ui-grid-row">
                                    <div class="ui-grid-col-2">
                                        <p-dropdown 
                                            [filter] ="true"
                                            (onChange)="dropdownOnChange('Brand', item)"
                                            [options]="BBrands" 
                                            [autoWidth]="false" 
                                            placeholder="Select Brand"                                           
                                            formControlName="brand" 
                                            id="bbrand" 
                                            name="bbrand">
                                        </p-dropdown>
                                        <!-- (onChange)="BrandOnChange('Joints',item)" -->
                                        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                            *ngIf="!item.controls['brand'].valid&&item.controls['brand'].dirty">
                                            <i class="fa fa-close"></i>

                                            <span *ngIf="item.controls['brand'].errors['required']">
                                                {{ globalResource.brandrequired }}
                                            </span>

                                        </div>
                                    </div>
                                    <div class="ui-grid-col-2">
                                            <p-dropdown     
                                                [filter] ="true"
                                                (onChange)="dropdownOnChange('SubBrand', item)"                                         
                                                [options]="BData | dynamicValueFilter : 'SubBrand':item.get('brand').value " 
                                                [autoWidth]="false" 
                                                placeholder="Select Sub-Brand" 
                                                formControlName="subbrand" 
                                                id="bsubbrand" 
                                                name="bsubbrand">
                                            </p-dropdown>
                                    </div>
                                    <div class="ui-grid-col-2">
                                        <p-dropdown 
                                            [filter] ="true"
                                            (onChange)="dropdownOnChange('Strain', item)"
                                            [options]="BData | dynamicValueFilter : 'Strain':item.get('brand').value:item.get('subbrand').value "
                                            [autoWidth]="false" 
                                            placeholder="Select Strain" 
                                            formControlName="strain" 
                                            id="bstrain" 
                                            name="bstrain">
                                        </p-dropdown>

                                        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                            *ngIf="!item.controls['strain'].valid&&item.controls['strain'].dirty">
                                            <i class="fa fa-close"></i>

                                            <span *ngIf="item.controls['strain'].errors['required']">
                                                {{ globalResource.strainrequired }}
                                            </span>

                                        </div>
                                    </div>

                                    <div class="ui-grid-col-2">
                                        <p-dropdown 
                                            (onChange)="dropdownOnChange('PkgType', item)"
                                            [options]="BData | dynamicValueFilter : 'PackageType':item.get('brand').value:item.get('subbrand').value: item.get('strain').value "
                                            [autoWidth]="false" 
                                            placeholder="Select Package Type" 
                                            formControlName="packageType"
                                            (onChange)="packageTypeChange('Bud',item)"
                                            id="bpkgtype" 
                                            name="bpkgtype">
                                        </p-dropdown>
                                        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                            *ngIf="!item.controls['packageType'].valid&&item.controls['packageType'].dirty">
                                            <i class="fa fa-close"></i>
    
                                            <span *ngIf="item.controls['packageType'].errors['required']">
                                                {{ orderRequestResource.pkgtyperequired }}
                                            </span>
    
                                        </div>
                                    </div>

                                    <div class="ui-grid-col-1 colforres">
                                        <p-dropdown                                             
                                        [options]="BData | dynamicValueFilter : 'PackageSize':item.get('brand').value:item.get('subbrand').value: item.get('strain').value:item.get('packageType').value "
                                            [autoWidth]="false" 
                                            placeholder="Select Package Size" 
                                            formControlName="packageSize"
                                            id="bpkgsize" 
                                            name="bpkgsize">
                                        </p-dropdown>

                                        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                            *ngIf="!item.controls['packageSize'].valid&&item.controls['packageSize'].dirty">
                                            <i class="fa fa-close"></i>

                                            <span *ngIf="item.controls['packageSize'].errors['required']">
                                                {{ orderRequestResource.pkgsizerequired }}
                                            </span>

                                        </div>
                                    </div>
                                    <div class="ui-grid-col-1">
                                        <p-dropdown                                             
                                        [options]="BData | dynamicValueFilter : 'ItemQty':item.get('brand').value:item.get('subbrand').value: item.get('strain').value:item.get('packageType').value:item.get('packageSize').value "
                                            [autoWidth]="false" 
                                            placeholder="Item Qty" 
                                            formControlName="itemQty"
                                            id="bitemqty" 
                                            name="bitemqty">
                                        </p-dropdown>

                                        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                            *ngIf="!item.controls['itemQty'].valid&&item.controls['itemQty'].dirty">
                                            <i class="fa fa-close"></i>

                                            <span *ngIf="item.controls['itemQty'].errors['required']">
                                                {{ orderRequestResource.itemqtyrequired }}
                                            </span>

                                        </div>
                                    </div>
                                    <div class="ui-grid-col-1">

                                        <input pInputText
                                            autocomplete="off"
                                            type="number" 
                                            min="0" max="1000" 
                                            formControlName="orderQty" 
                                            placeholder="Order Qty" 
                                            PositiveIntegers
                                            id="borderqty"
                                            name="borderqty"
                                            OnlyNumberWithoutZero="true"
                                            pKeyFilter="pint"
                                        />
                                        <div class="ui-message ui-messages-error ui-corner-all"  appErrorTooltip
                                        *ngIf="!item.controls['orderQty'].valid&&item.controls['orderQty'].dirty">
                                            <i class="fa fa-close"></i>

                                            <span *ngIf="item.controls['orderQty'].errors['required']">
                                                {{ orderRequestResource.orderqtyrequired }}
                                            </span>

                                            <span *ngIf="item.controls['orderQty'].errors.allowOnlyPositiveInteger">
                                                {{ orderRequestResource.orderqty + ' ' + globalResource.positiveintegersallowed }}
                                            </span>
                                        </div>
                                    </div>

                                   <div class="ui-grid-col-1"> 
                                      
                                        <a class="copybtn" (click)="copyCurrentItem('bJointsItems', item)" *ngIf="item.get('brand').value != ''&&item.get('strain').value != ''">
                                            <span class="fa fa-copy">
                                            </span>
                                        </a>
                                        <!-- <a *ngIf="item.touched && !item.valid" (mouseenter)="op2.show($event)">                                            
                                            <span class="fa fa-info-circle">
                                            </span>
                                        </a> -->
                                      
                                        <a (click)="deleteItem(i,'bJointsItems')" >
                                            <!-- *ngIf="orderRequestForm.get('bJointsItems').controls.length > 1" -->
                                            <span class="fa fa-minus-circle">
                                            </span>
                                        </a>
                                       
                                      
                                 </div> 
                                 <div class="ui-message ui-messages-error  ui-corner-all" appErrorTooltip *ngIf="item.hasError('prototypenotpresent')">
                                        {{ orderRequestResource.prodtypenotpresent }}
                                    <!-- product type is deleted or in active. -->
                                </div>
                                 </div>                                 
                            </div>
                        </div>
                           <!-- <a class="addbtn"  style="margin-right: -14px;" (click)="addItem('bJointsItems')" *ngIf="orderRequestForm.get('bJointsItems').valid">
                                <span class="fa fa-plus-circle">
                                </span>
                            </a>-->
                            <a class="addLink" [routerLink]="" (click)="addItem('bJointsItems')" *ngIf="orderRequestForm.get('bJointsItems').valid || this.bJointsItems.controls.length == 1">
                                    <span>{{orderRequestResource.prerollproduct}}</span>
                               </a> 
                            

                        </div>
                        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip *ngIf="getBJointsItems.hasError('duplicate')">
                                duplicate entries
                        </div>
                    </p-fieldset>
                    <!-- End B Joints -->

                    <!-- C Oil -->
                    <p-fieldset legend="Oil Order Details">
                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid childpadding" style="margin: 10px 0px;" formArrayName="cOilItems">
                            <!-- <div class="ui-grid-row">
                          <div class="ui-grid-col-12">
                             C Oil Order Details :
                          </div>
                      </div>                        -->
                      <div style="width: calc(100% - 10px);">
                      <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                               Brand <span class="star">*</span>
                            </div>
                            <div class="ui-grid-col-2">
                                Sub-Brand
                            </div>
                            <div class="ui-grid-col-2">
                                Strain <span class="star">*</span>
                            </div>
                            <div class="ui-grid-col-2">
                                Package Type <span class="star">*</span>
                            </div>
                            <div class="ui-grid-col-2">
                                Package Size {{ globalResource.measure }} <span class="star">*</span>
                            </div>
                            <!-- <div class="ui-grid-col-1">
                                    Item Qty <span class="star">*</span>
                            </div> -->
                            <div class="ui-grid-col-1">
                                Order Qty <span class="star">*</span>
                            </div>
                            <div class="ui-grid-col-1">
                                Action
                            </div>                           
                        </div>
                            <div  *ngFor="let item of getCOilItems.controls; let i = index;">
                                <div [formGroupName]="i" class="ui-grid-row">
                                    <div class="ui-grid-col-2">
                                        <p-dropdown 
                                            [filter] ="true"
                                            (onChange)="dropdownOnChange('Brand', item)"
                                            [options]="CBrands" 
                                            [autoWidth]="false" 
                                            placeholder="Select Brand"                                             
                                            formControlName="brand" 
                                            id="cbrand" 
                                            name="cbrand">
                                        </p-dropdown>
                                        <!-- (onChange)="BrandOnChange('Oil',item)" -->
                                        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                            *ngIf="!item.controls['brand'].valid&&item.controls['brand'].dirty">
                                            <i class="fa fa-close"></i>

                                            <span *ngIf="item.controls['brand'].errors['required']">
                                                {{ globalResource.brandrequired }}
                                            </span>
                                        </div>                                        
                                    </div>
                                    <div class="ui-grid-col-2">
                                            <p-dropdown    
                                                [filter] ="true"  
                                                (onChange)="dropdownOnChange('SubBrand', item)"                                           
                                                [options]="CData | dynamicValueFilter : 'SubBrand':item.get('brand').value " 
                                                [autoWidth]="false" 
                                                placeholder="Select Sub-Brand" 
                                                formControlName="subbrand" 
                                                id="csubbrand" 
                                                name="csubbrand">
                                            </p-dropdown>
                                    </div>
                                    <div class="ui-grid-col-2">
                                        <p-dropdown 
                                            [filter] ="true"
                                            (onChange)="dropdownOnChange('Strain', item)"
                                            [options]="CData | dynamicValueFilter : 'Strain':item.get('brand').value:item.get('subbrand').value "
                                            [autoWidth]="false" 
                                            placeholder="Select Strain"                                            
                                            formControlName="strain" 
                                            id="cstrain" 
                                            name="cstrain">
                                        </p-dropdown>
                                        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                            *ngIf="!item.controls['strain'].valid&&item.controls['strain'].dirty">
                                            <i class="fa fa-close"></i>

                                            <span *ngIf="item.controls['strain'].errors['required']">
                                                {{ globalResource.strainrequired }}
                                            </span>

                                        </div>
                                    </div>

                                    <div class="ui-grid-col-2">
                                        <p-dropdown 
                                            (onChange)="dropdownOnChange('PkgType', item)"
                                            [options]="CData | dynamicValueFilter : 'PackageType':item.get('brand').value:item.get('subbrand').value: item.get('strain').value "
                                            [autoWidth]="false" 
                                            placeholder="Select Package Type" 
                                            formControlName="packageType"
                                            (onChange)="packageTypeChange('Bud',item)"
                                            id="cpkgtype" 
                                            name="cpkgtype">
                                        </p-dropdown>
                                        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                            *ngIf="!item.controls['packageType'].valid&&item.controls['packageType'].dirty">
                                            <i class="fa fa-close"></i>
    
                                            <span *ngIf="item.controls['packageType'].errors['required']">
                                                {{ orderRequestResource.pkgtyperequired }}
                                            </span>
    
                                        </div>
                                    </div>

                                    <div class="ui-grid-col-2">
                                        <p-dropdown                                             
                                        [options]="CData | dynamicValueFilter : 'PackageSize':item.get('brand').value:item.get('subbrand').value: item.get('strain').value:item.get('packageType').value "
                                            [autoWidth]="false" 
                                            placeholder="Select Package Size" 
                                            formControlName="packageSize"
                                            id="cpkgsize" 
                                            name="cpkgsize">
                                        </p-dropdown>

                                        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                            *ngIf="!item.controls['packageSize'].valid&&item.controls['packageSize'].dirty">
                                            <i class="fa fa-close"></i>

                                            <span *ngIf="item.controls['packageSize'].errors['required']">
                                                {{ orderRequestResource.pkgsizerequired }}
                                            </span>
                                        </div>
                                    </div>
                                    <!-- <div class="ui-grid-col-1">
                                        <p-dropdown                                             
                                        [options]="CData | dynamicValueFilter : 'ItemQty':item.get('brand').value:item.get('subbrand').value: item.get('strain').value:item.get('packageType').value:item.get('packageSize').value "
                                            [autoWidth]="false" 
                                            placeholder="Item Qty" 
                                            formControlName="itemQty"
                                            id="citemqty" 
                                            name="citemqty">
                                        </p-dropdown>
                                        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                            *ngIf="!item.controls['itemQty'].valid&&item.controls['itemQty'].dirty">
                                            <i class="fa fa-close"></i>

                                            <span *ngIf="item.controls['itemQty'].errors['required']">
                                                {{ orderRequestResource.itemqtyrequired }}
                                            </span>

                                        </div>
                                    </div> -->
                                    <div class="ui-grid-col-1">

                                        <input pInputText
                                            autocomplete="off"
                                            type="number" 
                                            min="0" max="1000" 
                                            formControlName="orderQty" 
                                            placeholder="Order Qty" 
                                            PositiveIntegers
                                            id="corderqty"
                                            name="corderqty"
                                            OnlyNumberWithoutZero="true" 
                                            pKeyFilter="pint"
                                        />

                                        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                            *ngIf="!item.controls['orderQty'].valid&&item.controls['orderQty'].dirty">
                                            <i class="fa fa-close"></i>

                                            <span *ngIf="item.controls['orderQty'].errors['required']">
                                                {{ orderRequestResource.orderqtyrequired }}
                                            </span>

                                            <span *ngIf="item.controls['orderQty'].errors.allowOnlyPositiveInteger">
                                                {{ orderRequestResource.orderqty + ' ' + globalResource.positiveintegersallowed }}
                                            </span>
                                        </div>
                                    </div>
                                   <div class="ui-grid-col-1"> 
                                       <span>
                                           
                                          
                                            <a class="copybtn" (click)="copyCurrentItem('cOilItems', item)" *ngIf="item.get('brand').value != ''&&item.get('strain').value != ''">
                                                <span class="fa fa-copy">
                                                </span>
                                            </a>
                                            <!-- <a *ngIf="item.touched && !item.valid" (mouseenter)="op2.show($event)">
                                                
                                                <span class="fa fa-info-circle">
                                                </span>
                                            </a> -->

                                       </span>
                                      
                                       <a (click)="deleteItem(i,'cOilItems')" >
                                        <!-- *ngIf="orderRequestForm.get('cOilItems').controls.length > 1" -->
                                        <span class="fa fa-minus-circle">
                                        </span>
                                    </a>
                                 

                                       </div>

                                    <div class="ui-message ui-messages-error  ui-corner-all" appErrorTooltip *ngIf="item.hasError('prototypenotpresent')">
                                            {{ orderRequestResource.prodtypenotpresent }}
                                        <!-- product type is deleted or in active. -->
                                    </div>
                                       
                                    </div>                                   
                            </div>

                            </div>
                           <!-- <a class="addbtn" (click)="addItem('cOilItems')" id="addbtn" *ngIf="orderRequestForm.get('cOilItems').valid">
                                <span class="fa fa-plus-circle">
                                </span>
                            </a>-->

                            <a class="addLink" [routerLink]="" (click)="addItem('cOilItems')" *ngIf="orderRequestForm.get('cOilItems').valid || this.bJointsItems.controls.length == 1">
                                    <span>{{orderRequestResource.oilproduct}}</span>
                               </a>
                             
                        </div>
                        
                        <div class="ui-message ui-messages-error  ui-corner-all" appErrorTooltip *ngIf="getCOilItems.hasError('duplicate')">
                                duplicate entries
                        </div>
                    </p-fieldset>
                    <!-- End C Oil -->
                    <div class="ui-g-12 ui-md-12" style="text-align:right;">
                        <ul class="list-inline">
                            <li>
                                <button pButton type="submit" label="Create Order" ></button>
                            </li>

                            <li *ngIf="!DraftOrderId">
                                <button class="ui-button-secondary"
                                pButton 
                                type="button" 
                                label="{{orderRequestResource.savedraft}}"
                                (click)="saveDraftOrder(orderRequestForm.value)">
                                </button>
                            </li>

                            <li *ngIf="DraftOrderId > 0">
                                <button pButton 
                                class="ui-button-secondary"
                                type="button" 
                                label="{{orderRequestResource.savedraft}}" 
                                (click)="saveDraftOrder(orderRequestForm.value)">
                                </button>
                            </li>

                            <li *ngIf="DraftOrderId > 0">
                                <button  pButton 
                                class="ui-button-secondary"
                                 type="button"
                                  label="Discard"
                                  (click)="removeOrderDraft()">
                                </button>
                            </li>

                            <li style="vertical-align: bottom;">
                                <a [routerLink]="" class="btn-link" (click)="resetForm()" >{{orderRequestResource.clear}}</a>
                            </li>
                        </ul>
                       
                        <!-- add draft button to save order in draft -->
                        

                        
                       
                        <!-- [disabled]="!orderRequestForm.valid" -->
                       <!-- <button pButton (click)="resetForm()" type="button" label="Clear" class="ui-button-secondary">
                        </button>-->
                      
                    </div>
                    <div class="clear"></div>

                </form>

                <!-- <div style="text-align:center;margin-top:20px" *ngIf="submitted" >
                Form Submitted
                <br>
                {{diagnostic}}
            </div> -->
            </p-panel>
            <p-growl [(value)]="msgs" life='5000'></p-growl>
        </div>
    </div>
</div>

<p-confirmDialog class="clsConfirmBox" header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog> 


<p-confirmDialog  
    class="clsConfirmBox" 
    header="Confirmation" 
    key="draftconfirm" 
    icon="fa fa-question-circle" 
    acceptIcon="fa-close"
    width="425" #cd>
</p-confirmDialog>

<!-- delete order draft -->
<p-confirmDialog 
key="draftdelete"
class="clsConfirmBox" 
header="Confirmation" 
icon="fa fa-question-circle" 
width="425">
</p-confirmDialog> 