<div class="contrast-blue contrast-background" style="height:30px;"></div>
<div class="container whiteBG" style="max-width:100%;height: 95vh;">

    <div class='container containerLogo'>
        <div class='row'>
            <div class='col-sm-12' >
                <div class='text-center'>
                    <div class="image-wrapper" style="margin: 30px 0px 15px 0px;">
                        <!-- style="margin: 30px 0px 50px 0px;" -->
                        <!-- style="margin: 30px 0px 15px 0px;" -->
                        <!-- <img src="assets/img/ThingBluLogoWithBlack-06.png" class="img-responsive imgResCenter" alt=""> -->
                        <img src="assets/img/HWG1.png" class="img-responsive imgResCenter" alt="" width="200" height="70" >
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='row justify-content-center' >
        <div class='col-md-5 col-sm-12' >
            <form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="onSubmit(loginForm.value)">

                <span style="color: red" *ngIf="isUnAuthenticatedLogin==true">* {{ loginResources.accountAlreadyLoggedInMsg }}
                    <a class="links" id="btn_brandshow" name="btnshow" style="color: blue;cursor: pointer;" (click)="clickhere()">
                        {{ loginResources.clickHere }}
                    </a>
                </span>

                <div class="ui-g">
                    <div class="ui-g-12" *ngIf="isUnAuthenticatedLogin==true">
                        <div class="ui-message ui-messages-info .ui-corner-all">
                            <table width="100%">
                                <tr>
                                    <td width="60%">

                                        <h5 class="first">{{ loginResources.loggedInDeviceList }}</h5>
                                    </td>
                                    <td width="40%" align="right">
                                        <p-button type="button" (click)="onSignOutAllClick(signOutID)" label="Sign out all"
                                            id="btnSignOut" name="btnSignOut"></p-button>
                                    </td>
                                </tr>
                            </table>
                            <p-table [columns]="cols" [value]="deviceDetails" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th>{{loginResources.tblDeviceName }}</th>
                                        <th>{{loginResources.tblBrowserName }}</th>
                                        <th>{{loginResources.tblIPAddress }}</th>
                                        <th>{{loginResources.tblLoginDate }}</th>
                                        <th>{{loginResources.tblLoginDateTime }}</th>
                                        <th style="width:30px;">
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                    <tr>
                                        <td>{{rowData?.DeviceName}}</td>
                                        <td>{{rowData?.BrowserName}}</td>
                                        <td>{{rowData?.IpAddress}}</td>
                                        <td>{{rowData?.LogInTime | date: 'dd/MM/yyyy'}}</td>
                                        <td>{{rowData?.LogInTime | date: 'hh:mm a'}}</td>
                                        <td style="width:65px;">
                                            <span class="ui-menuitem-icon fa fa-fw fa-sign-out ng-star-inserted"
                                                ng-reflect-klass="ui-menuitem-icon fa fa-fw" ng-reflect-ng-class="fa-sign-out"
                                                (click)="onSignOutClick(rowData?.Id)" style="cursor: pointer;" tooltip
                                                title="Sign out">
                                            </span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                    <div class="ui-g-12" *ngIf="isUnAuthenticatedLogin!==true" >
                        <div class="paddingRL">
                            <label>{{ loginResources.username }}</label>
                            <div class="clear"></div>

                            <input id="username" readonly 
                            onfocus="this.removeAttribute('readonly');" formControlName="username" type="text" pInputText />
                            <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip *ngIf="!loginForm.controls['username'].valid&&loginForm.controls['username'].dirty">
                                {{loginResources.usernameRequired}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui-g" *ngIf="isUnAuthenticatedLogin!==true" >
                    <div class="ui-g-12">
                        <div class="paddingRL">
                            <label>{{loginResources.password}}</label>
                            <div class="clear"></div>
                            <input type="password"  readonly 
                            onfocus="this.removeAttribute('readonly');"  pPassword formControlName="password" [feedback]="false" />

                            <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip *ngIf="!loginForm.controls['password'].valid&&loginForm.controls['password'].dirty">
                                <span *ngIf="loginForm.controls['password'].errors['required']">{{loginResources.passwordRequired}}</span>
                                <span *ngIf="loginForm.controls['password'].errors['minlength']">{{loginResources.passwordLength}}</span>
                                <span *ngIf="loginForm.controls['password'].hasError('maxlength')">{{loginResources.passwordMaxLength}}</span>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="ui-g" *ngIf="isUnAuthenticatedLogin!==true">
                    <div class="ui-g-12">
                        <div class="paddingRL text-center" style="margin-bottom: 30px;">
                            <button pButton type="submit" name="btnLogin" label="Sign In"></button>
                            <!-- [disabled]="!loginForm.valid" -->
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="isAuthenticated==false"
                                appErrorTooltip>
                                <span>{{adusernamepassword}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Footer -->

    <div style="text-align: center;" *ngIf="isUnAuthenticatedLogin!==true">
        <a class="links" id="btn_brandshow" name="btnshow" routerLink="/forgotpassword">
           {{ loginResources.iForgotMyPassword }}
        </a>
    </div> 
    <div class="footer footerBottom login-container-footer ng-scope" ui-view="mainFooter">
        <div class="ui-grid ui-grid-responsive">
            <div class="col-sm-12">
                <div style="color: #2D4A9B;text-align: center;font-size: 10px;font-weight: 500;">{{ loginResources.poweredBy }}</div>
                <img style="margin: 0px auto 5px auto;display: block;width: 125px;" src="assets/img/ThingBluLogoWithBlack-06.png"
                    alt="ThingBlu - Harvesting Insights from Your Data">
            </div>
        </div>
        <div class="contrast-blue contrast-background" style="height:30px;"></div>
    </div>

    <!-- End Footer -->