<div class="ui-g">
    <div class="ui-g-12">
        <p-panel header="{{ oilReturnProcessingResource.pageheading }}">
            <form [formGroup]="oilReturnProcessorForm" (ngSubmit)="submitOilReturnDetails(oilReturnProcessorForm.value)">
                <!-- <p-fieldset legend="Return Oil Details"> -->

                <div class="ui-grid-row">
                    <!-- Processor -->
                    <div class="ui-g-8 ui-md-6 ui-lg-3" style="height: 72px;">
                        <div class="paddingRL">
                            <label> {{ oilReturnProcessingResource.thirdpartyprocessor }} : </label>

                            <p-dropdown (onChange)="processorOnChange()" [options]="processors" [autoWidth]="true" placeholder="Select Processor" formControlName="processor" class="clsControl"
                                id="processor" name="processor">
                            </p-dropdown>

                            <div
                                class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                *ngIf="!oilReturnProcessorForm.controls['processor'].valid&&oilReturnProcessorForm.controls['processor'].dirty">
                                <span *ngIf="oilReturnProcessorForm.controls['processor'].errors['required']">
                                        {{ oilReturnProcessingResource.thirdpartyprocessor }} {{globalResource.isrequiredmsg }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- End Processor -->

                    <!-- Oil Return Date -->
                    <div class="ui-g-12 ui-md-6 ui-lg-3" style="height: 72px;">
                        <div class="paddingRL">
                        <label>{{ oilReturnProcessingResource.oilreturndate }}<span class="star">*</span> </label> :                                                            
                            <p-calendar                                                            
                                [showIcon]="true"                                     
                                formControlName="oilReturnDate"
                                [ngModel]="defaultDate"
                                [maxDate]="defaultDate"
                                class="clsControl"
                                id="oilReturnDate"
                                name="oilReturnDate" 
                            >
                        </p-calendar>  
                        <div class="clear"></div>
                        <div
                                class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                *ngIf="!oilReturnProcessorForm.controls['oilReturnDate'].valid&&oilReturnProcessorForm.controls['oilReturnDate'].dirty">
                                <span *ngIf="oilReturnProcessorForm.controls['oilReturnDate'].errors['required']">
                                    {{ oilReturnProcessingResource.oilreturnrequired }}
                                </span>                      
                            </div>
                        </div>
                    </div> 
                    <!-- End Oil Return Date -->

                    <!-- Expected Yield -->
                    <div class="ui-g-12 ui-md-6 ui-lg-2" style="height: 72px;">
                            <div class="paddingRL twocnt">                                       
                                <label class="" for="lblExpYield">{{ oilReturnProcessingResource.expyieldpercent }} :</label>                                            
                                  <div class="clear"></div>
                                  <span class="lblText" id="lblExpYield">{{ tpPrcsrDetails.expYieldPercent }}</span>                                           
                            </div>  
                    </div>
                    <!-- End Expected Yield -->

                    <!-- Payment Mode -->
                    <div class="ui-g-12 ui-md-6 ui-lg-2" style="height: 72px;">
                        <div class="paddingRL">
                            <label for="paymentMode">{{ oilReturnProcessingResource.paymentmode }}<span class="star">*</span></label> :
                            <div class="clear"></div>
                            <p-dropdown
                                [filter] ="true"
                                [options]="paymentMode"
                                (onChange)="paymentModeOnChange()"
                                placeholder="-- Select --"                              
                                [autoWidth]="true"
                                formControlName="paymentMode"
                                class="clsControl"
                                id="paymentMode"
                                name="paymentMode">
                            </p-dropdown>
                            <div
                            class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                            *ngIf="!oilReturnProcessorForm.controls['paymentMode'].valid&&oilReturnProcessorForm.controls['paymentMode'].dirty">
                            
                                <span *ngIf="oilReturnProcessorForm.controls['paymentMode'].errors['required']">
                                {{ oilReturnProcessingResource.paymentmoderequired }}
                                </span>                      
                            </div>                    
                        </div>
                    </div>
                    <!-- End Payment Mode -->

                    <div class="ui-g-12 ui-md-6 ui-lg-2" style="height: 72px;">
                        <div class="paddingRL" *ngIf="this.selectedPaymentKey == 'MONEY'">
                            <label for="paymentMode">{{ oilReturnProcessingResource.payment }} <span class="star">*</span></label> :
                            <div class="clear"></div>

                            <input type="text" 
                                pInputText 
                                pKeyFilter="money"
                                placeholder="Money"
                                formControlName="paymentMoney"
                                class="clsControl"
                                id="strain" 
                                name="strain"
                            >

                            <div
                                class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                *ngIf="!oilReturnProcessorForm.controls['paymentMoney'].valid&&oilReturnProcessorForm.controls['paymentMoney'].dirty">
                            
                                <span *ngIf="oilReturnProcessorForm.controls['paymentMoney'].errors['required']">
                                {{ oilReturnProcessingResource.paymentmoneyrequired }}
                                </span>                      
                            </div>                    
                        </div>
                        <div class="paddingRL" *ngIf="this.selectedPaymentKey == 'MATERIAL'">                            
                            <label class="" for="lblMaterialPercent">{{ oilReturnProcessingResource.materialpercent }}</label>                                            
                            <div class="clear"></div>

                            <span class="lblText" id="lblMaterialPercent">{{ tpPrcsrDetails.materialPaymant }}</span>                 
                        </div>
                    </div>                   
                </div>

                <div formArrayName="items" style="position: relative">
                      <div style="width:calc(100% - 20px);float:left;">
                        <p-table [value]="oilReturnProcessorFormArray?.controls" id="tblOilInwordDetails" name="tblOilInwordDetails">
                            <ng-template pTemplate="header">
                                <tr>                                   
                                    <th>{{globalResource.strain}}</th>
                                    <th>{{oilReturnProcessingResource.pkgtype}}</th>
                                    <th>{{oilReturnProcessingResource.pkgsize}} {{ globalResource.measure }}</th>  
                                    <th>{{ oilReturnProcessingResource.pkgreturnqty }}</th>
                                    <th>{{ globalResource.lot }}</th>
                                    <th>{{ globalResource.pkgcode }}</th>
                                    <th style="width: 30px;"></th>                             
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item let-i="rowIndex" >
                                <tr [formGroupName]="i">
                                    <td> <!--Strain -->
                                        <p-dropdown 
                                            (onChange)="clearLotSelection(item,i,'STRAIN')"
                                            [options]="strains" 
                                            [autoWidth]="false" 
                                            placeholder="-- Select --" 
                                            formControlName="strain" 
                                            class="clsControl"
                                            id="strain" 
                                            name="strain">
                                        </p-dropdown>

                                        <div
                                            class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                            *ngIf="!item.controls['strain'].valid&&item.controls['strain'].dirty">
                                            <span *ngIf="item.controls['strain'].errors['required']">
                                                    {{ globalResource.strain }} {{globalResource.isrequiredmsg }}
                                            </span>
                                        </div>
                                    </td> <!--End Strain -->

                                    <td> <!--Package Type -->
                                        <p-dropdown                                             
                                            [options]="pkgtypes" 
                                            [autoWidth]="false" 
                                            placeholder="-- Select --" 
                                            formControlName="pkgtype" 
                                            id="pkgtype" 
                                            class="clsControl"
                                            name="pkgtype">
                                        </p-dropdown>
                                        
                                        <div
                                            class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                            *ngIf="!item.controls['pkgtype'].valid&&item.controls['pkgtype'].dirty">
                                            <span *ngIf="item.controls['pkgtype'].errors['required']">
                                                    {{ oilReturnProcessingResource.pkgtype }} {{globalResource.isrequiredmsg }}
                                            </span>
                                            <span *ngIf="item.controls['pkgtype'].hasError('pkgtypenotexist')">
                                                    {{ oilReturnProcessingResource.pkgtypenotexist }}
                                            </span>
                                        </div>
                                    </td> <!--End Package Type -->
                          
                                    <td> <!--Package Unit -->
                                        <input 
                                            pInputText 
                                            autocomplete="off"
                                            id="pkgsize" 
                                            name="pkgsize" 
                                            type="number" 
                                            pKeyFilter="num"
                                            OnlyNumber="true"
                                            [AllowZero]="false"
                                            formControlName="pkgsize" 
                                            class="clsControl" 
                                        />

                                        <div
                                            class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                            *ngIf="!item.controls['pkgsize'].valid&&item.controls['pkgsize'].dirty">
                                            <span *ngIf="item.controls['pkgsize'].errors['required']">
                                                    {{ oilReturnProcessingResource.pkgsize }} {{globalResource.isrequiredmsg }}
                                            </span>
                                        </div>
                                    </td> <!--End Package Unit -->

                                    <td>  <!--Package Return Qty -->
                                        <input 
                                            pInputText 
                                            autocomplete="off"
                                            id="pkgreturnqty" 
                                            pKeyFilter="int"
                                            type="number" 
                                            formControlName="pkgreturnqty" 
                                            class="clsControl" 
                                        >

                                        <div
                                            class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                            *ngIf="!item.controls['pkgreturnqty'].valid&&item.controls['pkgreturnqty'].dirty">
                                            <span *ngIf="item.controls['pkgreturnqty'].errors['required']">
                                                    {{ oilReturnProcessingResource.pkgreturnqty }} {{globalResource.isrequiredmsg }}
                                            </span>
                                        </div>
                                    </td>  <!--End Package Return Qty -->
                                    
                                    <td> <!-- Selected Lot -->
                                        <ul *ngIf="selectedLotsArray[i]" class="taglist">
                                            <li *ngFor="let data of selectedLotsArray[i]">
                                                {{ data?.GrowerLotNo }}

                                                <!-- Added by Devdan :: 20-Nov-2018 :: Adding Comnent popup -->
                                                <app-lot-comment
                                                    [LotId]="data?.LotNo"
                                                    [LotCommentsCount]="data?.LotNoteCount"
                                                    (CommentIconClicked)="commentIconClicked($event)"
                                                ></app-lot-comment>

                                                <app-lot-note-icon
                                                    [LotId]="data?.LotNo"                                                
                                                    (NoteIconClicked)="showLotNote($event)"
                                                ></app-lot-note-icon>
                                            </li>
                                        </ul>
                                        <div class="clear"></div>
                                        <a class="btn-link" 
                                            [routerLink]="" 
                                            (click)="openLotSelection(item, i)">
                                                Select Lots
                                        </a>
                                    </td> <!-- End Selected Lot -->                         
                                   
                                    <td>  <!-- Package Code -->
                                        <input 
                                            type="text" 
                                            pInputText 
                                            autocomplete="off"
                                            (change)="clearLotSelection(item,i,'PKGCODE')"
                                            pKeyFilter="alphanum" 
                                            placeholder="Package Code" 
                                            formControlName="packageCode" 
                                            id="packageCode"
                                            name="packageCode"
                                            class="clsControl"
                                        />

                                        <div
                                            class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                            *ngIf="!item.controls['packageCode'].valid&&item.controls['packageCode'].dirty">
                                            <span *ngIf="item.controls['packageCode'].errors['required']">
                                                    {{ globalResource.pkgcode }} {{globalResource.isrequiredmsg }}
                                            </span>
                                            <span *ngIf="item.controls['packageCode'].hasError('duplicatepkgcode')">
                                                {{ oilReturnProcessingResource.duplicatePackageCode }}
                                            </span>
                                        </div>
                                    </td> <!-- End Package Code -->      
                                    <!-- Remove Row Entry -->
                                    <td>
                                        <a (click)="deleteItem(i)" >                                                    
                                            <span style="font-size: 1.4rem;" class="fa fa-minus-circle">
                                            </span>
                                        </a>   
                                    </td>
                                    <!-- End of Remove Row Entry -->
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                              <tr>
                                  <td [attr.colspan]="7">
                                     {{ globalResource.norecordsfound }}
                                  </td>
                              </tr>
                            </ng-template>
                        </p-table>
                    </div>

                        <div style="position: absolute;right: 0px;bottom: 42px;">
                            <a (click)="addItem()">
                                <span class="fa fa-plus-circle" style="font-size: 1.4rem;">
                                </span>
                            </a>
                            <!-- <button pButton type="button" (click)="addItem()" icon="fa-plus-circle" label="Add"></button> -->
                        </div>

                    <div class="ui-g" style="width:100%;text-align:right;">
                        <div class="ui-g-12">
                            <button pButton type="submit" label="Save" ></button>
                            <!-- [disabled]="!oilReturnProcessorForm.valid" -->
                            <button 
                                pButton 
                                (click)="resetForm()" 
                                type="button" 
                                label="Clear" 
                                class="ui-button-secondary">
                            </button>
                        </div>
                    </div>

                </div>
                <!-- </p-fieldset> -->
            </form>

            <p-dialog header="Select Lots" [(visible)]="showLotSelectionModel" modal="modal" [resizable]="true" [responsive]="true" [width]="600"
                [minWidth]="300" [blockScroll]="true">

                <form [formGroup]="lotSelectionForm" (ngSubmit)="submitLotSelection(lotSelectionForm.value)" formSubmit>
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

                        <div class="ui-g">

                            <div class="ui-g-12 ui-md-6">
                                <label>
                                    <strong>Package Code</strong>
                                </label>

                                <label>
                                    {{selPkgCodeDetails.PackageCode}}
                                </label>
                            </div>

                            <div class="ui-g-12 ui-md-6">
                                <label>
                                    <strong>Package Returned Wt.</strong>
                                </label>

                                <label>
                                    {{selPkgCodeDetails.PkgReturnWt}} {{globalResource.listgramunit}}
                                </label>
                            </div>

                        </div>
                        <div formArrayName="arrLotList">
                            <p-table [value]="LotListFormArray?.controls">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th  style="width:230px;">Lot No</th>
                                        <th>Transfer Wt</th>
                                        <th>Oil Material Processed Wt</th>
                                        <th>Oil Returned Wt</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-lotDetails let-i="rowIndex">
                                    <tr [formGroupName]="i">
                                        <td style="width:230px;">
                                            <p-checkbox 
                                                label="{{ lotDetails.value.GrowerLotNo  }}" 
                                                formControlName="lotno" 
                                                (ngModelChange)="changeValidator($event, i)"
                                                binary="true">
                                            </p-checkbox>

                                            <!-- Added by Devdan :: 20-Nov-2018 :: Adding Comnent popup -->
                                            <app-lot-comment
                                                [LotId]="lotDetails.value.LotId"
                                                [LotCommentsCount]="lotDetails.value.LotNoteCount"
                                                (CommentIconClicked)="commentIconClicked($event)"
                                            ></app-lot-comment>

                                            <app-lot-note-icon 
                                                [LotId]="lotDetails.value.LotId" 
                                                (NoteIconClicked)="showLotNote($event)">
                                            </app-lot-note-icon>

                                        </td>
                                        <td> {{ lotDetails.value.transferwt }} {{globalResource.listgramunit}}</td>
                                        <td>
                                            <input 
                                                type="number" 
                                                pKeyFilter="num"
                                                OnlyNumber="true"
                                                [AllowZero]="false"
                                                (ngModelChange)="changeValidator(lotDetails.value.lotno, i)" 
                                                pInputText 
                                                autocomplete="off"
                                                formControlName="oilprocessedwt"
                                                id="oilprocessedwt" 
                                                name="oilprocessedwt" 
                                                style="width:100%;" />
                                        </td>
                                        <td>
                                            <input 
                                                type="number"
                                                pKeyFilter="num"
                                                OnlyNumber="true"
                                                [AllowZero]="false" 
                                                (ngModelChange)="changeValidator(lotDetails.value.lotno, i)" 
                                                pInputText 
                                                autocomplete="off"
                                                formControlName="oilreturnedwt"
                                                id="oilreturnedwt" 
                                                name="oilreturnedwt" 
                                                style="width:100%;" />
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage" let-columns>
                                    <tr>
                                        <td [attr.colspan]="3">
                                            Sorry, No lot is present against "{{ SelLotBrandStrainRow?.StrainName }}".
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>

                    </div>
                    <!-- <p-footer class="text-right"> -->
                       
                            <div class="text-right">
                                    <button 
                                    type="submit" 
                                    pButton icon="fa-check" 
                                    label="Confirm" 
                                >
                                </button>                       
                                <button 
                                    type="button" 
                                    pButton 
                                    icon="fa-close" 
                                    (click)="showLotSelectionModel=false" 
                                    label="Cancel">
                                </button>
                            </div>
                       
                    <!-- </p-footer> -->
                </form>
            </p-dialog>            
        </p-panel>
    </div>
</div>
<p-growl [(value)]="msgs" life='5000'></p-growl>
<app-lot-note [Lot]="lotInfo" *ngIf="lotInfo?.showLotNoteModal" (NoteSaved)="OnNoteSave($event)" ></app-lot-note> 
<app-popup-lot-comment [Lot]="lotInfo" *ngIf="lotInfo?.showLotCommentModal" (CommentSaved)="OnCommentSaved($event)">
    </app-popup-lot-comment>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" class="clsConfirmBox" ></p-confirmDialog> 