<p-dialog 
header="Lot Inventory Details" 
[(visible)]="LotInfo.showLotInventoryModal" 
modal="modal" 
[resizable]="true" 
[responsive]="true" 
[width]="620" 
[minWidth]="200" 
class="notecontrol"
(onHide)="cancelLotNoteModal()"
>

            <div class="ui-g " >
                 <div class="ui-g-12 ui-md-6">
                    <div class="paddingRL">
  
                        <label>
                            <strong>{{ globalResource.lotno }}:  </strong>
                          </label>
                
                          <label>
                              {{ getLotDetails?.GrowerLotNo}}
                          </label>
                   </div>
                </div>
                <div class="ui-g-12 ui-md-6">
                  <div class="paddingRL">
                        <label>
                          <strong>{{lotinventoryResource.startweight }}: </strong>
                        </label>
              
                        <label>
                            {{ getLotDetails?.StartWeight}} {{globalResource.measure}}
                        </label>
                  </div>
  
                </div>
                <div class="ui-g-12 ui-md-6">
                    <div class="paddingRL">
                      <label>
                        <strong>{{lotinventoryResource.wasteweight }}: </strong>
                      </label>
            
                      <label>
                          {{ getLotDetails?.WasteWeight}} {{globalResource.measure}}
                      </label>
                    </div>
                 </div>

                 <div class="ui-g-12 ui-md-6">
                    <div class="paddingRL">
                      <label>
                        <strong>{{lotinventoryResource.Orderedprocesswt}} :</strong>
                      </label>
            
                      <label>
                          {{ getLotDetails?.OrderProcessedWT}} {{globalResource.measure}}
                      </label>
                    </div>
                 </div>
                 <div class="ui-g " style="border:1px solid #d4d1d1" >
                 <div class="ui-g-12 ui-md-12">
                    <div class="paddingRL">
                      <label>
                        <strong>{{lotinventoryResource.shrinkagewt }}  </strong>
                      </label>
                      </div>
                      </div>

                 <div class="ui-g-12 ui-md-6">
                    <div class="paddingRL">
                      <label>
                         <strong>{{lotinventoryResource.rawshrinkagewt}} :</strong> 
                      
                      </label>
            
                      <label>
                          {{ getLotDetails?.RowShrinkagewt}} {{globalResource.measure}}
                      </label>
                    </div>
                 </div>

                 <div class="ui-g-12 ui-md-6">
                    <div class="paddingRL">
                      <label>
                         <strong>{{lotinventoryResource.budshrinkagewt}} :</strong> 
                       
                      </label>
            
                      <label>
                          {{ getLotDetails?.BUDShrinkagewt}} {{globalResource.measure}}
                      </label>
                    </div>
                 </div>
                

                 <div class="ui-g-12 ui-md-6">
                    <div class="paddingRL">
                      <label>
                         <strong>{{lotinventoryResource.jointshrinagewt}} :</strong> 
                      </label>
            
                      <label>
                          {{ getLotDetails?.JOINTShrinkagewt}} {{globalResource.measure}}
                      </label>
                    </div>
                 </div>


                 <div class="ui-g-12 ui-md-6">
                    <div class="paddingRL">
                      <label>
                        <strong>{{lotinventoryResource.oilshrinkagewt}} :</strong> 
                      </label>
            
                      <label>
                          {{ getLotDetails?.OilShrinkagewt}} {{globalResource.measure}}
                      </label>
                    </div>
                 </div>

                </div>

            </div>
            <div class="ui-g ">          
                <p-table [value]="getInventoryList" >
                    <ng-template pTemplate="header">
                        <tr>
                            <th   class="lotNum">{{lotinventoryResource.taskname}}                             
                            </th>
                            <th   class="lotNum">  {{lotinventoryResource.unassignedweight}} {{globalResource.measure}}                             
                              </th>
                              <th   class="lotNum">  {{lotinventoryResource.assignedweight}} {{globalResource.measure}}                            
                                </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-TaskDetails >
                        <tr>
                            <td class="lotNum">                             
                                {{lotinventoryResource.trimming}}
                            </td>
                              <td style="align-items:right" >
                                {{ TaskDetails?.TrimUnassigned}} 
                            </td>
                            <td class="lotNum">
                                {{ TaskDetails?.TrimAssigned}} 
                            </td>  
                          </tr>
                          <tr>
                              <td class="lotNum">                             
                                 {{lotinventoryResource.sifting}}
                              </td>
                                <td class="lotNum">
                                  {{ TaskDetails?.SiftingUnassigned}}  
                              </td>
                              <td class="lotNum">
                                  {{ TaskDetails?.SiftingAssigned}}  
                              </td>  
                            </tr>
                            <tr>
                                <td class="lotNum">                             
                                    {{lotinventoryResource.budpackaging }}
                                </td>
                                  <td class="lotNum">
                                    {{ TaskDetails?.BUDPackagingUnassigned}}  
                                </td>
                                <td class="lotNum">
                                    {{ TaskDetails?.BUDPackagingAssigned}}  
                                </td>  
                              </tr>
                              <tr>
                                  <td class="lotNum">                             
                                      {{lotinventoryResource.grinding}}
                                  </td>
                                    <td class="lotNum">
                                      {{ TaskDetails?.GrindingUnassigned}} 
                                  </td>
                                  <td class="lotNum">
                                      {{ TaskDetails?.GrindingAssigned}} 
                                  </td>  
                              </tr>
                              <tr>
                                  <td class="lotNum">                             
                                      {{lotinventoryResource.jointcreation}}
                                  </td>
                                    <td class="lotNum">
                                      {{ TaskDetails?.JointCreationUnassigned}} 
                                  </td>
                                  <td class="lotNum">
                                      {{ TaskDetails?.JointCreationAssigned}}  
                                  </td>  
                              </tr>
                              <tr>
                                  <td class="lotNum">                             
                                      {{lotinventoryResource.tamping}}
                                  </td>
                                    <td class="lotNum">
                                      {{ TaskDetails?.TampingUnassigned}} 
                                  </td>
                                  <td class="lotNum">
                                      {{ TaskDetails?.TampingAssigned}}  
                                  </td>  
                              </tr>
                              <tr>
                                  <td class="lotNum">                             
                                      {{lotinventoryResource.tubing}}
                                  </td>
                                    <td class="lotNum">
                                      {{ TaskDetails?.TubingUnassigned}} 
                                  </td>
                                  <td class="lotNum">
                                      {{ TaskDetails?.TubingAssigned}}  
                                  </td>  
                              </tr>
                              <tr>
                                  <td class="lotNum">                             
                                      {{lotinventoryResource.tublabling}}
                                  </td>
                                    <td class="lotNum">
                                      {{ TaskDetails?.TubLablingUnassigned}} 
                                  </td>
                                  <td class="lotNum">
                                      {{ TaskDetails?.TubLablingAssigned}}  
                                  </td>  
                              </tr>
                              <tr>
                                  <td class="lotNum">                             
                                      {{globalResource.othermaterial}}
                                  </td>
                                    <td class="lotNum">
                                      {{ TaskDetails?.OilOutUnassigned}}  
                                  </td>
                                  <td class="lotNum">
                                      {{ TaskDetails?.OilOutAssigned}}  
                                  </td>  
                              </tr>
                              <!-- <tr>
                                  <td class="lotNum">                             
                                      {{lotinventoryResource.oilinward}}
                                  </td>
                                    <td class="lotNum">
                                      {{ TaskDetails?.OilPackagingUnassigned}}   
                                  </td>
                                  <td class="lotNum">
                                      {{ TaskDetails?.OilPackagingAssigned}}  
                                  </td>  
                              </tr>
                              <tr>
                                  <td class="lotNum">                             
                                      {{lotinventoryResource.oilpackaging}}
                                  </td>
                                    <td class="lotNum">
                                      {{ TaskDetails?.OilPackagingUnassigned}}  
                                  </td>
                                  <td class="lotNum">
                                      {{ TaskDetails?.OilPackagingAssigned}}  
                                  </td>  
                              </tr> -->
                              <tr>
                                  <td class="lotNum">                             
                                      {{lotinventoryResource.orderfullfillmentQAcheck}}
                                  </td>
                                    <td class="lotNum">
                                      {{ TaskDetails?.OrderFullfilAndQACheckUnassigned}}  
                                  </td>
                                  <td class="lotNum">
                                      {{ TaskDetails?.OrderFullfilAndQACheckAssigned}}  
                                  </td>  
                              </tr>
                              <tr>
                                  <td class="lotNum">                             
                                      {{lotinventoryResource.packagereplacement}}
                                  </td>
                                    <td class="lotNum">
                                      {{ TaskDetails?.PackageReplacementUnassigned}}  
                                  </td>
                                  <td class="lotNum">
                                      {{ TaskDetails?.PackageReplacementAssigned}}  
                                  </td>  
                              </tr>
                              <tr>
                                <td class="lotNum">                             
                                    {{lotinventoryResource.BrandAndLabelReplace}}
                                </td>
                                  <td class="lotNum">
                                    {{ TaskDetails?.BrandAndLabelReplaceUnassigned}}  
                                </td>
                                <td class="lotNum">
                                    {{ TaskDetails?.BrandAndLabelReplaceAssigned}}  
                                </td>  
                            </tr>
                      </ng-template>
                </p-table>
                 
            </div>
        </p-dialog>
        