<div class="content-section implementation GridDemo orderRequest">
  <div class="ui-g">
    <div class="ui-g-12">
      <p-panel header="{{roleAccessResources.roleaccesspermossion}}" [style]="{'margin-bottom':'20px'}">
        <form [formGroup]="roleAccessForm" (ngSubmit)="onSubmit(roleAccessForm.value)">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-4">
              <div class="paddingRL">
                <div class="le-su-12">
                  <label for="userRoles" class="towlable">{{roleAccessResources.userRoles}}<span class="star">*</span></label>:
                  <p-dropdown [filter]="true" (onChange)="userRoleOnChange()" id="userRoles" formControlName="userRoles"
                    [options]="userRoles" placeholder="-- Select --" [autoWidth]="false" class="clsControl" name="userRoles">
                  </p-dropdown>
                  <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                  *ngIf="!roleAccessForm.controls['userRoles'].valid&&roleAccessForm.controls['userRoles'].dirty">
                  {{ roleAccessResources.selectRole}}
                </div>
                </div>
              </div>
            </div>
            <div class="ui-g-12 ui-md-8"></div>
            <div *ngIf="isRoleSelected" class="ui-g-12 ui-md-12">
              <div class="paddingRL">
                <div class="le-su-12">

                  <!-- <div>Selected Nodes: <span *ngFor="let file of selectedmenuItems">{{file.roleMapId}} </span></div> -->
                  <p-tree [value]="files"  styleClass="clsRoleAccessTree" selectionMode="checkbox" [(selection)]="selectedmenuItems"
                  [propagateSelectionUp]="false" (onNodeUnselect) = "OnUnSelectNode($event)" [propagateSelectionDown]="true"></p-tree>
                </div>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12" style="text-align:right;">
              <div class="paddingRL">
                <p-button type="submit" label="{{roleAccessResources.save}}" id="btnRoleAccessSave" name="btnRoleAccessSave"></p-button>
                <button pButton (click)="resetAll()" type="button" label="Cancel" class="ui-button-secondary">
                </button>
              </div>
            </div>
          </div>
        </form>
      </p-panel>
    </div>
  </div>
  <p-growl [(value)]="msgs" life='5000'></p-growl>
</div>