

<div class="content-section implementation GridDemo">
  <div class="ui-g">

    <div class="ui-g-12">
      <p-panel header="{{ newSubBrandResources.pageheading }}" [(collapsed)]="collapsed" [toggleable]="true" >
      <p-header>
          <!-- <button pButton type="submit" name="btnLogin" label="Add New Sub Brand" [style]="{'float':'right'}" (click)="doOPenPanel()" style="align-content: right"></button> -->
      </p-header>
        <!--Main New Sub Brand Form-->
        <form
          [formGroup]="newSubBrandForm"
          (ngSubmit)="onSubmit(newSubBrandForm.value)">
              <div class="ui-g ">
                <!--Brand -->
          <div class="ui-g-12 ui-md-6">
            <div class="paddingRL">
                <div class="le-su-12">
              <label for="selectbrand" class="towlable">{{ newSubBrandResources.selectbrand}}<span class="star">*</span></label>:

              <p-dropdown
                  [filter] ="true"
                  id="brand"
                  [options]="brands"
                  formControlName="brand"
                  placeholder="-- Select --"
                  [autoWidth]="false"
                  class="clsControl"
                  [disabled]="branddisabled"
                  name="brand">
              </p-dropdown>
          
              <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                *ngIf="!newSubBrandForm.controls['brand'].valid&&newSubBrandForm.controls['brand'].dirty">
                <span *ngIf="newSubBrandForm.controls['brand'].errors['required']">
                {{ newSubBrandResources.brandrequired }}
              </span>
              <span *ngIf="newSubBrandForm.controls['brand'].hasError('brandnotpresent')">
                  {{ newSubBrandResources.brandnotpresent }} 
               </span>
              </div>
            </div>
          </div>
         </div>
      <!--End Brand -->
      <!-- SubBrand Name -->
              <div class="ui-g-12 ui-md-6">
                <div class="paddingRL">
                    <div class="le-su-12">
                      <label for="entersubbrand">{{ newSubBrandResources.entersubbrand}}<span class="star">*</span></label>:

                      <input pInputText
                        name="subbrand"
                        id="subbrand"
                        autocomplete="off"
                        placeholder="Enter Sub Brand Name"
                        type="text"
                        class="clsControl"
                        formControlName="subbrand"
                      />

                      <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                        *ngIf="!newSubBrandForm.controls['subbrand'].valid&&newSubBrandForm.controls['subbrand'].dirty">

                          <span *ngIf="newSubBrandForm.controls['subbrand'].errors['required']">
                            {{newSubBrandResources.subbrandrequired}}
                          </span>
                          <span *ngIf="newSubBrandForm.controls['subbrand'].errors['maxlength']">{{newSubBrandResources.subbrandLength}}</span>
                          <span *ngIf="newSubBrandForm.controls['subbrand'].errors['whitespace']">{{newSubBrandResources.subbrandrequired}}</span>
                        </div>
                    </div>
                </div>
              </div>
        <!-- End SubBrand Name -->

        <!-- Description -->
        <div class="ui-g-12 ui-md-6">
            <div class="paddingRL">
                <div class="le-su-12">
                  <label for="enterdescription">{{ newSubBrandResources.description}}<span class="star"></span></label>:

                  <input pInputText
                    name="description"
                    id="description"
                    autocomplete="off"
                    placeholder="Enter Description"
                    type="text"
                    class="clsControl"
                    formControlName="description"
                  />
                  <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                        *ngIf="!newSubBrandForm.controls['description'].valid&&newSubBrandForm.controls['description'].dirty">
                          <span *ngIf="newSubBrandForm.controls['description'].errors['maxlength']">{{newSubBrandResources.descriptionLength}}</span>
                        </div>
                </div>
            </div>
          </div>
    <!-- End Description -->

    <!-- IsActive -->
    <div class="ui-g-12 ui-md-12">
        <div class="paddingRL">
          <label></label>
          <div class="clear"></div>
    
          <p-checkbox value="true" [(ngModel)]="chkIsActive" label="{{globalResource.IsActiveFlag}}"formControlName="chkIsActive" 
          binary="true"></p-checkbox>
        </div>
      </div>
      <!--End IsActive -->

                <div class="ui-g-12 ui-md-12" style="text-align:right;">
                    <div class="paddingRL">
                      <p-button  type="submit" label="{{ saveButtonText}}" id="btnProductTypeSave" name="btnProductTypeSave" ></p-button>
                      <button pButton (click)="resetAll()" type="button" label="{{ clear }}" class="ui-button-secondary"></button>
                  </div>
                </div>
              </div>
        </form>
      </p-panel>
    </div>
   
  </div>
</div>



<div class="content-section implementation GridDemo orderRequest">
  <div class="ui-g">
      <div class="ui-g-12">
          <!-- Sub Brand Listing -->
    <p-panel header="{{ newSubBrandResources.headingsubbrandlist}}" [toggleable]="true" [style]="{'margin-bottom':'20px'}" >      
      <p-table #dtEmployeeListing [value]="allSubBrandList"
          sortMode="single"                      
          [responsive]="true" 
          [paginator]="true" 
          [rows]="10"           
          sortField="SubBrandId"
          sortOrder="-1"
          [rowsPerPageOptions]="paginationValues"
          (onPage)="onPageChange($event)"
          [globalFilterFields]="['BrandName','SubBrandName','Decsription']"
          >                    
          <ng-template pTemplate="caption">
              <div style="text-align: right">
                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  <input type="text" pInputText autocomplete="off" size="50" placeholder="Global Filter" (input)="dtEmployeeListing.filterGlobal($event.target.value, 'contains')" style="width:auto;">
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th [pSortableColumn]="'BrandName'">{{ brandResources.brand}} <p-sortIcon [field]="'BrandName'"></p-sortIcon></th>
                  <th [pSortableColumn]="'SubBrandName'">{{ brandResources.subbrand}} <p-sortIcon [field]="'SubBrandName'"></p-sortIcon></th>
                  <th [pSortableColumn]="'Decsription'">{{ brandResources.description}} <p-sortIcon [field]="'Decsription'"></p-sortIcon></th>
                  <!-- <th [pSortableColumn]="'IsActiveFlag'" style="width:100px;">{{ globalResource.IsActiveFlag}} <p-sortIcon [field]="'IsActiveFlag'"></p-sortIcon></th> -->
                  <th style="width:100px;">Action</th>
              </tr>
    
              <tr>
                  <th>
                      <input pInputText autocomplete="off" type="text" (input)="dtEmployeeListing.filter($event.target.value, 'BrandName', 'contains')" class="clsControl">
                  </th>
                  <th>
                      <input pInputText autocomplete="off" type="text" (input)="dtEmployeeListing.filter($event.target.value, 'SubBrandName', 'contains')" class="clsControl">
                  </th>
                  
                  <th>
                    <input pInputText autocomplete="off" type="text" (input)="dtEmployeeListing.filter($event.target.value, 'Decsription', 'contains')" class="clsControl">
                </th>
                <!-- <th>
                    <input pInputText autocomplete="off" type="text" (input)="dtEmployeeListing.filter($event.target.value, 'IsActiveFlag', 'contains')" class="clsControl">
                  </th> -->
                <th rowspan="2"></th>  
          </ng-template>
          <ng-template pTemplate="body" let-newproducttype let-rowData let-columns="columns" let-rowIndex="rowIndex">
              <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                  <td>{{newproducttype?.BrandName}}</td>
                  <td>{{newproducttype?.SubBrandName}}</td>
                  <td>{{newproducttype?.Decsription}}</td>
                  <!-- <td>
                      <label for="IsActiveFlag" class="towlable"> {{ newproducttype.IsActiveFlag}} </label>
                        <div class="clear"></div>
                    </td> -->
                  <td style="width:65px;"> 
                      <span class="ui-column-title">{{ newEmployeeResources.edit }}</span>
                      <a  [routerLink]="" (click)="getSubBrandOnEdit(newproducttype?.SubBrandId)" >                             
                          <span class="fa fa-edit"></span>
                      </a>
                      <!-- <a href="#" [routerLink]="" (click)="DeleteEmployee(newproducttype?.EmpId)" >
                          <span class="fa fa-trash"></span>
                      </a> -->
                      <a href="#" [routerLink]="" (click)="showConformationMessaegForDelete(newproducttype?.SubBrandId,newproducttype?.IsActive,newproducttype?.ParentId,1,0)" >
                        <span class="fa fa-trash"></span>

                    </a>
                    <!-- <p-button class="links"  type="button" label="{{ newproducttype?.IsActive }}" id="btn_starinshow" 
                    (click)="ShowConformationMessaegForDeactive(newproducttype?.EmpId)" name="btnshow" ></p-button> -->
                    <!-- <p-inputSwitch 
                    (onChange)="ShowConformationMessaegForDeactive(newproducttype?.SubBrandId,newproducttype?.IsActive,newproducttype?.ParentId,$event, rowIndex,0,1)" 
                    [(ngModel)]="newproducttype.IsActive"
                    >
                  </p-inputSwitch> -->
                  <div class="clsToggleButtonDiv">
                    <p-toggleButton 
                        [(ngModel)]="newproducttype.IsActive" 
                        onLabel="Active" offLabel="InActive"  
                        [style]="{'width':'90px'}"
                        (onChange)="showConformationMessaegForDeactive(newproducttype?.SubBrandId,newproducttype,newproducttype?.ParentId,rowIndex,0,1)"
                      >               
                    </p-toggleButton>
                  </div>

                </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft" let-state>
            <pagination-counts
              *ngIf="allSubBrandList?.length"
              [inputData]="allSubBrandList"
              [inputEvent]="event"
            ></pagination-counts>
          </ng-template>
      </p-table>
    </p-panel>
      <!--End Sub Brand Listing  -->
    </div>
  </div>
</div>
<p-growl [(value)]="msgs" life='5000'></p-growl>
<p-confirmDialog 
  class="clsConfirmBox" 
  header="Confirmation" 
  icon="fa fa-question-circle" 
  *ngIf="true"
  width="425"></p-confirmDialog>