<div class="contrast-blue contrast-background" style="height:30px;"></div>
<div class="container whiteBG" style="max-width:100%;height: 95vh;">

<div class='container containerLogo'>
    <div class='row'>
        <div class='col-sm-12'>
            <div class='text-center'>
                <div class="image-wrapper" style="margin: 30px 0px 50px 0px;">
                        <img src="assets/img/HI-Logo2.png" class="img-responsive imgResCenter" alt="">
                </div>                                                                         
            </div>
        </div>
    </div>
</div>
  
<div class='row justify-content-center'>
    <div class='col-md-5 col-sm-12'>
        <form [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit(forgotpasswordForm.value)">

        <!--Primary Email -->
        <div class="ui-g" *ngIf="this.isTokenLink===0">
            <div class="ui-g-12">
                <div class="paddingRL">
                    <label for="empemail">
                        {{forgotpasswordResources.enterEmpEmailId}}
                        <span class="star">*</span>:
                    </label>
                    <div class="clear"></div>
                    <input pInputText
                    name="empemail"
                    id="empemail"
                    type="text"
                    autocomplete="off"
                    class="clsControl"
                    formControlName="empemail"
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    />
            
                    <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                    *ngIf="!forgotpasswordForm.controls['empemail'].valid&&forgotpasswordForm.controls['empemail'].dirty">

                        <span *ngIf="forgotpasswordForm.controls['empemail'].errors['required']">
                            {{forgotpasswordResources.emailrequired}}
                        </span>
                        <span *ngIf="forgotpasswordForm.controls['empemail'].hasError('whitespace')">
                            {{forgotpasswordResources.emailrequired}} 
                        </span>
                        <span *ngIf="!forgotpasswordForm.controls['empemail'].valid&&forgotpasswordForm.controls['empemail'].errors.pattern">
                            {{forgotpasswordResources.validemail}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!--End Primary Email -->

                        
        <!-- <div class="ui-g" *ngIf="this.isTokenLink===1"> -->
        <div class="ui-g" *ngIf="this.isTokenLink===1">
            <div class="ui-g-12">
                <div class="paddingRL">
            <!-- <label>Enter New Password:</label>      -->
                    <label for="password">
                        {{forgotpasswordResources.enterNewPassword}}
                        <span class="star">*</span>:
                    </label>    
                    <div class="clear"></div>         
                    <input 
                        type="text" 
                        pPassword
                        id="newpassword" 
                        autocomplete="false"
                        formControlName="newpassword" 
                        placeholder="Enter new password" 
                        [feedback]="false"
                        />

                        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                        *ngIf="!forgotpasswordForm.controls['newpassword'].valid&&forgotpasswordForm.controls['newpassword'].dirty">

                        <span *ngIf="forgotpasswordForm.controls['newpassword'].errors['required']">
                            {{forgotpasswordResources.newpasswordRequired}}
                        </span>
                        <span *ngIf="forgotpasswordForm.controls['newpassword'].errors['minlength']">
                            {{forgotpasswordResources.passwordMinLength}}
                        </span>
                        <span *ngIf="forgotpasswordForm.controls['newpassword'].errors['maxlength']">
                            {{forgotpasswordResources.passwordMaxLength}}
                        </span>
                        </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
            <div class="ui-g" *ngIf="this.isTokenLink===1">
                <div class="ui-g-12">
                    <div class="paddingRL">
                        <label>{{forgotpasswordResources.conformPassword}}
                                <span class="star">*</span>:
                            </label>                  
                            <div class="clear"></div>
            
                            <input 
                                id="confirmpassword" 
                                autocomplete="off"
                                formControlName="confirmpassword" 
                                type="text" 
                                placeholder="Confirm password"
                                pInputText />

                            <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                            *ngIf="!forgotpasswordForm.controls['confirmpassword'].valid&&forgotpasswordForm.controls['confirmpassword'].dirty">
    
                            <span *ngIf="forgotpasswordForm.controls['confirmpassword'].errors['required']">
                                {{forgotpasswordResources.confirmPasswordRequired}}
                            </span>
                            <span *ngIf="forgotpasswordForm.controls['confirmpassword'].errors['passwordnotmatched']">
                                {{forgotpasswordResources.passwordnotmatched}}
                            </span>
                            </div> 
                    </div>
                </div>
            </div>

            <div class="ui-g-12 ui-md-12 row justify-content-center" *ngIf="this.isTokenLink===2">
                    <label>
                        <b>{{forgotpasswordResources.linkexpired}}</b>
                    </label>
            </div>


            <div class="ui-g">
                    <div class="ui-g-12">
                            <div class="paddingRL text-center" style="margin-bottom: 30px;">
                        <button 
                            *ngIf="this.isTokenLink===0"
                            pButton 
                            type="submit" 
                            name="btnLogin" 
                            label="Reset Password" >
                        </button>
                        <button 
                            *ngIf="this.isTokenLink===1"
                            pButton
                            (click)="changeEmpPassword()"
                            type="button"
                            label="Change password"
                            class="ui-button-primary">
                        </button>
                        </div>  
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div style="text-align: center;" *ngIf="this.isTokenLink===2">
        <a class="links" 
            id="btn_loginpagedshow" 
            name="btnshow"
            routerLink="/forgotpassword"
        >
            I forgot my password !
        </a>
    </div>   
    <div style="text-align: center;">
        <a class="links" 
            id="btn_loginpagedshow" 
            name="btnshow"
            routerLink="/login"
        >
            Back to login page.
        </a>
    </div>   
</div>
<p-growl [(value)]="msgs" life='5000'></p-growl>
    
  
  <!-- <div  class="contrast-blue contrast-background footer footerBottom login-container-footer ng-scope" ui-view="mainFooter">
  <div class="ui-grid ui-grid-responsive">
  <div class="ui-grid-col-2">
    <div class="col-sm-12">
      
                <div class="image-wrapper">
                <img class="mainLogo img-responsive" src="assets/img/ThingBluSmaller.png" alt="ThingBlu - Harvesting Insights from Your Data">
        </div>
  </div>
  </div>
  </div>          
   </div> -->

   <div  class="footer footerBottom login-container-footer ng-scope" ui-view="mainFooter">
    <div class="ui-grid ui-grid-responsive">
            <div class="col-sm-12">
                <div style="color: #2D4A9B;text-align: center;font-size: 10px;font-weight: 500;">Powered By</div>
                 <img style="margin: 0px auto 5px auto;display: block;width: 125px;" src="assets/img/ThingBluLogoWithBlack-06.png" alt="ThingBlu - Harvesting Insights from Your Data">
            </div>
    </div>          
        <div class="contrast-blue contrast-background" style="height:30px;"></div>
           </div>
  
  
  