<div class="content-section implementation GridDemo orderRequest">
  <div class="ui-g">

    <div class="ui-g-12">
          <!-- New Grower -->
          <!-- <div *ngIf="taskCategory == 'GROWING'">
            hi
          </div> -->
        <p-panel [header]="taskCategory == 'GROWING'?'Add New Customer':'Add New Retailer'"  [toggleable]="true" [style]="{'margin-bottom':'20px'}" >
          <form
            [formGroup]="retailerForm"
            (ngSubmit)="onSubmit(retailerForm.value)" autocomplete="off">
             
             <div class="ui-g">
                         <!-- Client Name Commented by Devdan :: 28-Sep2018 -->
                         <!--Client -->
                         <!-- <div class="ui-g-12 ui-md-6">
                            <div class="paddingRL">
                                <div class="le-su-12">
                                    <label for="client" class="towlable">{{ retailerResources.client}}<span class="star">*</span></label>:
              
                                    <p-dropdown
                                    [filter] ="true"
                                    id="client"
                                    formControlName="client"
                                    [options]="Clients"
                                    placeholder="-- Select --"
                                    [autoWidth]="false"
                                    class="clsControl"
                                    name="clientname">
                                    </p-dropdown>
                                    
                                    <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                    *ngIf="!retailerForm.controls['client'].valid&&retailerForm.controls['client'].dirty">
                                    {{ retailerResources.clientrequired }}
                                    </div>
          
                                  </div>
                                </div>
                             </div> -->
                            
                            <!--End Client -->
          
                             <!--retailertype -->
                          <div class="ui-g-12 ui-md-6">
                            <div class="paddingRL">
                                <div class="le-su-12">
                                    <label for="retailertype" class="towlable"><span *ngIf = "taskCategory == 'GROWING'">Customer Type</span><span *ngIf = "taskCategory != 'GROWING'">{{ retailerResources.retailertype}}</span><span class="star">*</span></label>:
              
                                    <p-dropdown
                                    [filter] ="true"
                                    id="retailertype"
                                    formControlName="retailerType"
                                    [options]="retailerTypes"
                                    placeholder="-- Select --"
                                    [autoWidth]="false"
                                    class="clsControl"
                                    name="retailertype">
                                    </p-dropdown>
                                    
                                    <div class="ui-message ui-messages-error ui-corner-all" style="top:67px;left:-5px;"  appErrorTooltip
                                    *ngIf="!retailerForm.controls['retailerType'].valid&&retailerForm.controls['retailerType'].dirty">
                                    {{ retailerResources.retailertyperequired }}
                                    </div>
          
                                  </div>
                                </div>
                             </div>
                            
                            <!--End retailertype -->
          
                            <!-- Retailer Name -->
                            <div class="ui-g-12 ui-md-6">
                                <div class="paddingRL">
                                    <label for="retailer"> <span *ngIf = "taskCategory == 'GROWING'">Customer Name</span><span *ngIf = "taskCategory != 'GROWING'">{{ retailerResources.retailer}}</span><span class="star">*</span> </label>:
            
                                    <input pInputText
                                      name="retailer"
                                      id="retailer"
                                      autocomplete="new-password"
                                      type="text"
                                      class="clsControl"
                                      formControlName="retailer"
                                      placeholder="Enter Name"
                                    />
                                    <div class="ui-message ui-messages-error ui-corner-all" style="top:67px;" appErrorTooltip
                                    *ngIf="!retailerForm.controls['retailer'].valid&&retailerForm.controls['retailer'].dirty">
                                    {{ retailerResources.retailerrequired }}
                                    </div>                           
          
                                  </div>
                              </div>
                           
                             
                              <!--End Retailer Name -->
          
                              <!-- License No -->
                              <div class="ui-g-12 ui-md-6">
                                <div class="paddingRL">
                                    <label for="licenseno"> {{ retailerResources.licenseno}}</label>:
            
                                    <input pInputText
                                      name="licenseno"
                                      id="licenseno"
                                      type="text"
                                      autocomplete="new-password"
                                      class="clsControl"
                                      formControlName="licenseNo"
                                      placeholder="Enter License Number"
                                    />
            
                                    <div class="ui-message ui-messages-error ui-corner-all" style="top:67px;" appErrorTooltip
                                      *ngIf="!retailerForm.controls['licenseNo'].valid&&retailerForm.controls['licenseNo'].dirty">
                                      <span *ngIf="retailerForm.controls['licenseNo'].errors['required']">
                                        {{retailerResources.licenserequired}}
                                      </span>
                                    </div>
                                    
                                  </div>
                              </div>
                             
                              <!--End License No -->
          
                                  <!-- UBI No -->
                                  <div class="ui-g-12 ui-md-6">
                                    <div class="paddingRL">
                                        <label for="ubino"> {{ retailerResources.ubino}}</label>:
                
                                        <input pInputText
                                          name="ubino"
                                          id="ubino"
                                          type="text"
                                          autocomplete="new-password"
                                          pKeyFilter="int"
                                          class="clsControl"
                                          formControlName="ubiNo"
                                          placeholder="Enter UBI Number"
                                        />
                
                                        <div class="ui-message ui-messages-error ui-corner-all" style="top:67px;" appErrorTooltip
                                          *ngIf="!retailerForm.controls['ubiNo'].valid&&retailerForm.controls['ubiNo'].dirty">
                                          <span *ngIf="retailerForm.controls['ubiNo'].errors['required']">
                                            {{retailerResources.ubinorequired}}
                                          </span>
                                        </div>
                                        
                                      </div>
                                  </div>
                                 
                                  <!--End License No -->
          
          
                              <!-- Office Phone -->
                              <div class="ui-g-12 ui-md-6">
                                  <div class="paddingRL">
                                      <label for="officephone"> {{ retailerResources.officephone}}<span class="star">*</span></label>:
              
                                      <input pInputText
                                        name="officephone"
                                        id="officephone"
                                        type="text"
                                        autocomplete="new-password"
                                        pKeyFilter="int"
                                        class="clsControl"
                                        formControlName="officePhone"
                                        placeholder="Enter Office Phone"
                                      />
              
                                      <div class="ui-message ui-messages-error ui-corner-all" style="top:67px;" appErrorTooltip
                                        *ngIf="!retailerForm.controls['officePhone'].valid&&retailerForm.controls['officePhone'].dirty">
                                        <span *ngIf="retailerForm.controls['officePhone'].errors['required']">
                                          {{retailerResources.officephonerequired}}
                                        </span>
                                        <span *ngIf="retailerForm.controls['officePhone'].errors['maxlength']">
                                          {{retailerResources.phoneLength}}
                                        </span>
                                      </div>
                                      
                                    </div>
                                </div>
                               
                                <!--End Office Phone -->
                                <!-- cell phone -->
                            <div class="ui-g-12 ui-md-6">
                                <div class="paddingRL">
                                    <label for="cellphone"> {{ retailerResources.cellphone}}</label>:
            
                                    <input pInputText
                                      name="cellphone"
                                      id="cellphone"
                                      autocomplete="new-password"
                                      type="text"
                                      class="clsControl"
                                      formControlName="cellPhone"
                                      placeholder="Enter Personal Phone"
                                    />
                                    <div class="ui-message ui-messages-error ui-corner-all" style="top:67px;" appErrorTooltip
                                        *ngIf="!retailerForm.controls['cellPhone'].valid&&retailerForm.controls['cellPhone'].dirty">                                        
                                        <span *ngIf="retailerForm.controls['cellPhone'].errors['maxlength']">
                                          {{retailerResources.phoneLength}}
                                        </span>
                                      </div>
                                  </div>
                              </div>
                           
                              <!--End cell phone -->
                              <!-- FaxPhone Commented by Devdan :: 28-Sep2018 -->
                              <!-- fax phone -->
                             <!-- <div class="ui-g-12 ui-md-6">
                                <div class="paddingRL">
                                  <label for="cellphone"> {{ retailerResources.faxphone}}</label>:
          
                                  <input pInputText
                                    name="faxphone"
                                    id="faxphone"
                                    autocomplete="off"
                                    type="text"
                                    class="clsControl"
                                    formControlName="faxPhone"
                                  />
          
                                </div>
                            </div> -->
          
                              <!--End fax phone -->
                              <!-- Primary Email-->
                              <div class="ui-g-12 ui-md-6">
                                <div class="paddingRL">
                                    <label for="primaryemail"> {{ retailerResources.primaryemail}}<span class="star">*</span></label>:
            
                                    <input pInputText
                                      name="primaryemail"
                                      autocomplete="new-password"
                                      id="primaryemail"
                                      type="text"
                                      class="clsControl"
                                      formControlName="primaryEmail"                                      
                                      pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                                      placeholder="Enter Primary Email ID"
                                      #pemail
                                      />
                                      <!-- pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" -->          
                                    <div class="ui-message ui-messages-error ui-corner-all" style="top:67px;"
                                    *ngIf="!retailerForm.controls['primaryEmail'].valid &&retailerForm.controls['primaryEmail'].errors.pattern">
                                    {{ globalResource.validemail  }} 
                                    </div>
                                  </div>
                              </div>
            
                                <!--End Primary Email -->
                                <!-- Primary Email-->
                              <div class="ui-g-12 ui-md-6">
                                <div class="paddingRL" *ngIf="taskCategory != 'GROWING'">
                                    <label for="secondaryemail"> {{ retailerResources.secondaryemail}}</label>:
            
                                    <input pInputText
                                      name="secondaryemail"
                                      id="secondaryemail"
                                      type="text"
                                      autocomplete="new-password"
                                      class="clsControl"
                                      formControlName="secondaryEmail"
                                      pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                                      placeholder="Enter Secondary Email ID"
                                      #semail
                                    />          
                                    <div class="ui-message ui-messages-error ui-corner-all" style="top:67px;"
                                    *ngIf="!retailerForm.controls['secondaryEmail'].valid && retailerForm.controls['secondaryEmail'].errors.pattern">
                                    {{ globalResource.validemail }} 
                                    </div>
                                    <div class="ui-message ui-messages-error ui-corner-all" style="top:67px;"
                                    *ngIf="retailerForm.controls['secondaryEmail'].touched && pemail.value !== '' && semail.value !== '' && pemail.value === semail.value">
                                    {{ globalResource.duplicateEmail }} 
                                    </div>
                                  </div>
                                  <div class="paddingRL" *ngIf="taskCategory == 'GROWING'">
                                    <label for="shippingPre"> Shipping Preference</label>:
                                    <p-dropdown
                                    [options]="priorities"
                                    [autoWidth]="true"
                                    formControlName="shippingPre"
                                    id="priority"
                                    class="clsControl"
                                    name="priority">
                                  </p-dropdown>
                                  </div>
                              </div>
            
                                <!--End Primary Email -->
                                <!--Contact Person-->
                              <div class="ui-g-12 ui-md-6">
                                <div class="paddingRL">
                                    <label for="contactperson"> {{ retailerResources.contactperson}}</label>:
            
                                    <input pInputText
                                      name="contactperson"
                                      id="contactperson"
                                      autocomplete="new-password"
                                      type="text"
                                      class="clsControl"
                                      formControlName="contactPerson"
                                      placeholder="Enter Contact Person"
                                    />
            
                                  </div>
                              </div>
            
                               <!--End Contact Person -->                               
                               
                              <!--country -->
                          <div class="ui-g-12 ui-md-6">
                            <div class="paddingRL">
                                <div class="le-su-12">
                                    <label for="country" class="towlable">{{ retailerResources.country}}<span class="star">*</span></label>:
              
                                    <p-dropdown
                                    [filter] ="true"
                                    id="country"
                                    formControlName="country"
                                    [options]="Countries"
                                    (onChange)="CountryChange()"
                                    placeholder="-- Select --"
                                    autocomplete="off"
                                    [autoWidth]="false"
                                    class="clsControl"
                                    name="country">                                    
                                    </p-dropdown>
                                    <!-- [ngModel] = "selectedCountry" -->
                                    
                                    <div class="ui-message ui-messages-error ui-corner-all" style="top:67px;"
                                    *ngIf="!retailerForm.controls['country'].valid&&retailerForm.controls['country'].dirty">
                                    {{ retailerResources.countryrequired }}
                                    </div>
          
                                  </div>
                                </div>
                             </div>
                            
                            <!--End country -->
                              <!--state -->
                          <div class="ui-g-12 ui-md-6">
                            <div class="paddingRL">
                                <div class="le-su-12">
                                    <label for="state" class="towlable">{{ retailerResources.state}}<span class="star">*</span></label>:
              
                                    <p-dropdown
                                    [filter] ="true"
                                    id="state"
                                    formControlName="state"
                                    (onChange)="StateChange()"
                                    autocomplete="off"
                                    [options]="States"
                                    placeholder="-- Select --"
                                    [autoWidth]="false"
                                    class="clsControl"
                                    name="state">
                                    </p-dropdown>
            
                                    <div class="ui-message ui-messages-error ui-corner-all" style="top:67px;"
                                    *ngIf="!retailerForm.controls['state'].valid&&retailerForm.controls['state'].dirty">
                                    {{ retailerResources.staterequired }}
                                    </div>
          
                                  </div>
                                </div>
                             </div>
                            
                          <!--Address-->
                          <div class="ui-g-12 ui-md-6">
                              <div class="paddingRL">
                                  <label for="address"> {{ retailerResources.address}}<span class="star">*</span></label>:
          
                                  <!-- <input pInputText
                                    name="address"
                                    id="address"
                                    type="text"
                                    autocomplete="off"
                                    class="clsControl"
                                    formControlName="address"
                                    placeholder="Enter Address"
                                  /> -->
                                  <textarea 
                                    pInputTextarea           
                                    name="address"
                                    id="address"
                                    type="text"
                                    autocomplete="new-password"
                                    class="clsControl"
                                    formControlName="address"
                                    placeholder="Enter Address"
                                    ></textarea>
                                  <div class="ui-message ui-messages-error ui-corner-all" style="top:67px;"
                                  *ngIf="!retailerForm.controls['address'].valid&&retailerForm.controls['address'].dirty">
                                  {{ retailerResources.addressrequired }}
                                  </div>
                                </div>
                            </div>
          
                             <!--End Address -->
                              <!--End state -->
                                <!--city -->
                          <div class="ui-g-12 ui-md-6">
                            <div class="paddingRL">
                                <div class="le-su-12">
                                    <label for="city" class="towlable">{{ retailerResources.city}}<span class="star">*</span></label>:
              
                                    <p-dropdown
                                    [filter] ="true"
                                    id="city"
                                    formControlName="city"
                                    autocomplete="off"
                                    [options]="Cities"
                                    placeholder="-- Select --"
                                    [autoWidth]="false"
                                    class="clsControl"
                                    name="city">
                                    </p-dropdown>
            
                                    <div class="ui-message ui-messages-error ui-corner-all" style="top:67px;"
                                    *ngIf="!retailerForm.controls['city'].valid&&retailerForm.controls['city'].dirty">
                                    {{ retailerResources.cityrequired }}
                                    </div>
          
                                  </div>
                                </div>
                             </div>
                            
                            <!--End city -->
                              <!--zipcode-->
                             <div class="ui-g-12 ui-md-6">
                              <div class="paddingRL">
                                  <label for="zipcode"> {{ retailerResources.zipcode}}<span class="star">*</span></label>:
          
                                  <input pInputText
                                    name="zipcode"
                                    id="zipcode"
                                    autocomplete="new-password"
                                    type="text"
                                    class="clsControl"
                                    formControlName="zipCode"
                                    placeholder="Enter Zip Code"
                                  />
                                  
                                  <div class="ui-message ui-messages-error ui-corner-all" style="top:67px;" appErrorTooltip
                                  *ngIf="!retailerForm.controls['zipCode'].valid&&retailerForm.controls['zipCode'].dirty">
                                  <span *ngIf="retailerForm.controls['zipCode'].errors['required']">
                                    {{retailerResources.zipcoderequired}}
                                  </span>
                                </div>
          
                                </div>
                            </div>
          
                             <!--End zipcode -->

                             <!-- Latitude Commented by Devdan :: 28-Sep2018 -->
                               <!--latitude-->
                               <!-- <div class="ui-g-12 ui-md-6">
                                <div class="paddingRL">
                                    <label for="latitude"> {{ retailerResources.latitude}}</label>:
            
                                    <input pInputText
                                      name="latitude"
                                      autocomplete="off"
                                      id="latitude"
                                      type="text"
                                      class="clsControl"
                                      formControlName="latitude"
                                    />
            
                                  </div>
                              </div> -->
            
                               <!--End latitude -->

                               <!-- Logitude Commented by Devdan :: 28-Sep2018 -->
                                <!--longitude-->
                                <!-- <div class="ui-g-12 ui-md-6">
                                  <div class="paddingRL">
                                      <label for="longitude"> {{ retailerResources.longitude}}</label>:
              
                                      <input pInputText
                                        name="longitude"
                                        autocomplete="off"
                                        id="longitude"
                                        type="text"
                                        class="clsControl"
                                        formControlName="longitude"
                                      />
              
                                    </div>
                                </div> -->
              
                                 <!--End longitude -->
                                 <!--description-->
                                <div class="ui-g-12 ui-md-6">
                                  <div class="paddingRL">
                                      <label for="description"> {{ retailerResources.description}}</label>:
                                      <textarea 
                                      pInputTextarea           
                                      formControlName="description"
                                      placeholder="Add Description..."
                                      autocomplete="new-password"
                                      maxLength="500"
                                      name="description"
                                      class="clsControl"
                                    ></textarea>
                                    </div>
                                </div>              
                                 <!--End Description -->

                                 <!-- IsActive -->
                                <div class="ui-g-12 ui-md-12">
                                    <div class="paddingRL">
                                      <p-checkbox value="true" 
                                      [(ngModel)]="IsActive" 
                                      label="{{globalResource.IsActiveFlag}}" 
                                      formControlName="chkIsActive" 
                                      binary="true"></p-checkbox>
                                    </div>
                                  </div>
                                  <!--End IsActive -->
                                 <div class="ui-g-12 ui-md-12" style="text-align:right;">
                                  <div class="paddingRL">
                                    <p-button  type="submit" id="btnetailerSave" 
                                      label="{{ SaveButtonText}}" name="btnRetailerSave" ></p-button>
                                    <button pButton (click)="ResetForm()" type="button" label="{{ Clear }}" 
                                      class="ui-button-secondary"></button>
                                </div>
                              </div>
          
             </div>
           </form>
           <p-panel [header]="taskCategory == 'GROWING'?'Customer List':'Retailer List'"  [toggleable]="true" [style]="{'margin-bottom':'20px'}" >
              <p-table #dtRetailerList [value]="allretailerList" 
              sortMode="single"                      
              [responsive]="true" 
              [paginator]="true" 
              [rows]="10"          
              sortOrder="-1"
              [globalFilterFields]="['ClientName','RetailerType','RetailerName','LicenseNo','UBINo','OfficePhone','StateName','CityName','shippingPre']"
              selectionMode="single"
              (onRowSelect)="onRowSelect($event)"
              (onRowUnselect)="onRowSelect($event)"
              (onPage)="onPageChange($event)"
              [rowsPerPageOptions]="PaginationValues"
              dataKey="RetailerId"
              class="clsTableSelection"
              >                    
              <ng-template pTemplate="caption">
                  <div style="text-align: right">
                      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                      <input type="text" autocomplete="off" pInputText size="50" placeholder="Global Filter" 
                        (input)="dtRetailerList.filterGlobal($event.target.value, 'contains')" style="width:auto;">
                  </div>
              </ng-template>
              <ng-template pTemplate="header">
                  <tr>
                      <!-- <th [pSortableColumn]="'ClientName'">Client 
                          <p-sortIcon [field]="'ClientName'"></p-sortIcon>                                
                      </th> -->
                      <!-- <th [pSortableColumn]="'RetailerType'">Retailer Type
                          <p-sortIcon [field]="'RetailerType'"></p-sortIcon>
                      </th> -->
                      <th [pSortableColumn]="'RetailerName'"> <span *ngIf="taskCategory == 'GROWING'">Customer</span><span  *ngIf="taskCategory != 'GROWING'">Retailer</span> <p-sortIcon [field]="'RetailerName'"></p-sortIcon></th>
                      <th [pSortableColumn]="'LicenseNo'">License No <p-sortIcon [field]="'LicenseNo'"></p-sortIcon></th>    
                      <th [pSortableColumn]="'UBINo'">UBI No<p-sortIcon [field]="'UBINo'"></p-sortIcon></th>    
                      <th [pSortableColumn]="'OfficePhone'">Office Phone <p-sortIcon [field]="'OfficePhone'"></p-sortIcon></th>                  
                      <th [pSortableColumn]="'StateName'">State  <p-sortIcon [field]="'StateName'"></p-sortIcon></th>              
                      <th [pSortableColumn]="'CityName'">City <p-sortIcon [field]="'CityName'"></p-sortIcon></th>
                      <th *ngIf="taskCategory == 'GROWING'" [pSortableColumn]="'shippingPre'">Shipping Preference <p-sortIcon [field]="'shippingPre'"></p-sortIcon></th>              
                      <th style="width:100px;">Action</th>
                       
                  </tr>
        
                  <tr>
                      <!-- <th>
                          <input pInputText type="text" autocomplete="off" (input)="dtRetailerList.filter($event.target.value, 'ClientName', 'contains')" class="clsControl">
                      </th> -->
                      <!-- <th>
                          <input pInputText type="text" autocomplete="off" (input)="dtRetailerList.filter($event.target.value, 'RetailerType', 'contains')" class="clsControl">
                      </th> -->
                      <th>
                        <input pInputText type="text" autocomplete="off" (input)="dtRetailerList.filter($event.target.value, 'RetailerName', 'contains')" class="clsControl">
                      </th>
                      <th>
                          <input pInputText type="text" autocomplete="off" (input)="dtRetailerList.filter($event.target.value, 'LicenseNo', 'contains')" class="clsControl">
                      </th>
                      <th>
                          <input pInputText type="text" autocomplete="off" (input)="dtRetailerList.filter($event.target.value, 'UBINo', 'contains')" class="clsControl">
                      </th>
                      <th>
                        <input pInputText type="text" autocomplete="off"  (input)="dtRetailerList.filter($event.target.value, 'OfficePhone', 'contains')" class="clsControl">
                    </th>                 
                      <th>
                          <input pInputText type="text" autocomplete="off" (input)="dtRetailerList.filter($event.target.value, 'StateName', 'contains')" class="clsControl">
                      </th>
                      <th>
                        <input pInputText type="text" autocomplete="off" (input)="dtRetailerList.filter($event.target.value, 'CityName', 'contains')" class="clsControl">
                    </th>
                    <th *ngIf="taskCategory == 'GROWING'">
                      <input pInputText type="text" autocomplete="off" (input)="dtRetailerList.filter($event.target.value, 'shippingPre', 'contains')" class="clsControl">
                  </th>
                                            
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-retailer let-rowData let-columns="columns" let-rowIndex="rowIndex">
                  <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                      <!-- <td>
                          <u><a href="#" [routerLink]="['../taskaction', order?.TaskTypeName, order?.TaskId]">{{order?.EmpName}}</a></u>
                      </td> -->
    
                      <!-- <td>{{retailer?.ClientName}}</td> -->
                      <!-- <td>{{retailer?.RetailerType}}</td> -->
                      <td><span *ngIf="taskCategory == 'GROWING'" class="ui-column-title">Customer</span><span *ngIf="taskCategory != 'GROWING'" class="ui-column-title">Retailer</span>{{retailer?.RetailerName }}</td>
                      <td><span class="ui-column-title">License No </span>{{retailer?.License }}</td>   
                      <td><span class="ui-column-title">UBI No</span>{{retailer?.UBINo }}</td>   
                      <td><span class="ui-column-title">Office Phone</span>{{retailer?.OfficePhone }}  </td>                  
                      <td><span class="ui-column-title">State</span>{{retailer?.StateName }}  </td>
                      <td><span class="ui-column-title">City</span>{{retailer?.CityName }}</td>
                      <td *ngIf="taskCategory == 'GROWING'"><span class="ui-column-title">Shipping Preference</span>{{retailer?.ShippingPreference }}</td>
                      <td style="width:65px;" (click)="$event.stopPropagation();"> 
                        <span class="ui-column-title">Action</span>
                        <a href="#" [routerLink]="" (click)="GetRetailerOnEdit(retailer?.RetailerId)" >                             
                          <span class="fa fa-edit"></span>
                        </a>
                        <a href="#" [routerLink]="" 
                          (click)="ShowConformationMessaegForDelete(retailer?.RetailerId,retailer,1,0)" >
                          <span class="fa fa-trash"></span>
                        </a>
                        <div class="clsToggleButtonDiv">
                          <p-toggleButton 
                            [(ngModel)]="retailer.IsActive" 
                            onLabel="Active" offLabel="InActive"  
                            [style]="{'width':'90px'}"
                            id
                            (onChange)="ShowConformationMessaegForDeactive(retailer?.RetailerId,retailer,
                              rowIndex,0,1)">                    
                          </p-toggleButton>
                        </div>
                      </td>
                  </tr>
              </ng-template>
              <ng-template pTemplate="paginatorleft" let-state>
                <pagination-counts
                  *ngIf="allretailerList?.length"
                  [inputData]="allretailerList"
                  [inputEvent]="event"
                ></pagination-counts>
              </ng-template>
          </p-table>
        </p-panel>
      </p-panel>
    </div>        
  </div>

  <!-- Added by Devdan :: 28-Sep-2018 :: Dialog to view the detail of retailer on row click -->
  <!-- To view grid row details -->
  <p-dialog header="{{retailerResources.retailerlist}}" [(visible)]="displayInfoDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="620">
      <div class="ui-g ui-fluid" *ngIf="selectedRetailer">
        <!-- Retailer Type -->
        <div class="ui-g-12 ui-md-6">
          <div class="paddingRL">
              <label>
                <strong>{{ retailerResources.retailertype }}: </strong>
              </label>
    
              <label>
                {{ selectedRetailer?.RetalierType }}
              </label>
            </div>
        </div>
        <!-- End of Retialer Type -->
        <!-- RetailerName -->
        <div class="ui-g-12 ui-md-6">
            <div class="paddingRL">
                <label>
                  <strong>{{ retailerResources.retailer }}: </strong>
                </label>
      
                <label>
                  {{ selectedRetailer?.RetailerName }}
                </label>
              </div>
          </div>
          <!-- End of RetailerName -->
          <!-- LicenseNo -->
        <div class="ui-g-12 ui-md-6">
            <div class="paddingRL">
                <label>
                  <strong>{{ retailerResources.licenseno }}: </strong>
                </label>
      
                <label>
                  {{ selectedRetailer?.LicenseNo }}
                </label>
              </div>
          </div>
          <!-- End of LicenseNo -->
        <!-- UBINo -->
        <div class="ui-g-12 ui-md-6">
            <div class="paddingRL">
                <label>
                  <strong>{{ retailerResources.ubino }}: </strong>
                </label>
      
                <label>
                  {{ selectedRetailer?.UBINo }}
                </label>
              </div>
          </div>
          <!-- End of UBINo -->          
          <!-- OfficePhone -->
        <div class="ui-g-12 ui-md-6">
            <div class="paddingRL">
                <label>
                  <strong>{{ retailerResources.officephone }}: </strong>
                </label>
      
                <label>
                  {{ selectedRetailer?.OfficePhone }}
                </label>
              </div>
          </div>
          <!-- End of OfficePhone -->
          <!-- cellphone -->
        <div class="ui-g-12 ui-md-6">
            <div class="paddingRL">
                <label>
                  <strong>{{ retailerResources.cellphone }}: </strong>
                </label>
      
                <label>
                  {{ selectedRetailer?.CellPhone }}
                </label>
              </div>
          </div>
          <!-- End of cellphone -->
          <!-- primaryemail -->
        <div class="ui-g-12 ui-md-6">
            <div class="paddingRL">
                <label>
                  <strong>{{ retailerResources.primaryemail }}: </strong>
                </label>
      
                <label>
                  {{ selectedRetailer?.PrimaryEmail }}
                </label>
              </div>
          </div>
          <!-- End of primaryemail -->
          <!-- secondaryemail -->
        <div class="ui-g-12 ui-md-6">
            <div class="paddingRL">
                <label>
                  <strong>{{ retailerResources.secondaryemail }}: </strong>
                </label>
      
                <label>
                  {{ selectedRetailer?.SecondaryEmail }}
                </label>
              </div>
          </div>
          <!-- End of secondaryemail -->
            <!-- contactperson -->
          <div class="ui-g-12 ui-md-6">
              <div class="paddingRL">
                  <label>
                    <strong>{{ retailerResources.contactperson }}: </strong>
                  </label>
        
                  <label>
                    {{ selectedRetailer?.ContactPerson }}
                  </label>
                </div>
            </div>
            <!-- End of contactperson -->    
            <!-- country -->
            <div class="ui-g-12 ui-md-6">
              <div class="paddingRL">
                  <label>
                    <strong>{{ retailerResources.country }}: </strong>
                  </label>
        
                  <label>
                    {{ selectedRetailer?.CountryName }}
                  </label>
                </div>
            </div>
            <!-- End of country -->      
            <!-- state -->
            <div class="ui-g-12 ui-md-6">
                <div class="paddingRL">
                    <label>
                      <strong>{{ retailerResources.state }}: </strong>
                    </label>
          
                    <label>
                      {{ selectedRetailer?.StateName }}
                    </label>
                  </div>
              </div>
              <!-- End of state -->                    
              <!-- address -->
            <div class="ui-g-12 ui-md-6">
                <div class="paddingRL">
                    <label>
                      <strong>{{ retailerResources.address }}: </strong>
                    </label>
          
                    <label>
                      {{ selectedRetailer?.Address }}
                    </label>
                  </div>
              </div>
              <!-- End of address -->    
               <!-- city -->
            <div class="ui-g-12 ui-md-6">
                <div class="paddingRL">
                    <label>
                      <strong>{{ retailerResources.city }}: </strong>
                    </label>
          
                    <label>
                      {{ selectedRetailer?.CityName }}
                    </label>
                  </div>
              </div>
              <!-- End of city -->    
               <!-- zipcode -->
            <div class="ui-g-12 ui-md-6">
                <div class="paddingRL">
                    <label>
                      <strong>{{ retailerResources.zipcode }}: </strong>
                    </label>
          
                    <label>
                      {{ selectedRetailer?.ZipCode }}
                    </label>
                  </div>
              </div>
              <!-- End of zipcode -->    
               <!-- description -->
            <div class="ui-g-12 ui-md-6">
                <div class="paddingRL">
                    <label>
                      <strong>{{ retailerResources.description }}: </strong>
                    </label>
          
                    <label>
                      {{ selectedRetailer?.Description }}
                    </label>
                  </div>
              </div>
              <!-- End of description -->      
      </div>
      <p-footer>
          <div class="ui-dialog-buttonpane ui-helper-clearfix">
              <button type="button" pButton icon="fa fa-close" (click)="displayInfoDialog = false" label="Cancel"></button>          
          </div>
      </p-footer>
    </p-dialog>
  <!-- End of To view grid row details -->

  <p-growl [(value)]="msgs" life='5000'></p-growl>

  <!-- Added by Devdan :: 28-Sep-2018 :: Dialog to confirm before deleting the record -->
  <p-confirmDialog 
  header="Confirmation" 
  icon="fa fa-question-circle" 
  width="425" 
  *ngIf="true"
  class="clsConfirmBox" >
</p-confirmDialog> 
    

</div>

