<div class="ui-g " [formGroup]="CUSTOMTASK" *ngIf="PageFlag.page =='AssignTask'">
<!--SKILLS-->
<div class="ui-g-12 ui-md-6">
  <div class="paddingRL">
    <label for="strain">Skills<span class="star">*</span></label>{{ globalResource.labelcolon }}
    <p-dropdown #checkedItems
    [filter] ="true"
    [options]="skills"
    placeholder="-- Select --"
    (onChange)="onSkillsSelect($event)"
    formControlName="skills"
    class="clsControl"
    id="skills"
    name="skills">
    </p-dropdown>
  </div>
</div>
<!--END SKILLS-->
   <!--Employee-->
   <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label for="employeeList">Assigned To<span class="star">*</span></label>:
      <div>

              
        <div class="input-container">
          <input pInputText
          id="myTextBox"
          autocomplete="off"
          class="clsControl"
          [value]="employeeNameToBeDisplayedOnDropdown"
          placeholder="- -Select- -"
         (click)="showEmps($event)"
        />
        <span id="myTextBox" class="viewer2" *ngIf="!showUpArrow" (click)="showEmps($event)">
          <i id="myTextBox" class="fa fa-caret-down" ria-hidden="true"  (click)="showEmps($event)"></i>
        </span>
        <span id="myTextBox" class="viewer2" *ngIf="showUpArrow" (click)="showEmps($event)">
          <i id="myTextBox" class="fa fa-caret-up" ria-hidden="true"  (click)="showEmps($event)"></i>
        </span>
      </div>
      <p-tree [value]="files"  [ngClass]="!visibility?'myskillsdropdown':'showmyskillsdropdown'" styleClass="clsRoleAccessTree" selectionMode="checkbox"  [(selection)]="selectedSkillItems"
      [propagateSelectionUp]="false" (onNodeSelect)="OnSelectingEmployees($event)" (onNodeUnselect) = "OnUnSelectNode($event)" [propagateSelectionDown]="true"></p-tree>
       
      
      </div>
     
    </div>
  </div>
   <!-- <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
        <label for="strain">{{ globalResource.employee }}</label>{{ globalResource.labelcolon }}
                         <div style="clear:both"></div>
          <div class="clear"></div>
          <span *ngIf="TaskTypeKey=='CUSTOMTASK'" class="lblText">{{ _cookieService.EmpName }}</span>
          <div *ngIf="TaskTypeKey=='INDEPENDENT'" class="ui-inputgroup">
          <p-dropdown
               [filter] ="true"
              [options]="employees"
              placeholder="-- Select --"
              (onChange)="empOnChange()"
              [(ngModel)]="TaskModel.CUSTOMTASK.employee"
              [autoWidth]="true"              
              formControlName="employee"
              id="employee"
              class="clsControl"
              name="employee">
           
          </p-dropdown
          >
        </div>
      </div>
      <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                        *ngIf="!CUSTOMTASK.controls['employee'].valid&&CUSTOMTASK.controls['employee'].dirty&&TaskTypeKey=='INDEPENDENT'">

                          employee required
                      </div>
  </div> -->
  <!--End Employee-->

 <!--Estimated Start DateTime-->
 <div class="ui-g-12 ui-md-6">
   <div class="paddingRL">
       <label for="estimatedstartdatetime">
         {{ globalResource.eststartdate }}<span class="star">*</span>{{ globalResource.labelcolon }}
       </label>
       <small class="smallTextRed"
        *ngIf="showPastDateLabel"
        >({{ globalResource.pastdatetask }})
      </small>
       <!-- [maxDate]="TaskModel.CUSTOMTASK.enddate" -->
         <p-calendar                                  
           [(ngModel)]="TaskModel.CUSTOMTASK.startdate"
           [showIcon]="true"
           [disabled]="TaskTypeKey=='INDEPENDENT'?false:true"
           [defaultDate]="defaultDate"
           formControlName="estimatedstartdate"          
           class="clsControl"
           id="estimatedstartdate"
           name="estimatedstartdate"
           >
         </p-calendar> 
         <!-- (onSelect)="EstStartDate_Select()"
         (onInput)="EstStartDate_Select()"  -->                      
     </div>
 </div>
 <!--End Estimated Start DateTime-->   

<!--Selected Emp list-->
<div class="ui-g-12 ui-md-6">
  <div class="paddingRL">
    <label for="EmployeeListBox">Employee List</label>
    <div  class="EmployeeListBox">
      <ul class="emp-list" style='padding: 0px;'>
        <li  *ngFor="let i of employeeArray; let id=index" class="EmployeeListItem" >
          <span class="badge badge-pill badge-light emplisttext">{{i}}&nbsp;</span>
          
        </li>
      </ul>
    </div>  
  </div>
</div>
<!--End Selected Emp list-->

 <!--Priority-->
 <div class="ui-g-12 ui-md-6">
  <div class="paddingRL">
    <label for="employee">{{ globalResource.priority }}:</label>
                     
    <p-dropdown
      [options]="priorities"
      [(ngModel)]="TaskModel.CUSTOMTASK.priority"
      [autoWidth]="true"
      formControlName="priority"
      id="priority"
      class="clsControl"
      name="priority">
    </p-dropdown>                                  
  </div>
</div>
<!--End Priority-->

 <!--Comment-->
 <div class="ui-g-12 ui-md-6">
   <div class="paddingRL">
       <label for="comment">{{ assignTaskResources.comment }}</label>{{ globalResource.labelcolon }}
         <textarea                        
           pInputTextarea                        
           [(ngModel)]="TaskModel.CUSTOMTASK.usercomment"
           formControlName="comment"
           id="comment"
           name="comment"
           maxlength="500"
           class="clsControl"
         ></textarea>
 
         <div
           class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
           *ngIf="!CUSTOMTASK.controls['comment'].valid&&CUSTOMTASK.controls['comment'].dirty">
            
             <span *ngIf="CUSTOMTASK.controls['comment'].errors['maxLength']">
               {{ assignTaskResources.commentMaxLength }}
             </span>                      
       </div>
     </div>
 </div>
 <!--End Comment-->

 <!--Strat Notify managaer and employee-->
 <div class="ui-g-12 ui-md-6 " >
  <div class="paddingRL">                              
        <p-checkbox          
          label="Notify Manager"
         
          formControlName="notifymanager"
          binary="true"
        ></p-checkbox>

        <p-checkbox 
          value="true"
          label="Notify Employee"
         
          formControlName="notifyemployee"
          binary="true"
        ></p-checkbox>                                                              
    </div>
</div>
 <!--End Notify managaer and employee-->
 
 </div>
 
 <div *ngIf="PageFlag.page =='TaskAction'">
  <div class="ui-g">

    <!--Employee -->
    <div class="ui-g-12 ui-md-6">
      <div class="paddingRL">
          <label>
            <strong>{{ globalResource.employee }}: </strong>
          </label>
        
          <label>
            {{TaskModel?.EmpName}}
          </label>
        </div>
      </div>
      <!--End Employee -->
     
      <!--Estimated Start DateTime-->
      <div class="ui-g-12 ui-md-6">
        <div class="paddingRL">
            <label>
              <strong>{{ globalResource.eststartdate }}: </strong>
            </label>
          
              {{TaskModel?.EstStartDate }}
          </div>
        </div>
        <!--End Estimated Start DateTime-->

       <!--Actual Start DateTime-->
       <div class="ui-g-12 ui-md-6" *ngIf="TaskModel?.TaskStatus !== taskStatus.Assigned &&TaskModel?.TaskStatus !== ''" >
          <div class="paddingRL">
              <label>
                <strong>{{ globalResource.actualstartdate }}: </strong>
              </label>
            
                {{TaskModel?.ActStartDate }}
            </div>
          </div>
          <!--End Actual Start DateTime-->
  
        <!--Actual End DateTime-->
        <div class="ui-g-12 ui-md-6" *ngIf="TaskModel?.TaskStatus !== taskStatus.Assigned&&TaskModel?.TaskStatus !== ''">
          <div class="paddingRL">
            <label>
              <strong>{{ globalResource.actualenddate }}: </strong>
            </label>
          
              {{TaskModel?.ActEndDate}}
          </div>
        </div>
        <!--End Actual End DateTime-->

        <!--Actual Costs-->
        <div class="ui-g-12 ui-md-6" *ngIf="(TaskModel?.TaskStatus === taskStatus.Completed||TaskModel?.TaskStatus === taskStatus.ReviewPending)&&TaskModel?.TaskStatus !== ''">
            <div class="paddingRL">
                <label>
                  <strong>{{ assignTaskResources.actualcost }}: </strong>
                </label>
            
                {{TaskModel?.EmpFinalCost | currency }}
              </div>
            </div>
          <!--End Actual Costs-->

        <!--Misc. Cost-->
        <div class="ui-g-12 ui-md-6" *ngIf="TaskModel?.TaskStatus === taskStatus.Completed">
          <div class="paddingRL">
              <label>
                <strong>{{ globalResource.misccost }}: </strong>
              </label>
            
                {{taskReviewModel?.rmisccost | currency }}
            </div>
          </div>
          <!--End Misc. Cost-->
<hr />
      <!-- completion parameter -->  
      <div 
        *ngIf="TaskModel?.TaskStatus == taskStatus.ReviewPending||TaskModel?.TaskStatus == taskStatus.Completed"
        class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" 
        style="margin: 10px 0px; width:100%;">

            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
    
                </div>
                <div class="ui-grid-col-4">
                    <strong>Task Owner</strong>
                </div>
                <div class="ui-grid-col-4" *ngIf="showToManager">
                  <strong>Reviewer</strong>
                </div>
              </div>
    
            <!-- Emp Est Cost -->
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                    <strong>{{ globalResource.actualhrs }}:</strong>
                </div>
                <div class="ui-grid-col-4">
                   {{ TaskModel?.ActHrs | minutesToTime }}
                </div>
                <div class="ui-grid-col-4" *ngIf="showToManager">                
                   {{ taskReviewModel?.racthrs | minutesToTime }}
                </div> 
            </div>
            <!-- End Emp Cost -->
      </div>             
    <!--End completion parameter -->

 
  <p-dialog header="Task Completion" [(visible)]="PageFlag.showmodal" modal="modal" [resizable]="true" [responsive]="true" [width]="750" [minWidth]="200" >
        <form [formGroup]="completionForm" (ngSubmit)="submitCompleteParameter(completionForm.value)">

         <div class="ui-grid-row">
             <div class="ui-grid-col-4">
                <strong>{{ assignTaskResources.comment }}:</strong>
             </div>
             <div class="ui-grid-col-4">               
                 {{ taskReviewModel.comment }}
             </div>
             <div class="ui-grid-col-4">
                 <textarea                        
                   pInputTextarea                        
                   [(ngModel)]="taskCompletionModel.misccomment"
                   formControlName="misccomment"
                   id="misccomment"
                   name="misccomment"
                   maxlength="500"
                   class="clsControl"
                   binary="true"
                 ></textarea>                 
                 
             </div> 
             
         </div>
         <!-- End Emp Cost -->     
          <p-footer>
            <button type="submit" pButton icon="fa-check"  label="Confirm" ></button>
            <!-- [disabled]="!completionForm.valid" -->
            <button type="button" class="ui-button-secondary" pButton icon="fa-close" (click)="PageFlag.showmodal=false" label="Cancel"></button>
          </p-footer>
      </form>
  </p-dialog>

  <p-dialog header="Submit Review" [(visible)]="PageFlag.showReviewmodal" modal="modal" [resizable]="true" [responsive]="true" [width]="750" [minWidth]="200" >
      <form [formGroup]="reviewForm" (ngSubmit)="submitReviewParameter(reviewForm.value)">

        <!--  act hrs -->
        <table class="table noborder">
        <tr>
           <td>
               {{ assignTaskResources.actualhrs }}:
           </td>
           <td>
               {{ TaskModel?.ActHrs | minutesToTime }}
           </td>
           <td>
            <div class="ui-inputgroup ui-inputgroup-border" >
              <input type="number"                   
                  pInputText
                  autocomplete="off" 
                  [(ngModel)]="taskReviewModel.racthrs"                         
                  formControlName="ActHrs"
                  id="acthrs"
                  name="acthrs"
                  pKeyFilter="int"
                  style="width:80px"                   
                /> 
                <span>:</span>
                <input type="number"                  
                  pInputText
                  autocomplete="off"                   
                  [(ngModel)]="taskReviewModel.ractmins"                         
                  formControlName="ActMins"
                  pKeyFilter="int"
                  id="actmins"
                  name="actmins"  
                  style="width:80px"
                /> 
                <!-- Added by Devdan :: Sec to Min change :: 06-Nov-2018 -->
                <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                  *ngIf="!reviewForm.controls['ActMins'].valid&&reviewForm.controls['ActMins'].dirty">
                    <span *ngIf="reviewForm.controls['ActMins'].errors['max']">
                      {{ globalResource.maxMinSecValue }}
                    </span>
                </div>
                <!-- ADDED BY DEVDAN :: 06-NOV-2018 :: ADDING TEXTBOX FOR SECONDS -->
                <span>:</span>
                <input type="number"                  
                  pInputText         
                  autocomplete="off"      
                  pKeyFilter="int"    
                  [(ngModel)]="taskReviewModel.ractsecs"                         
                  formControlName="ActSecs"
                  id="actsecs"
                  name="actsecs"
                  style="width:80px"
                />
                <div class="ui-message ui-messages-error-Sec ui-corner-all" appErrorTooltip
                  *ngIf="!reviewForm.controls['ActSecs'].valid&&reviewForm.controls['ActSecs'].dirty">
                    <span *ngIf="reviewForm.controls['ActSecs'].errors['max']">
                      {{ globalResource.maxMinSecValue }}
                    </span>
                </div>
                <!-- END :: Sec to Min change :: 06-Nov-2018 -->
            </div> 
           </td> 
       </tr>
       <!-- End act hrs -->
 
         <!-- Emp Misc Cost -->
         <tr>
           <td>
               {{ assignTaskResources.misccost }}:
             </td>
             <td>             
                 {{ taskReviewModel.misccost | currency }}
             </td>
             <td>
                 <input type="number"
                   OnlyNumber="true" 
                   pInputText
                   autocomplete="off" 
                   [(ngModel)]="taskReviewModel.rmisccost"                         
                   formControlName="rmisccost"
                   id="misccost"
                   name="misccost"      
                 />                   
                 
             </td>             
         </tr>
          <!-- End Emp Misc Cost -->

         <tr>
           <td>
                <strong>{{ assignTaskResources.comment }}:</strong>
             </td>
             <td>              
                 {{ taskReviewModel.comment }}
             </td>
             <td>
                 <textarea                        
                   pInputTextarea                        
                   [(ngModel)]="taskReviewModel.rmisccomment"
                   formControlName="rmisccomment"
                   id="rmisccomment"
                   name="rmisccomment"
                   maxlength="500"
                   class="clsControl"
                   binary="true"
                 ></textarea>                 
                 
             </td> 
             
         </tr>
         <!-- End Emp Cost -->  
       </table>
         
        <p-footer>
          <button type="submit" pButton icon="fa-check"  label="Confirm"></button>
          <!-- [disabled]="!reviewForm.valid" -->
          <button type="button" class="ui-button-secondary" pButton icon="fa-close" (click)="PageFlag.showReviewmodal=false" label="Cancel"></button>
        </p-footer>
        <p></p>
    </form>
</p-dialog>

  <p-growl [(value)]="msgs" life='5000'></p-growl>
</div>