<div class="content-section implementation GridDemo orderRequest">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="error-main">
          <!-- <div class="error-heading">{{accessdeniedResources.oops}}</div> -->
          <div style="text-align: center; margin-top: 10%;"> 
           <h4 style="color: green;">You have successfully signed in.</h4>
           <span>We recommend that you change your password. </span> 
            <!-- <strong> {{accessdeniedResources.rediretmsg}}  </strong> -->
            <span> <a class="btn-link" [routerLink]="" (click)="redirectClick()" > Click here.</a> </span>
        </div>
      </div>
    </div>
  </div>
</div>