<!-- sidebar.component.html -->

<!-- <section [ngClass]="menustatus ? 'small' : 'big'"> -->
<section [ngClass]="inputClass">
    <aside id="leftsidebar" class="sidebar">
        <form action="#" method="get" class="sidebar-form ng-pristine ng-valid">
            <div class="input-group">
                <input [(ngModel)]="navText" (change)="searchNav()" autocomplete="off" name="q" class="form-control"
                    placeholder="Search..." type="text">
                <!-- (change)="searchNav()" -->
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- <div class="menuheader">MAIN NAVIGATION</div>
            <p-panelMenu [model]="items" [style]="{'width':'100%'}"></p-panelMenu>

            <hr>
            <ul>
                    <li><a><i class="zmdi zmdi-home"></i> Home</a></li>
                    
                    <li>
                        <a (click)="toggleNavigationSub('Profile', $event)">Profile</a>
            
                        <ul [@toggleHeight]="navigationSubState['Profile']">
                            <li><a>Settings</a></li>
                            <li><a>Privacy</a></li>
                        </ul>
                    </li>
                    <li>
                        <a (click)="toggleNavigationSub('Messages', $event)">Messages</a>
            
                        <ul [@toggleHeight]="navigationSubState.Messages">
                            <li><a>Notifications</a></li>
                            <li><a>Private</a></li>
                        </ul>
                    </li>
                </ul>

                    <hr> -->


        <div class="menu">
            <ul class="list">
                <li class="header">
                    <span>MAIN NAVIGATION</span>
                </li>


                <li *ngFor="let item of items  ; let i= index">

                    <div>
                                        <a (click)="toggleNavigationSub(i, $event)" *ngIf="item.items?.length > 0">
                                            <label class="fa {{item.icon}} material-icons"></label>
                                            <span>{{ item?.label }}</span>
                                            <span [ngClass]="plottedmenuItems[i]?.arrow"><i class="fa fa-angle-left pull-right"></i> </span>
                                        </a>
                                        <a (click)="toggleNavigationSub(i, $event)" routerLink="{{item.routerLink}}" *ngIf="item.items?.length <= 0">
                                            <label class="fa {{item.icon}} material-icons"></label>
                                            <span>{{ item?.label }}</span>
                                        </a>
                                        <ul [@toggleHeight]="plottedmenuItems[i]?.subState">
                                            <li *ngFor="let subitem of item.items">
                                                <a href="javascript:void(0);" routerLink="{{subitem.routerLink}}">
                                                    <i class="fa fa-circle-o"></i>
                                                    <span>{{ subitem?.label }}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

<!-- 
                    <div>
                        <a (click)="toggleNavigationSub(item.num, $event)" *ngIf="item.items?.length > 0">
                            <label class="fa {{item.icon}} material-icons"></label>
                            <span>{{ item.label }}</span>

                            <span [ngClass]="arrow[item.num]"><i class="fa fa-angle-left pull-right"></i> </span>
                        </a>

                        <a (click)="toggleNavigationSub(item.num, $event)" routerLink="{{item.routerLink}}" *ngIf="item.items?.length <= 0">
                            <label class="fa {{item.icon}} material-icons"></label>
                            <span>{{ item.label }}</span>


                        </a>

                        <ul [@toggleHeight]="navigationSubState[item.num]">
                            <li *ngFor="let subitem of item.items">
                                <a href="javascript:void(0);" routerLink="{{subitem.routerLink}}">
                                    <i class="fa fa-circle-o"></i>
                                    <span>{{ subitem.label }}</span>
                                </a>
                            </li>
                        </ul>
                    </div> -->
                </li>
                <li *ngIf="items?.length <= 0">
                        <span class="ui-message ui-messages-info ui-corner-all" style="width: 100%;">
                            No records found!
                        </span>
                    </li>
            </ul>
        </div>
        <!-- #Menu -->

    </aside>
    <!-- #END# Left Sidebar -->

</section>