<section [ngClass]="inputClass">
    <aside id="leftsidebar" class="sidebar">
        <form action="#" method="get" class="sidebar-form ng-pristine ng-valid">
            <div class="input-group">
                <input [(ngModel)]="navText" (change)="searchNav()" autocomplete="off" name="q" class="form-control"
                    placeholder="Search..." type="text">
                <!-- (change)="searchNav()" -->
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <div class="menu">
            <ul class="list">
                <li class="header">
                    <span>MAIN NAVIGATION</span>
                </li>
                <li *ngFor="let item of items  ; let i= index">
                    <div>
                        <a (click)="toggleNavigationSub(i, $event)" *ngIf="item.items?.length > 0" >
                            <label class="fa {{item.icon}} material-icons"></label>
                            <span>{{ item?.label }}</span>
                            <span [ngClass]="plottedmenuItems[i]?.arrow"><i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <a (click)="toggleNavigationSub(i, $event)" routerLink="{{item.routerLink}}" *ngIf="item.items?.length <= 0" [ngClass]="link === item.routerLink? 'Hightlight':''">
                            <label class="fa {{item.icon}} material-icons"></label>
                            <span >{{ item?.label }}</span>
                        </a>
                        <ul [@toggleHeight]="plottedmenuItems[i]?.subState">
                            <li *ngFor="let subitem of item.items; let j= index">
                                <a *ngIf="subitem.items?.length <= 0" (click)="navigatesubitems(j, i)" href="javascript:void(0);" routerLink="{{subitem.routerLink}}" [ngClass]="subLink === subitem.routerLink? 'Hightlight':''">
                                    <i class="fa fa-circle-o"></i>
                                    <span>{{ subitem?.label }}</span>
                                </a>
                            </li>
                        </ul>
                        <ul [@toggleHeight]="plottedmenuItems[i]?.subState">
                            <li *ngFor="let subitem of item.items; let j= index">
                                <a *ngIf="subitem.items?.length > 0" (click)="navigatesubitems1(j, i)" href="javascript:void(0);" [ngClass]="subLink === subitem.routerLink? 'Hightlight':''">
                                    <label class="fa {{subitem.icon}} material-icons"></label>
                                    <span>{{ subitem?.label }}</span>
                                    <span [ngClass]="subitem?.arrow"><i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul [@toggleHeight]="plottedmenuItems[i].items[j]?.subState">
                                   <li *ngFor="let subsubitem of item.items[j].items; let k= index">
                                      <a *ngIf="subsubitem.items?.length <= 0" (click)="navigatesubitems2(j,k, i)" href="javascript:void(0);" routerLink="{{subsubitem.routerLink}}"[ngClass]="subLink === subsubitem.routerLink? 'Hightlight':''">
                                        <i class="fa fa-circle-o"></i>
                                        <span>{{ subsubitem?.label }}</span>
                                      </a>
                                   </li>
                                </ul>
                                <ul [@toggleHeight]="plottedmenuItems[i].items[j]?.subState">
                                    <li *ngFor="let subsubitem of item.items[j].items; let k= index">
                                       <a *ngIf="subsubitem.items?.length > 0" (click)="navigatesubitems2(j,k, i)" href="javascript:void(0);" [ngClass]="subLink === subsubitem.routerLink? 'Hightlight':''">
                                         <span>{{ subsubitem?.label }}</span>
                                         <span [ngClass]="subsubitem?.arrow"><i class="fa fa-angle-left pull-right"></i>
                                         </span>
                                        
                                       </a>
                                       <ul [@toggleHeight]="plottedmenuItems[i].items[j].items[k]?.subState">
                                        <li *ngFor="let subsubsubitem of item.items[j].items[k].items; let m= index">
                                           <a *ngIf="subsubsubitem.items?.length <= 0" (click)="navigatesubitems3(j,k,m, i)"routerLink="{{subsubsubitem.routerLink}}" href="javascript:void(0);" [ngClass]="subLink === subsubsubitem.routerLink? 'Hightlight':''">
                                            <i class="fa fa-circle-o"></i>
                                             <span>{{ subsubsubitem?.label }}</span>
                                            
                                           </a>
                                        </li>
                                       
                                     </ul>
                                    </li>
                                 </ul>
                            </li>
                        </ul>
                        
                    </div>

                    <!-- 
                    <div>
                        <a (click)="toggleNavigationSub(item.num, $event)" *ngIf="item.items?.length > 0">
                            <label class="fa {{item.icon}} material-icons"></label>
                            <span>{{ item.label }}</span>
                            <span [ngClass]="arrow[item.num]"><i class="fa fa-angle-left pull-right"></i> </span>
                        </a>
                        <a (click)="toggleNavigationSub(item.num, $event)" routerLink="{{item.routerLink}}" *ngIf="item.items?.length <= 0">
                            <label class="fa {{item.icon}} material-icons"></label>
                            <span>{{ item.label }}</span>
                        </a>
                        <ul [@toggleHeight]="navigationSubState[item.num]">
                            <li *ngFor="let subitem of item.items">
                                <a href="javascript:void(0);" routerLink="{{subitem.routerLink}}">
                                    <i class="fa fa-circle-o"></i>
                                    <span>{{ subitem.label }}</span>
                                </a>
                            </li>
                        </ul>
                    </div> -->
                </li>
                <li *ngIf="items?.length <= 0">
                    <span class="ui-message ui-messages-info ui-corner-all" style="width: 100%;">
                        No records found!
                    </span>
                </li>
            </ul>
        </div>
        <!-- #Menu -->
    </aside>
    <!-- #END# Left Sidebar -->
</section>