<div class="ui-g " [formGroup]="PREBUCKING" *ngIf="PageFlag.page =='AssignTask'">
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label for="section">Section<span class="star">*</span></label>:
      <div class="clear"></div>
      <p-dropdown
          [filter] ="true"
          [options]="sections"
          (onChange)=" getStrainAndLightDept($event)"
          placeholder="-- Select --"
          [autoWidth]="true"
          formControlName="section"
          class="clsControl"
          id="section"
          name="section">
      </p-dropdown>
    </div>
  </div>
  
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label for="strain">Strain<span class="star">*</span></label>:
      <div class="clear"></div>
      <!-- <p-dropdown
          [filter] ="true"
          [options]="strains"
          (onChange)=" getStrainListByTask()"
          placeholder="-- Select --"
          [autoWidth]="true"
          formControlName="strain"
          class="clsControl"
          id="strain"
          name="strain">
      </p-dropdown> -->
      <input type="text" 
      pInputText 
      autocomplete="off"
      id="strain" 
      name="strain" 
      [ngModel]="strainName"
      formControlName="strain"         
      class="clsControl"  
      readonly
    />
    <input type="text" 
    pInputText 
    autocomplete="off"
    id="strainid" 
    name="strainid" 
 
    formControlName="strainid"         
    class="clsControl"  
    readonly
    style="display: none;"
  />
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label for="lightdept">Light Dept<span class="star">*</span></label>:
      <input type="text" 
      pInputText 
      autocomplete="off"
      id="lightdept" 
      name="lightdept" 
      [ngModel]="lightdept"
      formControlName="lightdept"         
      class="clsControl"  
      readonly
    />
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label for="EmployeeListBox">Employees Working For Planting</label>
      <div  class="EmployeeListBox">
        <ul class="emp-list" style='padding: 0px;'>
          <li  *ngFor="let i of workingEmp; let id=index" class="EmployeeListItem" >
            <span class="badge badge-pill badge-light emplisttext">{{i}}&nbsp;</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label for="employeeList">Assigned To<span class="star">*</span></label>:
      <p-multiSelect #checkedItems
      [filter] ="true"
      [options]="employees"
      placeholder="-- Select --"
      (onChange)="OnSelectingEmployees($event, checkedItems)"
      formControlName="employeeList"
      class="clsControl"
      id="employeeList"
      name="employeeList">
      </p-multiSelect>
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label for="estimatedstartdate">
        Est. Start Date<span class="star">*</span>:
      </label>
      <small class="smallTextRed"
          *ngIf="showPastDateLabel"
          >Task will be get created for past date
        </small>
        <p-calendar  
           [(ngModel)]="TaskModel.PREBUCKING.startdate"                      
           [showIcon]="true"
           [defaultDate]="defaultDate"      
           (onSelect)="estStartDate_Select()"
           (onInput)="estStartDate_Select()"  
           formControlName="estimatedstartdate"          
           class="clsControl"
           id="estimatedstartdate"
           name="estimatedstartdate"
           >
         </p-calendar>
         <!-- <div
           class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
           *ngIf="!SIFTING.controls['estimatedstartdate'].valid&&SIFTING.controls['estimatedstartdate'].dirty">
            
             <span *ngIf="SIFTING.controls['estimatedstartdate'].errors['required']">
               {{ globalResource.startdaterequired }}
             </span>                                                                                                                                                                            
         </div>
         <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip 
           *ngIf="SIFTING.hasError('invalidDate')" >
             {{ globalResource.datecomparevalidation }}
         </div>  -->
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label for="EmployeeListBox">Employee List</label>
      <div  class="EmployeeListBox">
        <ul class="emp-list" style='padding: 0px;'>
          <li  *ngFor="let i of employeeArray; let id=index" class="EmployeeListItem" >
            <span class="badge badge-pill badge-light emplisttext">{{i}}&nbsp;</span>
            
          </li>
        </ul>
      </div>  
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label for="employee">Priority</label>:
                       
      <p-dropdown
        [options]="priorities"
        [autoWidth]="true"
        formControlName="priority"
        id="priority"
        class="clsControl"
        name="priority">
      </p-dropdown>                                  
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
        <label for="comment">Comment</label>:
                           
          <textarea                        
            pInputTextarea                        
            
            formControlName="comment"
            id="comment"
            name="comment"
            maxlength="500"
            class="clsControl"
            binary="true"
          ></textarea>
  
          <!-- <div
            class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
            *ngIf="!SIFTING.controls['comment'].valid&&SIFTING.controls['comment'].dirty">
             
              <span *ngIf="SIFTING.controls['comment'].errors['maxLength']">
                {{ assignTaskResources.commentMaxLength }}
              </span>                      
        </div> -->
      </div>
  </div>
  <div class="ui-g-12 ui-md-6 " >
    <div class="paddingRL">                              
          <p-checkbox          
            label="Notify Manager"
           
            formControlName="notifymanager"
            binary="true"
          ></p-checkbox>
  
          <p-checkbox 
            value="true"
            label="Notify Employee"
           
            formControlName="notifyemployee"
            binary="true"
          ></p-checkbox>                                                              
      </div>
  </div>
</div>

<div *ngIf="PageFlag.page =='TaskAction'">
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label>
        <strong>Employee: </strong>
      </label>
      <label>
        {{TaskModel?.EmpName}}
      </label>
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label>
        <strong>Section: </strong>
      </label>
          {{TaskModel?.SectionName}}
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label>
        <strong>{{ globalResource.strain }}: </strong>
      </label>
          {{TaskModel?.StrainName}}
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label>
        <strong>Light Deprevation: </strong>
      </label>
          {{TaskModel?.IsLightDeprevation}}
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label>
        <strong>{{ globalResource.eststartdate }}: </strong>
      </label>
          {{TaskModel?.EstStartDate}}
    </div>
  </div>
  <div class="ui-g-12 ui-md-6" *ngIf="TaskModel?.TaskStatus !== taskStatus.Assigned&&TaskModel?.TaskStatus !== ''" >
    <div class="paddingRL">
        <label>
          <strong>{{ globalResource.actualstartdate }}: </strong>
        </label>
      
          {{TaskModel?.ActStartDate }}
      </div>
    </div>
  
  <div class="ui-g-12 ui-md-6" *ngIf="TaskModel?.TaskStatus !== taskStatus.Assigned&&TaskModel?.TaskStatus !== ''">
    <div class="paddingRL">
      <label>
        <strong>{{ globalResource.actualenddate }}: </strong>
      </label>
    
        {{TaskModel?.ActEndDate}}
    </div>
  </div>
  <div class="ui-g-12 ui-md-6" *ngIf="TaskModel?.TaskStatus !== taskStatus.Assigned&&TaskModel?.TaskStatus !== ''">
    <div class="paddingRL">
      <label>
        <strong>{{ globalResource.actualhrs }}: </strong>
      </label>
      
        {{ TaskModel?.ActHrs | minutesToTime }}
    
    <span  *ngIf="showToManager">                
        {{ taskReviewModel?.racthrs | minutesToTime }}
    </span> 
    </div>
  </div>
  <div class="ui-g-12 ui-md-6" *ngIf="TaskModel?.TaskStatus !== taskStatus.Assigned&&TaskModel?.TaskStatus !== ''&&TaskModel?.TaskStatus !== taskStatus.InProcess">
    <div class="paddingRL">
      <label>
        <strong>{{ globalResource.misccost }}: </strong>
      </label>
    
        {{TaskModel?.MiscCost}}
    </div>
  </div>
  <div class="ui-g-12 ui-md-6" *ngIf="TaskModel?.TaskStatus !== taskStatus.Assigned&&TaskModel?.TaskStatus !== ''&&TaskModel?.TaskStatus !== taskStatus.InProcess">
    <div class="paddingRL">
      <label>
        <strong>{{ globalResource.revHrs }}: </strong>
      </label>
    
      {{TaskModel?.RevHrs  | minutesToTime}}
    </div>
  </div>
  <div class="ui-g-12 ui-md-6" *ngIf="TaskModel?.TaskStatus !== taskStatus.Assigned&&TaskModel?.TaskStatus !== ''&&TaskModel?.TaskStatus !== taskStatus.InProcess">
    <div class="paddingRL">
      <label>
        <strong>{{ assignTaskResources.actualcost }}:: </strong>
      </label>
    
      {{TaskModel?.EmpFinalCost | currency}}
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label>
        <strong>{{ globalResource.priority }}: </strong>
      </label>
          {{TaskModel?.TaskPriority}}
    </div>
  </div>

 
  
    <div  class="ui-g-12" style="padding-top: 5px;" *ngIf="TaskModel?.TaskStatus !== taskStatus.Assigned&&TaskModel?.TaskStatus !== ''&&TaskModel?.TaskStatus !== taskStatus.InProcess">
      <div><b>Output Bin Details</b></div>
    <p-table [value]="BinData">
      <ng-template pTemplate="header">
        <tr>
          <th>Bin Name</th>
          <th>Bin Weight</th>
          <th>Is Bin Full</th>
      </tr>
      </ng-template>
      <ng-template pTemplate="body" let-TaskModel>
        <tr>
            <td>{{TaskModel.LabelName}}</td>
            <td>{{TaskModel.BinWt}}</td>
            <td>{{TaskModel.IsOpBinFilledCompletely}}</td>
        </tr>
    </ng-template>
    </p-table>
  </div>
  <p-dialog header="Task Completion" [(visible)]="PageFlag.showmodal" modal="modal" [resizable]="true" [responsive]="true" [width]="800" [minWidth]="200" >
    <form [formGroup]="completionForm" (ngSubmit)="submitCompleteParameter(completionForm.value)">
      <div class="ui-g"  style="width:100%;">
        <div class="ui-g-12 ui-md-6" style="text-align:left;">
          <div class="paddingRL">
            <span>Strain :- </span><span> {{TaskModel?.StrainName}}</span>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6 " style="text-align:right;">
          <div class="paddingRL">
            <p-checkbox value="true" label="IsStrainComplete"
            formControlName="isStrainComplete" checked="true"
           binary="true"></p-checkbox>  
          </div>
        </div>
      </div>
      <div formArrayName="items" style="position: relative">
        <div style="width:calc(100% - 20px);float:left;">
          <p-table [value]="preBuckingDetailsArr?.controls" id="preBuckingDetailsArr" name="preBuckingDetailsArr">
            <ng-template pTemplate="header">
              <tr>
                <th>Bin
                  <span class="star">*</span>
                 <p-button class="toplinks" type="button" icon="fa fa-list-ul" label="{{ assignTaskResources.viewaddbin}}" id="btn_binshow" (click)="viewBinsList(TaskModel)"  name="btnviewbins"></p-button>
                </th>
                <th>Dry Weight(lb)
                  <span class="star">*</span>
                </th>
                <th style="display: none;">Waste Weight
                   <span class="star">*</span>
                </th>
                <th style="display: none;">Wet Weight
                  <span class="star">*</span>
                </th>
                <th style="width: 80px;">IsBinFull
                    <!-- <span class="star">*</span> -->
                </th>
                <th style="width: 80px;">Action</th> 
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-i="rowIndex">
                <tr [formGroupName]="i">
                  <td>
                  <p-dropdown
                  id="binId"
                  formControlName="binId"
                  [options]="bins"
                  placeholder="-- Select --"
                  [autoWidth]="false"
                  class="clsControl"
                  name="binId">
                </p-dropdown>
                    </td>
                    <td>
                    <input pInputText
                        name="dryweight"
                        id="dryweight"
                        [value]="defaulDryWeight"
                        type="number"
                        autocomplete="off"
                        class="clsControl"       
                        formControlName="dryweight"
                        placeholder="Enter Dry Weight "
                        min="0.1">
                    </td>
                    <td style="display: none;">
                    <input pInputText
                        name="wasteweight"
                        id="wasteweight"
                        [(ngModel)]="defaultWasteWeight"
                        type="number"
                        autocomplete="off"
                        class="clsControl"       
                        formControlName="wasteweight"
                        placeholder="Enter Waste weight "
                        min="0.1">
                    </td>
                    <td style="display: none;">
                    <input pInputText
                        name="wetweight"
                        id="wetweight"
                        [(ngModel)]="defaultWtWeight"
                        type="number"
                        autocomplete="off"
                        class="clsControl"       
                        formControlName="wetweight"
                        placeholder="Enter Wet Weight "
                        min="0.1"
                        >
                    </td>
                    <td>
                      <p-checkbox value="true"
                       formControlName="binFull" checked="true"
                      binary="true"></p-checkbox>                                      
                    </td>
                    <td>
                      <a (click)="deleteItem(i)" >                                                    
                          <span style="font-size: 1.4rem;" class="fa fa-minus-circle">
                          </span>
                      </a> 
                        <a (click)="addItem()" *ngIf="completionForm.get('items').valid&&plusOnEdit === true">
                            <span class="fa fa-plus-circle" style="font-size: 1.4rem;">
                            </span>
                        </a>
                  </td>
                  <!-- <div class="ui-message ui-messages-error  ui-corner-all" appErrorTooltip *ngIf="item.hasError('prototypenotpresent')">
                    This section already exists.
                  </div>   -->
                </tr>
            </ng-template>
        </p-table>
        </div>
        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip *ngIf="preBuckingDetailsArr.hasError('duplicate')">
          duplicate entries
        </div>  
        
        <div class="ui-g" style="width:100%;text-align:right;">
          <div class="ui-g-12">
            <button pButton type="submit" label="Save" ></button>
            <button 
                pButton 
                (click)="resetForm()" 
                type="button" 
                label="Clear" 
                class="ui-button-secondary">
            </button>
          </div>
        </div>
      </div>
    </form>
  </p-dialog>


  <p-dialog header="Task Review" [(visible)]="PageFlag.showReviewmodal" modal="modal" [resizable]="true" [responsive]="true" [width]="800" [minWidth]="200" >
    <form [formGroup]="reviewForm" (ngSubmit)="submitReviewParameter(reviewForm.value)">
      <div class="ui-g"  style="width:100%;">
        <div class="ui-g-12 ui-md-6" style="text-align:left;">
          <div class="paddingRL">
            <span>Strain :- </span><span>{{TaskModel?.StrainName}}</span>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6"style="text-align:right;">
          <div class="paddingRL">
            <p-checkbox value="BinData[0].IsStrainCompleted" label="IsStrainComplete"
            formControlName="isStrainComplete" checked="true"
           binary="true"></p-checkbox>  
          </div>
        </div>
      </div>
      <p-table [value]="BinData">
        <ng-template pTemplate="header">
          <tr>
            <th>Bin Name</th>
            <th>Bin Weight</th>
            <th>Is Bin Full</th>
        </tr>
        </ng-template>
        <ng-template pTemplate="body" let-TaskModel>
          <tr>
              <td>{{TaskModel.LabelName}}</td>
              <td>{{TaskModel.BinWt}}</td>
              <td>{{TaskModel.IsOpBinFilledCompletely}}</td>
          </tr>
      </ng-template>
      </p-table>

      <div class="ui-grid-row" style="padding-top: 20px;">
        <div class="ui-grid-col-4">
          {{ assignTaskResources.actualhrs }}:
        </div>
        <div class="ui-grid-col-2">
          {{ TaskModel?.ActHrs | minutesToTime}}
        </div>
        <div class="ui-g-4">
          <div class="ui-inputgroup ui-inputgroup-border" >
            <input type="number"                   
            pInputText 
            autocomplete="off"
            pKeyFilter="int"
            [(ngModel)]="taskReviewModel.racthrs"                         
            formControlName="ActHrs"
            id="acthrs"
            name="acthrs"
            style="width:100px;"                      
          /> 
            <span>:</span>
            <input type="number"                  
            pInputText     
            autocomplete="off"   
            pKeyFilter="int"           
            [(ngModel)]="taskReviewModel.ractmins"                         
            formControlName="ActMins"
            id="actmins"
            name="actmins"
            style="width:100px;"                      
          />
          <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
              *ngIf="!reviewForm.controls['ActMins'].valid&&reviewForm.controls['ActMins'].dirty">
                <span *ngIf="reviewForm.controls['ActMins'].errors['max']">
                  {{ globalResource.maxMinSecValue }}
                </span>
          </div>
          <span>:</span>
          <input type="number"                  
          pInputText         
          autocomplete="off"      
          pKeyFilter="int"    
          [(ngModel)]="taskReviewModel.ractsecs"                         
          formControlName="ActSecs"
          id="actsecs"
          name="actsecs" 
          style="width:100px;"                 
        />
          <div class="ui-message ui-messages-error-Sec ui-corner-all" appErrorTooltip
                *ngIf="!reviewForm.controls['ActSecs'].valid&&reviewForm.controls['ActSecs'].dirty">
                  <span *ngIf="reviewForm.controls['ActSecs'].errors['max']">
                    {{ globalResource.maxMinSecValue }}
                  </span>
            </div>
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          {{ assignTaskResources.misccost }}:
        </div>
        <div class="ui-grid-col-4">
          {{ taskReviewModel.miscost | currency }}
        </div>
        <div class="ui-grid-col-4">
          <input type="text"
          OnlyNumber="true" 
          pInputText 
          pKeyFilter="num"
          autocomplete="off"                       
          formControlName="rmisccost"
          id="misccost"
          name="misccost"      
        />   
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          {{ assignTaskResources.comment }}:
        </div>
        <!-- <div class="ui-grid-col-4">               
          {{ taskReviewModel.comments }}
      </div> -->
      <div class="ui-g-4 ui-g-offset-4">
        <textarea                        
          pInputTextarea                        
          formControlName="rmisccomment"
          id="rmisccomment"
          name="rmisccomment"
          maxlength="500"
          class="clsControl"
          binary="true"
        ></textarea>                  
    </div> 
  </div>
  <p-footer>
    <button type="submit" pButton icon="fa-check"  label="Confirm"  ></button>
    <!-- [disabled]="!completionForm.valid" -->
    <button type="button" class="ui-button-secondary" pButton icon="fa-close" (click)="PageFlag.showReviewmodal=false" label="Cancel"></button>
  </p-footer>
    </form>
  </p-dialog>

 
  
  <p-growl [(value)]="msgs" life='5000'></p-growl>
  
</div>
