.clsNoteHeader > span:last-child{
    float: right;
}
.clsNoteHeader {
    padding: 10px;
    border-bottom:1px solid #ddd;
}
.marginBottom{
    margin-bottom: 10px;
}

/* .clsCommentDialog .ui-panel-content-wrapper{max-height: 150px;overflow: auto;} */