<div class="page-header">
  <h1 class="pull-left" style="margin:8px 0px;">
    <!--Page Heading-->
    <span>{{ prodDashboardResource.pageheading }}</span>
  </h1>
  <!-- Header Close and Collapse -->
  <div class="pull-right" style="padding:0px !important; margin-top:2px !important; margin-bottom:2px;">
    <button 
      pButton           
      type="button" 
      (click)="refreshData()"
      icon="fa fa-refresh" 
      label="Refresh" 
      style="float:right;"
    >
    </button>
  </div>
</div>

<div class="content-section implementation">  
  <div class="ui-g">     
    <!-- Grinding Tasks Inventory Details -->
    <div class="ui-g-12">      
      <p-panel header="Grinding Inventory Details" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
        <p-table #dtGrinding 
          [value]="dashboardObject?.grinding" 
          sortMode="single" 
          [responsive]="true" 
          [paginator]="true" 
          [rows]="10" 
          [rowsPerPageOptions]="paginationValuesgrinding"
          (onPage)="grindingonPageChange($event)"
          [globalFilterFields]="['StrainName','RequiredGrindWt','AvlRawWt','GrindAssignedWt']"
          id="tblGrindingInv" name="tblGrindingInv">
          <ng-template pTemplate="caption">
            <div style="text-align: right">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dtGrinding.filterGlobal($event.target.value, 'contains')"
                style="width:80%;">
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th [pSortableColumn]="'StrainName'">{{globalResource.strain}}
                <p-sortIcon [field]="'StrainName'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'RequiredGrindWt'">{{prodDashboardResource.requiredwt}}{{ globalResource.listgramunit }}
                <p-sortIcon [field]="'RequiredGrindWt'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'AvlRawWt'">{{prodDashboardResource.unassignedavailwt}}{{ globalResource.listgramunit }}
                <p-sortIcon [field]="'AvlRawWt'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'GrindAssignedWt'">{{prodDashboardResource.assignedwt}}{{ globalResource.listgramunit }}
                <p-sortIcon [field]="'GrindAssignedWt'"></p-sortIcon>
              </th>
              <th class="clsAssignTaskColumn"> {{ prodDashboardResource.assigntask }} </th>
            </tr>

            <tr>              
              <th>
                <input pInputText type="text" (input)="dtGrinding.filter($event.target.value, 'StrainName', 'contains')" class="clsControl">
              </th>
              <th>
                <input pInputText type="text" (input)="dtGrinding.filter($event.target.value, 'RequiredGrindWt', 'contains')" class="clsControl">
              </th>
              <th>
                <input pInputText type="text" (input)="dtGrinding.filter($event.target.value, 'AvlRawWt', 'contains')" class="clsControl">
              </th>
              <th>
                <input pInputText type="text" (input)="dtGrinding.filter($event.target.value, 'GrindAssignedWt', 'contains')" class="clsControl">
              </th>
              <th></th>          
            </tr>
          </ng-template>
          <ng-template pTemplate="body"  let-rowData let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">              
              <td>{{rowData?.StrainName}}</td>
              <td>{{rowData?.RequiredGrindWt}}</td>
              <td>{{rowData?.AvlRawWt}}</td>
              <td>{{rowData?.GrindAssignedWt}}</td>                   
              <td class="clsAssignTaskColumn">
                <!-- <u>
                  <a href="#" routerLink="../assigntask"  [queryParams] = "{ inputData: rowData | json }">
                   <a href="#" [routerLink]="" (click)="claimTask(rowData)"> 
                    {{ prodDashboardResource.claim }} 
                  </a>
                </u> -->
                  <button 
                    pButton 
                    type="button" 
                    [disabled]="rowData?.AvlRawWt <= 0"
                    (click)="claimTask(rowData)"
                    label="{{ prodDashboardResource.claim }}" 
                    class="ui-button-rounded"                    
                  >
                  </button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="5">
                {{ globalResource.norecordsfound }}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft" let-state>
            <pagination-counts
              *ngIf="dashboardObject?.grinding?.length"
              [inputData]="dashboardObject?.grinding"
              [inputEvent]="grindingevent"
            ></pagination-counts>
          </ng-template>
        </p-table>
      </p-panel>     
    </div>
     <!-- End Grinding Tasks Inventory Details -->

     <!-- Joints Creation Tasks Inventory Details -->
    <div class="ui-g-12">      
        <p-panel header="Joints Creation Inventory Details" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
          <p-table #dtJointsCreation
            [value]="dashboardObject?.jointsCreation" 
            sortMode="single" 
            [responsive]="true" 
            [paginator]="true" 
            [rows]="10"           
            [rowsPerPageOptions]="paginationValuesjointsCreation"
            (onPage)="jointsCreationonPageChange($event)"             
            [globalFilterFields]="['StrainName','RequiredJointsQty','AvlGrindWt','JointAssignedWt','UnitValue']"
            id="tblJointsCreationInv" name="tblJointsCreationInv">
            <ng-template pTemplate="caption">
              <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dtJointsCreation.filterGlobal($event.target.value, 'contains')"
                  style="width:80%;">
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th [pSortableColumn]="'StrainName'">{{globalResource.strain}}
                  <p-sortIcon [field]="'StrainName'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'UnitValue'">{{prodDashboardResource.pkgsize}}{{ globalResource.listgramunit }}
                    <p-sortIcon [field]="'UnitValue'"></p-sortIcon>
                  </th>
                <th [pSortableColumn]="'RequiredJointsQty'">{{prodDashboardResource.requiredqty}}
                  <p-sortIcon [field]="'RequiredJointsQty'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'AvlGrindWt'">{{prodDashboardResource.unassignedavailwt}}{{ globalResource.listgramunit }}
                  <p-sortIcon [field]="'AvlGrindWt'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'JointAssignedWt'">{{prodDashboardResource.assignedwt}}{{ globalResource.listgramunit }}
                  <p-sortIcon [field]="'JointAssignedWt'"></p-sortIcon>
                </th>
                <th class="clsAssignTaskColumn"> {{ prodDashboardResource.assigntask }} </th>
              </tr>
  
              <tr>              
                <th>
                  <input pInputText type="text" (input)="dtJointsCreation.filter($event.target.value, 'StrainName', 'contains')" class="clsControl">
                </th>
                <th>
                    <input pInputText type="text" (input)="dtJointsCreation.filter($event.target.value, 'UnitValue', 'contains')" class="clsControl">
                </th>
                <th>
                  <input pInputText type="text" (input)="dtJointsCreation.filter($event.target.value, 'RequiredJointsQty', 'contains')" class="clsControl">
                </th>
                <th>
                  <input pInputText type="text" (input)="dtJointsCreation.filter($event.target.value, 'AvlGrindWt', 'contains')" class="clsControl">
                </th>
                <th>
                  <input pInputText type="text" (input)="dtJointsCreation.filter($event.target.value, 'JointAssignedWt', 'contains')" class="clsControl">
                </th>
                <th></th>          
              </tr>
            </ng-template>
            <ng-template pTemplate="body"  let-rowData let-rowIndex="rowIndex">
              <!-- <tr class="ui-widget-header" *ngIf="rowGroupMetadataStrain[rowData?.StrainId].index === rowIndex">
                  <td colspan="6">
                      <span style="font-weight:bold">{{rowData?.StrainName}}</span>
                  </td>
              </tr> -->
              <tr>              
                <!-- <td *ngIf="rowGroupMetadataStrain[rowData?.StrainId].index === rowIndex" [attr.rowspan]="rowGroupMetadataStrain[rowData?.StrainId].size" >
                  {{rowData?.StrainName}}
                  {{rowGroupMetadataStrain[rowData?.StrainId].index === rowIndex }}      
                </td>

                <td *ngIf="rowGroupMetadataStrain[rowData?.StrainId].index !== rowIndex&& (!rowGroupMetadataStrain[rowData?.StrainId].size)">
                    {{rowData?.StrainName}}                      
                  </td> -->
                <td>
                    {{rowData?.StrainName}}                     
                </td>
                <td>{{rowData?.UnitValue}}
                    <!-- {{ rowGroupMetadataStrain[rowData?.StrainId].index  }}  
                    {{  rowIndex }}  
                    {{rowData?.StrainName}}   
                    {{rowGroupMetadataStrain[rowData?.StrainId].size}} -->
                </td>
                <td>{{rowData?.RequiredJointsQty}}</td>
                <td>{{rowData?.AvlGrindWt}}</td>
                <td>{{rowData?.JointAssignedWt}}</td>                   
                <td class="clsAssignTaskColumn">                       
                  <button 
                    pButton 
                    type="button" 
                    [disabled]="rowData?.AvlGrindWt <= 0"
                    (click)="claimTask(rowData)"
                    label="{{ prodDashboardResource.claim }}" 
                    class="ui-button-rounded"                    
                  >
                  </button>

                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td [attr.colspan]="5">
                  {{ globalResource.norecordsfound }}
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft" let-state>
              <pagination-counts
                *ngIf="dashboardObject?.jointsCreation?.length"
                [inputData]="dashboardObject?.jointsCreation"
                [inputEvent]="jointsCreationevent"
              ></pagination-counts>
            </ng-template>
          </p-table>
        </p-panel>     
      </div>
    <!-- End Joints Creation Tasks Inventory Details -->

    <!-- Tamping Inventory Details -->
    <div class="ui-g-12">      
        <p-panel header="Tamping Inventory Details" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
          <p-table #dtTamping
            [value]="dashboardObject?.tamping" 
            sortMode="single" 
            [responsive]="true" 
            [paginator]="true" 
            [rows]="10" 
            [rowsPerPageOptions]="paginationValuestamping"
            (onPage)="tampingonPageChange($event)"
            [globalFilterFields]="['StrainName','RequiredTampJointQty','AvlJointsQty','AssignedJointsQty','UnitValue']"
            id="tblTampingInv" name="tblTampingInv">
            <ng-template pTemplate="caption">
              <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dtTamping.filterGlobal($event.target.value, 'contains')"
                  style="width:80%;">
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th [pSortableColumn]="'StrainName'">{{globalResource.strain}}
                  <p-sortIcon [field]="'StrainName'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'UnitValue'">{{prodDashboardResource.pkgsize}}{{ globalResource.listgramunit }}
                    <p-sortIcon [field]="'UnitValue'"></p-sortIcon>
                  </th>
                <th [pSortableColumn]="'RequiredTampJointQty'">{{prodDashboardResource.requiredjoints}}
                  <p-sortIcon [field]="'RequiredTampJointQty'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'AvlJointsQty'">{{prodDashboardResource.unassignedjoints}}
                  <p-sortIcon [field]="'AvlJointsQty'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'AssignedJointsQty'">{{prodDashboardResource.assignedjoints}}
                  <p-sortIcon [field]="'AssignedJointsQty'"></p-sortIcon>
                </th>
                <th class="clsAssignTaskColumn"> {{ prodDashboardResource.assigntask }} </th>
              </tr>
  
              <tr>              
                <th>
                  <input pInputText type="text" (input)="dtTamping.filter($event.target.value, 'StrainName', 'contains')" class="clsControl">
                </th>
                <th>
                    <input pInputText type="text" (input)="dtTamping.filter($event.target.value, 'UnitValue', 'contains')" class="clsControl">
                </th>
                <th>
                  <input pInputText type="text" (input)="dtTamping.filter($event.target.value, 'RequiredTampJointQty', 'contains')" class="clsControl">
                </th>
                <th>
                  <input pInputText type="text" (input)="dtTamping.filter($event.target.value, 'AvlJointsQty', 'contains')" class="clsControl">
                </th>
                <th>
                  <input pInputText type="text" (input)="dtTamping.filter($event.target.value, 'AssignedJointsQty', 'contains')" class="clsControl">
                </th>
                <th></th>          
              </tr>
            </ng-template>
            <ng-template pTemplate="body"  let-rowData let-rowIndex="rowIndex">
              <tr>              
                <td>
                  {{rowData?.StrainName}}                  
                </td>
                <td>{{rowData?.UnitValue}}</td>
                <td>{{rowData?.RequiredTampJointQty}}</td>
                <td>{{rowData?.AvlJointsQty}}</td>
                <td>{{rowData?.AssignedJointsQty}}</td>                   
                <td class="clsAssignTaskColumn">
                  <button 
                    pButton 
                    type="button" 
                    [disabled]="rowData?.AvlJointsQty <= 0"
                    (click)="claimTask(rowData)"
                    label="{{ prodDashboardResource.claim }}" 
                    class="ui-button-rounded"                    
                  >
                  </button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td [attr.colspan]="5">
                  {{ globalResource.norecordsfound }}
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft" let-state>
              <pagination-counts
                *ngIf="dashboardObject?.tamping?.length"
                [inputData]="dashboardObject?.tamping"
                [inputEvent]="tampingevent"
              ></pagination-counts>
            </ng-template>
          </p-table>
        </p-panel>     
    </div>
     <!-- End Tamping Tasks Inventory Details -->

    <!-- Tubing Inventory Details -->
    <div class="ui-g-12">      
        <p-panel header="Tubing Inventory Details" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
          <p-table #dtTubing
            [value]="dashboardObject?.tubing" 
            sortMode="single" 
            [responsive]="true" 
            [paginator]="true" 
            [rows]="10"  
            [rowsPerPageOptions]="PaginationValuestubing"
            (onPage)="tubingonPageChange($event)"
            [globalFilterFields]="['StrainName','RequiredTubeQty','RequiredJointQty','AvlTampJointQty','AssignedTampJointQty','UnitValue','ItemQty','PkgTypeName']"
            id="tblTubingInv" name="tblTubingInv">
            <ng-template pTemplate="caption">
              <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dtTubing.filterGlobal($event.target.value, 'contains')"
                  style="width:80%;">
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th [pSortableColumn]="'StrainName'">{{globalResource.strain}}
                  <p-sortIcon [field]="'StrainName'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'PkgTypeName'">{{globalResource.pkgtype}}
                  <p-sortIcon [field]="'PkgTypeName'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'UnitValue'">{{prodDashboardResource.pkgsize}}{{ globalResource.listgramunit }}
                    <p-sortIcon [field]="'UnitValue'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'ItemQty'">{{globalResource.itemqty}}
                    <p-sortIcon [field]="'ItemQty'"></p-sortIcon>
                  </th>
                <th [pSortableColumn]="'RequiredTubeQty'">{{prodDashboardResource.requiredtubes}}
                  <p-sortIcon [field]="'RequiredTubeQty'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'RequiredJointQty'">{{prodDashboardResource.reqjoints}}
                    <p-sortIcon [field]="'RequiredJointQty'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'AvlTampJointQty'">{{prodDashboardResource.unassignedtampedjoints}}
                  <p-sortIcon [field]="'AvlTampJointQty'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'AssignedTampJointQty'">{{prodDashboardResource.assignedtampedjoints}}
                  <p-sortIcon [field]="'AssignedTampJointQty'"></p-sortIcon>
                </th>
                <th class="clsAssignTaskColumn"> {{ prodDashboardResource.assigntask }} </th>
              </tr>
  
              <tr>              
                <th>
                  <input pInputText type="text" (input)="dtTubing.filter($event.target.value, 'StrainName', 'contains')" class="clsControl">
                </th>
                <th>
                  <input pInputText type="text" (input)="dtTubing.filter($event.target.value, 'PkgTypeName', 'contains')" class="clsControl">
              </th>
                <th>
                    <input pInputText type="text" (input)="dtTubing.filter($event.target.value, 'UnitValue', 'contains')" class="clsControl">
                </th>
                <th>
                  <input pInputText type="text" (input)="dtTubing.filter($event.target.value, 'ItemQty', 'contains')" class="clsControl">
                </th>
                <th>
                  <input pInputText type="text" (input)="dtTubing.filter($event.target.value, 'RequiredTubeQty', 'contains')" class="clsControl">
                </th>
                <th> 
                    <input pInputText type="text" (input)="dtTubing.filter($event.target.value, 'RequiredJointQty', 'contains')" class="clsControl">                 
                </th>
                <th>
                  <input pInputText type="text" (input)="dtTubing.filter($event.target.value, 'AvlTampJointQty', 'contains')" class="clsControl">
                </th>
                <th>
                  <input pInputText type="text" (input)="dtTubing.filter($event.target.value, 'AssignedTampJointQty', 'contains')" class="clsControl">
                </th>
                <th></th>          
              </tr>
            </ng-template>
            <ng-template pTemplate="body"  let-rowData let-rowIndex="rowIndex">
              <tr>              
                <td>
                  {{rowData?.StrainName}}                  
                </td>
                <td>{{rowData?.PkgTypeName}}</td>   
                <td>{{rowData?.UnitValue}}</td>
                <td>{{rowData?.ItemQty}}</td>
                <td>{{rowData?.RequiredTubeQty}}</td>
                <td>{{rowData?.RequiredJointQty}}</td>
                <td>{{rowData?.AvlTampJointQty}}</td>
                <td>{{rowData?.AssignedTampJointQty}}</td>                   
                <td class="clsAssignTaskColumn">
                  <button 
                    pButton 
                    type="button" 
                    [disabled]="rowData?.AvlTampJointQty <= 0"
                    (click)="claimTask(rowData)"
                    label="{{ prodDashboardResource.claim }}" 
                    class="ui-button-rounded"                    
                  >
                  </button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td [attr.colspan]="5">
                  {{ globalResource.norecordsfound }}
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft" let-state>
              <pagination-counts
                *ngIf="dashboardObject?.tubing?.length"
                [inputData]="dashboardObject?.tubing"
                [inputEvent]="tubingevent"
              ></pagination-counts>
            </ng-template>
          </p-table>
        </p-panel>     
    </div>
     <!-- End Tubing Tasks Inventory Details -->
   </div>
</div>