h6{
    color:rgb(12, 137, 196);
}
@media screen and (min-width: 481px) and(max-width: 650px) {
   .card {
     height: auto;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .card {
      height: 430px;
     }
   }
   @media screen and (min-width: 1025px) and (max-width: 1400px) {
    .card {
      height: 330px;
     }
   }

#block{
    background-color:rgb(233, 241, 241); 
    text-align:end;
    padding: auto;
}
.blockdiv{
   color: rgb(7, 104, 196);  
}
/* @supports (-ms-ime-align:auto) {
  .card {
    height: 350px;
  }
} */
