<div class="page-header">
  <h1 class="pull-left" style="margin:8px 0px">
<span>Employee Performance Dashboard</span>
  </h1>
  <div class="pull-right" style="padding:0px !important; margin-top:2px !important; margin-bottom:2px;">
      
  </div>
</div>
<div class="content-section implementation GridDemo" style="background: #ffffff">
  <div class="ui-g-12" style="background: #ffffff">
    <div *ngIf="UserRoles.Employee!=userdetails.UserRole">
    <p-dropdown
    [filter] ="true" 
      [options]="EmployeeList" 
      placeholder="-- Select --"
      name="EmployeeList"
      (onChange)="Ondropdownchange($event)"
      >
    </p-dropdown>
   </div>
    <!-- <p-dropdown
    [options]="taskTypes"
    placeholder="-- Select --"
    [autoWidth]="true"
    class="clsControl" 
    formControlName="taskTypes"
    id="taskname"
    name="taskname">
  </p-dropdown> -->
    <div class="ui-g-12 ui-md-12" style="background: #ffffff" >
      <p-card>
        <p-dropdown
    [filter] ="true" 
      [options]="dropdowndatefilter" 
      placeholder="-- Select --"
      (onChange)="Ondropdowndatefilterchange($event)"
      [(ngModel)]="datefilter"
       name="dropdowndatefilter">
    </p-dropdown>
        <p-chart type="pie"  height="80w" responsive="true" [data]="data"></p-chart>
      </p-card>
    </div>
    
  </div>
      
<!-- 
  <div class="ui-g-10"  style="background: #ffffff; width: 100%;">
    <div class="ui-g-10">
      <h5><b>YEAR-TO-DATE:</b> </h5>
    </div>
    <div class="ui-g-12 ui-md-4">
      Number of Tasks Completed - 690<br>
      Trimming: 200 Grams per hour (average)<br>
      Number of Orders: 20/hour 
    </div>
    <div class="ui-g-12 ui-md-4 ui-md-ofset-4">
      Number of Joints/Hour: 120
      Number of Orders: 20/hour 
    </div>
    <div class="ui-g-12 ">
      <h5><b>MONTH-TO-DATE:</b></h5>
    </div>
    <div class="ui-g-12 ui-md-4">
      Tasks Completed – 135 <br>

      Trimming: 200 Grams per hour (average) <br>
      
      Number of Orders: 20/hour 
    </div>
    <div class="ui-g-12 ui-md-4 ui-md-ofset-4">
      Number of Joints/Hour: 120
      Number of Jars/Hour: 35	 
    </div>
    <div class="ui-g-12">
      <h5><b>PRODUCTIVITY STATISTICS FOR WEEK OF 5/21:</b> </h5>
    </div>
    <div class="ui-g-12 ui-md-4">
      Number of Joints/Hour: 120<br>

      Number of Jars/Hour: 35	 
      
    
    </div>
    <div class="ui-g-12 ui-md-4 ui-md-ofset-4">
      Trimming: 160 grams per hour 	 
      Number of Orders: 20/hour 
    </div>
  </div> -->
  <div class="ui-g-12" style="background: #ffffff; width: 100%;">
    <div *ngFor ="let ytd of ytdlistdist">
    <div class="ui-g-12" >
      <span><b> {{ytd}}</b></span>
     </div>
        <div *ngFor = "let ytdlist of allYtdlist; let id=index ">
    <!-- <span>{{ytdlist | json}}</span> -->
    
     <div *ngIf="ytd==ytdlist.Category" class="ui-g-6" >
       
      <span> {{ytdlist.Item}}</span>
     </div>
    </div>
    </div>
        </div>
  
</div>