<div class="page-header">
  <h1 class="pull-left" style="margin:8px 0px">
<span>Performance Dashboard</span>
  </h1>
  <div class="pull-right" style="padding:0px !important; margin-top:2px !important; margin-bottom:2px;">
      
  </div>
</div>
<div class="content-section implementation GridDemo" style="background: #ffffff">
  <div class="ui-g-12" style="background: #ffffff">
    <div *ngIf="UserRoles.Employee!=userdetails.UserRole">
    <p-dropdown
    [filter] ="true" 
      [options]="EmployeeList" 
      placeholder="-- Select --"
      name="EmployeeList"
      (onChange)="Ondropdownchange($event)"
      >
    </p-dropdown>
   </div>

    <div class="ui-g-12 ui-md-12" style="background: #ffffff" >
      <p-card>
        <p-dropdown
        [filter] ="true" 
          [options]="dropdowndatefilter" 
          placeholder="-- Select --"
          name="dropdowndatefilter"
          (onChange)="Ondropdowndatefilterchange($event)"
          [(ngModel)]="autoselectdatefilter"
        >
        </p-dropdown>
        <div class="ui-g-12 ui-md-12">
         
      <h1 class="headingOfChart">Time spent by task</h1>
        
      </div> 
        <p-chart type="pie"  height="80w" responsive="true" [data]="data"></p-chart>
         
      </p-card>
    </div>
    
  </div>

  
</div>
<div class="container ui-g-12">
  <div *ngFor ="let ytd of ytdlistdist">
    <div class="ui-g-12 ui-md-4">
      <div class="card" style="padding:10px">
        <div class="ui-g-12 ui-md-12">
          <h6 class="font-weight-bold">{{ytd}}</h6>
        </div>
        <div *ngFor = "let ytdlist of allYtdlist; let id=index ">
          <div *ngIf="ytd==ytdlist.Category" class="ui-g-12 ui-md-12">
            <div class="ui-g-7 ui-md-7">
              <span> {{ytdlist.SubCategory}}</span>
            </div>
           <div class="ui-g-5 ui-md-5" id="block">
            <span class="blockdiv"> {{ytdlist.Item}}</span>
           </div>
           <!-- <div class="ui-g-5 ui-md-5">
            <span> {{ytdlist.UOM}}</span>
           </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>