<div class="content-section implementation GridDemo">
  <div class="ui-g">     
      <div class="ui-g-12">        
          <p-panel header="{{ lotTrackingDetails.pageheading }}">
              <form [formGroup]="lotTrackingForm">                     
                  <div  class="ui-g" >
                      <div class="ui-g-3">
                          {{ globalResource.lotno }}
                      </div>
                      <div class="ui-g-6">
                          <p-dropdown 
                              [options]="lots" 
                              [(ngModel)]="lotTrackingModel.lotno"                              
                              formControlName="lotno"
                              class="clsControl" 
                              id="lotno" 
                              editable = "true"                                            
                              name="lotno">
                          </p-dropdown>
                      </div>
                  </div>

                      <div formArrayName="items">
                          <table class="table">
                              <tr>
                                  <th>{{ globalResource.taskname }}</th>                                                                   
                                  <th>{{ globalResource.action }}</th>
                                  <th>{{ globalResource.skewed }}</th>
                                  <th>{{ globalResource.debit }}</th>
                                  <th>{{ globalResource.credit }}</th>
                                  <th>{{ globalResource.balance }}</th>
                                  <!-- <th>{{ globalResource.nexttask }}</th>                                      -->
                                  <!-- <th></th>                                -->
                              </tr>
                              <tbody>
                              <tr 
                                  *ngFor="let item of lotTrackingForm.get('items'); let i = index;" 
                                  [formGroupName]="i">
                                  <td>
                                      <p-dropdown                  
                                        [options]="tasknames"                                        
                                        [autoWidth]="true"
                                        formControlName="task"
                                        class="clsControl" 
                                        id="task"
                                        name="task">
                                      </p-dropdown>
                                  </td>  
                                  <td>                                                                             
                                      <p-dropdown                  
                                        [options]="status"                                        
                                        [autoWidth]="true"
                                        formControlName="status"
                                        class="clsControl" 
                                        id="status"
                                        name="status">
                                      </p-dropdown>
                                  </td>                              
                                  <td>
                                      <p-dropdown 
                                          [options]="skewed"                                          
                                          placeholder="Select" 
                                          formControlName="skewed"
                                          class="clsControl"
                                          id="skewed"                                             
                                          name="skewed">
                                      </p-dropdown>
                                  </td>
                                  <td>
                                      <input                        
                                          pInputText                                             
                                          id="debit" 
                                          type="number" 
                                          autocomplete="off"
                                          formControlName="debit"                                         
                                          (change)="UpdateInventory('debit', item)"
                                          class="clsControl"                                     
                                      >
                                  </td>
                                  <td>                                        
                                      <input                        
                                        pInputText                                             
                                        id="credit" 
                                        type="number" 
                                        autocomplete="off"
                                        formControlName="credit"                                           
                                        (change)="UpdateInventory('credit', item)"
                                        class="clsControl"                                        
                                      >
                                  </td>
                                  <td>                                        
                                      <input                        
                                        pInputText                                             
                                        id="balance" 
                                        type="number"
                                        autocomplete="off"
                                        formControlName="balance"                                       
                                        class="clsControl"
                                        readonly="true"                                      
                                      >
                                  </td>
                                  <!-- <td>                                                                              
                                      <p-dropdown                  
                                        [options]="tasknames"                                        
                                        [autoWidth]="true"
                                        formControlName="nexttask"
                                        class="clsControl" 
                                        id="nexttask"
                                        name="nexttask">
                                      </p-dropdown>                                      
                                  </td>                                   -->
                                  <!-- <td>
                                      <a (click)="deleteItem(i)" *ngIf="lotTrackingForm.get('items').controls.length > 1"  >
                                              
                                          <span class="fa fa-minus-circle">
                                          </span>
                                      </a>                                                                       
                                  </td> -->
                              </tr>
                              <tr>
                                  <td>
                                      <a (click)="addItem()"  >
                                          <span  class="fa fa-plus-circle">                                
                                          </span>
                                      </a>
                                      
                                  </td>
                              </tr>
                              </tbody>                               
                          </table>

                        </div>                                          
              </form>
            

              <div >
                  <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th>{{lotTrackingDetails.unskewmaterialwt}}</th>
                        <th>{{lotTrackingDetails.budmaterialwt}}</th>
                        <th>{{lotTrackingDetails.jointsmaterialwt}}</th>
                        <th>{{lotTrackingDetails.oilmaterialwt}}</th>
                        <th>{{lotTrackingDetails.wastematerialwt}}</th>
                      </tr>
                    </thead>    

                    <tbody>
                      <tr>
                          <td> Assigned </td>
                          <td>
                              <input                        
                                pInputText                                                                                    
                                type="number"
                                autocomplete="off"                                
                                [(ngModel)]="lotTrackingModel1.unskewedassigned"
                                class="clsControl"
                                readonly="true"                                  
                              >
                          </td>
                          <td>
                              <input                        
                                pInputText                                                                                    
                                type="number"
                                autocomplete="off"                                        
                                [(ngModel)]="lotTrackingModel1.budassigned"
                                class="clsControl"
                                readonly="true"                                  
                              >
                          </td>
                          <td>
                              <input                        
                                pInputText                                                                                    
                                type="number"
                                autocomplete="off"                                        
                                [(ngModel)]="lotTrackingModel1.jointsassigned"
                                class="clsControl"
                                readonly="true"                                      
                              >
                          </td>
                          <td>
                              <input                        
                                pInputText                                                                                     
                                type="number"
                                autocomplete="off"                                        
                                [(ngModel)]="lotTrackingModel1.oilassigned"
                                class="clsControl"
                                readonly="true"                                      
                              >
                          </td>                                
                        <td>
                            <input                        
                              pInputText                                                                                    
                              type="number"
                              autocomplete="off"                                        
                              [(ngModel)]="lotTrackingModel1.wasteassigned"
                              class="clsControl"
                              readonly="true"                                      
                            >
                        </td>
                      </tr>                                            
                      <tr>
                          <td> Un-Assigned </td>
                          <td>
                              <input                        
                                pInputText                                                                                    
                                type="number"
                                autocomplete="off"                                        
                                [(ngModel)]="lotTrackingModel1.unskewedbal"
                                class="clsControl"
                                readonly="true"                                  
                              >
                          </td>
                          <td>
                              <input                        
                                pInputText                                                                                      
                                type="number"
                                autocomplete="off"                                        
                                [(ngModel)]="lotTrackingModel1.budbal"
                                class="clsControl"
                                readonly="true"                                      
                              >
                          </td>
                          <td>
                              <input                        
                                pInputText                                                                                      
                                type="number"
                                autocomplete="off"                                        
                                [(ngModel)]="lotTrackingModel1.jointsbal"
                                class="clsControl"
                                readonly="true"                                      
                              >
                          </td>
                          <td>
                              <input                        
                                pInputText                                                                                      
                                type="number"
                                autocomplete="off"                                        
                                [(ngModel)]="lotTrackingModel1.oilbal"
                                class="clsControl"
                                readonly="true"                                      
                              >
                          </td>
                          <td>
                              <input                        
                                pInputText                                                                                        
                                type="number"
                                autocomplete="off"                                        
                                [(ngModel)]="lotTrackingModel1.wastebal"
                                class="clsControl"
                                readonly="true"                                      
                              >
                          </td>
                        </tr>
                        
                    </tbody>
                  </table>  
                </div>  
              <p-growl [(value)]="msgs" life='5000'></p-growl>
          </p-panel>
      </div>      
  </div>
</div>