<div class="content-section implementation GridDemo orderRequest">
    <div class="ui-g">
  
      <div class="ui-g-12">
            <!-- New Client -->
          <p-panel header="{{ clientResources.pageheading }}" [toggleable]="true" [style]="{'margin-bottom':'20px'}" >
            <form
              [formGroup]="clientForm"
              (ngSubmit)="onSubmit(clientForm.value)">
               
               <div class="ui-g">
                           <!--Client -->
                           <div class="ui-g-12 ui-md-6">
                              <div class="paddingRL">
                                  <div class="le-su-12">
                                      <label for="client" class="towlable">{{ clientResources.client}}<span class="star">*</span></label>:
                
                                      <input pInputText
                                        name="client"
                                        id="client"
                                       autocomplete="off"
                                        type="text"
                                        class="clsControl"
                                        formControlName="client"
                                      />
                                      
                                      <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                      *ngIf="!clientForm.controls['client'].valid&&clientForm.controls['client'].dirty">
                                      {{ clientResources.clientrequired }}
                                      </div>
            
                                    </div>
                                  </div>
                               </div>
                              
                              <!--End Client -->
            
                             <!--Contact Person-->
                             <div class="ui-g-12 ui-md-6">
                              <div class="paddingRL">
                                  <label for="contactperson"> {{ clientResources.contactperson}}<span class="star">*</span></label>:
          
                                  <input pInputText
                                    name="contactperson"
                                    id="contactperson"
                                    autocomplete="off"
                                    type="text"
                                    class="clsControl"
                                    formControlName="contactPerson"
                                  />
                                  <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                  *ngIf="!clientForm.controls['contactPerson'].valid&&clientForm.controls['contactPerson'].dirty">
                                  {{ clientResources.contactpersonrequired }}
                                  </div>
                                </div>
                            </div>
          
                             <!--End Contact Person -->

                                   <!--UTC Time Zone -->
                            <div class="ui-g-12 ui-md-6">
                              <div class="paddingRL">
                                  <div class="le-su-12">
                                      <label for="utctimezone" class="towlable">{{ clientResources.utctimezone}}<span class="star">*</span></label>:
                
                                      <p-dropdown
                                      [filter] ="true"
                                      id="utctimezone"
                                      formControlName="UTCTimeZone"
                                      [options]="allUTCTimeZoneList"
                                      placeholder="-- Select --"
                                      [autoWidth]="false"
                                      class="clsControl"
                                      name="utctimezone">
                                      </p-dropdown>
                                      
                                      <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                      *ngIf="!clientForm.controls['UTCTimeZone'].valid&&clientForm.controls['UTCTimeZone'].dirty">
                                      {{ clientResources.utctimezonerequired }}
                                      </div>
            
                                    </div>
                                  </div>
                               </div>
                              
                              <!--End UTC Time Zone  -->

                                  <!--date format -->
                            <div class="ui-g-12 ui-md-6">
                              <div class="paddingRL">
                                  <div class="le-su-12">
                                      <label for="utctimezone" class="towlable">{{ clientResources.dateformat}}<span class="star">*</span></label>:
                
                                      <p-dropdown
                                      [filter] ="true"
                                      id="dateformat"
                                      formControlName="dateFormat"
                                      [options]="allDateFormatList"
                                      placeholder="-- Select --"
                                      [autoWidth]="false"
                                      class="clsControl"
                                      name="dateformat">
                                      </p-dropdown>
                                      
                                      <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                      *ngIf="!clientForm.controls['dateFormat'].valid&&clientForm.controls['dateFormat'].dirty">
                                      {{ clientResources.dateformatrequired }}
                                      </div>
            
                                    </div>
                                  </div>
                               </div>
                              
                              <!--End date format -->

                                <!-- Office Phone -->
                                <div class="ui-g-12 ui-md-6">
                                    <div class="paddingRL">
                                        <label for="officephone"> {{ clientResources.officephone}}<span class="star">*</span></label>:
                
                                        <input pInputText
                                          name="officephone"
                                          id="officephone"
                                          type="text"
                                          autocomplete="off"
                                          pKeyFilter="int"
                                          class="clsControl"
                                          formControlName="officePhone"
                                        />
                
                                        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                          *ngIf="!clientForm.controls['officePhone'].valid&&clientForm.controls['officePhone'].dirty">
                                          <span *ngIf="clientForm.controls['officePhone'].errors['required']">
                                            {{clientResources.officephonerequired}}
                                          </span>
                                        </div>
                                        
                                      </div>
                                  </div>
                                 
                                  <!--End Office Phone -->
                                  <!-- cell phone -->
                              <div class="ui-g-12 ui-md-6">
                                  <div class="paddingRL">
                                      <label for="cellphone"> {{ clientResources.cellphone}}</label>:
              
                                      <input pInputText
                                        name="cellphone"
                                        id="cellphone"
                                        autocomplete="off"
                                        type="text"
                                        class="clsControl"
                                        formControlName="cellPhone"
                                      />
              
                                    </div>
                                </div>
                             
                                <!--End cell phone -->
                                <!-- fax phone -->
                               <div class="ui-g-12 ui-md-6">
                                  <div class="paddingRL">
                                    <label for="cellphone"> {{ clientResources.faxphone}}</label>:
            
                                    <input pInputText
                                      name="faxphone"
                                      id="faxphone"
                                      autocomplete="off"
                                      type="text"
                                      class="clsControl"
                                      formControlName="faxPhone"
                                    />
            
                                  </div>
                              </div>
            
                                <!--End fax phone -->
                                <!-- Primary Email-->
                                <div class="ui-g-12 ui-md-6">
                                  <div class="paddingRL">
                                      <label for="primaryemail"> {{ clientResources.primaryemail}}<span class="star">*</span></label>:
              
                                      <input pInputText
                                        name="primaryemail"
                                        autocomplete="off"
                                        id="primaryemail"
                                        type="text"
                                        class="clsControl"
                                        formControlName="primaryEmail"
                                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                        />
                                        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                        *ngIf="!clientForm.controls['primaryEmail'].valid&&clientForm.controls['primaryEmail'].dirty">
                                        <span *ngIf="clientForm.controls['primaryEmail'].errors['required']">
                                        {{ clientResources.primaryemailrequired }}
                                      </span>
                                        </div>

                                      <div class="ui-message ui-messages-error ui-corner-all"
                                      *ngIf="!clientForm.controls['primaryEmail'].valid &&clientForm.controls['primaryEmail'].errors.pattern">
                                      {{ globalResource.validemail  }} 
                                      </div>
                                    </div>
                                </div>
              
                                  <!--End Primary Email -->
                                  <!-- Primary Email-->
                                <div class="ui-g-12 ui-md-6">
                                  <div class="paddingRL">
                                      <label for="secondaryemail"> {{ clientResources.secondaryemail}}</label>:
              
                                      <input pInputText
                                        name="secondaryemail"
                                        id="secondaryemail"
                                        type="text"
                                        autocomplete="off"
                                        class="clsControl"
                                        formControlName="secondaryEmail"
                                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                      />
            
                                      <div class="ui-message ui-messages-error ui-corner-all"
                                      *ngIf="!clientForm.controls['secondaryEmail'].valid &&clientForm.controls['secondaryEmail'].errors.pattern">
                                      {{ globalResource.validemail }} 
                                      </div>
                                    </div>
                                </div>
              
                                  <!--End Primary Email -->
                                 
                                 <!--Address-->
                                <div class="ui-g-12 ui-md-6">
                                  <div class="paddingRL">
                                      <label for="address"> {{ clientResources.address}}<span class="star">*</span></label>:
              
                                      <input pInputText
                                        name="address"
                                        id="address"
                                        type="text"
                                        autocomplete="off"
                                        class="clsControl"
                                        formControlName="address"
                                      />
                                      <div class="ui-message ui-messages-error ui-corner-all"
                                      *ngIf="!clientForm.controls['address'].valid&&clientForm.controls['address'].dirty">
                                      {{ clientResources.addressrequired }}
                                      </div>
                                    </div>
                                </div>
              
                                 <!--End Address -->
                                 
                                <!--country -->
                            <div class="ui-g-12 ui-md-6">
                              <div class="paddingRL">
                                  <div class="le-su-12">
                                      <label for="country" class="towlable">{{ clientResources.country}}<span class="star">*</span></label>:
                
                                      <p-dropdown
                                      [filter] ="true"
                                      id="country"
                                      formControlName="country"
                                      [options]="countries"
                                      (onChange)="countryChange()"
                                      placeholder="-- Select --"
                                      autocomplete="off"
                                      [autoWidth]="false"
                                      class="clsControl"
                                      name="country">
                                      </p-dropdown>
                                      
                                      <div class="ui-message ui-messages-error ui-corner-all"  
                                      *ngIf="!clientForm.controls['country'].valid&&clientForm.controls['country'].dirty">
                                      {{ clientResources.countryrequired }}
                                      </div>
            
                                    </div>
                                  </div>
                               </div>
                              
                              <!--End country -->
                                <!--state -->
                            <div class="ui-g-12 ui-md-6">
                              <div class="paddingRL">
                                  <div class="le-su-12">
                                      <label for="state" class="towlable">{{ clientResources.state}}<span class="star">*</span></label>:
                
                                      <p-dropdown
                                      [filter] ="true"
                                      id="state"
                                      formControlName="state"
                                      (onChange)="stateChange()"
                                      autocomplete="off"
                                      [options]="states"
                                      placeholder="-- Select --"
                                      [autoWidth]="false"
                                      class="clsControl"
                                      name="state">
                                      </p-dropdown>
              
                                      <div class="ui-message ui-messages-error ui-corner-all"  
                                      *ngIf="!clientForm.controls['state'].valid&&clientForm.controls['state'].dirty">
                                      {{ clientResources.staterequired }}
                                      </div>
            
                                    </div>
                                  </div>
                               </div>
                              
                                <!--End state -->
                                  <!--city -->
                            <div class="ui-g-12 ui-md-6">
                              <div class="paddingRL">
                                  <div class="le-su-12">
                                      <label for="city" class="towlable">{{ clientResources.city}}<span class="star">*</span></label>:
                
                                      <p-dropdown
                                      [filter] ="true"
                                      id="city"
                                      formControlName="city"
                                      [options]="cities"
                                      placeholder="-- Select --"
                                      [autoWidth]="false"
                                      class="clsControl"
                                      name="city">
                                      </p-dropdown>
              
                                      <div class="ui-message ui-messages-error ui-corner-all"
                                      *ngIf="!clientForm.controls['city'].valid&&clientForm.controls['city'].dirty">
                                      {{ clientResources.cityrequired }}
                                      </div>
            
                                    </div>
                                  </div>
                               </div>
                              
                              <!--End city -->
                                <!--zipcode-->
                               <div class="ui-g-12 ui-md-6">
                                <div class="paddingRL">
                                    <label for="zipcode"> {{ clientResources.zipcode}}<span class="star">*</span></label>:
            
                                    <input pInputText
                                      name="zipcode"
                                      id="zipcode"
                                      autocomplete="off"
                                      type="text"
                                      class="clsControl"
                                      formControlName="zipCode"
                                    />
                                    
                                    <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                    *ngIf="!clientForm.controls['zipCode'].valid&&clientForm.controls['zipCode'].dirty">
                                    <span *ngIf="clientForm.controls['zipCode'].errors['required']">
                                      {{clientResources.zipcoderequired}}
                                    </span>
                                  </div>
            
                                  </div>
                              </div>
            
                               <!--End zipcode -->
                                 <!--latitude-->
                                 <!-- <div class="ui-g-12 ui-md-6" >
                                  <div class="paddingRL">
                                      <label for="latitude"> {{ clientResources.latitude}}</label>:
              
                                      <input pInputText
                                        name="latitude"
                                        autocomplete="off"
                                        id="latitude"
                                        type="text"
                                        class="clsControl"
                                        formControlName="latitude"
                                      />
              
                                    </div>
                                </div> -->
              
                                 <!--End latitude -->
                                  <!--longitude-->
                                  <!-- <div class="ui-g-12 ui-md-6">
                                    <div class="paddingRL">
                                        <label for="longitude"> {{ clientResources.longitude}}</label>:
                
                                        <input pInputText
                                          name="longitude"
                                          autocomplete="off"
                                          id="longitude"
                                          type="text"
                                          class="clsControl"
                                          formControlName="longitude"
                                        />
                
                                      </div> 
                                  </div>-->
                
                                   <!--End longitude -->
                                   <!--description-->
                                  <div class="ui-g-12 ui-md-6">
                                    <div class="paddingRL">
                                        <label for="description"> {{ clientResources.description}}</label>:
                
                                       
                                        <textarea 
                                        pInputTextarea           
                                        formControlName="description"
                                        placeholder="Add Description..."
                                        autocomplete="off"
                                        maxLength="500"
                                        name="description"
                                        class="clsControl"
                                      ></textarea>
                                        
                
                                      </div>
                                  </div>
                                  
                                   <!--End description -->
                                   <div class="ui-g-12 ui-md-12" style="text-align:right;">
                                    <div class="paddingRL">
                                      <p-button  type="submit" label="Save" id="btnetailerSave" name="btnRetailerSave" ></p-button>
                                      <button pButton (click)="resetForm()" type="button" label="Clear" class="ui-button-secondary"></button>
                                  </div>
                                </div>
            
               </div>
             </form>
             <p-panel header="{{ clientResources.clientlist }}" [toggleable]="true" [style]="{'margin-bottom':'20px'}" >
              <p-table #dtClientList [value]="allClientList" 
              sortMode="single"                      
              [responsive]="true" 
              [paginator]="true" 
              [rows]="10"          
              sortOrder="-1"
              [globalFilterFields]="['ClientName','ContactPerson','PrimaryEmail','OfficePhone','CountryName','StateName','CityName']"
              >                    
              <ng-template pTemplate="caption">
                  <div style="text-align: right">
                      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                      <input type="text" autocomplete="off" pInputText size="50" placeholder="Global Filter" (input)="dtClientList.filterGlobal($event.target.value, 'contains')" style="width:auto;">
                  </div>
              </ng-template>
              <ng-template pTemplate="header">
                  <tr>
                      <th [pSortableColumn]="'ClientName'">Client<p-sortIcon [field]="'ClientName'"></p-sortIcon></th>
                      <th [pSortableColumn]="'ContactPerson'">Contact Person <p-sortIcon [field]="'ContactPerson'"></p-sortIcon></th>
                      <th [pSortableColumn]="'PrimaryEmail'">Primary Email <p-sortIcon [field]="'PrimaryEmail'"></p-sortIcon></th>
                      <th [pSortableColumn]="'OfficePhone'">Office Phone <p-sortIcon [field]="'OfficePhone'"></p-sortIcon></th>              
                      <th [pSortableColumn]="'CountryName'">Country<p-sortIcon [field]="'CountryName'"></p-sortIcon></th>            
                      <th [pSortableColumn]="'StateName'">State<p-sortIcon [field]="'StateName'"></p-sortIcon></th>              
                      <th [pSortableColumn]="'CityName'">City <p-sortIcon [field]="'CityName'"></p-sortIcon></th>              
                       
                  </tr>
        
                  <tr>
                      <th>
                          <input pInputText type="text" autocomplete="off" (input)="dtClientList.filter($event.target.value, 'ClientName', 'contains')" class="clsControl">
                      </th>
                      <th>
                          <input pInputText type="text" autocomplete="off" (input)="dtClientList.filter($event.target.value, 'ContactPerson', 'contains')" class="clsControl">
                      </th>
                      <th>
                        <input pInputText type="text" autocomplete="off" (input)="dtClientList.filter($event.target.value, 'PrimaryEmail', 'contains')" class="clsControl">
                      </th>
                      <th>
                        <input pInputText type="text" autocomplete="off"  (input)="dtClientList.filter($event.target.value, 'OfficePhone', 'contains')" class="clsControl">
                    </th>  
                      <th>
                        <input pInputText type="text" autocomplete="off"  (input)="dtClientList.filter($event.target.value, 'CountryName', 'contains')" class="clsControl">
                    </th>                 
                      <th>
                          <input pInputText type="text" autocomplete="off" (input)="dtClientList.filter($event.target.value, 'StateName', 'contains')" class="clsControl">
                      </th>
                      <th>
                        <input pInputText type="text" autocomplete="off" (input)="dtClientList.filter($event.target.value, 'CityName', 'contains')" class="clsControl">
                    </th>
                                            
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-client let-rowData let-columns="columns" let-rowIndex="rowIndex">
                  <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                      <!-- <td>
                          <u><a href="#" [routerLink]="['../taskaction', order?.TaskTypeName, order?.TaskId]">{{order?.EmpName}}</a></u>
                      </td> -->
    
                      <td>{{client?.ClientName}}</td>
                      <td>{{client?.ContactPerson}}</td>
                      <td>{{client?.PrimaryEmail }}</td>    
                      <td>{{client?.OfficePhone }}  </td> 
                      <td>{{client?.CountryName }}  </td>                 
                      <td>{{client?.StateName }}  </td>
                      <td>{{client?.CityName }}</td>
                  </tr>
              </ng-template>
          </p-table>
             </p-panel>
            </p-panel>
      </div>
          
    </div>
    <p-growl [(value)]="msgs" life='5000'></p-growl>
  </div>
  
  