<div class="content-section implementation GridDemo orderRequest">
    <div class="ui-g">
        <div class="ui-g-12">
            <!-- Order Listing -->
            <p-panel header="All Orders" styleClass="clsTabWidth" [toggleable]="true" [style]="{'margin-bottom':'20px'}" >
            <p-tabView  styleClass="clsTabView">
                <!-- Order tab -->
                <p-tabPanel header="All Orders" [selected] = "orderTabSelected">
                    <p-table #dtOrderListing [value]="allOrders" 
                    sortMode="single"                      
                    [responsive]="true" 
                    [paginator]="true" 
                    [rows]="10" 
                    sortField="OrderDate1"
                    sortOrder="-1"
                    [rowsPerPageOptions]="paginationValues"
                    (onPage)="onPageChange($event)"
                    [globalFilterFields]="['OrderRefId','RetailerName','OrderDate','DeliveryDate', 'OrderStatus']"            
                    >                    
                    <ng-template pTemplate="caption">
                        <div style="text-align: right">
                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                            <input type="text" pInputText autocomplete="off" size="50" placeholder="Global Filter" (input)="dtOrderListing.filterGlobal($event.target.value, 'contains')" style="width:auto;">
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th [pSortableColumn]="'OrderRefId'">{{orderrequestResource.orderid}} 
                                <p-sortIcon [field]="'OrderRefId'"></p-sortIcon>                                
                            </th>
                            <th [pSortableColumn]="'RetailerName'">{{orderrequestResource.retailername}}
                                <p-sortIcon [field]="'RetailerName'"></p-sortIcon></th>
                            <th class="datewidth" [pSortableColumn]="'OrderDate'">{{orderrequestResource.orderrequestdate}} 
                                <p-sortIcon [field]="'OrderDate'" class="icon-sort"></p-sortIcon>
                            </th>
                            <th class="datewidth" [pSortableColumn]="'DeliveryDate1'">{{orderrequestResource.deliverydate}} 
                                <p-sortIcon [field]="'DeliveryDate1'"></p-sortIcon>
                            </th>              
                            <th>{{orderrequestResource.packagingsatus}}</th>
                            <th class="datewidth">{{orderrequestResource.orderstatus}}</th>
                            <th class="iconwidth">
                                <!-- {{orderrequestResource.orderdetails}} --> 
                            </th>
                        </tr>
              
                        <tr>
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtOrderListing.filter($event.target.value, 'OrderRefId', 'contains')" class="clsControl">
                            </th>
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtOrderListing.filter($event.target.value, 'RetailerName', 'contains')" class="clsControl">
                            </th>
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtOrderListing.filter($event.target.value, 'OrderDate', 'contains')" class="clsControl">
                            </th>
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtOrderListing.filter($event.target.value, 'DeliveryDate', 'contains')" class="clsControl">
                            </th>
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtOrderListing.filter($event.target.value, 'OrderCompleted', 'contains')" class="clsControl">
                            </th>
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtOrderListing.filter($event.target.value, 'OrderStatus', 'contains')" class="clsControl">
                            </th>
                            <th rowspan="2"></th>                        
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-order let-rowData let-columns="columns" let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                            <!-- <td>
                                <u><a href="#" [routerLink]="['../taskaction', order?.TaskTypeName, order?.TaskId]">{{order?.EmpName}}</a></u>
                            </td> -->
                            <td>{{order?.OrderRefId}}</td>
                            <td>{{order?.RetailerName}}</td>
                            <td class="datewidth">{{order?.OrderDate | date:'MM/dd/yyyy' }}</td>
                            <td class="datewidth">{{order?.DeliveryDate | date:'MM/dd/yyyy' }}</td>
                            <td>
                                <p-progressBar [value]="order?.OrderCompleted" class="progress-bar-success progress-bar-striped">
        
                                </p-progressBar>
                            </td>
                            <td>{{order?.OrderStatus}}</td>
                            <td class="iconwidth">
                              <u><a [routerLink]="" (click)="getOrderInfo(order?.OrderId,order)" ><i class='fa fa-info-circle'></i></a></u>
                          </td>         
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft" let-state>
                        <pagination-counts
                            *ngIf="allOrders?.length"
                            [inputData]="allOrders"
                            [inputEvent]="event"
                        ></pagination-counts>
                    </ng-template>
                </p-table>
                </p-tabPanel>
                <!-- End order tab -->

                <!-- Draft order tab -->
                <p-tabPanel header="Drafts" [selected] = "draftTabSelected">
                    <p-table #dtDraftOrderListing [value]="allDraftOrders" 
                        sortMode="single"                      
                        [responsive]="true" 
                        [paginator]="true" 
                        [rows]="10" 
                        sortOrder="-1"
                        (onPage)="onDraftPageChange($event)"
                        [rowsPerPageOptions]="draftpaginationValues"
                        selectionMode="single"
                        (onRowSelect)="onDraftOrderSelect($event)"
                        [globalFilterFields]="['DraftOrderNo','RetailerName','CreatedDate','DeliveryDate']"            
                        >                    
                        <ng-template pTemplate="caption">
                            <div style="text-align: right">
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                <input type="text" pInputText autocomplete="off" size="50" placeholder="Global Filter" (input)="dtDraftOrderListing.filterGlobal($event.target.value, 'contains')" style="width:auto;">
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:20%" [pSortableColumn]="'DraftOrderNo'">{{orderrequestResource.orderid}} 
                                    <p-sortIcon [field]="'DraftOrderNo'"></p-sortIcon>                                
                                </th>
                                <th style="width:35%" [pSortableColumn]="'RetailerName'">{{orderrequestResource.retailername}}
                                    <p-sortIcon [field]="'RetailerName'"></p-sortIcon></th>
                                <th style="width:20%" [pSortableColumn]="'OrderDate1'"><!--{{orderrequestResource.orderrequestdate}} --> Draft Creation Date
                                    <p-sortIcon [field]="'OrderDate1'"></p-sortIcon>
                                </th>
                                <th style="width:20%" [pSortableColumn]="'DeliveryDate'">{{orderrequestResource.deliverydate}} 
                                    <p-sortIcon [field]="'DeliveryDate1'"></p-sortIcon>
                                </th>          
                                <th style="width:5%" class="text-center"></th>
        
                            </tr>
                            <tr>
                                <th>
                                    <input pInputText autocomplete="off" type="text" (input)="dtDraftOrderListing.filter($event.target.value, 'DraftOrderNo', 'contains')" class="clsControl">
                                </th>
                                <th>
                                    <input pInputText autocomplete="off" type="text" (input)="dtDraftOrderListing.filter($event.target.value, 'RetailerName', 'contains')" class="clsControl">
                                </th>
                                <th>
                                    <input pInputText autocomplete="off" type="text" (input)="dtDraftOrderListing.filter($event.target.value, 'OrderDate', 'contains')" class="clsControl">
                                </th>
                                <th>
                                    <input pInputText autocomplete="off" type="text" (input)="dtDraftOrderListing.filter($event.target.value, 'DeliveryDate', 'contains')" class="clsControl">
                                </th>
                                
                                <th>
                                  
                                </th>
                                            
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-order let-rowData let-columns="columns" let-rowIndex="rowIndex">
                            <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                                    <td>{{order?.DraftOrderNo}}</td>
                                    <td> <span *ngIf="order?.RetailerName">{{order?.RetailerName}}</span>
                                      
                                    </td>
                                    <td class="datewidth">{{order?.CreatedDate | date:'MM/dd/yyyy' }}</td>
                                    <td class="datewidth">{{order?.DeliveryDate | date:'MM/dd/yyyy' }}</td>
                                    <td class="text-center"> 
                                        <a  [routerLink]="" aria-hidden="true" (click)="deleteDraft( $event, order?.DraftOrderId)"  pTooltip="Discard draft order" tooltipPosition="left">
                                        <span style="font-size: 1.4rem;" class="fa fa-trash"></span>
                                    </a> 
                                   <!-- <button pButton type="submit" label="Discard"  style="background-color:#a93939" (click)="removeOrderDraft(order?.DraftOrderId)" ></button>-->
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="paginatorleft" let-state>
                            <pagination-counts
                                *ngIf="allDraftOrders?.length"
                                [inputData]="allDraftOrders"
                                [inputEvent]="eventdraft"
                            ></pagination-counts>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                              <td [attr.colspan]="5">
                                {{ globalResource.norecordsfound }}
                              </td>
                            </tr>
                          </ng-template>
                    </p-table>
                </p-tabPanel>
                <!-- End draft order tab -->
            </p-tabView>
        </p-panel>




   
      
      <p-dialog header="Order Details" [(visible)]="showOrderDetailsModel" modal="modal" [resizable]="true" [responsive]="true" [width]="750" [minWidth]="200" >
            <!--RetailerName -->
            <div class="ui-g-12 ui-md-6">
            <label for="grower" class="towlable"><b>Retailer Name:</b> {{ retailerName}}</label>
            </div>
            <!--End RetailerName -->
            <!--OrderRefId -->
            <div class="ui-g-12 ui-md-6">
            <label for="grower" class="towlable"><b>Order Id:</b> {{ orderRefId}}</label>
            </div>
            <!--End OrderRefId -->
            <!--OrderRefId -->
            <div class="ui-g-12 ui-md-6">
            <label for="grower" class="towlable"><b>Order Req Date:</b> {{ ordReqDate}}</label>
            </div>
            <!--End OrderRefId -->
            <!--OrderRefId -->
            <div class="ui-g-12 ui-md-6">
            <label for="grower" class="towlable"><b>Delivery Date:</b> {{ delvryDate}}</label>
            </div>
            <!--End OrderRefId -->

        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

            <p-table [value]="budOrderDetails" *ngIf="budOrderDetails.length">
                <ng-template pTemplate="caption">
                        <h6><b>Flower Order Details</b></h6>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:20%">{{globalResource.brand}}</th>
                        <th style="width:20%">{{globalResource.subbrand}}</th>
                        <th style="width:20%">{{globalResource.strain}}</th>
                        <th style="width:20%">{{globalResource.pkgtype}}</th>
                        <th style="width:20%">{{globalResource.pkgsize}}</th>
                        <!-- <th style="width:20%">{{globalResource.itemqty}}</th>                            -->
                        <th style="width:20%">{{globalResource.orderqty}}</th>
                        <th style="width:20%">{{globalResource.completedqty}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>
                    <tr>
                      <td>{{order?.BrandName}}</td>
                      <td>{{order?.SubBrandName}}</td>
                      <td>{{order?.StrainName}}</td>
                      <td>{{order?.PkgTypeName | titlecase }}</td>
                      <td>{{order?.UnitValue}} {{globalResource.listgramunit}}</td>
                      <!-- <td>{{order?.ItemQty}}</td> -->
                      <td>{{order?.RequiredQty}}</td>
                      <td>{{ order?.CompletedQty }}</td>
                    </tr>
                </ng-template>
            </p-table>
          <hr *ngIf="budOrderDetails.length" />
            
            <p-table [value]="jointsOrderDetails" *ngIf="jointsOrderDetails.length">
                <ng-template pTemplate="caption">
                        <h6><b>Pre-roll Order Details</b></h6>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:20%">{{globalResource.brand}}</th>
                        <th style="width:20%">{{globalResource.subbrand}}</th>
                        <th style="width:20%">{{globalResource.strain}}</th>
                        <th style="width:20%">{{globalResource.pkgtype}}</th>
                        <th style="width:20%">{{globalResource.pkgsize}}</th>
                        <th style="width:20%">{{globalResource.itemqty}}</th>                           
                        <th style="width:20%">{{globalResource.orderqty}}</th>
                        <th style="width:20%">{{globalResource.completedqty}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>
                    <tr>
                      <td>{{order?.BrandName}}</td>
                      <td>{{order?.SubBrandName}}</td>
                      <td>{{order?.StrainName}}</td>
                      <td>{{order?.PkgTypeName | titlecase }}</td>
                      <td>{{order?.UnitValue}} {{globalResource.listgramunit}}</td>
                      <td>{{order?.ItemQty}}</td>
                      <td>{{order?.RequiredQty}}</td>
                      <td>{{ order?.CompletedQty }}</td>
                    </tr>
                </ng-template>
            </p-table>
            <hr *ngIf="oilOrderDetails.length" />            
            <p-table [value]="oilOrderDetails" *ngIf="oilOrderDetails.length">
                <ng-template pTemplate="caption">
                    <h6><b>Oil Order Details</b></h6>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:20%">{{globalResource.brand}}</th>
                        <th style="width:20%">{{globalResource.subbrand}}</th>
                        <th style="width:20%">{{globalResource.strain}}</th>
                        <th style="width:20%">{{globalResource.pkgtype}}</th>
                        <th style="width:20%">{{globalResource.pkgsize}}</th>
                        <!-- <th style="width:20%">{{globalResource.itemqty}}</th>                            -->
                        <th style="width:20%">{{globalResource.orderqty}}</th>
                        <th style="width:20%">{{globalResource.completedqty}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>
                    <tr>
                      <td>{{order?.BrandName}}</td>
                      <td>{{order?.SubBrandName}}</td>
                      <td>{{order?.StrainName}}</td>
                      <td>{{order?.PkgTypeName | titlecase}}</td>
                      <td>{{order?.UnitValue}} {{globalResource.listgramunit}}</td>
                      <!-- <td>{{order?.ItemQty}}</td> -->
                      <td>{{order?.RequiredQty}}</td>
                      <td>{{ order?.CompletedQty }}</td>
                    </tr>
                </ng-template>
            </p-table>
          </div>
          <p-footer>            
                  <button type="button" pButton icon="fa-close" (click)="showOrderDetailsModel=false" label="Cancel"></button>
                  <div class="clear"></div>
              </p-footer>
              <div class="clear"></div>
      </p-dialog>
      <p-growl [(value)]="msgs" life='5000'></p-growl>

      <!--End Order Listing  -->
            </div>
        </div>
    </div>
    <p-confirmDialog 
    header="Confirmation" 
    icon="fa fa-question-circle" 
    width="425" 
    *ngIf="true"
    class="clsConfirmBox" >
  </p-confirmDialog> 

  <!-- delete order draft -->
  <p-confirmDialog 
    key="draftdelete"
    class="clsConfirmBox" 
    header="Confirmation" 
    icon="fa fa-question-circle" 
    width="425">
</p-confirmDialog> 


