<div class="content-section implementation GridDemo orderRequest">
    <div class="ui-g">
        <div class="ui-g-12">
            <!-- Order Listing -->
            <div class="mainDiv">
            <p-panel header="All Orders" styleClass="clsTabWidth" [toggleable]="true" [style]="{'margin-bottom':'20px'}" >
            <p-tabView (onChange)="tabViewhandleChange($event)"  styleClass="clsTabView">
                <!-- Order tab -->
                <p-tabPanel header="All Orders" [selected] = "orderTabSelected">
                    <p-table #dtOrderListing [value]="allOrders" 
                    sortMode="single"                      
                    [responsive]="true" 
                    [paginator]="true" 
                    [rows]="10" 
                    sortField="OrderDate1"
                    sortOrder="-1"
                    [rowsPerPageOptions]="paginationValues"
                    (onPage)="onPageChange($event)"
                    [globalFilterFields]="['OrderRefId','RetailerName','OrderDate','DeliveryDate', 'OrderStatus']"            
                    >                    
                    <ng-template pTemplate="caption">
                        <div style="text-align: right">
                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                            <input type="text" pInputText autocomplete="off" size="50" placeholder="Global Filter" (input)="dtOrderListing.filterGlobal($event.target.value, 'contains')" style="width:auto;">
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th [pSortableColumn]="'OrderRefId'">{{orderrequestResource.orderid}} 
                                <p-sortIcon [field]="'OrderRefId'"></p-sortIcon>                                
                            </th>
                            <th [pSortableColumn]="'RetailerName'"><span  *ngIf="taskCategory != 'GROWING'">{{orderrequestResource.retailername}}</span><span  *ngIf="taskCategory == 'GROWING'">Customer Name</span>
                                <p-sortIcon [field]="'RetailerName'"></p-sortIcon></th>
                            <th class="datewidth" [pSortableColumn]="'OrderDate1'">{{orderrequestResource.orderrequestdate}} 
                                <p-sortIcon [field]="'OrderDate1'" class="icon-sort"></p-sortIcon>
                            </th>
                            <th  class="datewidth" [pSortableColumn]="'DeliveryDate'">{{orderrequestResource.deliverydate}} 
                                <p-sortIcon [field]="'DeliveryDate'"></p-sortIcon>
                            </th>              
                            <th>{{orderrequestResource.packagingsatus}}</th>
                            <th class="datewidth">{{orderrequestResource.orderstatus}}</th>
                            <th class="iconwidth">
                                <!-- {{orderrequestResource.orderdetails}} --> 
                            </th>
                        </tr>
              
                        <tr>
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtOrderListing.filter($event.target.value, 'OrderRefId', 'contains')" class="clsControl">
                            </th>
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtOrderListing.filter($event.target.value, 'RetailerName', 'contains')" class="clsControl">
                            </th>
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtOrderListing.filter($event.target.value, 'OrderDate', 'contains')" class="clsControl">
                            </th>
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtOrderListing.filter($event.target.value, 'DeliveryDate', 'contains')" class="clsControl">
                            </th>
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtOrderListing.filter($event.target.value, 'OrderCompleted', 'contains')" class="clsControl">
                            </th>
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtOrderListing.filter($event.target.value, 'OrderStatus', 'contains')" class="clsControl">
                            </th>
                            <th rowspan="2"></th>                        
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-order let-rowData let-columns="columns" let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                            <!-- <td>
                                <u><a href="#" [routerLink]="['../taskaction', order?.TaskTypeName, order?.TaskId]">{{order?.EmpName}}</a></u>
                            </td> -->
                            <td style="word-break: break-all">{{order?.OrderRefId}}</td>
                            <td style="word-break: break-all">{{order?.RetailerName}}</td>
                            <td class="datewidth">{{order?.OrderDate | date:'MM/dd/yyyy' }}</td>
                            <td class="datewidth">{{order?.DeliveryDate | date:'MM/dd/yyyy' }}</td>
                            <td>
                                <p-progressBar [value]="order?.OrderCompleted" class="progress-bar-success progress-bar-striped">
        
                                </p-progressBar>
                            </td>
                            <td>{{order?.OrderStatus}}</td>
                            <td class="iconwidth">
                                <a *ngIf="order?.OrderStatus != 'COMPLETED'"  href="#" [routerLink]="" (click)="GetOrderOnEdit(order)" >                             
                                    <span class="fa fa-edit"></span>
                                  </a>
                              <u><a [routerLink]="" (click)="getOrderInfo(order?.OrderId,order)" ><i class='fa fa-info-circle'></i></a></u>
                          </td>         
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft" let-state>
                        <pagination-counts
                            *ngIf="allOrders?.length"
                            [inputData]="allOrders"
                            [inputEvent]="event"
                        ></pagination-counts>
                    </ng-template>
                </p-table>
                </p-tabPanel>
                <!-- End order tab -->

                <!-- Draft order tab -->
                <p-tabPanel header="Drafts" [selected] = "draftTabSelected" *ngIf="taskCategory != 'GROWING'">
                    <p-table #dtDraftOrderListing [value]="allDraftOrders" 
                        sortMode="single"                      
                        [responsive]="true" 
                        [paginator]="true" 
                        [rows]="10" 
                        sortOrder="-1"
                        (onPage)="onDraftPageChange($event)"
                        [rowsPerPageOptions]="draftpaginationValues"
                        selectionMode="single"
                        (onRowSelect)="onDraftOrderSelect($event)"
                        [globalFilterFields]="['DraftOrderNo','RetailerName','CreatedDate1','DeliveryDate']"            
                        >                    
                        <ng-template pTemplate="caption">
                            <div style="text-align: right">
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                <input type="text" pInputText autocomplete="off" size="50" placeholder="Global Filter" (input)="dtDraftOrderListing.filterGlobal($event.target.value, 'contains')" style="width:auto;">
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:20%" [pSortableColumn]="'DraftOrderNo'">{{orderrequestResource.orderid}} 
                                    <p-sortIcon [field]="'DraftOrderNo'"></p-sortIcon>                                
                                </th>
                                <th style="width:35%" [pSortableColumn]="'RetailerName'"><span  *ngIf="taskCategory != 'GROWING'">{{orderrequestResource.retailername}}</span><span  *ngIf="taskCategory == 'GROWING'">Customer Name</span>
                                    <p-sortIcon [field]="'RetailerName'"></p-sortIcon></th>
                                <th style="width:20%" [pSortableColumn]="'CreatedDate'"><!--{{orderrequestResource.orderrequestdate}} --> Draft Creation Date
                                    <p-sortIcon [field]="'OrderDate1'"></p-sortIcon>
                                </th>
                                <th style="width:20%" [pSortableColumn]="'DeliveryDate'">{{orderrequestResource.deliverydate}} 
                                    <p-sortIcon [field]="'DeliveryDate1'"></p-sortIcon>
                                </th>          
                                <th style="width:5%" class="text-center"></th>
        
                            </tr>
                            <tr>
                                <th>
                                    <input pInputText autocomplete="off" type="text" (input)="dtDraftOrderListing.filter($event.target.value, 'DraftOrderNo', 'contains')" class="clsControl">
                                </th>
                                <th>
                                    <input pInputText autocomplete="off" type="text" (input)="dtDraftOrderListing.filter($event.target.value, 'RetailerName', 'contains')" class="clsControl">
                                </th>
                                <th>
                                    <input pInputText autocomplete="off" type="text" (input)="dtDraftOrderListing.filter($event.target.value, 'CreatedDate1', 'contains')" class="clsControl">
                                </th>
                                <th>
                                    <input pInputText autocomplete="off" type="text" (input)="dtDraftOrderListing.filter($event.target.value, 'DeliveryDate', 'contains')" class="clsControl">
                                </th>
                                
                                <th>
                                  
                                </th>
                                            
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-order let-rowData let-columns="columns" let-rowIndex="rowIndex">
                            <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                                    <td>{{order?.DraftOrderNo}}</td>
                                    <td style="word-break: break-all"> <ng-container *ngIf="order?.RetailerName">{{order?.RetailerName}}</ng-container>
                                      
                                    </td>
                                    <td class="datewidth">{{order?.CreatedDate | date:'MM/dd/yyyy' }}</td>
                                    <td class="datewidth">{{order?.DeliveryDate | date:'MM/dd/yyyy' }}</td>
                                    <td class="text-center"> 
                                        <a  [routerLink]="" aria-hidden="true" (click)="deleteDraft( $event, order?.DraftOrderId)"  pTooltip="Discard draft order" tooltipPosition="left">
                                        <span style="font-size: 1.4rem;" class="fa fa-trash"></span>
                                    </a> 
                                   <!-- <button pButton type="submit" label="Discard"  style="background-color:#a93939" (click)="removeOrderDraft(order?.DraftOrderId)" ></button>-->
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="paginatorleft" let-state>
                            <pagination-counts
                                *ngIf="allDraftOrders?.length"
                                [inputData]="allDraftOrders"
                                [inputEvent]="eventdraft"
                            ></pagination-counts>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                              <td [attr.colspan]="5">
                                {{ globalResource.norecordsfound }}
                              </td>
                            </tr>
                          </ng-template>
                    </p-table>
                </p-tabPanel>
                <!-- End draft order tab -->

                  <!-- Start Incoming Order -->
                  <p-tabPanel header="Incoming" [selected] = "incomingTabSelected" *ngIf="taskCategory != 'GROWING'" >
                    <p-table #dtIncomingOrderListing [value]="allIncomingOrders" 
                    class="clsTableSelection"
                    sortMode="single"                      
                    [responsive]="true" 
                    [paginator]="true" 
                    [rows]="10" 
                    sortOrder="-1"
                    (onPage)="onIncomingOrderPageChange($event)"
                    [rowsPerPageOptions]="incomingpaginationValues"
                    selectionMode="single"
                    (onRowSelect)="onIncomingOrderSelect($event)"
                    [globalFilterFields]="['S2OrderNo','RetailerName','OrderTotal','CreatedDate1','ModifiedDate1']"            
                    >                    
                    <ng-template pTemplate="caption">
                        <div style="text-align: right">
                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                            <input type="text" pInputText autocomplete="off" size="50" placeholder="Global Filter" (input)="dtIncomingOrderListing.filterGlobal($event.target.value, 'contains')" style="width:auto;">
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width:25%" [pSortableColumn]="'S2OrderNo'">{{orderrequestResource.s2systemid}} 
                                <p-sortIcon [field]="'S2OrderNo'"></p-sortIcon>                                
                            </th>
                            <th style="width:30%" [pSortableColumn]="'RetailerName'">{{orderrequestResource.retailer}}
                                <p-sortIcon [field]="'RetailerName'"></p-sortIcon></th>
                            <th style="width:20%" [pSortableColumn]="'OrderTotal'">{{orderrequestResource.orderTotal}} 
                                <p-sortIcon [field]="'OrderTotal'"></p-sortIcon>
                            </th>
                            <th style="width:20%" [pSortableColumn]="'CreatedDate'">{{orderrequestResource.initialDate}} 
                                <p-sortIcon [field]="'CreatedDate'"></p-sortIcon>
                            </th> 
                            <th style="width:20%" [pSortableColumn]="'ModifiedDate'">{{orderrequestResource.lastUpdated}} 
                                <p-sortIcon [field]="'ModifiedDate'"></p-sortIcon>
                            </th>          
                            <th style="width:5%" class="text-center"></th>
    
                        </tr>
                        <tr>
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtIncomingOrderListing.filter($event.target.value, 'S2OrderNo', 'contains')" class="clsControl">
                            </th>
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtIncomingOrderListing.filter($event.target.value, 'RetailerName', 'contains')" class="clsControl">
                            </th>
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtIncomingOrderListing.filter($event.target.value, 'OrderTotal', 'contains')" class="clsControl">
                            </th>
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtIncomingOrderListing.filter($event.target.value, 'CreatedDate', 'contains')" class="clsControl">
                            </th>
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtIncomingOrderListing.filter($event.target.value, 'ModifiedDate', 'contains')" class="clsControl">
                            </th>
                            <th>
                        
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-order let-rowData let-columns="columns" class="clsTableRow rowBorder"  let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                                <td>{{order?.S2OrderNo}}</td>
                                <td style=" word-break: break-all; " > <ng-container *ngIf="order?.RetailerName">{{order?.RetailerName}}</ng-container>
                                  
                                </td>
                                <td class="datewidth"> <ng-container *ngIf="order?.OrderTotal >= 0">$</ng-container>{{order?.OrderTotal }}</td>
                                <td class="datewidth">{{order?.CreatedDate | date:'MM/dd/yyyy' }}</td>
                                <td class="datewidth">{{order?.ModifiedDate | date:'MM/dd/yyyy' }}</td>
                                <td class="text-center"> 
                                    <a  [routerLink]="" aria-hidden="true" (click)="deleteIncomingOrder( $event, order?.IncomingOrderId)"  pTooltip="Discard incoming order" tooltipPosition="left">
                                    <span style="font-size: 1.4rem;" class="fa fa-trash"></span>
                                </a> 
                               <!-- <button pButton type="submit" label="Discard"  style="background-color:#a93939" (click)="removeOrderDraft(order?.DraftOrderId)" ></button>-->
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft" let-state>
                        <pagination-counts
                            *ngIf="allIncomingOrders?.length"
                            [inputData]="allIncomingOrders"
                            [inputEvent]="eventIncomingOrder"
                        ></pagination-counts>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                          <td [attr.colspan]="6">
                            {{ globalResource.norecordsfound }}
                          </td>
                        </tr>
                      </ng-template>
                </p-table>
                </p-tabPanel>
                <!-- End Incoming Order -->

                 <!-- Start Order Change-->
                 <p-tabPanel header="Order Changes"  [selected] = "changeTabSelected"s *ngIf="taskCategory != 'GROWING'">
                    <p-table #dtChangeOrderListing [value]="allChangeOrders" 
                    class="clsTableSelection"
                    sortMode="single"                      
                    [responsive]="true" 
                    [paginator]="true" 
                    [rows]="10" 
                    sortOrder="-1"
                    (onPage)="onChangeOrderPageChange($event)"
                    [rowsPerPageOptions]="ChangeOrderpaginationValues"
                    selectionMode="single"
                    (onRowSelect)="onChangeOrderSelect($event)"
                    [globalFilterFields]="['S2OrderNo','RetailerName','OrderTotal','UpdatedDate1','ModifiedDate1']"            
                    >                    
                    <ng-template pTemplate="caption">
                        <div style="text-align: right">
                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                            <input type="text" pInputText autocomplete="off" size="50" placeholder="Global Filter" (input)="dtChangeOrderListing.filterGlobal($event.target.value, 'contains')" style="width:auto;">
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width:25%" [pSortableColumn]="'S2OrderNo'">{{orderrequestResource.s2systemid}} 
                                <p-sortIcon [field]="'S2OrderNo'"></p-sortIcon>                                
                            </th>
                            <th style="width:30%" [pSortableColumn]="'RetailerName'">{{orderrequestResource.retailer}}
                                <p-sortIcon [field]="'RetailerName'"></p-sortIcon></th>
                            <th style="width:20%" [pSortableColumn]="'OrderTotal'">{{orderrequestResource.orderTotal}} 
                                <p-sortIcon [field]="'OrderTotal'"></p-sortIcon>
                            </th>
                            <th style="width:20%" [pSortableColumn]="'CreatedDate'">{{orderrequestResource.lastUpdated}} 
                                <p-sortIcon [field]="'CreatedDate'"></p-sortIcon>
                            </th> 
                            <th style="width:20%" [pSortableColumn]="'ModifiedDate'">{{orderrequestResource.changeDate}} 
                                <p-sortIcon [field]="'ModifiedDate'"></p-sortIcon>
                            </th>          
                            <th style="width:5%" class="text-center"></th>
    
                        </tr>
                        <tr>
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtChangeOrderListing.filter($event.target.value, 'S2OrderNo', 'contains')" class="clsControl">
                            </th>
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtChangeOrderListing.filter($event.target.value, 'RetailerName', 'contains')" class="clsControl">
                            </th>
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtChangeOrderListing.filter($event.target.value, 'OrderTotal', 'contains')" class="clsControl">
                            </th>
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtChangeOrderListing.filter($event.target.value, 'CreatedDate', 'contains')" class="clsControl">
                            </th>
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtChangeOrderListing.filter($event.target.value, 'ModifiedDate', 'contains')" class="clsControl">
                            </th>
                            <th>
                        
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-order let-rowData let-columns="columns" let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                                <td>{{order?.S2OrderNo}}</td>
                                <td style=" word-break: break-all; "> <ng-container *ngIf="order?.RetailerName">{{order?.RetailerName}}</ng-container>
                                  
                                </td>
                                <td class="datewidth"> <ng-container *ngIf="order?.OrderTotal >= 0">$</ng-container>{{order?.OrderTotal }}</td>
                                <td class="datewidth">{{order?.UpdatedDate | date:'MM/dd/yyyy' }}</td>
                                <td class="datewidth">{{order?.ModifiedDate | date:'MM/dd/yyyy' }}</td>
                                <td class="text-center"> 
                                    <a  [routerLink]="" aria-hidden="true" (click)="deleteIncomingOrder( $event, order?.IncomingOrderId)"  pTooltip="Discard incoming order" tooltipPosition="left">
                                    <span style="font-size: 1.4rem;" class="fa fa-trash"></span>
                                </a> 
                               <!-- <button pButton type="submit" label="Discard"  style="background-color:#a93939" (click)="removeOrderDraft(order?.DraftOrderId)" ></button>-->
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft" let-state>
                        <pagination-counts
                            *ngIf="allChangeOrders?.length"
                            [inputData]="allChangeOrders"
                            [inputEvent]="eventChangeOrder"
                        ></pagination-counts>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                          <td [attr.colspan]="6">
                            {{ globalResource.norecordsfound }}
                          </td>
                        </tr>
                      </ng-template>
                </p-table>
                </p-tabPanel>
                <!-- End Order change -->
            </p-tabView>
        </p-panel>
        </div>


      <p-dialog header="Order Details" [(visible)]="showOrderDetailsModel" modal="modal" [resizable]="true" [responsive]="true" [width]="750" [minWidth]="200" >
            <!--RetailerName -->
            <div class="ui-g-12 ui-md-6">
            <label for="grower" class="towlable"><span *ngIf="taskCategory != 'GROWING'"><b>Retailer Name:</b></span><span *ngIf="taskCategory == 'GROWING'"><b>Customer Name:</b></span> {{ retailerName}}</label>
            </div>
            <!--End RetailerName -->
            <!--OrderRefId -->
            <div class="ui-g-12 ui-md-6">
            <label for="grower" class="towlable"><b>Order Id:</b> {{ orderRefId}}</label>
            </div>
            <!--End OrderRefId -->
            <!--OrderRefId -->
            <div class="ui-g-12 ui-md-6">
            <label for="grower" class="towlable"><b>Order Req Date:</b> {{ ordReqDate}}</label>
            </div>
            <!--End OrderRefId -->
            <!--OrderRefId -->
            <div class="ui-g-12 ui-md-6">
            <label for="grower" class="towlable"><b>Delivery Date:</b> {{ delvryDate}}</label>
            </div>
            <!--End OrderRefId -->
             <!--Growers Info Tabel-->
             <p-table [value]="totalData1">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Strain</th>
                        <th>Trimming Method</th>
                        <th>Light Dept</th>
                        <th>Skew Type</th>
                        <th>Package Type</th>
                        <th>Package Size</th>
                        <th>Order Quantity</th>
                        <th>Order Cost($)</th>
                    </tr>
                </ng-template> -->
                <ng-template pTemplate="body" let-taskstatus>
                    <tr>
                        <td>{{taskstatus.StrainName}}</td>
                        <td>{{taskstatus.TrimmingMethod}}</td>
                        <td>{{taskstatus.IsLD}}</td>
                        <td>{{taskstatus.SkewKeyName}}</td>
                        <td>{{taskstatus.PkgTypeName}}</td>
                        <td>{{taskstatus.PackageSize}}</td>
                        <td>{{taskstatus.RequiredQty}}</td>
                        <td>{{taskstatus.UnitPrice}}</td>
                    </tr>
                </ng-template>
             </p-table>
            <!--End Growers Info Tabel-->

            <!-- <div class="ui-g-12 ui-md-6">
                <label for="grower" class="towlable"><b>Strain:</b> {{ strain}}</label>
                </div> -->

        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

            <p-table [value]="budOrderDetails" *ngIf="budOrderDetails.length">
                <ng-template pTemplate="caption">
                        <h6><b>Flower Order Details</b></h6>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:20%">{{globalResource.brand}}</th>
                        <th style="width:20%">{{globalResource.subbrand}}</th>
                        <th style="width:20%">{{globalResource.strain}}</th>
                        <th style="width:20%">{{globalResource.pkgtype}}</th>
                        <th style="width:20%">{{globalResource.pkgsize}}</th>
                        <!-- <th style="width:20%">{{globalResource.itemqty}}</th>                            -->
                        <th style="width:20%">{{globalResource.orderqty}}</th>
                        <th style="width:20%">{{globalResource.completedqty}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>
                    <tr>
                      <td>{{order?.BrandName}}</td>
                      <td>{{order?.SubBrandName}}</td>
                      <td>{{order?.StrainName}}</td>
                      <td>{{order?.PkgTypeName | titlecase }}</td>
                      <td>{{order?.UnitValue}} {{globalResource.listgramunit}}</td>
                      <!-- <td>{{order?.ItemQty}}</td> -->
                      <td>{{order?.RequiredQty}}</td>
                      <td>{{ order?.CompletedQty }}</td>
                    </tr>
                </ng-template>
            </p-table>
          <hr *ngIf="budOrderDetails.length" />
            
            <p-table [value]="jointsOrderDetails" *ngIf="jointsOrderDetails.length">
                <ng-template pTemplate="caption">
                        <h6><b>Pre-roll Order Details</b></h6>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:20%">{{globalResource.brand}}</th>
                        <th style="width:20%">{{globalResource.subbrand}}</th>
                        <th style="width:20%">{{globalResource.strain}}</th>
                        <th style="width:20%">{{globalResource.pkgtype}}</th>
                        <th style="width:20%">{{globalResource.pkgsize}}</th>
                        <th style="width:20%">{{globalResource.itemqty}}</th>                           
                        <th style="width:20%">{{globalResource.orderqty}}</th>
                        <th style="width:20%">{{globalResource.completedqty}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>
                    <tr>
                      <td>{{order?.BrandName}}</td>
                      <td>{{order?.SubBrandName}}</td>
                      <td>{{order?.StrainName}}</td>
                      <td>{{order?.PkgTypeName | titlecase }}</td>
                      <td>{{order?.UnitValue}} {{globalResource.listgramunit}}</td>
                      <td>{{order?.ItemQty}}</td>
                      <td>{{order?.RequiredQty}}</td>
                      <td>{{ order?.CompletedQty }}</td>
                    </tr>
                </ng-template>
            </p-table>
            <hr *ngIf="oilOrderDetails.length" />            
            <p-table [value]="oilOrderDetails" *ngIf="oilOrderDetails.length">
                <ng-template pTemplate="caption">
                    <h6><b>Oil Order Details</b></h6>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:20%">{{globalResource.brand}}</th>
                        <th style="width:20%">{{globalResource.subbrand}}</th>
                        <th style="width:20%">{{globalResource.strain}}</th>
                        <th style="width:20%">{{globalResource.pkgtype}}</th>
                        <th style="width:20%">{{globalResource.pkgsize}}</th>
                        <!-- <th style="width:20%">{{globalResource.itemqty}}</th>                            -->
                        <th style="width:20%">{{globalResource.orderqty}}</th>
                        <th style="width:20%">{{globalResource.completedqty}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>
                    <tr>
                      <td>{{order?.BrandName}}</td>
                      <td>{{order?.SubBrandName}}</td>
                      <td>{{order?.StrainName}}</td>
                      <td>{{order?.PkgTypeName | titlecase}}</td>
                      <td>{{order?.UnitValue}} {{globalResource.listgramunit}}</td>
                      <!-- <td>{{order?.ItemQty}}</td> -->
                      <td>{{order?.RequiredQty}}</td>
                      <td>{{ order?.CompletedQty }}</td>
                    </tr>
                </ng-template>
            </p-table>
          </div>
          <p-footer>            
                  <button type="button" pButton icon="fa-close" (click)="showOrderDetailsModel=false" label="Cancel"></button>
                  <div class="clear"></div>
              </p-footer>
              <div class="clear"></div>
      </p-dialog>
      <p-growl [(value)]="msgs" life='5000'></p-growl>

      <!--End Order Listing  -->
            </div>
        </div>
    </div>
    <p-confirmDialog 
    header="Confirmation" 
    icon="fa fa-question-circle" 
    width="425" 
    *ngIf="true"
    class="clsConfirmBox" >
  </p-confirmDialog> 

  <!-- delete order draft -->
  <p-confirmDialog 
    key="draftdelete"
    class="clsConfirmBox" 
    header="Confirmation" 
    icon="fa fa-question-circle" 
    width="425">
</p-confirmDialog> 


