

<div class="content-section implementation GridDemo">
  <div class="ui-g">

    <div class="ui-g-12">
      <p-panel header="{{ brandResources.pageheading }}" [(collapsed)]="collapsed" [toggleable]="true" >
      <p-header>
          <!-- <button pButton type="submit" name="btnLogin" label="Add New Brand" [style]="{'float':'right'}" (click)="doOPenPanel()" style="align-content: right"></button> -->
      </p-header>
        <!--Main New Product Entry Form-->
        <form
          [formGroup]="newBrandForm"
          (ngSubmit)="onSubmit(newBrandForm.value)">
              <div class="ui-g ">
                <!--Brand name -->
                <div class="ui-g-12 ui-md-6">
                  <div class="paddingRL">
                      <div class="le-su-12">
                      <label for="brand">
                        {{ brandResources.enterbrand}}<span class="star">*</span>:
                      </label>

                      <input pInputText
                        name="brand"
                        id="brand"
                        type="text"
                        autocomplete="off"
                        class="clsControl"
                        placeholder="Enter Brand Name"
                        formControlName="brand"
                      />

                      <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                        *ngIf="!newBrandForm.controls['brand'].valid&&newBrandForm.controls['brand'].dirty">

                          <span *ngIf="newBrandForm.controls['brand'].errors['required']">
                            {{brandResources.brandrequired}}
                          </span>
                          <span *ngIf="newBrandForm.controls['brand'].errors['whitespace']">
                            {{brandResources.brandrequired}}
                          </span>
                          <!-- <span *ngIf="NewProductTypeEntryForm.controls['firstname'].errors['maxlength']">{{newEmployeeResources.packageUnitLength}}</span>
                          <span *ngIf="NewProductTypeEntryForm.controls['firstname'].hasError('zeronotallowed')">{{ globalResource.zeronotallow }}</span> -->
                        </div>
                    </div>
                  </div>
                </div>
                <!--End Brand Name -->

                <!--Description -->
                <div class="ui-g-12 ui-md-6">
                  <div class="paddingRL">
                      <div class="le-su-12">
                      <label for="description">
                        {{ brandResources.enterdescription}}<span class="star"></span>:
                      </label>

                      <input pInputText
                        name="description"
                        id="description"
                        type="text"
                        autocomplete="off"
                        class="clsControl"
                        placeholder="Enter Brand Description"
                        formControlName="description"
                      />

                      <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                        *ngIf="!newBrandForm.controls['description'].valid&&newBrandForm.controls['description'].dirty">

                          <!-- <span *ngIf="newBrandForm.controls['description'].errors['required']">
                            {{brandResources.descriptionrequired}}
                          </span> -->
                          <!-- <span *ngIf="NewProductTypeEntryForm.controls['firstname'].errors['maxlength']">{{newEmployeeResources.packageUnitLength}}</span>
                          <span *ngIf="NewProductTypeEntryForm.controls['firstname'].hasError('zeronotallowed')">{{ globalResource.zeronotallow }}</span> -->
                        </div>
                    </div>
                  </div>
                </div>
                <!--End Description -->

                <!-- IsActive -->
                <div class="ui-g-12 ui-md-6">
                  <div class="paddingRL">
                    <label></label>
                    <div class="clear"></div>
              
                    <p-checkbox value="true" [(ngModel)]="chkIsActive" label="{{globalResource.IsActiveFlag}}" formControlName="chkIsActive" 
                    binary="true"></p-checkbox>
                  </div>
                </div>
                <!--End IsActive -->

                <div class="ui-g-12 ui-md-12" style="text-align:right;">
                    <div class="paddingRL">
                      <p-button  type="submit" label="{{ saveButtonText}}" id="btnBrandSave" name="btnBrandSave" ></p-button>
                      <button pButton (click)="resetAll()" type="button" label=" {{ clear }}" class="ui-button-secondary"></button>
                  </div>
                </div>
              </div>
        </form>
      </p-panel>
    </div>
   
  </div>
</div>





<div class="content-section implementation GridDemo Brand">
  <!-- {{pageinationcount}} -->
  <div class="ui-g">
      <div class="ui-g-12">
          <!-- Brand Listing -->
    <p-panel header="{{ brandResources.pageheadinglist}}" [toggleable]="true" [style]="{'margin-bottom':'20px'}" >      
      <p-table #dtBrandListing [value]="allBrandList"
          sortMode="single"                      
          [responsive]="true" 
          [paginator]="true" 
          [rows]="10"           
          sortField="BrandId"
          sortOrder="-1"
          [rowsPerPageOptions]="paginationValues"
          (onPage)="onPageChange($event)"
          [globalFilterFields]="['BrandName','Decsription','IsActiveFlag']"
          >                    
          <ng-template pTemplate="caption">
              <div style="text-align: right">
                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  <input type="text" pInputText autocomplete="off" size="50" placeholder="Global Filter" (input)="dtBrandListing.filterGlobal($event.target.value, 'contains')" style="width:auto;">
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th [pSortableColumn]="'BrandName'">{{ brandResources.brand}} <p-sortIcon [field]="'BrandName'"></p-sortIcon></th>
                  <th [pSortableColumn]="'Decsription'">{{ brandResources.description}} <p-sortIcon [field]="'Decsription'"></p-sortIcon></th>
                  <!-- <th [pSortableColumn]="'IsActiveFlag'" style="width:100px;">{{ globalResource.IsActiveFlag}} <p-sortIcon [field]="'IsActiveFlag'"></p-sortIcon></th> -->
                  <th style="width:100px;">Action</th>
              </tr>
    
              <tr>
                  <th>
                      <input pInputText autocomplete="off" type="text" (input)="dtBrandListing.filter($event.target.value, 'BrandName', 'contains')" class="clsControl">
                  </th>
                  <th>
                    <input pInputText autocomplete="off" type="text" (input)="dtBrandListing.filter($event.target.value, 'Decsription', 'contains')" class="clsControl">
                </th>
                <!-- <th>
                  <input pInputText autocomplete="off" type="text" (input)="dtBrandListing.filter($event.target.value, 'IsActiveFlag', 'contains')" class="clsControl">
                </th> -->
                <th rowspan="2"></th>  
          </ng-template>
          <ng-template pTemplate="body" let-newbrand let-rowData let-columns="columns" let-rowIndex="rowIndex">
              <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                  <td>{{newbrand?.BrandName}}</td>
                  <td>{{newbrand?.Decsription}}</td>
                  <!-- <td> -->
                    <!-- <p-button type="lable" label="{{ newbrand.IsActiveFlag }}" id="btn_starinshow" name="btnshow" ></p-button> -->
                    <!-- <label for="IsActiveFlag" class="towlable"> {{ newbrand.IsActiveFlag}} </label>
                      <div class="clear"></div> -->
                  <!-- </td> -->
                  <td style="width:85px;"> 
                      <span class="ui-column-title">{{ newEmployeeResources.edit }}</span>
                      <a href="#" [routerLink]="" (click)="getBrandOnEdit(newbrand?.BrandId)" >                             
                          <span class="fa fa-edit"></span>
                      </a>
                      <!-- <a href="#" [routerLink]="" (click)="DeleteEmployee(newbrand?.EmpId)" ><span class="fa fa-trash"></span></a> -->
                      <a href="#" [routerLink]="" (click)="showConformationMessaegForDelete(newbrand?.BrandId,newbrand,1,0)" >
                        <span class="fa fa-trash"></span>
                    </a>
                    <!-- <p-button class="links"  type="button" label="{{ newbrand?.IsActive }}" id="btn_starinshow" 
                    (click)="showConformationMessaegForDeactive(newbrand?.EmpId)" name="btnshow" ></p-button> -->
                    <!-- <p-inputSwitch (onChange)="showConformationMessaegForDeactive(newbrand?.BrandId,newbrand?.IsActive,$event, rowIndex,0,1)" [(ngModel)]="newbrand.IsActive"></p-inputSwitch> -->
                    <div class="clsToggleButtonDiv">
                    <p-toggleButton 
                      [(ngModel)]="newbrand.IsActive" 
                      onLabel="Active" offLabel="InActive"  
                      [style]="{'width':'45px'}"
                      class="gridBtn"
                      id
                      (onChange)="showConformationMessaegForDeactive(newbrand?.BrandId,newbrand,rowIndex,0,1)" 
                      *ngIf="true"
                    >

                    </p-toggleButton>
                  </div>
                </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft" let-state>
            <pagination-counts
              *ngIf="allBrandList?.length"
              [inputData]="allBrandList"
              [inputEvent]="event"
            ></pagination-counts>
          </ng-template>
      </p-table>
    </p-panel>
      <!--End Employee Listing  -->
    </div>
  </div>
</div>
<p-growl [(value)]="msgs" life='5000'></p-growl>
<p-confirmDialog 
  class="clsConfirmBox" 
  header="Confirmation" 
  icon="fa fa-question-circle" 
  *ngIf="true"
  width="425"></p-confirmDialog>




