<div class="ui-g " [formGroup]="Quarantine" *ngIf="PageFlag.page=='AssignTask'" >

    <!--Lot No -->
    <div class="ui-g-12 ui-md-6">
        <div class="ui-g-8">
          <label for="lotno">{{ globalResource.lotno }} *</label>
        </div>
        <div class="ui-g-8">
            <p-dropdown
            [options]="Lots"
            [(ngModel)]="TaskModel.quarantine.lotno"
            [autoWidth]="true"
            formControlName="lotno"
            id="lotno"
            name="lotno">
          </p-dropdown>
                
          <div
            class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
            *ngIf="!Quarantine.controls['lotno'].valid&&Quarantine.controls['lotno'].dirty">
              <span *ngIf="Quarantine.controls['lotno'].errors['required']">
                {{ globalResource.lotnoRequired }}
              </span>                      
          </div>

        </div>
      </div>
      <!--End Lot No -->
      <!--Brand-->
      <div class="ui-g-12 ui-md-6">
          <div class="ui-g-8">
            <label for="brand">{{ globalResource.brand }}</label>
          </div>
          <div class="ui-g-8">                     
            <input type="text" 
                  pInputText 
                  autocomplete="off"
                  [(ngModel)]="TaskModel.quarantine.brand"                         
                  formControlName="brand"
                  id="brand"
                  name="brand"
                  readonly="true"
              />                           
          </div>
      </div>
      <!--End Brand-->
      <!--Strain-->
      <div class="ui-g-12 ui-md-6">
          <div class="ui-g-8">
            <label for="strain">{{ globalResource.strain }}</label>
          </div>
          <div class="ui-g-8">                     
            <input type="text" 
                  pInputText 
                  autocomplete="off"
                  [(ngModel)]="TaskModel.quarantine.strain"                     
                  formControlName="brand"
                  id="strain"
                  name="strain"
                  readonly="true"
              />                           
          </div>
      </div>
      <!--End Strain-->
      <!--Employee-->
      <div class="ui-g-12 ui-md-6">
          <div class="ui-g-8">
            <label for="employee">{{ globalResource.employee }}*</label>
          </div>
          <div class="ui-g-8">                     
              <p-dropdown
                [options]="Employees"
                [(ngModel)]="TaskModel.quarantine.employee"
                [autoWidth]="true"
                formControlName="employee"
                id="employee"
                name="employee">
            </p-dropdown>    
            
            <div
              class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
              *ngIf="!Quarantine.controls['employee'].valid&&Quarantine.controls['employee'].dirty">
                <span *ngIf="Quarantine.controls['employee'].errors['required']">
                  {{ globalResource.employeerequired }}
                </span>                      
            </div>
          </div>
      </div>
      <!--End Employee-->
        
    <!--Estimated Start DateTime-->
    <div class="ui-g-12 ui-md-6">
        <div class="ui-g-8">
          <label for="estimatedstartdatetime">
            {{ globalResource.eststartdate }}*
          </label>
        </div>
        <div class="ui-g-8">                     
            <p-calendar                        
              [maxDate]="TaskModel.quarantine.enddate"
              [(ngModel)]="TaskModel.quarantine.startdate"
              [showIcon]="true"
              formControlName="estimatedstartdate"
              id="estimatedstartdate"
              name="estimatedstartdate"
              >
            </p-calendar>                              
            <div
              class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
              *ngIf="!Quarantine.controls['estimatedstartdate'].valid&&Quarantine.controls['estimatedstartdate'].dirty">
                <span *ngIf="Quarantine.controls['estimatedstartdate'].errors['required']">
                  {{ globalResource.startdaterequired }}
                </span>                                                                                                                                                                            
            </div>

            <div class="ui-message ui-messages-error ui-corner-all"  appErrorTooltip
              *ngIf="Quarantine.hasError('invalidDate')" >
                {{ globalResource.datecomparevalidation }}
            </div>                        
        </div>
    </div>
    <!--End Estimated Start DateTime-->         
    <!--Estimated End DateTime-->
    <div class="ui-g-12 ui-md-6">
        <div class="ui-g-8">
          <label for="estimatedenddate">{{ globalResource.estenddate }}*</label>
        </div>
        <div class="ui-g-8">  
          
            <div  class="">
            <p-calendar                        
              [(ngModel)]="TaskModel.quarantine.enddate" 
              [minDate]="TaskModel.quarantine.startdate"            
              [showIcon]="true"
              formControlName="estimatedenddate"
              id="estimatedenddate"
              name="estimatedenddate"                        
            >                      
          </p-calendar>            
           </div> 
           <!-- [showTime]="true" -->
          <div
            class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
            *ngIf="!Quarantine.controls['estimatedenddate'].valid
                  &&Quarantine.controls['estimatedenddate'].dirty">
              <span *ngIf="Quarantine.controls['estimatedenddate'].errors['required']">
                {{ globalResource.enddaterequired }}
              </span>                      
          </div>          

        </div>
    </div>
    <!--End Estimated End DateTime-->
    <!--esthrs-->
    <div class="ui-g-12 ui-md-6">
        <div class="ui-g-8">
          <label for="employee">{{ assignTaskResources.estimatedhrs }}*</label>
        </div>
        <div class="ui-g-8">                     
          <input 
            type="number" 
            pInputText 
            autocomplete="off"
            formControlName="esthrs"
            [(ngModel)]="TaskModel.quarantine.esthrs"
          />
          
          <div
            class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
            *ngIf="!Quarantine.controls['esthrs'].valid&&Quarantine.controls['esthrs'].dirty">
              <span *ngIf="Quarantine.controls['esthrs'].errors['required']">
                {{ assignTaskResources.estimatedhrsrequired }}
              </span> 
              <span *ngIf="Quarantine.controls['esthrs'].errors.allowOnlyPositiveInteger">
                {{ assignTaskResources.estimatedhrs + ' ' + assignTaskResources.positiveintegersallowed}}
              </span>                     
          </div>
        </div>
    </div>
    <!--End esthrs-->   

     <!--Priority-->
     <div class="ui-g-12 ui-md-6">
      <div class="ui-g-8">
        <label for="employee">{{ globalResource.priority }}</label>
      </div>
      <div class="ui-g-8">                     
        <p-dropdown
          [options]="Priorities"
          [(ngModel)]="TaskModel.quarantine.priority"
          [autoWidth]="true"
          formControlName="priority"
          id="priority"
          name="priority">
        </p-dropdown>                                  
      </div>
    </div>
    <!--End Priority-->

    <!--Notify Manager/Employee-->
    <div class="ui-g-12 ui-md-6">
        <div class="ui-g-8">
          
        </div>
        <div class="ui-g-8">                     
            <p-checkbox 
              value="chkManagerCheck"
              label="{{ assignTaskResources.notifymanager }}"
              [(ngModel)]="TaskModel.quarantine.notifymanager"
              formControlName="notifymanager"
            ></p-checkbox>

            <p-checkbox 
              value="chkEmployeeCheck"
              label="{{ assignTaskResources.notifyemployee }}"
              [(ngModel)]="TaskModel.quarantine.notifyemployee"
              formControlName="notifyemployee"
            ></p-checkbox>                                                              
        </div>
    </div>
    <!--End Notify Manager/Employee-->
    <!--Comment-->
    <div class="ui-g-12 ui-md-6">
        <div class="ui-g-8">
          <label for="comment">{{ assignTaskResources.comment }}</label>
        </div>
        <div class="ui-g-8">                     
            <textarea                        
              pInputTextarea                        
              [(ngModel)]="TaskModel.quarantine.usercomment"
              formControlName="comment"
              id="comment"
              name="comment"
              maxlength="500"
            ></textarea>

            <div
              class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
              *ngIf="!Quarantine.controls['comment'].valid&&Quarantine.controls['comment'].dirty">
                <span *ngIf="Quarantine.controls['comment'].errors['maxLength']">
                  {{ assignTaskResources.commentMaxLength }}
                </span>                      
          </div>
        </div>
    </div>
    <!--End Comment-->

    <!--Quarantine Hrs-->
    <div class="ui-g-12 ui-md-6">
      <div class="ui-g-8">
        <label for="quarantineHrs">{{ assignTaskResources.quarantinehrs }}</label>
      </div>

      <div class="ui-g-8">
        <input type="number" 
          pInputText 
          autocomplete="off"
          [(ngModel)]="TaskModel.quarantine.quarantinehrs" 
          id="quarantineHrs" 
          name="quarantineHrs" 
          formControlName="quarantinehrs"
          readonly="true"
          />

        </div>
    </div>
    <!--End Quarantine Hrs-->
</div>

<div  *ngIf="PageFlag.page=='TaskAction'">
  <div class="ui-g">
    <!--Employee -->
    <div class="ui-g-12 ui-md-6">
        <div class="ui-g-8">
          <label>
            <strong>{{ globalResource.employee }}</strong>
          </label>
        </div>
        <div class="ui-g-8">
          <label>
            {{TaskActionDetails.employee}}
          </label>
        </div>
      </div>
      <!--End Employee -->
      <!--Lot No -->
      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-8">
          <label>
            <strong>{{ globalResource.lotno }}</strong>
          </label>
        </div>
        <div class="ui-g-8">
            {{TaskActionDetails.lotno}}
        </div>
      </div>
      <!--End Lot No -->
      <!--Brand-->
      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-8">
          <label>
            <strong>{{ globalResource.brand }}</strong>
          </label>
        </div>
        <div class="ui-g-8">
            {{TaskActionDetails.brand}}
        </div>
      </div>
      <!--End Brand-->
      <!--Strain-->
      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-8">
          <label>
            <strong>{{ globalResource.strain }}</strong>
          </label>
        </div>
        <div class="ui-g-8">
            {{TaskActionDetails.strain}}
        </div>
      </div>
      <!--End Strain-->
     
      <!--Estimated Start DateTime-->
      <div class="ui-g-12 ui-md-6">
          <div class="ui-g-8">
            <label>
              <strong>{{ globalResource.eststartdate }}</strong>
            </label>
          </div>
          <div class="ui-g-8">
              {{TaskActionDetails.estenddate}}
          </div>
        </div>
        <!--End Estimated Start DateTime-->

      <!--Estimated End DateTime-->
      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-8">
          <label>
            <strong>{{ globalResource.estenddate }}</strong>
          </label>
        </div>
        <div class="ui-g-8">
            {{TaskActionDetails.estenddate}}
        </div>
      </div>
      <!--End Estimated End DateTime-->

       <!--Est hrs-->
       <div class="ui-g-12 ui-md-6">
          <div class="ui-g-8">
            <label>
              <strong>{{ globalResource.esthrs }}</strong>
            </label>
          </div>
          <div class="ui-g-8">
              {{TaskActionDetails.esthrs}}
          </div>
        </div>
        <!--End Est hrs-->

      <!--Priority -->
      <div class="ui-g-12 ui-md-6">
          <div class="ui-g-8">
            <label>
              <strong>{{ globalResource.priority }}</strong>
            </label>
          </div>
          <div class="ui-g-8">
              Normal
          </div>
        </div>
        <!--End Priority -->
      <!--Comment-->
      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-8">
          <label>
            <strong>{{ assignTaskResources.comment }}</strong>
          </label>
        </div>
        <div class="ui-g-8">
            {{TaskActionDetails.comment}}
        </div>
      </div>
      <!--End Comment-->
      
      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-8">
          <label><strong>{{ assignTaskResources.quarantinehrs }}</strong></label>
        </div>
    
        <div class="ui-g-8">
          24  
        </div>
      </div>
    </div>

    <p-dialog header="Task Completion" [(visible)]="PageFlag.showmodal" modal="modal" [resizable]="true" [responsive]="true" [width]="400" [minWidth]="200" >
        <form [formGroup]="quarantineCompleteForm" (ngSubmit)="submitCompleteParameter(quarantineCompleteForm.value)">

        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                    <label>{{ assignTaskResources.misccost }}</label>
                </div>
                <div class="ui-grid-col-6">
                    <input type="number" 
                      pInputText 
                      autocomplete="off"
                      [(ngModel)]="TaskCompletionModel.misccost"                         
                      formControlName="misccost"
                      id="assignedwt"
                      name="assignedwt"                       
                    />                    
                </div> 
            </div>            
          </div>         
    
          <p-footer>
            <button type="submit" pButton icon="fa-check"  label="Confirm"  [disabled]="!quarantineCompleteForm.valid"></button>
            <button type="button" class="ui-button-secondary" pButton icon="fa-close" (click)="PageFlag.showmodal=false" label="Cancel"></button>
          </p-footer>
      </form>
  </p-dialog>
  <p-growl [(value)]="msgs" life='5000'></p-growl>
</div>