<div class="content-section implementation GridDemo orderRequest">
  <div class="ui-g">
    <div class="ui-g-12">
      <p-panel [header]="pageheading"  [toggleable]="true" [style]="{'margin-bottom':'20px'}" >
        <form [formGroup]="chemicalMasterForm" (ngSubmit)="onSubmit(chemicalMasterForm.value)">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-12" style="padding: 0">
              <!-- <p-button *ngIf="backUrl" class="links" style="float:right" type="button" label="<< Back" id="btn_backToStrain" (click)="backToStrain()"  name="btnback" ></p-button>       -->
             <a [routerLink]=""  class="btn-link" (click)="backToChemicalPurchase()" style="float: right;padding-right: 21px;text-decoration: underline" ><< Back</a>
            </div>
            <div class="ui-g-12 ui-md-6">
              <div class="paddingRL">
                <label for="chemicalname">Chemical Type Name<span class="star">*</span></label>:
                <input pInputText
                name="chemicalname"
                autocomplete="off"
                id="chemicalname"
                type="text"
                class="clsControl"
                formControlName="chemicalname"                                      
                placeholder="Enter Chemical Name"
                /> 
              </div>
            </div>
            <div class="ui-g-12 ui-md-6">
              <div class="paddingRL">
                <label for="description">Description</label>:
                <input pInputText
                name="description"
                autocomplete="off"
                id="description"
                type="text"
                class="clsControl"
                formControlName="description"                                      
                placeholder="Enter Description"
                />
              </div>
            </div>
           
            <div class="ui-g-12 ui-md-12">
              <div class="paddingRL">
                <p-checkbox value="true" 
                [(ngModel)]="IsActive" 
                label="{{globalResource.IsActiveFlag}}" 
                formControlName="chkIsActive" 
                binary="true"></p-checkbox>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12" style="text-align:right;">
              <div class="paddingRL">
                <p-button  type="submit" id="btnetailerSave" 
                label="{{ SaveButtonText}}"  name="btnRetailerSave" ></p-button>
                <button pButton (click)="ResetForm()" type="button" label="{{ Clear }}"
                  class="ui-button-secondary"></button>
            </div>
          </div>
          </div>
        </form>
      </p-panel>
    </div>
  </div>

  <p-panel header="Chemical Type List" [toggleable]="true" [style]="{'margin-bottom':'20px'}" >
    <p-table #dtChemicalTypeList [value]="allchemicaltypeList" 
    sortMode="single"                      
          [responsive]="true" 
          [paginator]="true" 
          [rows]="10"          
          sortOrder="-1"
          [globalFilterFields]="['ChemicalTypeName','Description']"
          selectionMode="single"
          (onPage)="onPageChange($event)"
          [rowsPerPageOptions]="PaginationValues"
          dataKey="ChemicalTypeID"
          class="clsTableSelection"
          >
          <ng-template pTemplate="caption">
            <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" autocomplete="off" pInputText size="50" placeholder="Global Filter" 
                  (input)="dtChemicalTypeList.filterGlobal($event.target.value, 'contains')" style="width:auto;">
            </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th [pSortableColumn]="'ChemicalTypeName'">Chemical Type Name  <p-sortIcon [field]="'ChemicalTypeName'"></p-sortIcon></th>   
            <th [pSortableColumn]="'Description'">Description <p-sortIcon [field]="'Description'"></p-sortIcon></th>    
            <th style="width:100px;">Action</th>
          </tr>
          <tr>
            <th>
              <input pInputText type="text" autocomplete="off" (input)="dtChemicalTypeList.filter($event.target.value, 'ChemicalTypeName', 'contains')" class="clsControl">
            </th>
            <th>
              <input pInputText type="text" autocomplete="off"  (input)="dtChemicalTypeList.filter($event.target.value, 'Description', 'contains')" class="clsControl">
          </th> 
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-chemicaltype let-rowData let-columns="columns" let-rowIndex="rowIndex">
          <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
            <td>{{chemicaltype?.ChemicalTypeName }}</td>
              
            <td>{{chemicaltype?.Description }}</td>   

            <td style="width:65px;" (click)="$event.stopPropagation();"> 
              <span class="ui-column-title">edit</span>
              <a href="#" [routerLink]="" (click)="GetCTOnEdit(chemicaltype?.ChemicalTypeId)" >                             
                <span class="fa fa-edit"></span>
              </a>
              <a href="#" [routerLink]="" 
                (click)="ShowConformationMessaegForDelete(chemicaltype?.ChemicalTypeId,chemicaltype,1,0)" >
                <span class="fa fa-trash"></span>
              </a>
              <div class="clsToggleButtonDiv">
                <p-toggleButton 
                  [(ngModel)]="chemicaltype.IsActive" 
                  onLabel="Active" offLabel="InActive"  
                  [style]="{'width':'90px'}"
                  id
                  (onChange)="ShowConformationMessaegForDeactive(chemicaltype?.ChemicalTypeId,chemicaltype,
                    rowIndex,0,1)">                    
                </p-toggleButton>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft" let-state>
          <pagination-counts
            *ngIf="allchemicaltypeList?.length"
            [inputData]="allchemicaltypeList"
            [inputEvent]="event"
          ></pagination-counts>
        </ng-template>
        </p-table>
  </p-panel>


  <p-growl [(value)]="msgs" life='5000'></p-growl>
  <p-confirmDialog 
  header="Confirmation" 
  icon="fa fa-question-circle" 
  width="425" 
  *ngIf="true"
  class="clsConfirmBox" >
</p-confirmDialog>
</div>
