<div class="content-secion implementation GridDemo orderRequest" >
<div class="ui-g">
  <div class="ui-g-12">
    <p-panel header="{{ pageheading }}" [toggleable]="true" >
      <p-header>

      </p-header>
      <form
      [formGroup]="TaskmasterForm"
      (ngSubmit)="onSubmit(TaskmasterForm.value)">
      <div class="ui-g">
        <div class="ui-g-12 u-md-12" style="padding: 0;">
        
          <a [routerLink]="" *ngIf="backUrl" class="btn=link" (click)="backToLot()" style="float:right;padding-right: 21px;text-decoration: underline;"><< Back</a>
        </div>
      </div>
        <div class="ui-g">
          <!---Task Type-->
          <div class="ui-g-12 ui-md-6">
            <div class="paddingRL">
              <div class="le-su-12">
                <label for="entertasktype">{{newTaskResources.entertasktype}}<span class="star">*</span></label>:
                 <p-dropdown
                 [filter]="true"
                 id="tasktype"
                 [options]="Tasktypes"
                 formControlName="tasktype"
                 placeholder="-- select --"
                 [autoWidth]="false"
                 class="clsControl"
                 name="tasktype">
                </p-dropdown>
                <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                *ngIf="!TaskmasterForm.controls['tasktype'].valid && TaskmasterForm.controls['tasktype'].dirty">
                <span *ngIf="TaskmasterForm.controls['tasktype'].errors['required']">
                {{ newTaskResources.tassktyperequired }}
              </span>
              <span *ngIf="TaskmasterForm.controls['tasktype'].hasError('straintypenotpresent')">
                  {{ newTaskResources.tassktypenotpresent }} 
              </span>
              </div>
              </div>
            </div>
          </div>
          <!--End Task Types-->
          <!--Task Nmae-->
          <div class="ui-g-12 ui-md-6">
            <div class="paddingRL">
              <div class="le-su-12">
                <label for="entertask">
                  {{ newTaskResources.entertask}}<span class="star">*</span>:

                </label>
                <input pInputText
                name="task"
                id="task"
                autocomplete="off"
                placeholder="Enter task Name"
                type="text"
                class="clsControl"
                formControlName="task"
                />
                <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                  *ngIf="!TaskmasterForm.controls['task'].valid&&TaskmasterForm.controls['task'].dirty">
                                  <span *ngIf="TaskmasterForm.controls['task'].errors['required']">{{newTaskResources.Taskrequired}}</span>
                                  <span *ngIf="TaskmasterForm.controls['task'].errors['maxlength']">{{newTaskResources.TaskLength}}</span>
                                  <span *ngIf="TaskmasterForm.controls['task'].errors['whitespace']">{{newTaskResources.Taskrequired}}</span>
                                  </div>
              </div>
            </div>
          </div>
          <!--End Task Name-->

          <!--Description-->
          <div class="ui-g-12 ui-md-6">
            <div class="paddingRL">
                <div class="le-su-12">
                <label for="description">
                  {{ newTaskResources.description}}<span class="star"></span>:
                </label>

                <input pInputText
                  name="description"
                  id="description"
                  type="text"
                  autocomplete="off"
                  class="clsControl"
                  placeholder="Enter Task Description"
                  formControlName="description"
                />
              </div>
            </div>
          </div>
          <!--End Description -->

           <!-- IsActive -->
           <div class="ui-g-12 ui-md-6">
            <div class="paddingRL">
              <label></label>
              <div class="clear"></div>
        
              <p-checkbox value="true" [(ngModel)]="chkIsActive" label="{{globalResource.IsActiveFlag}}" formControlName="chkIsActive" 
              binary="true"></p-checkbox>
            </div>
          </div>
          <!--End IsActive -->
          <div class="ui-g-12 ui-md-12" style="text-align:right;">
            <div class="paddingRL">
                <!-- <button pButton type="submit" name="btnLogin" label="Add New" (click)="resetAll()" style="align-content: right"></button> -->
              <p-button  type="submit"  label="{{ saveButtonText}}" id="btntaskSave" name="btntaskSave" ></p-button>

              <button pButton
                  (click)="resetAll()"
                  type="button"
                  label="{{ clear }}"
                  class="ui-button-secondary"
              >
              </button>
          </div>
        </div>
          </div>
        
      </form>
    </p-panel>
  </div>
</div>

<div class="ui-g">
<div class="ui-g-12">
  <p-panel header="Task List" [toggleable]="true" [style]="{'margin-bottom':'20px'}" >
   <p-table #dtTaskList [value]="allTaskList" [resizableColumns]="true"
   sortMode="single"
   [responsive]="true"
   [paginator]="true"
   [rows]="10"
   sortField="TaskId"
   sortIrder="-1"
   [rowsPerPageOptions]="paginationValues"
   (onPage)="onPageChange($event)"
   [globalFilterFields]="['TaskTypeName','CategoryName','Description']"
   >
<ng-template pTemplate="caption">
  <div style="text-align:right">
  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
  <input type="text" autocomplete="off" pInputText size="50" placeholder="Global Filter" (input)="dtTaskList.filterGlobal($event.target.value, 'contains')" style="width:auto;">
  </div>
</ng-template>
<ng-template pTemplate="header">
  <tr>
   
    <th pResizableColumn [pSortableColumn]="'TaskTypeName'">Task Name  <p-sortIcon [field]="'TaskTypeName'"></p-sortIcon> </th>
    <th pResizableColumn [pSortableColumn]="'CategoryName'">Task Type  <p-sortIcon [field]="'CategoryName'"></p-sortIcon> </th>
    <th pResizableColumn [pSortableColumn]="'Description'"> Description <p-sortIcon [field]="'Description'"></p-sortIcon></th>
    <th style="width:100px;"> </th>
</tr>
<tr>
  <th>
    <input pInputText type="text" autocomplete="off"
      (input)="dtTaskList.filter($event.target.value, 'TaskTypeName', 'contains')" class="clsControl">
  </th>
  <th>
  <input pInputText type="text" autocomplete="off"
      (input)="dtTaskList.filter($event.target.value, 'CategoryName', 'contains')" class="clsControl">
  </th>
  <th>
  <input pInputText type="text" autocomplete="off"
      (input)="dtTaskList.filter($event.target.value, 'Description', 'contains')" class="clsControl">
  </th>
</tr>
</ng-template>
<ng-template pTemplate="body" let-Task let-rowData let-columns="columns" let-rowIndex="rowIndex">
  <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
    <!-- <td>
        <u><a href="#" [routerLink]="['../taskaction', order?.TaskTypeName, order?.TaskId]">{{order?.EmpName}}</a></u>
    </td> -->
   
    <td>{{Task?.TaskTypeName}}</td>
    <td>{{Task?.CategoryName}}</td>
    <td>{{Task?.Description }}</td>
    <!-- <td>{{Strain?.THC }}</td>   
    <td>{{Strain?.CBD }}  </td>                  
    <td>{{Strain?.THCA }}  </td>
    <td>{{Strain?.CBDA }}</td> -->
    <td style="width:65px;"> 
       <span class="ui-column-title">edit</span>
      <a href="#" [routerLink]="" (click)="getTaskOnEdit(Task?.Id)" >                             
          <span class="fa fa-edit"></span>
      </a>
      <a href="#" [routerLink]="" (click)="showConformationMessaegForDelete(Task?.Id,Task,1,0)" >
        <span class="fa fa-trash"></span>
    </a>

<div class="clsToggleButtonDiv">
<p-toggleButton 
    [(ngModel)]="Task.IsActive" 
    onLabel="Active" offLabel="InActive"  
    [style]="{'width':'90px'}"
    (onChange)="showConformationMessaegForDeactive(Task?.Id,Task, rowIndex,0,1)"
  >               
</p-toggleButton>
</div>
</td>
</tr>
</ng-template> 
<ng-template pTemplate="paginatorleft" let-state>
  <pagination-counts
    *ngIf="allTaskList?.length"
    [inputData]="allTaskList"
    [inputEvent]="event"
  ></pagination-counts>
</ng-template>
</p-table>
  </p-panel>
</div>
</div>

</div>
<p-growl [(value)]="msgs" life='5000'></p-growl>    
 <p-confirmDialog 
  header="Confirmation" 
  icon="fa fa-question-circle"
  width="425" 
  *ngIf="true"
  class="clsConfirmBox" >
 </p-confirmDialog> 