<div class="content-section implementation GridDemo orderRequest">
    <div class="ui-g">
        <div class="ui-g-12">
            <!-- Order Listing -->
            <p-panel header="{{ oilInwordResource.pageheading }}" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
                <p-table #dtOilInward [value]="allOilInwordRequests" sortMode="single" [responsive]="true" [paginator]="true" [rows]="10"
                    dataKey="InwordTPId" 
                    rowExpandMode="single" 
                    sortField="ActionDate" 
                    sortOrder="-1" 
                    [rowsPerPageOptions]="paginationValues"
                    (onPage)="onPageChange($event)"
                    [globalFilterFields]="['ActionTaker','TPName','ActionDate','OilReturnDate','ExpectedYield','PaymentMode','PaymentValue']">
                    <ng-template pTemplate="caption">
                        <div style="text-align: right">
                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                            <input type="text" pInputText autocomplete="off" size="50" placeholder="Global Filter" (input)="dtOilInward.filterGlobal($event.target.value, 'contains')"
                                style="width:auto;">
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="iconwidth"></th>
                            <th [pSortableColumn]="'TPName'">{{ oilInwordResource.tpname }}
                                <p-sortIcon [field]="'TPName'"></p-sortIcon>
                            </th>
                            <!-- Updated by Akash Bonde on 31-Aug-2018 -->
                            <!-- <th class="midiamwidth" [pSortableColumn]="'ActionTaker'">{{ globalResource.actiontaker }}
                                <p-sortIcon [field]="'ActionTaker'"></p-sortIcon>
                            </th> -->
                            <!-- Updated by Akash Bonde on 31-Aug-2018 -->
                            <th class="midiamwidthhh" [pSortableColumn]="'ExpectedYield'">{{ oilInwordResource.expyield }} %
                                <p-sortIcon [field]="'ExpectedYield'"></p-sortIcon>
                            </th>
                            <th class="midiamwidthhh" [pSortableColumn]="'ActualYield'">{{ oilInwordResource.actualyield }} %
                                <p-sortIcon [field]="'ActualYield'"></p-sortIcon>
                            </th>
                            <th class="midiamwidthhh" [pSortableColumn]="'PaymentMode'">{{ oilInwordResource.paymentmode }}
                                <p-sortIcon [field]="'PaymentMode'"></p-sortIcon>
                            </th>
                            <th class="midiamwidthhh" [pSortableColumn]="'PaymentValue'">{{ oilInwordResource.value }}
                                <p-sortIcon [field]="'PaymentValue'"></p-sortIcon>
                            </th>
                            <th class="midiamwidthhh" [pSortableColumn]="'OilReturnDate'">{{ oilInwordResource.oilreturndate }}
                                <p-sortIcon [field]="'OilReturnDate'"></p-sortIcon>
                            </th>
                            <th class="datewidth" [pSortableColumn]="'ActionDate'"> {{ globalResource.actiondate }}
                                <p-sortIcon [field]="'ActionDate'"></p-sortIcon>
                            </th>
                            <!-- <th >{{ oilInwordResource.oildetails }}</th> -->
                        </tr>

                        <tr>
                            <th style="width: 2.25em"></th>
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtOilInward.filter($event.target.value, 'TPName', 'contains')"
                                    class="clsControl">
                            </th>
                            <!-- <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtOilInward.filter($event.target.value, 'ActionTaker', 'contains')"
                                    class="clsControl">
                            </th> -->
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtOilInward.filter($event.target.value, 'ExpectedYield', 'contains')"
                                    class="clsControl">
                            </th>
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtOilInward.filter($event.target.value, 'ActualYield', 'contains')"
                                    class="clsControl">
                            </th>
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtOilInward.filter($event.target.value, 'PaymentMode', 'contains')"
                                    class="clsControl">
                            </th>
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtOilInward.filter($event.target.value, 'PaymentValue', 'contains')"
                                    class="clsControl">
                            </th>
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtOilInward.filter($event.target.value, 'OilReturnDate', 'contains')"
                                    class="clsControl">
                            </th>
                            <th>
                                <input pInputText autocomplete="off" type="text" (input)="dtOilInward.filter($event.target.value, 'ActionDate', 'contains')"
                                    class="clsControl">
                            </th>
                            <!-- <th rowspan="2"></th>                         -->
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                            <td>
                                <a href="#" [pRowToggler]="rowData">
                                    <i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-pw fa-chevron-circle-right'" style="font-size: 1.25em"></i>
                                </a>
                            </td>
                            <td>{{rowData?.TPName}}</td>
                            <!-- <td class="midiamwidth">{{rowData?.ActionTaker}}</td> -->
                            <td class="midiamwidth">{{rowData?.ExpectedYield}}</td>
                            <td class="midiamwidth">{{rowData?.ActualYield}}</td>
                            <td class="midiamwidth">{{rowData?.PaymentMode}}</td>
                            <td class="midiamwidth">{{rowData?.PaymentValue}}</td>
                            <td class="midiamwidth">{{rowData?.OilReturnDate | date:'MM/dd/yyyy' }}</td>
                            <td class="datewidth">{{rowData?.ActionDate | date:'MM/dd/yyyy hh:mm a' }}</td>
                            <!-- <td>
                      <u><a [routerLink]="" (click)="getTPProcessorInfo(rowData?.TPId)" ><i class='fa fa-info-circle'></i></a></u>
                    </td> -->
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft" let-state>
                        <pagination-counts
                          *ngIf="allOilInwordRequests?.length"
                          [inputData]="allOilInwordRequests"
                          [inputEvent]="event"
                        ></pagination-counts>
                      </ng-template>
                    <ng-template pTemplate="rowexpansion" let-rowData>
                        <tr>
                            <td [attr.colspan]="8">
                                <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
                                    <p-table [value]="pkgDetails(rowData)">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>{{ globalResource.strain }}</th>
                                                <th>{{ globalResource.tppkgtype }}</th>
                                                <th>{{ globalResource.pkgSize }}</th>
                                                <th>{{ globalResource.pkgQty }}</th>
                                                <th>{{ globalResource.oilpkgcode }}</th>
                                                <th class="iconwidth">
                                                    <!-- {{ globalResource.lotdetails }} -->
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-pkgDetails>
                                            <tr>
                                                <td>{{pkgDetails?.StrainName}}</td>
                                                <td>{{pkgDetails.TPPkgTypeName}}</td>
                                                <!-- <td>{{pkgDetails.OilWt}}</td> -->
                                                <!-- Added by Akash Bonde on 31-Aug-2018 -->
                                                <td>{{pkgDetails.UnitValue}}</td>
                                                <td>{{pkgDetails.Qty}}</td>
                                                <!-- End Added by Akash Bonde on 31-Aug-2018 -->
                                                <td>{{pkgDetails.OilPkgCode}}</td>
                                                <td>
                                                    <u>
                                                        <a [routerLink]="" (click)="getTPPkgLotInfo(pkgDetails)">
                                                            <i class='fa fa-info-circle'></i>
                                                        </a>
                                                    </u>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-panel>

            <p-dialog header="{{ oilInwordResource.tplotdetails }}" [(visible)]="showTPPkgDetailsModel" modal="modal" [resizable]="true"
                [responsive]="true" [width]="500" [minWidth]="200">
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-6">
                            <label>
                                <strong>{{ oilInwordResource.tpname }}: </strong>
                            </label>

                            <label>
                                {{ selectedTPDetails?.tpDetails.TPName }}
                            </label>
                        </div>

                        <div class="ui-g-12 ui-md-6">
                            <label>
                                <strong>{{ globalResource.strain }}: </strong>
                            </label>

                            <label>
                                {{ selectedTPDetails?.tpPkgDetails?.StrainName }}
                            </label>
                        </div>

                        <div class="ui-g-12 ui-md-6">
                            <label>
                                <strong>{{ globalResource.oilpkgcode }}: </strong>
                            </label>

                            <label>
                                {{ selectedTPDetails?.tpPkgDetails?.OilPkgCode }}
                            </label>
                        </div>

                        <div class="ui-g-12 ui-md-6">
                            <label>
                                <strong>{{ globalResource.actiontaker }}: </strong>
                            </label>

                            <label>
                                {{ selectedTPDetails?.tpPkgDetails?.ActionTaker }}
                            </label>
                        </div>

                        <!-- <div class="ui-g-12 ui-md-6">
                            <label>
                                <strong>{{ oilInwordResource.expectedyield }} </strong>
                            </label>

                            <label>
                                {{ selectedTPDetails?.tpPkgDetails?.ExpectedYield }}
                            </label>
                        </div>

                        <div class="ui-g-12 ui-md-6">
                            <label>
                                <strong>{{ oilInwordResource.paymentmode }} </strong>
                            </label>

                            <label>
                                {{ selectedTPDetails?.tpPkgDetails?.PaymentMode }}
                            </label>
                        </div>

                        <div class="ui-g-12 ui-md-6">
                            <label>
                                <strong>{{ oilInwordResource.paymentvalue }} </strong>
                            </label>

                            <label>
                                {{ selectedTPDetails?.tpPkgDetails?.PaymentValue }}
                            </label>
                        </div>

                        <div class="ui-g-12 ui-md-6">
                            <label>
                                <strong>{{ oilInwordResource.oilreturndate }} </strong>
                            </label>

                            <label>
                                {{ selectedTPDetails?.tpPkgDetails?.OilReturnDate | date:'MM/dd/yyyy hh:mm a'  }}
                            </label>
                        </div> -->
                    </div>

                    <p-table [value]="selectedTPDetails.tpPkgLotDetails" *ngIf="selectedTPDetails?.tpPkgLotDetails?.length" sortMode="single"
                        [responsive]="true" [paginator]="true" [rows]="10">
                        <ng-template pTemplate="caption">
                            <h6>TP Processor Inword Pkg Lot Details</h6>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:40%">{{globalResource.lotno}}</th>
                                <!-- <th style="width:20%">{{globalResource.strain}}</th> -->
                                <th style="width:30%">{{oilInwordResource.oilmaterialprocessedwt}}</th>
                                <th style="width:30%">{{oilInwordResource.oilreturnedwt}}</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-details>
                            <tr>
                                <td>
                                    {{details?.GrowerLotNo}}
                                    <!-- Added by Devdan :: 20-Nov-2018 :: Adding Lot Icon n Comnent -->
                                    <app-lot-comment
                                        [LotId]="details?.LotId"
                                        [LotCommentsCount]="details?.LotNoteCount"
                                        (CommentIconClicked)="commentIconClicked($event)"
                                    ></app-lot-comment>
                                    <app-lot-note-icon
                                        [LotId]="details?.LotId"
                                        (NoteIconClicked)="ShowLotNote($event)"
                                    ></app-lot-note-icon>
                                </td>
                                <!-- <td>{{details?.StrainName}}</td> -->
                                <td>{{details?.ProcessedWt}} {{globalResource.listgramunit}}</td>
                                <td>{{details?.OilWt}} {{globalResource.listgramunit}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <p-footer>
                    <button type="button" pButton icon="fa-close" (click)="showTPPkgDetailsModel=false" label="Cancel"></button>
                    <div class="clear"></div>
                </p-footer>
                <div class="clear"></div>
            </p-dialog>

            <!--End Order Listing  -->
        </div>
    </div>
</div>

<!-- Added by Devdan :: 20-Nov-2018 :: Adding Comnent popup -->
<app-lot-note [Lot]="lotInfo" *ngIf="lotInfo?.showLotNoteModal" (NoteSaved)="OnNoteSave($event)" >
</app-lot-note> 
<app-popup-lot-comment [Lot]="lotInfo" *ngIf="lotInfo?.showLotCommentModal" (CommentSaved)="OnCommentSaved($event)">
</app-popup-lot-comment>