<div class="content-section implementation GridDemo orderRequest">
  <div class="ui-g">
    <div class="ui-g-12">
      <p-panel [header]="pageheading"  [toggleable]="true" [style]="{'margin-bottom':'20px'}" >
        <form [formGroup]="ARMForm" (ngSubmit)="onSubmit(ARMForm.value)">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6">
              <div class="paddingRL">
                <label for="grower">Supplier</label> <span class="star">*</span>:
                <p-dropdown
                [filter] ="true"
                id="grower"
                formControlName="grower"
               [options]="Growers"
                placeholder="-- Select --"
                [autoWidth]="false"
                class="clsControl"
                name="grower">
              </p-dropdown>
              </div>
            </div>

            <div class="ui-g-12 ui-md-6">
              <div class="paddingRL">
                <label for="receivedwt">Received Weight (lb)</label> <span class="star">*</span>:
                <input pInputText
                name="receivedwt"
                autocomplete="off"
                id="receivedwt"
                type="text"
                class="clsControl"
                formControlName="receivedwt"                                      
                placeholder="Enter Weight"
                />
              </div>
            </div>

            <div formArrayName="items" style="position: relative">
              <div style="width:calc(100% - 20px);float:left;">
                <p-table  [value]="RawmaterialDetailsArr?.controls" id="RawmaterialDetailsArr" name="RawmaterialDetailsArr">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Bin
                        <span class="star">*</span>
                        <p-button class="toplinks" type="button" icon="fa fa-list-ul" label="Add Bins"  id="btn_binshow" (click)="GoToBinsPage()"  name="btnviewbins"></p-button>
                      </th>
                      <th>Category
                        <span class="star">*</span>
                      </th>
                      <th>Strain
                        <span class="star">*</span>
                      </th>
                      <th>SkewType
                       
                      </th>
                      <th style="width: 70px;">HT/MT
                      
                      </th>
                      <th style="width: 50px;">Light Dept
                      </th>
                      <th >Weight (lb)
                        <span class="star">*</span>
                      </th>
                      <th>Cost per pound
                        <span class="star">*</span>
                      </th>
                      <th>Total cost ($)
                      </th>
                      <th style="width: 80px;">Action
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-item let-i="rowIndex" >
                    <tr [formGroupName]="i">
                      <td>
                        <p-dropdown
                        id="binNo"
                        formControlName="binNo"
                        placeholder="-- Select --"
                        [options]="bins"
                        [autoWidth]="false"
                        class="clsControl"
                        (onChange)="showData(i,$event)"
                        name="binNo">
                      </p-dropdown>
                    </td>
                    <td>
                      <input pInputText
                        name="tasktype"
                        id="tasktype"
                        type="text"
                        autocomplete="off"
                        class="clsControl"       
                        formControlName="tasktype"
                        placeholder=" Classification Name"
                        readonly
                        >
                    </td>
                    <td>
                      <input pInputText
                        name="strain"
                        id="strain"
                        type="text"
                        autocomplete="off"
                        class="clsControl"       
                        formControlName="strain"
                        placeholder=" Strain"
                        readonly
                        >
                    </td>
                    <td>
                      <input pInputText
                        name="skewType"
                        id="skewType"
                        type="text"
                        autocomplete="off"
                        class="clsControl"       
                        formControlName="skewType"
                        placeholder=" Skew Type"
                        readonly
                        >
                    </td>
                    <td Style="text-align:center">
                       
                      <div class="radio" *ngFor="let TrimmingMethod of TrimmingMethods;" >
                        <p-radioButton [name]=i
                         [value]="TrimmingMethod" 
                         label={{TrimmingMethod}} 
                         [disabled]="enableDropDown"
                         formControlName="TrimmingMethod"
                         ></p-radioButton >
                       </div>  
                     
                                 
                    </td>
                    <td>
                      <p-checkbox value="true"
                       formControlName="lightDept" 
                       [disabled]="enableDropDown"
                        checked="true"
                      binary="true"></p-checkbox>                                      
                    </td>
                    <td>
                      <input pInputText
                        name="weight"
                        id="weight"
                        (keyup)="calculateTotalCost(i,$event)"
                        type="number"
                        autocomplete="off"
                        class="clsControl"       
                        formControlName="weight"
                        placeholder="Enter Weight"
                        >
                    </td>
                    <td>
                      <input pInputText
                        name="costperpound"
                        id="costperpound"
                        type="number"
                        (keyup)="calculateTotalCost(i,$event)"
                        autocomplete="off"
                        class="clsControl"       
                        formControlName="costperpound"
                        placeholder="Cost per pound"
                      
                        >
                    </td>
                    <td>
                      <input pInputText
                        name="totalcost"
                        id="totalcost"
                        type="text"
                        autocomplete="off"
                        class="clsControl"       
                        formControlName="totalcost"
                        placeholder="Total Cost"
                        readonly
                        >
                    </td>
                    <td>
                      <a (click)="deleteItem(i)" >                                                    
                          <span style="font-size: 1.4rem;" class="fa fa-minus-circle">
                          </span>
                      </a> 
                        <a (click)="addItem()" *ngIf="ARMForm.get('items').valid&&plusOnEdit === true">
                            <span class="fa fa-plus-circle" style="font-size: 1.4rem;">
                            </span>
                        </a>
                      
                    
                  </td>
                  <div class="ui-message ui-messages-error  ui-corner-all" appErrorTooltip *ngIf="item.hasError('prototypenotpresent')">
                    This Bin already exists.
                  </div> 
                    </tr>
                  </ng-template>
                </p-table>
              </div>
              <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip *ngIf="RawmaterialDetailsArr.hasError('duplicate')">
                duplicate entries
              </div> 
              <div class="ui-g" style="width:100%;text-align:right;">
                <div class="ui-g-12">
                  <button pButton type="submit" label="{{saveButtonText}}" ></button>
                  <button 
                    pButton 
                    (click)="resetForm()" 
                    type="button" 
                    label="Clear" 
                    class="ui-button-secondary">
                </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </p-panel>
    </div>
  </div>
</div>

<div class="ui-g">
  <div class="ui-g-12">
    <p-panel header="Raw Material List" [toggleable]="true" [style]="{'margin-bottom':'20px'}" >
      <p-table #dtRaMaterialList [value]="allRawMateriallist" sortMode="single" [responsive]="true" [paginator]="true"
      [rows]="10" sortField="sectionId" sortOrder="-1" [rowsPerPageOptions]="paginationValues"
      (onPage)="onPageChange($event)"
      [globalFilterFields]="['RawSupplierName','TaskTypeName','BinName','StrainName','SkewType','TrimmingMethod','LightDeprevation','Weight','cost/pound']">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" autocomplete="off" pInputText size="50" placeholder="Global Filter"
          (input)="dtRaMaterialList.filterGlobal($event.target.value, 'contains')" style="width:auto;">
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th [pSortableColumn]="'RawSupplierName'">Supplier Name <p-sortIcon [field]="'RawSupplierName'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'TaskTypeName'">Category Name <p-sortIcon [field]="'TaskTypeName'"></p-sortIcon>
          </th>
        
          <th [pSortableColumn]="'BinName'">Bin Name <p-sortIcon [field]="'BinName'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'StrainName'">Strain <p-sortIcon [field]="'StrainName'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'SkewType'">SkewType <p-sortIcon [field]="'SkewType'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'TrimmingMethod'">TM<p-sortIcon [field]="'TrimmingMethod'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'LightDeprevation'">Light Dept <p-sortIcon [field]="'LightDeprevation'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'Weight'">Weight(lb)<p-sortIcon [field]="'Weight'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'cost/pound'">Cost per pound(lb)<p-sortIcon [field]="'cost/pound'"></p-sortIcon>
          </th>
          <th style="width:100px;">Action </th>
        </tr>
        <tr>
          <th>
            <input pInputText type="text" autocomplete="off"
              (input)="dtRaMaterialList.filter($event.target.value, 'RawSupplierName', 'contains')" class="clsControl">
          </th>
          <th>
            <input pInputText type="text" autocomplete="off"
              (input)="dtRaMaterialList.filter($event.target.value, 'TaskTypeName', 'contains')" class="clsControl">
          </th>
         
          <th>
            <input pInputText type="text" autocomplete="off"
              (input)="dtRaMaterialList.filter($event.target.value, 'BinName', 'contains')" class="clsControl">
          </th>
          <th>
            <input pInputText type="text" autocomplete="off"
              (input)="dtRaMaterialList.filter($event.target.value, 'StrainName', 'contains')" class="clsControl">
          </th>
          <th>
            <input pInputText type="text" autocomplete="off"
              (input)="dtRaMaterialList.filter($event.target.value, 'SkewType', 'contains')" class="clsControl">
          </th>
          <th>
            <input pInputText type="text" autocomplete="off"
              (input)="dtRaMaterialList.filter($event.target.value, 'TrimmingMethod', 'contains')" class="clsControl">
          </th>
          <th>
            <input pInputText type="text" autocomplete="off"
              (input)="dtRaMaterialList.filter($event.target.value, 'LightDeprevation', 'contains')" class="clsControl">
          </th>
          <th>
            <input pInputText type="text" autocomplete="off"
              (input)="dtRaMaterialList.filter($event.target.value, 'Weight', 'contains')" class="clsControl">
          </th>
          <th>
            <input pInputText type="text" autocomplete="off"
              (input)="dtRaMaterialList.filter($event.target.value, 'cost/pound', 'contains')" class="clsControl">
          </th>
          <th rowspan="2"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rawmaterial let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
          <td>{{rawmaterial?.RawSupplierName}}</td>
          <td>{{rawmaterial?.TaskTypeName}}</td>
        
          <td>{{rawmaterial?.BinName}}</td>
          <td>{{rawmaterial?.StrainName}}</td>
          <td>{{rawmaterial?.SkewType}}</td>
          <td>{{rawmaterial?.TrimmingMethod}}</td>
          <td>{{rawmaterial?.LightDeprevation}}</td>
          <td>{{rawmaterial?.Weight}}</td>
          <td>{{rawmaterial?.CostPerPound}}</td>
          <td style="width:65px;">
            <span class="ui-column-title">edit</span>
            <a href="#" [routerLink]="">
              <span class="fa fa-edit" (click)="getLabelsOnEdit(rawmaterial?.LabelId)"></span>
            </a>
            <a href="#" [routerLink]="">
              <span class="fa fa-trash"(click)="showConformationMessaegForDelete(rawmaterial?.LabelId,rawmaterial,1,0)"></span>
            </a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft" let-state>
        <pagination-counts *ngIf="allRawMateriallist?.length" [inputData]="allRawMateriallist" [inputEvent]="event">
        </pagination-counts>
      </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>

<p-growl [(value)]="msgs" life='5000'></p-growl>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" *ngIf="true" class="clsConfirmBox">
</p-confirmDialog>