
<div class="content-section implementation GridDemo">
  <div class="ui-g">

    <div class="ui-g-12">
      <p-panel header="{{ newPackageTypeResources.pageheading }}" [(collapsed)]="collapsed" [toggleable]="true">
      <p-header>
          <!-- <button pButton type="submit" name="btnLogin" label="Add New Package Type" [style]="{'float':'right'}" (click)="doOPenPanel()" style="align-content: right"></button> -->
      </p-header>
        <!--Main New Product Entry Form-->
        <form
          [formGroup]="newEmployeeForm"
          (ngSubmit)="onSubmit(newEmployeeForm.value)">

          <div class="ui-g">
              <div class="ui-g-12 ui-md-12" style="padding: 0">
      
                  <a [routerLink]="" *ngIf="backUrl" class="btn-link" (click)="backToTPPackage()" style="float: right;padding-right: 21px;text-decoration: underline" ><< Back</a>
                 </div>
              </div>
              <div class="ui-g ">
                <!-- PackageType Name -->
                <div class="ui-g-12 ui-md-6">
                  <div class="paddingRL">
                      <div class="le-su-12">
                        <label for="enterpackagetype">
                          {{ newPackageTypeResources.enterpackagetype}}<span class="star">*</span>:
                        </label>

                        <input pInputText
                          name="packagetype"
                          id="packagetype"
                          autocomplete="off"
                          placeholder="Enter Package Type Name"
                          type="text"
                          class="clsControl"
                          formControlName="packagetype"
                        />

                        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                          *ngIf="!newEmployeeForm.controls['packagetype'].valid&&newEmployeeForm.controls['packagetype'].dirty">
                            <span *ngIf="newEmployeeForm.controls['packagetype'].errors['required']">{{newPackageTypeResources.packagetyperequired}}</span>
                            <span *ngIf="newEmployeeForm.controls['packagetype'].errors['maxlength']">{{newPackageTypeResources.packagetypeLength}}</span>
                            <span *ngIf="newEmployeeForm.controls['packagetype'].errors['whitespace']">{{newPackageTypeResources.packagetyperequired}}</span>
                          </div>
                      </div>
                  </div>
                </div>

                <!-- End PackageType Name -->
                <!-- description -->
                <div class="ui-g-12 ui-md-6">
                    <div class="paddingRL">
                        <div class="le-su-12">
                          <label for="enterdescription">
                            {{ newPackageTypeResources.enterdescription}}:
                          </label>
  
                          <input pInputText
                            name="description"
                            id="description"
                            type="text"
                            autocomplete="off"
                            placeholder="Enter Description"
                            class="clsControl"
                            formControlName="description"
                          />
                        </div>
                    </div>
                  </div>
                  <!-- End description -->
                  <!-- IsActive -->
                    <div class="ui-g-12 ui-md-12">
                        <div class="paddingRL">
                          <label></label>
                          <div class="clear"></div>
                    
                          <p-checkbox value="true" [(ngModel)]="chkIsActive" label="{{globalResource.IsActiveFlag}}"formControlName="chkIsActive" binary="true"></p-checkbox>
                        </div>
                    </div>
                    <!--End IsActive -->

                <div class="ui-g-12 ui-md-12" style="text-align:right;">
                    <div class="paddingRL">
                      <p-button  type="submit" label="{{ saveButtonText}}" id="btnProductTypeSave" name="btnProductTypeSave" ></p-button>
                      <button pButton (click)="resetAll()" type="button" label="{{ clear }}" class="ui-button-secondary"></button>
                  </div>
                </div>
              </div>
        </form>
      </p-panel>
    </div>
    
  </div>
</div>




<div class="content-section implementation GridDemo orderRequest">
  <div class="ui-g">
      <div class="ui-g-12">
          <!-- Employee Listing -->
    <p-panel header="{{ newPackageTypeResources.headingpackagetype}}" [toggleable]="true" [style]="{'margin-bottom':'20px'}" >      
      <p-table #dtEmployeeListing [value]="allpackagingtypesList"
          sortMode="single"                      
          [responsive]="true" 
          [paginator]="true" 
          [rows]="10"           
          sortField="PkgTypeId"
          sortOrder="-1"
          [rowsPerPageOptions]="paginationValues"
          (onPage)="onPageChange($event)"
          [globalFilterFields]="['PkgTypeName','Description','IsActiveFlag']"
          >                    
          <ng-template pTemplate="caption">
              <div style="text-align: right">
                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  <input type="text" pInputText autocomplete="off" size="50" placeholder="Global Filter" (input)="dtEmployeeListing.filterGlobal($event.target.value, 'contains')" style="width:auto;">
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th [pSortableColumn]="'PkgTypeName'">{{ newPackageTypeResources.packagetype}} <p-sortIcon [field]="'PkgTypeName'"></p-sortIcon></th>
                  <th [pSortableColumn]="'Description'">{{ newPackageTypeResources.description}} <p-sortIcon [field]="'Description'"></p-sortIcon></th>
                  <!-- <th [pSortableColumn]="'IsActiveFlag'" style="width:100px;">{{ globalResource.IsActiveFlag}} <p-sortIcon [field]="'IsActiveFlag'"></p-sortIcon></th> -->
                  <th style="width:100px;">Action</th>
              </tr>
    
              <tr>
                  <th>
                      <input pInputText autocomplete="off" type="text" (input)="dtEmployeeListing.filter($event.target.value, 'PkgTypeName', 'contains')" class="clsControl">
                  </th>
                  <th>
                    <input pInputText autocomplete="off" type="text" (input)="dtEmployeeListing.filter($event.target.value, 'Description', 'contains')" class="clsControl">
                </th>
                <!-- <th>
                  <input pInputText autocomplete="off" type="text" (input)="dtEmployeeListing.filter($event.target.value, 'IsActiveFlag', 'contains')" class="clsControl">
              </th> -->
                <th rowspan="2"></th>  
          </ng-template>
          <ng-template pTemplate="body" let-newproducttype let-rowData let-columns="columns" let-rowIndex="rowIndex">
              <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                  <td>{{newproducttype?.PkgTypeName}}</td>
                  <td>{{newproducttype?.Description}}</td>
                  <!-- <td>{{newproducttype?.IsActiveFlag}}</td> -->
                  <td style="width:65px;"> 
                      <span class="ui-column-title">{{ newEmployeeResources.edit }}</span>
                      <a href="#" [routerLink]="" (click)="getPackagingTypesOnEdit(newproducttype?.PkgTypeId)" >                             
                          <span class="fa fa-edit"></span>
                      </a>
                      <!-- <a href="#" [routerLink]="" (click)="DeleteEmployee(newproducttype?.EmpId)" >
                          <span class="fa fa-trash"></span>
                      </a> -->
                      <a href="#" [routerLink]="" (click)="showConformationMessaegForDelete(newproducttype?.PkgTypeId,newproducttype?.IsActive,1,0)" >
                        <span class="fa fa-trash"></span>

                    </a>
                    <!-- <p-button class="links"  type="button" label="{{ newproducttype?.IsActive }}" id="btn_starinshow" 
                    (click)="showConformationMessaegForDeactive(newproducttype?.EmpId)" name="btnshow" ></p-button> -->
                    <!-- <p-inputSwitch 
                    (onChange)="showConformationMessaegForDeactive(newproducttype?.PkgTypeId,newproducttype?.IsActive,$event, rowIndex,0,1)" 
                    [(ngModel)]="newproducttype.IsActive"
                    ></p-inputSwitch> -->
                    <div class="clsToggleButtonDiv">
                    <p-toggleButton 
                      [(ngModel)]="newproducttype.IsActive" 
                      onLabel="Active" offLabel="InActive"  
                      [style]="{'width':'90px'}"
                      (onChange)="showConformationMessaegForDeactive(newproducttype?.PkgTypeId,newproducttype, rowIndex,0,1)" 
                    >
                    </p-toggleButton>
                  </div>
                </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft" let-state>
            <pagination-counts
              *ngIf="allpackagingtypesList?.length"
              [inputData]="allpackagingtypesList"
              [inputEvent]="event"
            ></pagination-counts>
          </ng-template>
          <ng-template pTemplate="paginatorleft" let-state>
            <pagination-counts
              *ngIf="allpackagingtypesList?.length"
              [inputData]="allpackagingtypesList"
              [inputEvent]="event"
            ></pagination-counts>
          </ng-template>
      </p-table>
    </p-panel>
      <!--End Employee Listing  -->
    </div>
  </div>
</div>
<p-growl [(value)]="msgs" life='5000'></p-growl>
<p-confirmDialog 
  class="clsConfirmBox" 
  header="Confirmation" 
  icon="fa fa-question-circle" 
  *ngIf="true"
  width="425">
</p-confirmDialog>



