<div class="content-section implementation GridDemo">
    <p-panel header="User List">
        <div class="ui-g">
            <div class="ui-g-12"> <button pButton type="button" (click)="addNewEmployee()" icon="fa fa-plus"
                    label="Add New User" style="float:right;">
                </button></div>
            <div class="ui-g-12">

                <p-table #dtEmpList [value]="employeeList" sortMode="single" [responsive]="true" [paginator]="true"
                    [rows]="defaultPageSize" dataKey="Id" [rowsPerPageOptions]="paginationValues" 
                    (onPage)="onPageChange($event)" rowHover='true'  
                    [globalFilterFields]="['EmpName', 'RoleName', 'PrimaryEmail', 'CellPhone']">

                    <ng-template pTemplate="header">
                        <tr>
                            <th [pSortableColumn]="'EmpName'"> User Name
                                <p-sortIcon [field]="'EmpName'"></p-sortIcon>
                            </th>
                            <th style="width: 15%;" [pSortableColumn]="'RoleName'"> User Role
                                <p-sortIcon [field]="'RoleName'"></p-sortIcon>
                            </th>
                            <th style="width: 30%" [pSortableColumn]="'PrimaryEmail'"> Email
                                <p-sortIcon [field]="'PrimaryEmail'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'CellPhone'"> Phone No
                                <p-sortIcon [field]="'CellPhone'"></p-sortIcon>
                            </th> <th [pSortableColumn]="'CellPhone'"> Hire Date
                                <p-sortIcon [field]="'CellPhone'"></p-sortIcon>
                            </th>
                            <th style="width: 15%;"> Status
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <input pInputText autocomplete="off" type="search"
                                    (input)="dtEmpList.filter($event.target.value, 'EmpName', 'contains')"
                                    class="clsControl">
                            </th>
                            <th style="width: 15%;" >
                                <input pInputText autocomplete="off" type="search"
                                    (input)="dtEmpList.filter($event.target.value, 'RoleName', 'contains')"
                                    class="clsControl">
                            </th>
                            <th style="width: 30%">
                                <input pInputText autocomplete="off" type="search"
                                    (input)="dtEmpList.filter($event.target.value, 'PrimaryEmail', 'contains')"
                                    class="clsControl">
                            </th>
                            <th>
                                <input pInputText autocomplete="off" type="search"
                                    (input)="dtEmpList.filter($event.target.value, 'CellPhone', 'contains')"
                                    class="clsControl">
                            </th>
                            <th>
                                <input pInputText autocomplete="off" type="search"
                                    (input)="dtEmpList.filter($event.target.value, 'HireDate', 'contains')"
                                    class="clsControl">
                            </th>
                            <th style="width: 15%;">
                                <!-- <input pInputText autocomplete="off" type="search" (input)="dtEmpList.filter($event.target.value, 'CellPhone', 'contains')"
                            class="clsControl"> -->
                                <p-checkbox [(ngModel)]="chkStatusBox" label="Show Inactive"  
                                    (onChange)="filterData(dtEmpList, $event)" binary="true"></p-checkbox>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="rowData" (click)= "onRowSelect(rowData)"  [pSelectableRowIndex]="rowIndex" [pRowToggler]="rowData">
                            <td>
                                <span class="ui-column-title">User</span>
                                {{rowData?.EmpName}}
                            </td>
                            <td style="width: 15%;">
                                <span class="ui-column-title">User Role</span>
                                {{rowData?.RoleName}}
                            </td>
                            <td style="width: 30%">
                                <span class="ui-column-title">Email</span>
                                {{rowData?.PrimaryEmail }}
                            </td>
                            <td>
                                <span class="ui-column-title">Phone no</span>
                                {{rowData?.CellPhone  | phoneMask:true }}
                            </td>
                            <td>
                                <span class="ui-column-title">Hire Date</span>
                                {{rowData?.HireDate | date: 'MM/dd/yyyy'}}
                            </td>
                            <td style="width: 15%;">
                                <span class="ui-column-title">Status</span>
                                <!-- {{rowData?.IsActive ? 'Active' : 'InActive'}} -->
                                <p-checkbox name="second" [(ngModel)]="rowData.IsActive"
                                    [ngModelOptions]="{standalone: true}"
                                    (onChange)="isActiveCheckboxListChange($event, rowIndex,rowData)" 
                                    binary="true">
                                </p-checkbox>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td [attr.colspan]="5">
                                No row found.
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft" let-state>
                        <pagination-counts *ngIf="employeeList?.length" [inputData]="employeeList"
                            [inputEvent]="viewEmployeeEvent" [defaultPaginationRow]="defaultPageSize">
                        </pagination-counts>
                    </ng-template>
                </p-table>
            </div>
        </div>

    </p-panel>
</div>
<p-growl [(value)]="msgs" life='5000'></p-growl>
<p-confirmDialog  
class="clsConfirmBox" 
header="Confirmation" 
key="draftdelete1" 
icon="fa fa-question-circle" 
acceptIcon="fa-close"
*ngIf="true"
width="425" >
</p-confirmDialog>