<p-dialog 
    header="Add New Cultivar"
    [(visible)]="Strain.showStrainModal"
    modal="modal" 
    [resizable]="true" 
    [responsive]="true" 
    [width]="600" 
    [minWidth]="200" 
    class="notecontrol"
    (onHide)="hideStrainPopup()"
  >
  <form #StrainForm="ngForm" [formGroup]="newStrainEntryForm"  (ngSubmit)="saveStrainNames(StrainForm)" novalidate >
      <div class="ui-g">
                  <!--Brand -->
                  <div class="ui-g-12 ui-md-12">
                      <div class="paddingRL">
                          <div class="le-su-12">
                              <label for="enterstraintype">Cultivar Type<span class="star">*</span></label>:
        
                        <p-dropdown
                            [filter] ="true"
                            id="straintype"
                            [options]="straintypes"
                            formControlName="straintype"
                            placeholder="-- Select --"
                            [autoWidth]="false"
                            class="clsControl"
                            name="straintype">
                        </p-dropdown>
                    
                        <!-- <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                          *ngIf="!newStrainEntryForm.controls['straintype'].valid&&newStrainEntryForm.controls['straintype'].dirty">
                          <span *ngIf="newStrainEntryForm.controls['straintype'].errors['required']">
                          {{ newStrainResources.straintyperequired }}
                        </span>
                        </div> -->

                        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                            *ngIf="!newStrainEntryForm.controls['straintype'].valid&&newStrainEntryForm.controls['straintype'].dirty">
                            <span *ngIf="newStrainEntryForm.controls['straintype'].errors['required']">
                              Cultivar required 
                            </span>
                            <span *ngIf="newStrainEntryForm.controls['straintype'].hasError('straintypenotpresent')">
                              Cultivar type not present  
                            </span>
                      </div>


                        <p-button  class="links" type="button" icon="fa fa-plus" label="Add new Cultivar type" id="btn_straintype" (click)="showstraintypePopup()" name="btnstraintype" ></p-button>
                      </div>
                </div>
              </div>
              <!--End Brand -->
              <!-- genetics Name -->
              <div class="ui-g-12 ui-md-12">
                  <div class="paddingRL">
                      <div class="le-su-12">
                        <label for="genetics">
                          Binomial Name<span class="star">*</span>:
                        </label>

                        <p-dropdown
                        [filter] ="true"
                        id="genetics"
                        [options]="genetics"
                        formControlName="genetics"
                        placeholder="-- Select --"
                        [autoWidth]="false"
                        class="clsControl"
                        name="genetics">
                    </p-dropdown>

                        <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                          *ngIf="!newStrainEntryForm.controls['genetics'].valid&&newStrainEntryForm.controls['genetics'].dirty">
                          <span *ngIf="newStrainEntryForm.controls['genetics'].errors['required']">
                            {{newStrainResources.geneticsrequired}}
                          </span>
                          <span *ngIf="newStrainEntryForm.controls['genetics'].hasError('geneticsnotpresent')">
                              {{ newStrainResources.geneticsnotpresent }} 
                          </span>
                          </div>
                         
                      </div>
                
                  </div>
                </div>
            <!-- End Genetics Name -->
              <!-- Strain Name -->
                      <div class="ui-g-12 ui-md-12">
                        <div class="paddingRL">
                            <div class="le-su-12">
                              <label for="enterstrain">
                                Cultivar Name<span class="star">*</span>:
                              </label>

                              <input pInputText
                                name="strain"
                                id="strain"
                                autocomplete="off"
                                placeholder="Enter Cultivar Name"
                                type="text"
                                class="clsControl"
                                formControlName="strain"
                              />

                              <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                *ngIf="!newStrainEntryForm.controls['strain'].valid&&newStrainEntryForm.controls['strain'].dirty">
                                <span *ngIf="newStrainEntryForm.controls['strain'].errors['required']">Cultivar required</span>
                                <span *ngIf="newStrainEntryForm.controls['strain'].errors['maxlength']">{{newStrainResources.strainLength}}</span>
                                <span *ngIf="newStrainEntryForm.controls['strain'].errors['whitespace']">{{newStrainResources.strainrequired}}</span>
                                </div>
                            </div>
                        </div>
                      </div>
                <!-- End Strain Name -->
                <!--Description -->
                <div class="ui-g-12 ui-md-12">
                  <div class="paddingRL">
                      <div class="le-su-12">
                      <label for="description">
                        Cultivar Description}}<span class="star"></span>:
                      </label>

                      <input pInputText
                        name="description"
                        id="description"
                        type="text"
                        autocomplete="off"
                        class="clsControl"
                        placeholder="Enter Cultivar Description"
                        formControlName="description"
                      />
                      
                    </div>
                  </div>
                </div>
                <!--End Description -->
                <!-- THC -->
                <!-- <div class="ui-g-12 ui-md-12">
                    <div class="paddingRL">
                        <div class="le-su-12">
                          <label for="enterthc">
                            {{ newStrainResources.enterthc}}  <span class="star">*</span>
                          </label>
  
                          <input pInputText
                            name="thc"
                            id="thc"
                            type="number"
                            autocomplete="off"
                            placeholder="Enter Value"
                            class="clsControl"
                            OnlyNumber="true"
                            [AllowZero]="false"
                            formControlName="thc"
                          />
  
                          <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                            *ngIf="!NewStrainEntryForm.controls['thc'].valid&&NewStrainEntryForm.controls['thc'].dirty">
                              <span *ngIf="NewStrainEntryForm.controls['thc'].errors['required']">{{newStrainResources.thcrequired}}</span>
                              <span *ngIf="NewStrainEntryForm.controls['thc'].errors['maxlength']">{{newStrainResources.thcLength}}</span>
                              <span *ngIf="NewStrainEntryForm.controls['thc'].hasError('zeronotallowed')">{{ globalResource.zeronotallow }}</span>
                            </div> 
                        </div>
                    </div>
                  </div> -->
                  <!-- End THC -->
                  <!-- THCA -->
                  <!-- <div class="ui-g-12 ui-md-12">
                      <div class="paddingRL">
                          <div class="le-su-12">
                            <label for="enterthca">
                              {{ newStrainResources.enterthca}}  <span class="star">*</span>
                            </label>
    
                            <input pInputText
                              name="thca"
                              id="thca"
                              type="number"
                              class="clsControl"
                              autocomplete="off"
                              placeholder="Enter Value"
                              OnlyNumber="true"
                              [AllowZero]="false"
                              formControlName="thca"
                            />
    
                            <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                              *ngIf="!NewStrainEntryForm.controls['thca'].valid&&NewStrainEntryForm.controls['thca'].dirty">
                                <span *ngIf="NewStrainEntryForm.controls['thca'].errors['required']">{{newStrainResources.thcarequired}}</span>
                                <span *ngIf="NewStrainEntryForm.controls['thca'].errors['maxlength']">{{newStrainResources.thcaLength}}</span>
                                <span *ngIf="NewStrainEntryForm.controls['thca'].hasError('zeronotallowed')">{{ globalResource.zeronotallow }}</span>
                              </div>

                              
                          </div>
                      </div>
                    </div> -->
                    <!-- End THCA -->
                    <!-- CBD -->
                    <!-- <div class="ui-g-12 ui-md-12">
                        <div class="paddingRL">
                            <div class="le-su-12">
                              <label for="entercbd">
                                {{ newStrainResources.entercbd}}  <span class="star">*</span>
                              </label>
      
                              <input pInputText
                                name="cbd"
                                id="cbd"
                                class="clsControl"
                                formControlName="cbd"
                                autocomplete="off"
                                placeholder="Enter Value"
                                type="number"
                                OnlyNumber="true"
                                [AllowZero]="false"
                              />
      
                              <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                *ngIf="!NewStrainEntryForm.controls['cbd'].valid&&NewStrainEntryForm.controls['cbd'].dirty">
      
                                  <span *ngIf="NewStrainEntryForm.controls['cbd'].errors['required']">
                                    {{newStrainResources.cbdrequired}}
                                  </span>
                                  <span *ngIf="NewStrainEntryForm.controls['cbd'].errors['maxlength']">{{newStrainResources.cbdLength}}</span>
                                  <span *ngIf="NewStrainEntryForm.controls['cbd'].hasError('zeronotallowed')">{{ globalResource.zeronotallow }}</span>
                                </div>
                            </div>
                        </div>
                      </div> -->
                    <!-- End CBD -->
                    <!-- CBDA -->
                    <!-- <div class="ui-g-12 ui-md-12">
                        <div class="paddingRL">
                            <div class="le-su-12">
                              <label for="entercbda">
                                {{ newStrainResources.entercbda}}  <span class="star">*</span>
                              </label>
      
                              <input pInputText
                                name="cbda"
                                id="cbda"
                                class="clsControl"
                                formControlName="cbda"
                                autocomplete="off"
                                placeholder="Enter Value"
                                type="number"
                                OnlyNumber="true"
                                [AllowZero]="false"
                              />
      
                              <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                *ngIf="!NewStrainEntryForm.controls['cbda'].valid&&NewStrainEntryForm.controls['cbda'].dirty">
      
                                  <span *ngIf="NewStrainEntryForm.controls['cbda'].errors['required']">
                                    {{newStrainResources.cbdarequired}}
                                  </span>
                                  <span *ngIf="NewStrainEntryForm.controls['cbda'].errors['maxlength']">{{newStrainResources.cbdaLength}}</span>
                                  <span *ngIf="NewStrainEntryForm.controls['cbda'].hasError('zeronotallowed')">{{ globalResource.zeronotallow }}</span>
                                </div>
                            </div>
                        </div>
                      </div> -->
                    <!-- End CBDA -->
                    <!-- Total -->
                      <!-- <div class="ui-g-12 ui-md-12">
                          <div class="paddingRL">
                              <div class="le-su-12">
                                <label for="total">
                                  {{ newStrainResources.entertotal}}  <span class="star">*</span>
                                </label>
        
                                <input pInputText
                                  name="total"
                                  id="total"
                                  class="clsControl"
                                  autocomplete="off"
                                  formControlName="total"
                                  placeholder="Enter Value"
                                  type="number"
                                  OnlyNumber="true"
                                  [AllowZero]="false"
                                />
        
                                <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip
                                  *ngIf="!NewStrainEntryForm.controls['total'].valid&&NewStrainEntryForm.controls['total'].dirty">
        
                                    <span *ngIf="NewStrainEntryForm.controls['total'].errors['required']">
                                      {{newStrainResources.totalrequired}}
                                    </span>
                                    <span *ngIf="NewStrainEntryForm.controls['total'].errors['maxlength']">{{newStrainResources.totalLength}}</span>
                                    <span *ngIf="NewStrainEntryForm.controls['total'].hasError('zeronotallowed')">{{ globalResource.zeronotallow }}</span>
                                  </div>
                              </div>
                          </div>
                        </div> -->
                    <!-- End Total -->

                    <!-- IsActive -->
                  <div class="ui-g-12 ui-md-12">
                      <div class="paddingRL">
                        <label></label>
                        <div class="clear"></div>
                  
                        <p-checkbox value="true" [(ngModel)]="chkIsActive" label="{{globalResource.IsActiveFlag}}" formControlName="chkIsActive" 
                        binary="true"></p-checkbox>
                      </div>
                    </div>
                    <!--End IsActive -->

                    <div class="ui-g-12 ui-md-6" style="text-align:left;">
                        <div class="paddingRL">
                          <p-button  type="submit" label="Save" id="btnStrainSave" name="btnStrainSave" ></p-button>

                          <button pButton
                              (click)="resetForm()"
                              type="button"
                              label="Clear"
                              class="ui-button-secondary"
                          >
                          </button>
                      </div>
                    </div>
                  </div>
</form>
</p-dialog>
<p-growl [(value)]="msgs" life='5000'></p-growl>
<app-add-new-straintype [StrainType]="StrainTypeInfo" (StrainTypeSaved)="OnStrainTypeSave($event)"></app-add-new-straintype>