<div class="ui-g " [formGroup]="BUCKING" *ngIf="PageFlag.page =='AssignTask'">
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label for="bins">Bins<span class="star">*</span></label>:
      <div class="clear"></div>
      <p-dropdown #checkedItems
      placeholder="-- Select --"
      [filter] ="true"
      [options]="bins"
      formControlName="bins"
      class="clsControl"
      id="bins"
      name="bins"
      >
      </p-dropdown>
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label for="employeeList">Assigned To<span class="star">*</span></label>:
      <p-dropdown
      [filter] ="true"
      [options]="employees"
      placeholder="-- Select --"
      [autoWidth]="true"
      formControlName="employeeList"
      class="clsControl"
      id="employeeList"
      name="employeeList">
      </p-dropdown>
    </div>
  </div>
  <!-- <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label for="BinsListBox">Bins List</label>
      <div  class="BinsListBox">
        <ul class="bins-list" style='padding: 0px;'>
          <li  *ngFor="let i of binsArray; let id=index" class="BinsListItem" >
            <span class="badge badge-pill badge-light binslisttext">{{i}}&nbsp;</span>
            
          </li>
        </ul>
      </div>
    </div>
  </div> -->
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label for="estimatedstartdate">
        Est. Start Date<span class="star">*</span>:
      </label>
      <small class="smallTextRed"
      *ngIf="showPastDateLabel"
      >Task will be get created for past date
      </small>
      <p-calendar  
                                
           [showIcon]="true"
           [defaultDate]="defaultDate"      
           [(ngModel)]="TaskModel.BUCKING.startdate"
           formControlName="estimatedstartdate"          
           class="clsControl"
           id="estimatedstartdate"
           name="estimatedstartdate"
           >
         </p-calendar>
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label for="employee">Priority</label>:
      <p-dropdown
        [options]="priorities"
        [autoWidth]="true"
        formControlName="priority"
        id="priority"
        class="clsControl"
        name="priority">
      </p-dropdown> 
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label for="comment">Comment</label>:
      <textarea                        
            pInputTextarea                        
            formControlName="comment"
            id="comment"
            name="comment"
            maxlength="500"
            class="clsControl"
            binary="true"
          ></textarea>
    </div>
  </div>
  <div class="ui-g-12 ui-md-6 " >
    <div class="paddingRL">                              
          <p-checkbox          
            label="Notify Manager"
           
            formControlName="notifymanager"
            binary="true"
          ></p-checkbox>
  
          <p-checkbox 
            value="true"
            label="Notify Employee"
           
            formControlName="notifyemployee"
            binary="true"
          ></p-checkbox>                                                              
      </div>
  </div>
</div>

<div *ngIf="PageFlag.page =='TaskAction'">
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label>
        <strong>Employee: </strong>
      </label>
      <label>
        {{TaskModel?.EmpName}}
      </label>
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label>
        <strong>{{ globalResource.strain }}: </strong>
      </label>
          {{TaskModel?.StrainName}}
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label>
        <strong>{{ globalResource.inputBinName }}: </strong>
      </label>
          {{TaskModel?.IPLabelName}}
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label>
        <strong>{{ globalResource.eststartdate }}: </strong>
      </label>
          {{TaskModel?.EstStartDate}}
    </div>
  </div>
  <div class="ui-g-12 ui-md-6" *ngIf="TaskModel?.TaskStatus !== taskStatus.Assigned&&TaskModel?.TaskStatus !== ''" >
    <div class="paddingRL">
        <label>
          <strong>{{ globalResource.actualstartdate }}: </strong>
        </label>
      
          {{TaskModel?.ActStartDate }}
      </div>
    </div>
  
  <div class="ui-g-12 ui-md-6" *ngIf="TaskModel?.TaskStatus !== taskStatus.Assigned&&TaskModel?.TaskStatus !== ''">
    <div class="paddingRL">
      <label>
        <strong>{{ globalResource.actualenddate }}: </strong>
      </label>
    
        {{TaskModel?.ActEndDate}}
    </div>
  </div>
  <div class="ui-g-12 ui-md-6" *ngIf="TaskModel?.TaskStatus !== taskStatus.Assigned&&TaskModel?.TaskStatus !== ''">
    <div class="paddingRL">
      <label>
        <strong>{{ globalResource.actualhrs }}: </strong>
      </label>
      
        {{ TaskModel?.ActHrs | minutesToTime }}
    
    <span  *ngIf="showToManager">                
        {{ taskReviewModel?.racthrs | minutesToTime }}
    </span> 
    </div>
  </div>
  <div class="ui-g-12 ui-md-6" *ngIf="TaskModel?.TaskStatus !== taskStatus.Assigned&&TaskModel?.TaskStatus !== ''&&TaskModel?.TaskStatus !== taskStatus.InProcess">
    <div class="paddingRL">
      <label>
        <strong>{{ globalResource.misccost }}: </strong>
      </label>
    
        {{TaskModel?.MiscCost}}
    </div>
  </div>
  <div class="ui-g-12 ui-md-6" *ngIf="TaskModel?.TaskStatus !== taskStatus.Assigned&&TaskModel?.TaskStatus !== ''&&TaskModel?.TaskStatus !== taskStatus.InProcess">
    <div class="paddingRL">
      <label>
        <strong>{{ assignTaskResources.actualcost }}:: </strong>
      </label>
    
      {{TaskModel?.EmpFinalCost | currency}}
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <div class="paddingRL">
      <label>
        <strong>{{ globalResource.priority }}: </strong>
      </label>
          {{TaskModel?.TaskPriority}}
    </div>
  </div>

  <div class="ui-g-12 ui-md-6" *ngIf="TaskModel?.TaskStatus !== taskStatus.Assigned&&TaskModel?.TaskStatus !== ''&&TaskModel?.TaskStatus !== taskStatus.InProcess">
    <div class="paddingRL">
      <label>
        <strong>{{ globalResource.revHrs }}: </strong>
      </label>
    
      {{TaskModel?.RevHrs  | minutesToTime}}
    </div>
  </div>
  <div class="ui-g-12" style="padding-top: 10px;" *ngIf="TaskModel?.TaskStatus !== taskStatus.Assigned&&TaskModel?.TaskStatus !== ''">
    <div><b>Input Bin Details</b></div>
  <p-table [value]="BinData">
    <ng-template pTemplate="header">
      <tr>
        <th>Input Bin Name</th>
        <th>Total Weight</th>
        <th>Completed Weight</th>
        <th>Waste Weight</th>
    </tr>
    </ng-template>
    <ng-template pTemplate="body" let-TaskModel>
      <tr>
          <td>{{TaskModel.IPLabelName}}</td>
          <td>{{TaskModel.IPBinWt}}</td>
          <td>{{TaskModel.OPBinWt}}</td>
          <td>{{TaskModel.WasteWt}}</td>
      </tr>
  </ng-template>
  </p-table>
</div>
  <div class="ui-g-12"  style="padding-top: 10px;" *ngIf="TaskModel?.TaskStatus !== taskStatus.Assigned&&TaskModel?.TaskStatus !== ''&&TaskModel?.TaskStatus !== taskStatus.InProcess">
    <div><b>Output Bin Details</b></div>
  <p-table [value]="BinData">
    <ng-template pTemplate="header">
      <tr>
        <th>Ouput Bin Name</th>
        <th>Bin Weight</th>
        <th>Is Bin Full</th>
    </tr>
    </ng-template>
    <ng-template pTemplate="body" let-TaskModel>
      <tr>
          <td>{{TaskModel.OPLabelName}}</td>
          <td>{{TaskModel.OPBinWt}}</td>
          <td>{{TaskModel.IsOpBinFilledCompletely}}</td>
      </tr>
  </ng-template>
  </p-table>
</div>
  <p-dialog header="Task Completion" [(visible)]="PageFlag.showmodal" modal="modal" [resizable]="true" [responsive]="true" [width]="800" [minWidth]="200" >
    
    <form [formGroup]="completionForm" (ngSubmit)="submitCompleteParameter(completionForm.value)">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div  class="ui-g-12">
          <span><b>Input Bin</b></span>
        </div>
        <div class="ui-g-12 ui-md-3">
          <div class="paddingRL">
            <label for="inputBin">InputBin</label>
          </div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <div class="paddingRL">
            <label for="binWt">TotalBinWeight(lb)</label>
            <span class="star">*</span>
          </div>
        </div>
        <div class="ui-g-12 ui-md-3">
          
            <label for="completeWt">CompletedWeight(lb)</label>
            <span class="star">*</span>
         
        </div>
        <div class="ui-g-12 ui-md-3">
          <div class="paddingRL">
            <label for="wasteWt">WasteWeight(lb)</label>
          </div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <div>
            <input type="text" 
            pInputText 
            [(ngModel)]="taskCompletionModel.BinName"
            autocomplete="off"
            id="inputBin" 
            name="inputBin" 
            formControlName="inputBin"              
            class="clsControl"  
            readonly 
          />
          </div>
        </div>
       
        <div class="ui-g-12 ui-md-3">
          <div>
            <input type="text" 
            pInputText 
            [(ngModel)]="taskCompletionModel.BinWeight"
            autocomplete="off"
            id="binWt" 
            placeholder="Enter Bin Weight"
            name="binWt" 
            formControlName="binWt"              
            class="clsControl"  
            readonly  
          />
          </div>
        </div>
     
        <div class="ui-g-12 ui-md-3">
          <div>
            <input type="text" 
            pInputText 
            autocomplete="off"
            id="completeWt" 
            placeholder="Enter Completed Weight"
            name="completeWt" 
            formControlName="completeWt"              
            class="clsControl"   
          />
          </div>
        </div>
       
        <div class="ui-g-12 ui-md-3">
          <div>
            <input type="text" 
            pInputText 
            autocomplete="off"
            id="wasteWt" 
            placeholder="Enter Waste Weight"
            name="wasteWt" 
            formControlName="wasteWt"              
            class="clsControl"   
          />
          </div>
        </div>

        <div formArrayName="items" style="position: relative">
          <div style="width:calc(100% - 20px);float:left;">
            <div style="padding:5px;">
              <span><b>Output Bin</b></span>
              <p-button class="toplinks" type="button" icon="fa fa-list-ul" label="{{ assignTaskResources.viewaddbin}}" id="btn_binshow" (click)="viewBinsList(TaskModel)"  name="btnviewbins"></p-button>
            </div>
            <p-table [value]="buckingDetailsArr?.controls" id="buckingDetailsArr" name="preBuckingDetailsArr">
              <ng-template pTemplate="header">
                <tr>
                  <th>Bin
                    <span class="star">*</span>
                  </th>
                  <th>Weight (lb)
                    <span class="star">*</span>
                  </th>
                  <th style="width: 80px;">IsBinFull
                </th>
                <th style="width: 80px;">Action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-i="rowIndex">
                <tr [formGroupName]="i">
                  <td>
                    <p-dropdown
                    id="binsId"
                    formControlName="binsId"
                    [options]="binslist"
                    placeholder="-- Select --"
                    [autoWidth]="false"
                    class="clsControl"
                    name="binsId">
                    </p-dropdown>
                  </td>
                  <td>
                    <input pInputText
                      name="weight"
                      id="weight"
                      type="number"
                      autocomplete="off"
                      class="clsControl"       
                      formControlName="weight"
                      placeholder="Enter  Weight "
                      min="0.1">
                  </td>
                  <td>
                    <p-checkbox value="true"
                     formControlName="binFull" checked="true"
                    binary="true"></p-checkbox>                                      
                  </td>
                  <td>
                      <a (click)="deleteItem(i)" >                                                    
                          <span style="font-size: 1.4rem;" class="fa fa-minus-circle">
                          </span>
                      </a> 
                        <a (click)="addItem()" *ngIf="completionForm.get('items').valid">
                            <span class="fa fa-plus-circle" style="font-size: 1.4rem;">
                            </span>
                        </a>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
           <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip *ngIf="buckingDetailsArr.hasError('duplicate')">
          duplicate entries
        </div>  
        </div>
      </div>
      <div class="ui-g" style="width:100%;text-align:right;">
        <div class="ui-g-12">
          <button pButton type="submit" label="Save" ></button>
          <button 
              pButton 
              (click)="resetForm()" 
              type="button" 
              label="Clear" 
              class="ui-button-secondary">
          </button>
        </div>
      </div>
    </form>
  </p-dialog>

  <p-dialog header="Submit Review" [(visible)]="PageFlag.showReviewmodal" modal="modal" [resizable]="true" [responsive]="true" [width]="800" [minWidth]="200" >
    <form [formGroup]="reviewForm" (ngSubmit)="submitReviewParameter(reviewForm.value)">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div  class="ui-g-12">
          <span><b>Input Bin</b></span>
        </div>
        <div class="ui-g-12 ui-md-3">
          <div class="paddingRL">
            <label for="inputBin">InputBin</label>
          </div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <div class="paddingRL">
            <label for="binWt">TotalBinWeight(lb)</label>
            <span class="star">*</span>
          </div>
        </div>
        <div class="ui-g-12 ui-md-3">
          
            <label for="completeWt">CompletedWeight(lb)</label>
            <span class="star">*</span>
         
        </div>
        <div class="ui-g-12 ui-md-3">
          <div class="paddingRL">
            <label for="wasteWt">WasteWeight(lb)</label>
          </div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <div>
            <input type="text" 
            pInputText 
            [(ngModel)]="taskCompletionModel.BinName"
            autocomplete="off"
            id="inputBin" 
            name="inputBin" 
            formControlName="inputBin"              
            class="clsControl"  
            readonly 
          />
          </div>
        </div>
       
        <div class="ui-g-12 ui-md-3">
          <div>
            <input type="text" 
            pInputText 
            [(ngModel)]="taskCompletionModel.BinWeight"
            autocomplete="off"
            id="binWt" 
            placeholder="Enter Bin Weight"
            name="binWt" 
            formControlName="binWt"              
            class="clsControl"  
            readonly  
          />
          </div>
        </div>
     
        <div class="ui-g-12 ui-md-3">
          <div>
            <input type="text" 
            pInputText 
            autocomplete="off"
            id="completeWt" 
            placeholder="Enter Completed Weight"
            name="completeWt" 
            formControlName="completeWt"              
            class="clsControl"   
          />
          </div>
        </div>
       
        <div class="ui-g-12 ui-md-3">
          <div>
            <input type="text" 
            pInputText 
            autocomplete="off"
            id="wasteWt" 
            placeholder="Enter Waste Weight"
            name="wasteWt" 
            formControlName="wasteWt"              
            class="clsControl"   
          />
          </div>
        </div>

      </div>
      <div formArrayName="items" style="position: relative">
        <div style="width:calc(100% - 20px);float:left;">
          <div style="padding:5px;">
            <span><b>Output Bin</b></span>
            <p-button class="toplinks" type="button" icon="fa fa-list-ul" label="{{ assignTaskResources.viewaddbin}}" id="btn_binshow" (click)="viewBinsList(TaskModel)"  name="btnviewbins"></p-button>
          </div>
          <p-table [value]="buckingDetailsArr?.controls" id="buckingDetailsArr" name="preBuckingDetailsArr">
            <ng-template pTemplate="header">
              <tr>
                <th>Bin
                  <span class="star">*</span>
                </th>
                <th>Weight (lb)
                  <span class="star">*</span>
                </th>
                <th style="width: 80px;">IsBinFull
              </th>
              <th style="width: 80px;">Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-i="rowIndex">
              <tr [formGroupName]="i">
                <td>
                  <p-dropdown
                  id="binsId"
                  formControlName="binsId"
                  [options]="binslist"
                  placeholder="-- Select --"
                  [autoWidth]="false"
                  class="clsControl"
                  name="binsId">
                  </p-dropdown>
                </td>
                <td>
                  <input pInputText
                    name="weight"
                    id="weight"
                    type="number"
                    autocomplete="off"
                    class="clsControl"       
                    formControlName="weight"
                    placeholder="Enter  Weight "
                    min="0.1">
                </td>
                <td>
                  <p-checkbox value="true"
                   formControlName="binFull" checked="true"
                  binary="true"></p-checkbox>                                      
                </td>
                <td>
                    <a (click)="deleteItem(i)" >                                                    
                        <span style="font-size: 1.4rem;" class="fa fa-minus-circle">
                        </span>
                    </a> 
                      <a (click)="addItem()" *ngIf="completionForm.get('items').valid">
                          <span class="fa fa-plus-circle" style="font-size: 1.4rem;">
                          </span>
                      </a>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
         <div class="ui-message ui-messages-error ui-corner-all" appErrorTooltip *ngIf="buckingDetailsArr.hasError('duplicate')">
        duplicate entries
      </div>  
      </div>
    </form>
  </p-dialog>
  <p-growl [(value)]="msgs" life='5000'></p-growl>
</div>